<template>
<v-app justify="space-between">
<v-container fluid>
  <v-card tile>
    <v-card-title>
      <v-text-field v-model="searchData" label="Cari..." single-line hide-details></v-text-field>
    </v-card-title>
    <v-container fluid>
      <div v-if="rqdatatmp.length <= 0">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          No Data Available
        </div>
      </div>
      <div v-else>
        <v-data-table
          dense
          :headers="simpleHeader"
          :items="rqdatatmp"
          :search="searchData"
          :loading="loaded"
          disable-pagination
          hide-default-footer
          loading-text="Loading... Please wait !"
        >

        <!-- <template slot="headers" scope="props">
          <tr>
            <th>
              <v-checkbox
                primary
                hide-details
                :input-value="props.all"
                :indeterminate="props.indeterminate"
              ></v-checkbox>
            </th>
            <th v-for="header in props.headers" :key="header.text"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(header.value)"
            >
              <v-icon>arrow_upward</v-icon>
              {{ header.text }}
            </th>
          </tr>
        </template> -->

        <template v-slot:item.action="{ item }">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-backdrop
            :data-toggle="'modal'"
            style="width:95px;"
            :data-target="'#modalSetUserProfile'"
            v-on:click="userProfileSelected(item.UserID)"
          >Set User Profile</button>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            data-backdrop
            :data-toggle="'modal'"
            style="width:95px;"
            :data-target="'#modalTranLimit'"
            v-on:click="tranLimitSelected(item.LevelIDTeller)"
          >Trans Limit</button>
        </template>
        </v-data-table>
      </div>
    </v-container>
  </v-card>
</v-container>
</v-app>
  <!-- <div>
    <div class="form-group">
        <div class="col-md-3 pull-right">
         <input
          id="txtName"
          @keyup.enter="searchData"
          v-model="textSearch"
          type="text"
          autocomplete="off"
            placeholder="Search UserID"
          class="form-control"
        >
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">User ID</th>
          <th class="text-center">User Name</th>
          <th class="text-center">Level ID</th>
          <th class="text-center">Spv</th>
          <th class="text-center">Status</th>
          <th class="text-center">Line Status</th>
          <th class="text-center">IP Address</th>
          <th class="text-center">Monetary User</th>
          <th class="text-center">CTT</th>
          <th class="text-center">Khasanah</th>
          <th class="text-center" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="result in data_user_profile" :data_user_profile="result" :key="result.UserID">
          <td class="text-center">{{ result.UserID }}</td>
          <td>{{ result.UserName }}</td>
          <td class="text-center">{{ result.LevelIDTeller }}</td>
          <td class="text-center">{{ result.supervisor }}</td>
          <td class="text-center">{{ result.Status }}</td>
          <td class="text-center">{{ result.LineStatus }}</td>
          <td class="text-center">{{ result.IPAddress }}</td>
          <td class="text-center">{{ result.MonetaryUser }}</td>
          <td class="text-center">{{ result.CTT }}</td>
          <td class="text-center">{{ result.LevelIDPlatfrm }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:100px;"
                :data-target="'#modalSetUserProfile'"
                v-on:click="userProfileSelected(result.UserID)"
              >Set User Profile</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:100px;"
                :data-target="'#modalTranLimit'"
                v-on:click="tranLimitSelected(result.LevelIDTeller)"
              >Trans Limit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</template>
<script>
export default {
  props: ["data_user_profile"],
  data() {
    return {
      // textSearch: null,
      searchData: "",
      simpleHeader: [
        { text: "User ID", value: "UserID"},
        { text: "User Name", value: "UserName"},
        { text: "Level ID", value: "LevelIDTeller"},
        { text: "Spv", value: "supervisor"},
        { text: "Status", value: "Status"},
        { text: "Line Status", value: "LineStatus"},
        { text: "IP Address", value: "IPAddress"},
        { text: "Monetary User", value: "MonetaryUser"},
        { text: "CTT", value: "CTT"},
        { text: "Khasanah", value: "LevelIDPlatfrm", align: 'center'},
        { text: "Action", value: "action", sortable: false, width: "230px", align: 'center' }
      ],
      rqdatatmp: [],
      loaded: true,
    };
  },
  watch:{
    data_user_profile:function(newvalue){
      this.rqdatatmp = newvalue;
      this.loaded = false;
    }
  },
  methods: {
    userProfileSelected(idRequest) {
      this.$emit("userprofileselected", {
        userId: idRequest
      });
    },
    tranLimitSelected(idRequest) {
      this.$emit("tran_limit_selected", {
        levelId: idRequest
      });
    },
    // searchData() {
    //   this.$emit("search-data", {
    //       search : this.textSearch
    //   });
    // }
  },
};
</script>
<style>
  .v-data-table td {
    font-size: 1em;
  }
</style>