<template>
  <div>
    <div class="modal-body">
      <div class="form-horizontal needs-validation">
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>User ID</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="UserID"
              v-model="user_profile_prop.UserID"
              readonly="readonly"
            >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>Set User Profile</strong>
            </label>
            <v-select
              :options="optionsSetUserProfile"
              name="Set User Profile"
              v-validate="'required'"
              label="name"
              v-model="setUserProfile"
              @change="onChange($event)"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.id">
                <div class="d-center">{{ option.name }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Set User Profile')"
              class="valid-feedback text-danger"
            >{{ errors.first('Set User Profile') }}</span>
          </div>
        </div>

        <div class="form-group" v-if="setMonetaryUser">
          <div class="col-md-12">
            <label>
              <strong>Set Monetary User</strong>
            </label>
            <v-select
              :options="optionsSetMonetaryUser"
              label="name"
              v-model="monetaryUser"
              v-validate="'required'"
              name="Set Monetary User"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.id">
                <div class="d-center">{{ option.name }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Set Monetary User')"
              class="valid-feedback text-danger"
            >{{ errors.first('Set Monetary User') }}</span>
          </div>
        </div>

        <div class="form-group" v-if="setCTT">
          <div class="col-md-12">
            <label>
              <strong>Set CTT</strong>
            </label>
            <v-select
              :options="optionsSetCtt"
              label="name"
              v-model="ctt"
              v-validate="'required'"
              name="Set CTT"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.id">
                <div class="d-center">{{ option.name }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Set CTT')"
              class="valid-feedback text-danger"
            >{{ errors.first('Set CTT') }}</span>
          </div>
        </div>

        <div class="form-group" v-if="setLineStatus">
          <div class="col-md-12">
            <label>
              <strong>Set Line Status</strong>
            </label>
            <v-select
              :options="optionsSetLineStatus"
              label="name"
              v-model="lineStatus"
              name="Set Line Status"
              v-validate="'required'"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.id">
                <div class="d-center">{{ option.name }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Set Line Status')"
              class="valid-feedback text-danger"
            >{{ errors.first('Set Line Status') }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info" @click="submitForm()">Submit</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["user_profile_prop"],
  data() {
    return {
      optionsSetUserProfile: [
        "Sign Off",
        "Monetary User",
        "CTT",
        "Line Status"
      ],
      setUserProfile: null,

      optionsSetMonetaryUser: ["Y", "N", "NULL"],
      setMonetaryUser: false,
      monetaryUser: null,

      optionsSetCtt: ["Y", "N"],
      setCTT: false,
      ctt: null,

      optionsSetLineStatus: ["Y", "N"],
      setLineStatus: false,
      lineStatus: null
    };
  },
  methods: {
    submitForm() {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (this.setUserProfile == "Sign Off") {
            this.$emit("sign-off", {
              userId: this.user_profile_prop.UserID
            });
            this.closeWindow();
          }

          if (this.setUserProfile == "Monetary User") {
            this.$emit("monetery-user", {
              userId: this.user_profile_prop.UserID,
              monetaryUser: this.monetaryUser
            });
            this.closeWindow();
          }

          if (this.setUserProfile == "CTT") {
            this.$emit("ctt", {
              userId: this.user_profile_prop.UserID,
              ctt: this.ctt
            });
            this.closeWindow();
          }

          if (this.setUserProfile == "Line Status") {
            this.$emit("line-status", {
              userId: this.user_profile_prop.UserID,
              lineStatus: this.lineStatus
            });
            this.closeWindow();
          }
        }
      });
    },

    closeWindow() {
      this.$emit("closewindows");
    },

    onChange(event) {
      if (event == "Sign Off") {
        this.errorSetUserProfile = false;
        this.messageError = null;
        this.setMonetaryUser = false;
        this.setCTT = false;
        this.setLineStatus = false;
      }

      if (event == "Monetary User") {
        this.errorSetUserProfile = false;
        this.messageError = null;
        this.setMonetaryUser = true;
        this.setCTT = false;
        this.setLineStatus = false;
      }

      if (event == "CTT") {
        this.errorSetUserProfile = false;
        this.messageError = null;
        this.setMonetaryUser = false;
        this.setCTT = true;
        this.setLineStatus = false;
      }

      if (event == "Line Status") {
        this.errorSetUserProfile = false;
        this.messageError = null;
        this.setMonetaryUser = false;
        this.setCTT = false;
        this.setLineStatus = true;
      }
    }
  }
};
</script>
