<template>
  <div>
    <div class="modal-body">
      <div style="max-height:342px;overflow-Y: auto;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">LevelID</th>
              <th class="text-center">CurrCode</th>
              <th class="text-center">LmtDepCash</th>
              <th class="text-center">LmtWthrCash</th>
              <th class="text-center">LmtDepNCash</th>
              <th class="text-center">LmtWthrNCash</th>
              <th class="text-center">LmtCashOnHandMin</th>
              <th class="text-center">LmtCashOnHandMax</th>
              <th class="text-center">OffLmtDepCash</th>
              <th class="text-center">OffLmtWthrCash</th>
              <th class="text-center">OffLmtDepNCash</th>
              <th class="text-center">OffLmtWthrNCash</th>
              <th class="text-center">LmtIBTDep</th>
              <th class="text-center">LmtIBTWthr</th>
              <th class="text-center">LmtPinDep</th>
              <th class="text-center">LmtPinWthr</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="tran_limit_prop in tran_limit_props" :key="tran_limit_prop.CurrCode">
              <td>{{ tran_limit_prop.LevelID }}</td>
              <td>{{ tran_limit_prop.CurrCode }}</td>
              <td>{{ tran_limit_prop.LmtDepCash }}</td>
              <td>{{ tran_limit_prop.LmtWthrCash }}</td>
              <td>{{ tran_limit_prop.LmtDepNCash }}</td>
              <td>{{ tran_limit_prop.LmtWthrNCash }}</td>
              <td>{{ tran_limit_prop.LmtCashOnHandMin }}</td>
              <td>{{ tran_limit_prop.LmtCashOnHandMax }}</td>
              <td>{{ tran_limit_prop.OffLmtDepCash }}</td>
              <td>{{ tran_limit_prop.OffLmtWthrCash }}</td>
              <td>{{ tran_limit_prop.OffLmtDepNCash }}</td>
              <td>{{ tran_limit_prop.OffLmtWthrNCash }}</td>
              <td>{{ tran_limit_prop.LmtIBTDep }}</td>
              <td>{{ tran_limit_prop.LmtIBTWthr }}</td>
              <td>{{ tran_limit_prop.LmtPinDep }}</td>
              <td>{{ tran_limit_prop.LmtPinWthr }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["isloaded", "ismodal", "tran_limit_props"],
  methods: {
    closeWindow() {
      this.$emit("closewindows", {});
    }
  },
};
</script>
