<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="100%">
        <v-card>
        <v-card-title>
            <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-form ref="form" :lazy-validation="true">
        <v-card-text>
            <v-container>
            
            <v-row>
                <v-col cols="12" sm="6" md="4">
                <v-card
                    class="mx-auto"
                    max-width="500"
                    outlined
                >
                    <v-list-item three-line>
                    <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Request(Incident)</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="company_selected"
                                :items="option_company"
                                :selectOnTab="true"
                                label="Company Name"
                                :rules="[v => !!v || 'Company Name is required']"
                                name="Company"
                                required
                            >
                                <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="company-name" />
                                <div class="d-center">{{ option.name }}</div>
                                </template>
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="service_selected"
                                :items="getServiceRemedy"
                                :selectOnTab="true"
                                label="Service"
                                :rules="[v => !!v || 'Service is required']"
                                name="Service"
                                required
                            >
                                <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="service-name" />
                                <div class="d-center">{{ option.name }}</div>
                                </template>
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row v-if="ekskalasiStatus == 'INPROGRESS'">
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="ekskalasi_status_selected"
                                :items="ekskalasiStatusOptions"
                                :selectOnTab="true"
                                label="Ekskalasi Status"
                                name="ekskalasiStatusOptions"
                                @change="onChangeHideForm($event)"
                            >
                                <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="service-name" />
                                <div class="d-center">{{ option.name }}</div>
                                </template>
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Incident"
                                :placeholder="Incident"
                                v-model="Incident"
                                name="incident"
                                key="incident-desc"
                                style="margin-bottom:5px"
                                :rules="[v => !!v || 'Incident Status is required']"
                                required
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="saverity_selected"
                                :items="option_saverity"
                                :selectOnTab="true"
                                label="Saverity"
                                name="Saverity"
                                :rules="[v => !!v || 'Saverity is required']"
                                required
                            >
                                <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="saverity-name" />
                                <div class="d-center">{{ option.name }}</div>
                                </template>
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="type_incident_selected"
                                :items="option_type_incident"
                                :selectOnTab="true"
                                label="Type Incident"
                                name="Type_Incident"
                                @change="onChangeHidePicEksternalForm($event)"
                                :rules="[v => !!v || 'Type Incident is required']"
                                required
                            >
                                <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="typeincident-name" />
                                <div class="d-center">{{ option.name }}</div>
                                </template>
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-textarea
                                v-model="impact_selected"
                                :selectOnTab="true"
                                label="Impact"
                                required
                                name="Impact"
                                key="impact-desc"
                                :rules="[v => !!v || 'Impact is required']"
                            >
                            </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-textarea
                                v-model="suspect_selected"
                                :selectOnTab="true"
                                label="Suspect"
                                required
                                name="Suspect"
                                key="suspect-desc"
                                :rules="[v => !!v || 'Suspect is required']"
                            >
                            </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Waktu Terindikasi"
                                :placeholder="Waktu_Terindikasi"
                                v-model="waktuTerindikasiSelected"
                                name="waktuTerindikasi"
                                key="waktuTerindikasi-desc"
                                style="margin-bottom:5px"
                                :rules="[v => !!v || 'Waktu Terindikasi is required']"
                                required
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row v-show="showFormIncOd">
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Estimasi"
                                :placeholder="Estimasi"
                                v-model="estimasi_selected"
                                name="estimasi"
                                key="estimasi-desc"
                                style="margin-bottom:5px"
                                :rules="[v => !!v || 'Estimasi is required']"
                                required
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row v-show="hideFormIncOd">
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Durasi Gangguan"
                                :placeholder="Durasi_Gangguan"
                                v-model="getDurasiGangguan"
                                name="durasi-gangguan"
                                key="durasi-gangguan-desc"
                                style="margin-bottom:5px"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Status"
                                :placeholder="status_incident"
                                v-model="status_incident_selected"
                                name="Status"
                                key="status-desc"
                                style="margin-bottom:5px"
                                :rules="[v => !!v || 'Status is required']"
                                required
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row  v-show="hideFormIncOd">
                            <v-col cols="12" sm="6" md="12">
                            <v-textarea
                                v-model="solusi"
                                :placeholder="Solusi"
                                :selectOnTab="true"
                                label="Solusi"
                                required
                                name="solusi"
                                key="solusi-desc"
                                
                            >
                            </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="12">
                            <v-autocomplete
                                v-model="odcommandcenter_selected"
                                :items="getEmployeeRemedy"
                                item-text="full_name"
                                item-value="id"
                                :selectOnTab="true"
                                :loading="isLoading"
                                label="OD Command Center"
                                name="odcommandcenter"
                                :search-input.sync="searchEmployeeRemedy"
                                return-object
                                @change="onChangeOdCommandCenter($event)"
                                @update-items="selectNameOdComCen"
                                :rules="[v => !!v || 'Od Command Center is required']"
                                required
                            >
                            </v-autocomplete>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                <v-card
                    class="mx-auto"
                    max-width="500"
                    outlined
                >
                    <v-list-item three-line>
                    <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Assign</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                    <v-card-text>
                        <v-row>
                        <v-col cols="12" sm="6" md="12">
                        <v-autocomplete
                            v-model="status_ticket_selected"
                            :items="option_ticket_Status"
                            :selectOnTab="true"
                            label="Status"
                            name="Status"
                            :rules="[v => !!v || 'Status is required']"
                            required
                        >
                            <template slot="option" slot-scope="option">
                            <input type="hidden" :value="option.id" key="status-name" />
                            <div class="d-center">{{ option.name }}</div>
                            </template>
                        </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="12">
                        <v-autocomplete
                            v-model="assigned_support_company_selected"
                            :items="option_assigned_support_company"
                            :selectOnTab="true"
                            label="Assigned Support Company"
                            name="assigned_support_company"
                            :rules="[v => !!v || 'Assigned Support Company is required']"
                            required
                        >
                            <template slot="option" slot-scope="option">
                            <input type="hidden" :value="option.id" key="assigned_support_company-name" />
                            <div class="d-center">{{ option.name }}</div>
                            </template>
                        </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="12">
                        <v-autocomplete
                            v-model="assigned_support_organization_selected"
                            :items="option_assigned_support_organization"
                            :selectOnTab="true"
                            label="Assigned Support Organization"
                            name="assigned_support_organization"
                            :rules="[v => !!v || 'Assigned Support Organization Company is required']"
                            required
                        >
                            <template slot="option" slot-scope="option">
                            <input type="hidden" :value="option.id" key="assigned_support_organization-name" />
                            <div class="d-center">{{ option.name }}</div>
                            </template>
                        </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="12">
                        <v-autocomplete
                            v-model="assigned_support_group_selected"
                            :items="getAssignSupportGroupValue"
                            :selectOnTab="true"
                            label="Assigned Support Group"
                            name="assigned_support_group"
                            item-text="item"
                            item-value="item"
                            :rules="[v => !!v || 'Assigned Support Group is required']"
                            required
                            @change="onChangeAssignedSupportGroup($event)"
                        >
                            <template slot="option" slot-scope="option">
                            <input type="hidden" :value="option.id" key="assigned_support_organization-name" />
                            <div class="d-center">{{ option.name }}</div>
                            </template>
                        </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="12">
                        <v-autocomplete
                            v-model="Assigned_selected"
                            :items="getAssignSupportName"
                            :selectOnTab="true"
                            label="Assignee"
                            name="Assigned"
                            :rules="[v => !!v || 'Assignee is required']"
                            required
                            
                        >
                            <template slot="option" slot-scope="option">
                            <input type="hidden" :value="option.id" key="Assigned-name" />
                            <div class="d-center">{{ option.name }}</div>
                            </template>
                        </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row v-if="type_incident_selected ==  '2-Eksternal'">
                            <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                label="Assignee Eksternal PIC"
                                :placeholder="ekternal_pic"
                                v-model="eksternalPic"
                                name="eksternalPic"
                                key="eksternalPic-desc"
                                style="margin-bottom:5px"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                    
                    </v-card-text>
                </v-card>
                </v-col>
            </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="Cancel">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="Next">Next</v-btn>
        </v-card-actions>

        
        </v-form>
        </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called","paramSelectedIncident"],
  data: function() {
    return {
      option_company: ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"],
      company_selected: "PT. BANK MANDIRI, TBK",
      option_service: [],
      service_selected: "",
      Incident: "",
      impact_selected: "",
      type_incident_selected: [],
      option_type_incident: [
        "1-Internal",
        "2-Eksternal",
      ],
      option_saverity:["1-Very High","2-High","3-Medium","4-Low"],
      saverity_selected: "",
      suspect_selected: "",
      Estimasi: null,
      estimasi_selected: "",
      status_incident: "",
      status_incident_selected: "",
      option_odcommandcenter: [],
      odcommandcenter_selected: "",
      odcommandcenter_name: "",
      searchEmployeeRemedy: null,
      isLoading: false,
      ekskalasiStatus: "",
      waktuTerindikasiSelected: "",
      status_ticket_selected: "Assigned",
      option_ticket_Status: [
        "Assigned",
        "In Progress",
        "Pending",
        "Resolved",
        "Cancelled"
      ],
      option_assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assigned_support_company_selected: "PT. BANK MANDIRI, TBK",
      option_assigned_support_organization: ["IT INFRASTRUCTURE GROUP"],
      assigned_support_organization_selected: "IT INFRASTRUCTURE GROUP",
      option_assigned_support_group: [],
      assigned_support_group_selected: null,
      option_Assigned: [],
      Assigned_selected: null,
      dialog: false,
      commonRules: [v => !!v || "Nilai diperlukan"],
      formTitle: null,
      formIncidentOd: null,
      model: null,
      odcommandcentername: null,
      assign_name: [],
      durasiGangguan: "",
      Durasi_Gangguan: "",
      solusi: "",
      Solusi: "",
      ekskalasi_status_selected: "",
      updateEkskalasi: "Akan diupdate progressnya kembali.",
      ekskalasiStatusOptions: ["INPROGRESS","CLOSED"],
      Waktu_Terindikasi:"",
      showFormIncOd : true,
      hideFormIncOd : false,
      ekternal_pic : "",
      eksternalPic : "",
      showEkternalPic : false,
      remedyTicketId : null,
      remedyProcessStatus: null

    };
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
      this.formTitle = this.getEditIndex === -1 ? "Create Incident" : "Eksakalsi Incident";
       var now = new Date();
            var dateNow =
                    now.getFullYear() + "-" +
                    ("0" + (now.getMonth()+1)).slice(-2) + "-" +
                    ("0" + now.getDate()).slice(-2) + " " +
                    ("0" + now.getHours()).slice(-2) + ":" +
                    ("0" + now.getMinutes()).slice(-2) + ":" +
                    ("0" + now.getSeconds()).slice(-2);
      this.waktuTerindikasiSelected = dateNow;


    },searchEmployeeRemedy (paramEmployee) {

        this.isLoading = true;
        paramEmployee && paramEmployee !== this.odcommandcenter_selected && this.onSearchEmployeeRemedy(paramEmployee)
    },paramSelectedIncident:function(param){
       // console.log(param);
        if(param){
            
            this.remedyTicketId = param['remedyTicketId'];
            this.service_selected = param['serviceOdCommandCenter'];
            this.Incident = param['incidentOdDecode']['incident'];
            this.impact_selected  = param['incidentOdDecode']['impact'];
            this.type_incident_selected  = param['incidentOdDecode']['type_incident'];
            this.saverity_selected  = param['incidentOdDecode']['saverity'] === "1-Critical" ? "1-Very High" : param['incidentOdDecode']['saverity'];
            this.suspect_selected  = param['incidentOdDecode']['suspect'];
            this.estimasi_selected  = param['incidentOdDecode']['estimasi'];
            this.status_incident_selected  = param['incidentOdDecode']['status_incident'];
        
            this.assigned_support_group_selected = param['incidentOdDecode']['assignSupportGroup'];
            this.assigned_support_organization_selected = param['incidentOdDecode']['assignSupportOrganization'];

            this.ekskalasiStatus = param['ekskalasiStatus'];

            this.ekskalasi_status_selected = param['ekskalasiStatus'];
        
            this.initAssignSupportName({
                supportCompany: param['incidentOdDecode']['assignSupportCompany'],
                supportOrganization: param['incidentOdDecode']['assignSupportOrganization'],
                supportGroupName: param['incidentOdDecode']['assignSupportGroup']
            });
            this.Assigned_selected = param['incidentOdDecode']['assignSelected'];
            this.assigned_support_company_selected =  param['incidentOdDecode']['assignSupportCompany'];

            this.employeSearch({
                    inputname: param['incidentOdDecode']['odcommandcentername'],
                    company: this.company_selected
            });
            
            var now = new Date();
            var dateNow =
                    now.getFullYear() + "-" +
                    ("0" + (now.getMonth()+1)).slice(-2) + "-" +
                    ("0" + now.getDate()).slice(-2) + " " +
                    ("0" + now.getHours()).slice(-2) + ":" +
                    ("0" + now.getMinutes()).slice(-2) + ":" +
                    ("0" + now.getSeconds()).slice(-2);

            //console.log(dateNow);
            console.log(param['ekskalasiStartDate']);

            this.initDateDiffIncident({
                    ekskalasiFrom: new Date(param['ekskalasiStartDate']).getTime(),
                    ekskalasiTo: new Date(dateNow).getTime(),
                    labelEkskalasiFrom: param['ekskalasiStartDate'],
                    labelEkskalasiTo:dateNow
            });

            this.eksternalPic = param['incidentOdDecode']['eksternalPic'];
            this.requestId = param['id'];
            this.remedyProcessStatus = param['processStatus'];
            this.waktuTerindikasiSelected = param['incidentOdDecode']['waktuTerindikasiSelected'];
           // this.durasiGangguan = this.getDurasiGangguan;

            
        }else{
            this.option_company = ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"];
            this.company_selected = "PT. BANK MANDIRI, TBK";
            this.option_service = [];
            this.service_selected = "";
            this.Incident = "";
            this.impact_selected = "";
            this.type_incident_selected = [];
            this.option_type_incident = [
                "1-Internal",
                "2-Eksternal",
            ];
            this.option_saverity = ["1-Very High","2-High","3-Medium","4-Low"];
            this.saverity_selected = "";
            this.suspect_selected = "";
            this.Estimasi = null;
            this.estimasi_selected = "";
            this.status_incident = "";
            this.status_incident_selected = "";
            this.option_odcommandcenter = [];
            this.odcommandcenter_selected = "";
            this.odcommandcenter_name = "";
            this.searchEmployeeRemedy = null;
            this.isLoading = false;
            this.ekskalasiStatus = "";
            this.status_ticket_selected = "Assigned";
            this.option_ticket_Status = [
                "Assigned",
                "In Progress",
                "Pending",
                "Resolved",
                "Cancelled"
            ];
            this.option_assigned_support_company = [
                "PT. BANK MANDIRI, TBK",
                "MANDIRI CASH MANAGEMENT"
            ];
            this.assigned_support_company_selected = "PT. BANK MANDIRI, TBK";
            this.option_assigned_support_organization = ["IT INFRASTRUCTURE GROUP"];
            this.assigned_support_organization_selected= "IT INFRASTRUCTURE GROUP";
            this.option_assigned_support_group = [];
            this.assigned_support_group_selected = null;
            this.option_Assigned = [];
            this.Assigned_selected = null;
            this.odcommandcentername = null;
            this.assign_name = [];
            this.durasiGangguan = "";
            this.Durasi_Gangguan = "";
            this.solusi = "";
            this.Solusi = "";
            this.eksternalPic = "";
        }
    }
  },
  computed: {
   // ...mapGetters("mastersystem", ["getEditIndex", "getEditItem"]),
   ...mapGetters("incidentformod", [
      "getAssignSupportGroupValue",
      "getAssignSupportName",
      "getEmployeeRemedy",
      "getServiceRemedy",
      "getItemDefault",
      "getDurasiGangguan"

    ]),
    fields () {
        return this.odcommandcenter_selected['full_name'];
    }
  },
  mounted(){
    this.initServiceRemedy();
    this.initAssignSupportGroupValue({ 
        supportCompany: this.assigned_support_company_selected,
        supportOrganization: this.assigned_support_organization_selected
    });
  },
  methods: {
    ...mapActions("incidentformod", [
      "initAssignSupportGroupValue",
      "initAssignSupportName",
      "employeSearch",
      "initServiceRemedy",
      "resetIncidentOdForm",
      "initDateDiffIncident"
    ]),
    onSearchEmployeeRemedy(paramEmployee){
       
        if (paramEmployee.length > 4) {
            this.isLoading = false;
            this.employeSearch({
                inputname: paramEmployee,
                company: this.company_selected
            });
            
        }
    },
    onChangeAssignedSupportGroup(event){
        this.initAssignSupportName({
            supportCompany: this.assigned_support_company_selected,
            supportOrganization: this.assigned_support_organization_selected,
            supportGroupName: event
        });

    },
    assignSupportGroupValuef(){
        return this.$store.getters.getAssignSupportGroupValue
    },
    getAssignSupportGroup(event){
        console.log('dsa');
    },
    selectNameOdComCen(event){
        console.log(event);
    },
    onChangeOdCommandCenter(event){
       // console.log(this.fields)
    },
    onChangeHideForm(event){
        if(event === 'CLOSED'){
            this.showFormIncOd = false;
            this.hideFormIncOd = true;
        }else{
            this.showFormIncOd = true;
            this.hideFormIncOd = false;
        }
    },
    onChangeHidePicEksternalForm(event){
        if(event === '2-Eksternal'){
            this.showEkternalPic = true;
            this.type_incident_selected = event
        }else{
            this.showEkternalPic = false;
        }
    },
    Cancel() {
      this.dialog = false;
      this.$emit("cancel");
      this.resetIncidentOdForm();

    },
    Next() {
    console.log(this.$refs.form.validate());

    if (this.$refs.form.validate()) {
      this.dialog = false;
      this.formIncidentOd = { 
        "company": this.company_selected,
        "service": this.service_selected,
        "incident": this.Incident,
        "impact":this.impact_selected,
        "type_incident": this.type_incident_selected,
        "saverity": this.saverity_selected,
        "suspect": this.suspect_selected,
        "estimasi": this.estimasi_selected,
        "status_incident": this.status_incident_selected,
        "odcommandcenter": this.odcommandcenter_selected,
        "assignSupportGroup":this.assigned_support_group_selected,
        "assignSupportOrganization":this.assigned_support_organization_selected,
        "assignSelected":this.Assigned_selected,
        "assignSupportCompany":this.assigned_support_company_selected,
        "odcommandcentername":this.odcommandcenter_selected['full_name'],
        "ekskalasiStatus":this.ekskalasi_status_selected,
        "solusi":this.solusi,
        "durasiGangguan":this.getDurasiGangguan,
        "waktuTerindikasiSelected":this.waktuTerindikasiSelected,
        "updateEkskalasi":this.updateEkskalasi,
        "eksternalPic" : this.eksternalPic,
        "requestId" : this.requestId,
        "remedyTicketId": this.remedyTicketId,
        "remedyProcessStatus":this.remedyProcessStatus
      };
      this.$emit("next",this.formIncidentOd);   
    }
        /*
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
         // id: this.getEditItem.id,
         // system_name: this.getEditItem.system_name,
        });
      }*/
    },
  }
};
</script>