<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="100%">
        <v-card>
        <v-card-title>
            <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
            <v-container>
            <v-form ref="form" :lazy-validation="true">
            <v-row>
                <v-col cols="12" sm="12" md="12">
                    <v-card
                        class="mx-auto"
                        outlined
                    >
                        <v-list-item three-line>
                            <v-list-item-content>
                                <v-list-item-title class="headline mb-1">Incident</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Service</b></v-list-item-title>
                                <v-list-item-subtitle>{{ service_selected }} {{getInboxId}}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Incident</b></v-list-item-title>
                                <v-list-item-subtitle>{{ incident }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Saverity</b></v-list-item-title>
                                <v-list-item-subtitle>{{ saverity }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Type Incident</b></v-list-item-title>
                                <v-list-item-subtitle>{{ type_incident }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Impact</b></v-list-item-title>
                                <v-list-item-subtitle>{{ impact }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Suspect</b></v-list-item-title>
                                <v-list-item-subtitle>{{ suspect }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Waktu Terindikasi </b></v-list-item-title>
                                <v-list-item-subtitle>{{ waktuTerindikasiSelected }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text v-show="showFormIncOd" >
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Estimasi </b></v-list-item-title>
                                <v-list-item-subtitle>{{ estimasi }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text v-show="hideFormIncOd">
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Durasi Gangguan </b></v-list-item-title>
                                <v-list-item-subtitle>{{ durasiGangguan }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Konfirmasi/PIC </b></v-list-item-title>
                                <v-list-item-subtitle v-if="type_incident==='1-Internal'">{{ picInfrastructure }}</v-list-item-subtitle>
                                <v-list-item-subtitle v-else>{{ picInfrastructure }} - {{ eksternalPic }}</v-list-item-subtitle>

                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Status  </b></v-list-item-title>
                                <v-list-item-subtitle>{{ status_incident }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text v-show="hideFormIncOd" >
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Solusi  </b></v-list-item-title>
                                <v-list-item-subtitle>{{ solusi }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-card-text>
                             <v-list-item two-line>
                              <v-list-item-content>
                                <v-list-item-title><b>Next Update  </b></v-list-item-title>
                                <v-list-item-subtitle>{{ updateEkskalasi }}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>Terimakasih {{ odcommandcentername }}</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </v-col>
            </v-row>
            </v-form>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="Cancel">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="Back">Back</v-btn>
            <v-btn color="blue darken-1" text @click="Save">{{ btnSave }}</v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog
        v-model="dialogLoading"
        hide-overlay
        persistent
        width="300"
      >
        <v-card
          color="primary"
          dark
        >
          <v-card-text>
            Please wait
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["calledIncident","paramDetailIncident"],
  data: function() {
    return {
      company : "",
      service_selected: "",
      incident: "",
      saverity: "",
      type_incident: "",
      impact: "",
      suspect: "",
      estimasi: "",
      assignSelected: "",
      status_incident: "",
      odcommandcenter: "",
      odcommandcentername: "",
      dialog: false,
      commonRules: [v => !!v || "Nilai diperlukan"],
      formTitle: null,
      contentIncidentInsert: [],
      assignSupportGroup: "",
      assignSupportOrganization: "",
      assignSelected: "",
      assignSupportCompany: "",
      picInfrastructure: "",
      picSupportGroup: "",
      picSupportTeam: "",
      picSupportInfra: "",
      impactValue: "1-Extensive/Widespread",
      listIncidentSelected: [],
      requestId: null,
      incId: null,
      dialogLoading: false,
      formViewIncidentOd: null,
      ekskalasiStatus: null,
      solusi: "",
      durasiGangguan : "",
      waktuTerindikasiSelected : "",
      updateEkskalasi : "",
      showFormIncOd : true,
      hideFormIncOd : false,
      eksternalPic : "",
      remedyTicketId: null,
      remedyProcessStatus: null,
      remedyRequestUser:null,
      btnSave : ""

    };
  },
  watch: {
    calledIncident: function(newVal) {
      this.dialog = newVal;
      this.formTitle = "Detail Incident";
    },paramDetailIncident:function(param){
   
      this.service_selected =  param.service;
      this.incident = param.incident;
      this.saverity = param.saverity ;
      this.type_incident = param.type_incident;
      this.impact = param.impact;
      this.suspect = param.suspect;
      this.estimasi = param.estimasi;
      this.assignSelected = param.assignSelected;
      this.status_incident = param.status_incident;
      this.odcommandcenter = param.odcommandcenter;
      this.odcommandcentername = param.odcommandcentername;
      this.assignSupportGroup = param.assignSupportGroup;
      this.assignSupportOrganization = param.assignSupportOrganization;
      this.assignSelected = param.assignSelected;
      this.assignSupportCompany = param.assignSupportCompany;
      this.picInfrastructure = param.picSupportInfra;
      this.company = param.company;
      this.ekskalasiStatus = param.ekskalasiStatus;
      this.solusi = param.solusi;
      this.durasiGangguan = param.durasiGangguan;
      this.waktuTerindikasiSelected = param.waktuTerindikasiSelected;
      this.updateEkskalasi = param.ekskalasiStatus === 'CLOSED' ? "Ini adalah final update (sudah normal kembali). Tim monitor kestabilannya." : param.updateEkskalasi;
      this.eksternalPic = param.eksternalPic;
      this.requestId = param.requestId;
      this.remedyTicketId = param.remedyTicketId;
      this.remedyProcessStatus = param.ekskalasiStatus === 'CLOSED' ? 'CLOSED' : param.remedyProcessStatus;
      this.picSupportGroup = param.picSupportGroup;
      this.picSupportTeam = param.picSupportTeam;
      this.remedyRequestUser = param.remedyRequestUser;
      this.impactValue = param.impactValue;
      if(roles['dashboard-od-second-layer']){
        if(this.requestId){
          this.btnSave = "Approve"
        }else{
          this.btnSave = "Save"
        }
      }else{
        this.btnSave = "Save"
      }
      if(param.ekskalasiStatus === 'CLOSED'){
        this.showFormIncOd = false;
        this.hideFormIncOd = true;
      }
    }
  },
  computed: {
   // ...mapGetters("mastersystem", ["getEditIndex", "getEditItem"]),
   ...mapGetters("incidentformod",{getInboxId:"getInboxId"})
  },
  mounted(){
    
  },
  methods: {
    ...mapActions("incidentformod",{createIncidentByOD:"createIncidentByOD",updateIncidentByOD:"updateIncidentByOD",createIncidentRemedy:"createIncidentRemedy"}),
    Cancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    Back() {
      this.dialog = false;
      this.$emit("back");
    },
    async  Save() {  

      var durasiGangguanTemp = this.durasiGangguan;
      if(durasiGangguanTemp != null){
        let getTimeStartAndEndGangguan = durasiGangguanTemp.split("-");
        var timeStartGangguan = getTimeStartAndEndGangguan[0];
        var timeEndGangguanTemp = getTimeStartAndEndGangguan[1].split("(");
        var timeEndGangguanLeftTrim = timeEndGangguanTemp[0].trimLeft();
        var timeEndGangguan = timeEndGangguanLeftTrim.replace(/\s+$/, '');
      }

      this.contentIncidentInsert = {
        "company": this.company,
        "service": this.service_selected == null ? "" : this.service_selected,
        "incident": this.incident,
        "impact":this.impact,
        "type_incident": this.type_incident,
        "saverity": (this.saverity == "1-Very High") ? "1-Critical" : this.saverity,
        "suspect": this.suspect,
        "estimasi": this.estimasi,
        "status_incident": this.status_incident,
        "odcommandcenter": this.odcommandcenter,
        "assignSupportGroup":this.assignSupportGroup == null ? "" : this.assignSupportGroup,
        "assignSupportOrganization":this.assignSupportOrganization == null ? "" : this.assignSupportOrganization,
        "assignSelected":this.assignSelected == null ? "" : this.assignSelected,
        "assignSupportCompany":this.assignSupportCompany,
        "picSupportGroup":this.picSupportGroup,
        "picSupportTeam":this.picSupportTeam,
        "picSupportInfra":this.picInfrastructure,
        "odcommandcentername":this.odcommandcenter['full_name'],
        "impactValue":this.impactValue,
        "requestId":this.requestId,
        "eksternalPic":this.eksternalPic,
        "ekskalasiStatus":this.ekskalasiStatus,
        "solusi":this.solusi,
        "durasiGangguan": this.durasiGangguan,
        "endEkskalasi":timeEndGangguan,
        "waktuTerindikasiSelected": this.waktuTerindikasiSelected,
        "updateEkskalasi": this.updateEkskalasi,
        "eksternalPic": this.eksternalPic,
        "remedyTicketId": this.remedyTicketId,
        "remedyProcessStatus":this.remedyProcessStatus,
        "reported_source":'OfficerOnDuty',
        "requesterByRemedyUser":this.remedyRequestUser,
        "ProcessStatus":this.remedyProcessStatus,
      };
      console.log({iniConsole:this.contentIncidentInsert});
      /// wait for `createIncidentByOD` to finish
      this.dialogLoading = true;

      //console.log(roles['dashboard-od-first-layer']);
      if(roles['dashboard-od-first-layer']){
        if(!this.requestId){
          await this.createIncidentByOD({
              content: this.contentIncidentInsert
          })
        }else{
          await this.updateIncidentByOD({
            status: this.contentIncidentInsert,
            id:this.requestId
          });
        }
      }else if(roles['dashboard-od-second-layer']){
        if(!this.requestId){
          await this.createIncidentRemedy({
              content: this.contentIncidentInsert
          })
        }else{
          await this.createIncidentRemedy({
              content: this.contentIncidentInsert,
              requestId: this.requestId
          })
          //console.log(this.contentIncidentInsert);
        }
      }else{
        console.log('contest incident incidet insert od comcen');
        console.log(this.contentIncidentInsert);
        if(!this.requestId){
          await this.createIncidentRemedy({
              content: this.contentIncidentInsert
          })
        }else{
          console.log({contentIncidentInsert:this.contentIncidentInsert});
          await this.updateIncidentByOD({
              status: this.contentIncidentInsert,
              id:this.requestId
          });
        }
      }
      //this.dialogLoading = false;
      this.formViewIncidentOd = { 
        "inboxId":this.getInboxId,
        "incidentContent":this.contentIncidentInsert
      }
      this.dialogLoading = false;
      this.dialog = false;
      this.$emit("save", this.formViewIncidentOd);
    },viewInc(item){
          
    }
  }
};
</script>