<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="100%">
         <v-app id="inspire">
            <v-container>
            <!-- <input type="hidden" id="testing-code" :value="text1"> -->
           
            <v-card>

            <v-toolbar
                color="green"
                dark
                v-if="ekskalasiStatus == 'CLOSED'"
            >
                <v-icon dark right>mdi-checkbox-marked</v-icon>
                <v-toolbar-title>Incident {{ticketeRemedyId}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <textarea id="incidenttemplate" style="position:absolute; left:-9999px"></textarea>
                <v-btn
                    small
                    color="black"
                    class="mr-2"
                    @click="copyText(incidentekskalsitemplate)"

                >COPY</v-btn>
            </v-toolbar>

            <v-toolbar
                color="red"
                dark
                v-else
            >
                <v-icon dark right>mdi-cancel</v-icon>
                <v-toolbar-title>Incident {{ticketeRemedyId}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <textarea id="incidenttemplate" style="position:absolute; left:-9999px"></textarea>
                <v-btn
                    small
                    color="black"
                    class="mr-2"
                    @click="copyText(incidentekskalsitemplate)"

                >COPY</v-btn>
            </v-toolbar>
            <v-list two-line subheader> 
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Incident</b></v-list-item-title>
                    <v-list-item-subtitle>{{incident}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Severity</b></v-list-item-title>
                    <v-list-item-subtitle>{{saverity}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Type Incident</b></v-list-item-title>
                    <v-list-item-subtitle>{{type_incident}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Impact</b></v-list-item-title>
                    <v-list-item-subtitle>{{impact}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Suspect</b></v-list-item-title>
                    <v-list-item-subtitle>{{suspect}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Waktu Terindikasi</b></v-list-item-title>
                    <v-list-item-subtitle>{{waktuTerindikasiSelected}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="ekskalasiStatus != 'CLOSED'">
                    <v-list-item-content>
                    <v-list-item-title><b>Estimasi</b></v-list-item-title>
                    <v-list-item-subtitle>{{estimasi}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="ekskalasiStatus == 'CLOSED'">
                    <v-list-item-content>
                    <v-list-item-title><b>Durasi Gangguan</b></v-list-item-title>
                    <v-list-item-subtitle>{{durasiGangguan}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Konfirmasi/PIC</b></v-list-item-title>
                    <v-list-item-subtitle v-if="type_incident==='1-Internal'">{{ picInfrastructure }}</v-list-item-subtitle>
                    <v-list-item-subtitle v-else>{{ picInfrastructure }} - {{ eksternalPic }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Status</b></v-list-item-title>
                    <v-list-item-subtitle>{{status_incident}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                 <v-list-item v-if="ekskalasiStatus == 'CLOSED'">
                    <v-list-item-content>
                    <v-list-item-title><b>Solusi</b></v-list-item-title>
                    <v-list-item-subtitle>{{solusi}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title><b>Next Update</b></v-list-item-title>
                    <v-list-item-subtitle>{{updateEkskalasi}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                 <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>Terimakasih OD - {{odcommandcentername}}</v-list-item-title>
                          </v-list-item-content>
                </v-list-item>
            </v-list>
           

            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="Cancel">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="Send">Send</v-btn>
            </v-card-actions>
        </v-card>
            </v-container>
        </v-app>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["calledViewIncident","paramViewIncident"],
  data: function() {
    return {
      company : "",
      service_selected: "",
      incident: "",
      saverity: "",
      type_incident: "",
      impact: "",
      suspect: "",
      estimasi: "",
      assignSelected: "",
      status_incident: "",
      odcommandcenter: "",
      odcommandcentername: "",
      dialog: false,
      commonRules: [v => !!v || "Nilai diperlukan"],
      formTitle: null,
      contentIncidentInsert: [],
      assignSupportGroup: "",
      assignSupportOrganization: "",
      assignSupportCompany: "",
      impactValue: "1-Extensive/Widespread",
      requestId: null,
      incidentekskalsitemplate: "🚫 *Incident 200827_S1_002:* \n \n *Incident :* \n Terjadi gangguan pada layanan Back Office pada aplikasi Online On Boarding \n \n *Severity :* \n High \n \n *Type Incident :* \n Internal\n \n *Impact :* \n Agent Backoffice OOB tidak bisa melakukan approval \n \n *Suspect :* \n Masih dalam investigasi pihak terkait \n \n *Estimasi :* \n Indikasi mulai jam 14.46 wib  60 menit \n  \n *Konfirmasi / PIC :* \n Tim monitoring Yogi (Tim IT ECI) \n \n *Status:* \n Inprogress investigasi \n \n *Next Update:*  \n Akan diupdate progressnya kembali \n \n Terima kasih (OD1-Alaurin)"
      ,ticketeRemedyId : "",
      incident: "",
      saverity: "",
      type_incident: "",
      impact: "",
      suspect: "",
      estimasi: "",
      assignSelected: "",
      status_incident: "",
      odcommandcentername: "",
      formTitle: null,
      contentIncidentInsert: [],
      assignSupportGroup: "",
      assignSupportOrganization: "",
      assignSelected: "",
      assignSupportCompany: "",
      impactValue: "1-Extensive/Widespread",
      requestId: null,
      ekskalasiStatus: null,
      updateEkskalasi: "",
      solusi: "",
      durasiGangguan : "",
      waktuTerindikasiSelected : "",
      eksternalPic : "",
      picInfrastructure: "",
      picSupportGroup: "",
      picSupportTeam: "",
      picSupportInfra: ""

    };
  },
  watch: {
    
    calledViewIncident: function(newVal) {
      this.dialog = newVal;
      this.formTitle = "View Incident";
    },paramViewIncident: function(param){
      console.log('param ekskalasi start');
      console.log(param);
            console.log('param ekskalasi end');
      var severityTemp = param.saverity;
      let severityOdComcen = severityTemp.split("-");
      let severity = severityOdComcen[1].replace(/\s+$/, '') == "Critical" ? "Very High" : severityOdComcen[1].replace(/\s+$/, '');
      var typeIncTemp = param.type_incident;
      let typeIncOdComcen = typeIncTemp.split("-");    
      this.ticketeRemedyId = param.remedyTicketId;
      this.incident = param.incident;
      this.saverity = severity;
      this.type_incident = typeIncOdComcen[1];
      this.impact = param.impact;
      this.suspect = param.suspect;
      this.estimasi = param.estimasi;
      this.assignSelected = param.picInfra;
      this.status_incident = param.status_incident;
      this.odcommandcentername = param.odcommandcentername;
      var pic = "";
      pic = (param.type_incident == '2-Eksternal') ? param.picInfra !== null ?  param.picInfra+' dan '+param.eksternalPic : param.eksternalPic : param.picInfra;
      if(param.ekskalasiStatus == 'CLOSED'){
          this.incidentekskalsitemplate = "✅ *Incident "+param.remedyTicketId+":* \n \n *Incident :* \n "+param.incident+" \n \n *Severity :* \n "+severity+" \n \n *Type Incident :* \n "+typeIncOdComcen[1]+"\n \n *Impact :* \n "+param.impact+" \n \n *Suspect :* \n "+param.suspect+" \n \n *Waktu Terindikasi :* \n "+param.waktuTerindikasiSelected+" \n \n *Durasi Gangguan :* \n "+param.durasiGangguan+" \n  \n *Konfirmasi / PIC :* \n "+pic+" \n \n *Status:* \n "+param.status_incident+" \n \n *Solusi:* \n "+param.solusi+" \n \n *Next Update:*  \n "+param.updateEkskalasi+" \n \n Terima kasih (OD-"+param.odcommandcentername+")";
      }else{
          this.incidentekskalsitemplate = "🚫 *Incident "+param.remedyTicketId+":* \n \n *Incident :* \n "+param.incident+" \n \n *Severity :* \n "+severity+" \n \n *Type Incident :* \n "+typeIncOdComcen[1]+"\n \n *Impact :* \n "+param.impact+" \n \n *Suspect :* \n "+param.suspect+" \n \n *Waktu Terindikasi :* \n "+param.waktuTerindikasiSelected+" \n \n *Estimasi :* \n "+param.estimasi+" \n  \n *Konfirmasi / PIC :* \n "+pic+" \n \n *Status:* \n "+param.status_incident+" \n \n *Next Update:*  \n "+param.updateEkskalasi+" \n \n Terima kasih (OD-"+param.odcommandcentername+")";
      }
      this.ekskalasiStatus = param.ekskalasiStatus;
      this.solusi = param.solusi;
      this.durasiGangguan = param.durasiGangguan;
      this.waktuTerindikasiSelected = param.waktuTerindikasiSelected;
      this.updateEkskalasi = param.updateEkskalasi;
      this.eksternalPic = param.eksternalPic;
      this.picSupportGroup = param.picSupportGroup;
      this.picSupportTeam = param.picSupportTeam;
      this.picInfrastructure = param.picInfra;

    }
  },
  computed: {
   // ...mapGetters("mastersystem", ["getEditIndex", "getEditItem"]),
   ...mapGetters([])
  },
  mounted(){
  },
  methods: {
    ...mapActions("incidentformod",["createIncidentByOD"]),
    ...mapActions("incidentod",{
        sendMessageIncidentByOd:"sendMessageIncidentByOd"
      }),
    Cancel() {
      this.dialog = false;
      this.$emit("cancel");
    },Send(){
      this.dialog = false;
      console.log('send bros incident');
      console.log(this.incidentekskalsitemplate);
      this.sendMessageIncidentByOd({
          messageIncidentOd:this.incidentekskalsitemplate
      });
      this.$emit("send");
    }
    ,copyText (items) {
        var copyText = document.getElementById("incidenttemplate");
        copyText.value = this.incidentekskalsitemplate;      
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
        console.log(copyText);
        /* Copy the text inside the text field */
        document.execCommand("copy");
    },
    Save() {
      
    }
  }
};
</script>