<template>
  <div
    class="modal"
    id="modal-closure-manager"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="closuring"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Closure Task</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="isclosuring"></flash>
              <div v-if="closuring">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Request Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.id"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Remedy Ticket Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.RemedyTicketId"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Complete Status</label>
                          <v-select
                            :options="options"
                            label="name"
                            v-model="status"
                            v-validate="'required'"
                            name="Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Status')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Status') }}</span>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div
                          class="col-md-12"
                          v-if="requestobject.servicecatalog.service_catalog_type == 'IN'"
                        >
                          <label>Add Resolution (min 20 character)</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="resolution"
                            style="resize: none;height:100%;"
                            required="required"
                            placeholder="Please type your resolution"
                            v-model="resolution"
                            v-validate="'required|min:20'"
                            :disabled="!(status == 'Resolved'||status=='Cancelled')"
                          ></textarea>
                          <span
                            v-show="errors.has('resolution')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('resolution') }}</span>
                        </div>
                        <div
                          class="col-md-12"
                          v-if="requestobject.servicecatalog.service_catalog_type == 'WO'"
                        >
                          <label>Add Notes</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="notes"
                            style="resize: none;height:100%;"
                            required="required"
                            placeholder="Please type your note"
                            v-model="resolution"
                            v-validate="'required'"
                            :disabled="!(status == 'Completed'||status=='Cancelled' || status == 'Rejected' || status == 'Pending')"
                          ></textarea>
                          <span
                            v-show="errors.has('notes')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('notes') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:90px;"
            :data-dismiss="submitted?'modal':null"
            @click="executeIncidentClosure"
          >Close Task</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @canplay="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isclosuring"],

  computed: {
    closuring: {
      get: function() {
        return this.closuringtmp;
      },
      set: function(newvalue) {
        this.closuringtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isclosuring: function() {
      if (this.isclosuring) {
        this.closuringtmp = this.isclosuring;
        this.optionsvalue();
      }
    }
  },

  data: function() {
    return {
      closuringtmp: false,
      submitted: false,
      options: null,
      status: "",
      resolution: ""
    };
  },

  methods: {
    optionsvalue() {
      if (this.requestobject.servicecatalog.service_catalog_type == "IN") {
        this.options = ["In Progress", "Pending", "Resolved", "Cancelled"];
      } else if (
        this.requestobject.servicecatalog.service_catalog_type == "WO"
      ) {
        this.options = [
          "Pending",
          "Waiting Approval",
          "In Progress",
          "Planning",
          "Completed",
          "Cancelled",
          "Rejected"
        ];
      }
    },

    reset() {
      this.submitted = false;
      this.status = "";
      this.resolution = "";
      this.$validator.reset();
    },

    executeIncidentClosure() {
      if (this.requestobject.ActionTicketCreation == null ? null : this.requestobject.ActionTicketCreation.match(/PENDING.*/)) {
        flash({
          id: "untuk pending",
          message:
            "Request ini masih pending, Mohon retry terlebih dahulu melalui menu PENDING atau HUBUNGI ADMINISTRATOR",
        flashtype: "danger"
        });
      } else {
        this.$validator.validateAll().then(result => {
          this.submitted = result;
          if (result) {
            var recdata = {
              id: this.requestobject.id,
              assigneeId: this.requestobject.AssigneeId,
              status: this.status,
              notes: this.resolution
            };
            this.closingIncident(recdata);
          }
        });
      }
    },

    closingIncident(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.closuring = false;
      if (this.requestobject.servicecatalog.service_catalog_type == "IN") {
        var url = "/dashboard/manager/incident/close";
        // var url = "/dashboard/incident/update";
      } else if (
        this.requestobject.servicecatalog.service_catalog_type == "WO"
      ) {
        var url = "/dashboard/manager/request/close";
        // var url = "/dashboard/request/closeWO";
      }
      axios.post(url, recdata).then(res => {
        this.$emit("push-flash-notification", {
          status: res.data.status,
          id: this.requestobject.id,
          message: res.data.message
        });
        loader.hide();
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          }
          if (error.response.status === 500) {
            if (
              window.confirm(
                "Sistem galat, mohon hubungi Administrator atau tekan ok untuk reload page"
              )
            ) {
              location.reload(false);
            } else {
            }
          } else {
          }
        });
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    }
  }
};
</script>