<template>
  <div
    class="modal"
    id="modal-delegate-manager"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="delegating"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Delegate to Other Group</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="isdelegating"></flash>
              <div v-if="delegating">
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Id</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.id"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Requester</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.SenderNumber"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Current Assignee</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Assigned Support Company</label>
                          <v-select
                            :options="assigned_support_company"
                            :selectOnTab="true"
                            label="name"
                            v-model="assignedSupportCompanySelected"
                            @change="onChangeAssignedSupportCompany($event)"
                            v-validate="'required'"
                            name="Assigned Support Company"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="assignee-company" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Support Company')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned Support Company') }}</span>
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Organization</label>
                          <v-select
                            :options="assigned_support_organization"
                            :selectOnTab="true"
                            label="name"
                            v-model="assignedSupportOrganizationSelected"
                            @change="onChangeAssignedSupportOrganization($event)"
                            v-validate="'required'"
                            name="Assigned Support Organization"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="assignee-organization" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Support Organization')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned Support Organization') }}</span>
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Group</label>
                          <v-select
                            :options="assigned_support_group"
                            :selectOnTab="true"
                            label="name"
                            v-model="assignedSupportGroupSelected"
                            @change="onChangeAssignedSupportGroup($event)"
                            v-validate="'required'"
                            name="Assigned Group"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="assignee-group" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Group')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned Group') }}</span>
                        </div>

                        <div
                          class="col-md-12"
                          v-if="requestobject.servicecatalog.service_catalog_type == 'IN'"
                        >
                          <label>Assignee</label>
                          <v-select
                            :options="assigned_name"
                            :selectOnTab="true"
                            label="name"
                            v-model="assigneeSelected"
                            name="Assigned"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="assignee-name" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned') }}</span>
                        </div>

                        <div
                          class="col-md-12"
                          v-if="requestobject.servicecatalog.service_catalog_type == 'WO'"
                        >
                          <label>Assignee</label>
                          <v-select
                            :options="assigned_name"
                            :selectOnTab="true"
                            label="name"
                            v-model="assigneeSelected"
                            name="Assigned"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="assignee-name" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:90px;"
            @click="executeTaskDelegate"
            :data-dismiss="submitted?'modal':null"
          >Delegate</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @click="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isdelegating"],

  computed: {
    delegating: {
      get: function() {
        return this.delegatingtmp;
      },
      set: function(newvalue) {
        this.delegatingtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isdelegating: function() {
      if (this.isdelegating) {
        this.delegatingtmp = this.isdelegating;
      }
    }
  },

  data: function() {
    return {
      delegatingtmp: false,
      submitted: false,
      options: [],
      selected: {},
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assignedSupportCompanySelected: null,
      assigned_support_organization: [],
      assignedSupportOrganizationSelected: null,
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null
    };
  },

  methods: {
    reset() {
      this.submitted = false;
      this.options = [];
      this.selected = {};
      this.$validator.reset();
    },

    executeTaskDelegate() {
      if (this.requestobject.ActionTicketCreation != null) {
        if (this.requestobject.ActionTicketCreation.includes("PENDING")) {
          flash({
            id: "untuk pending",
            message:
              "ATTENTION!! Request flag is Pending, you have to re-submit your previous process from Pending Ticket Menu",
            flashtype: "danger"
          });
        } else if(this.requestobject.servicecatalog.service_catalog_type == "WO" && this.assigneeSelected== null){
          flash({
            id: "untuk pending",
            message:
              "ATTENTION!! On Work Order, field assignee cannot be null",
            flashtype: "warning"
          });
        }else {
          this.$validator.validateAll().then(result => {
            this.submitted = result;
            if (result) {
              var recdata = {
                id: this.requestobject.id,
                // delegateTo: this.assigneeSelected.id,
                assignee: {
                  assignee_company: this.assignedSupportCompanySelected,
                  assignee_organization: this
                    .assignedSupportOrganizationSelected,
                  assignee_group: this.assignedSupportGroupSelected,
                  assignee_fullname: this.assigneeSelected
                }
              };
              this.delegateTask(recdata);
            }
          });
        }
      } else {
        flash({
          id: "actionticketcreationisnull",
          message:
            "ActionTicketCreation is Null, contact your administrator immediately!",
          flashtype: "danger"
        });
      }
    },

    delegateTask(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.delegating = false;
      if (this.requestobject.servicecatalog.service_catalog_type == "IN") {
        var url = "/dashboard/manager/incident/delegate";
      } else if (
        this.requestobject.servicecatalog.service_catalog_type == "WO"
      ) {
        var url = "/dashboard/manager/request/delegate";
      }
      axios.post(url, recdata).then(res => {
        this.$emit("push-flash-notification", {
          status: res.data.status,
          id: this.requestobject.id,
          message: res.data.message
        });
        loader.hide();
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              id: "catch error code",
              message: error.response.data.message
            });
            loader.hide();
          }
        });
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    onSearch(search, loading) {
      loading(false);
      this.search(loading, search, this);
    },
    search: _.debounce((loading, search, vm) => {
      axios.post("/user_configuration/search?inputname=" + search).then(res => {
        vm.options = res.data;
        loading(false);
      })
      .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 350),

    onChangeAssignedSupportCompany() {
      if (!this.assignedtome) {
        this.assignedSupportOrganizationSelected = null;
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          axios
            .post("/employee_remedy/support_organization", {
              supportCompany: this.assignedSupportCompanySelected
            })
            .then(response => {
              this.assigned_support_organization = response.data;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeAssignedSupportOrganization() {
      if (!this.assignedtome) {
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_support_group = [];
          this.assigned_name = [];
          axios
            .post("/employee_remedy/support_group", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected
            })
            .then(response => {
              this.assigned_support_group = response.data;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeAssignedSupportGroup() {
      if (!this.assignedtome) {
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_name = [];
          axios
            .post("/employee_remedy/assignee", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected,
              supportGroupName: this.assignedSupportGroupSelected
            })
            .then(response => {
              this.assigned_name = response.data;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    }
  }
};
</script>
