<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dense short dark color="primary">
          <v-btn icon dark @click="doCancel">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{title}}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-card>
              <v-row dense class="align-center">
                <v-col cols="12" md="6" offset-md="6" sm="12" class="text-right align-center">
                  <v-card-title>
                    <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      class="flex-grow-1 mr-md-2"
                      placeholder="Press enter to search..."
                      single-line
                      solo
                      hide-details
                      dense
                      clearable
                    ></v-text-field>
                  </v-card-title>
                </v-col>
              </v-row>

              <v-data-table
                dense
                :headers="header"
                :items="itemsData"
                :search="search"
                loading-text="Fetching data... please wait !!!"
                :items-per-page="10"
                :footer-props="{
                  'disable-items-per-page': true,
                  'show-current-page': true,
                  'showFirstLastPage': true,
                }"
              >
                <template v-slot:[`item.RemedyTicketId`]="{ item }">
                  <div class="font-weight-bold">
                    <a
                      target="_blank"
                      :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+item.RemedyTicketId+'%22'"
                    >{{item.RemedyTicketId}}</a>
                  </div>
                </template>
                <template v-slot:[`item.Sla`]="{ item }">
                  <v-chip dense label :color="getColor(item.Sla)" style="width:55px" dark>{{ item.Sla }}</v-chip>
                </template>
              </v-data-table>
            </v-card>
          </v-container>
        </v-card-text>
        <!-- <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
        </v-card-actions> -->
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called", "title", "itemsData"],
  data: function() {
    return {
      dialog: false,
      search: "",
      header: [
        { text: "Incident ID", value: "RemedyTicketId", width: "13%" },
        { text: "Source", value: "RecipientID", width: "10%" },
        { text: "Summary", value: "Summary", width: "20%" },
        { text: "Status", value: "ProcessStatus", width: "10%" },
        { text: "Priority", value: "Priority", width: "10%" },
        { text: "Assignee", value: "Assignee", width: "25%" },
        { text: "Sla (Minutes)", value: "Sla", width: "12%" }
      ]
    };
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
    }
  },
  methods: {
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    getColor (Sla) {
        if (Sla < 20) return 'green';
        else if (Sla > 20 && Sla <31) return 'yellow'
        else return 'red'
    },
  }
};
</script>