<template>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">AP_REGNO</th>
          <th class="text-center">AP_CURRTRCODE</th>
          <th class="text-center">AP_NEXTTRBY</th>
          <th class="text-center" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody v-if="isloaded_data">
        <tr>
          <td>{{ result_before_update.AP_REGNO }}</td>
          <td class="text-center">{{ result_before_update.AP_CURRTRCODE }}</td>
          <td>{{ result_before_update.AP_NEXTTRBY }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:120px;"
                :data-target="'#modalAP_CURRTRCODE'"
                v-on:click="AP_CURRTRCODEselected(result_before_update)"
              >AP CURRTRCODE</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:120px;"
                :data-target="'#modalAP_NEXTTRBY'"
                v-on:click="AP_NEXTTRBYselected(result_before_update)"
              >AP NEXTTRBY</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["result_before_update", "isloaded_data"],
  methods: {
    AP_CURRTRCODEselected(idRequest) {
      this.$emit("ap-currtrcode-selected", {
        request: idRequest
      });
    },

    AP_NEXTTRBYselected(idRequest) {
      this.$emit("ap-nexttrby-selected", {
        request: idRequest
      });
    }
  }
};
</script>
