<template>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">AP_REGNO</th>
          <th class="text-center">AP_CURRTRCODE</th>
          <th class="text-center">AP_NEXTTRBY</th>
        </tr>
      </thead>
      <tbody v-if="isloaded_data">
        <tr class="clickable-row">
          <td>{{ result_after_update.AP_REGNO }}</td>
          <td class="text-center">{{ result_after_update.AP_CURRTRCODE }}</td>
          <td>{{ result_after_update.AP_NEXTTRBY }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["result_after_update", "isloaded_data"],

};
</script>
