<template>
  <div>
    <div class="modal-body">
      <div class="form-horizontal needs-validation">
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>AP REGNO</strong>
            </label>
            <input
              type="text"
              class="form-control"
              v-model="AP_REGNO"
              readonly="readonly"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>AP NEXTTRBY</strong>
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="AP NEXTTRBY"
              v-model="AP_NEXTTRBY"
            >
            <div class="valid-feedback text-danger" v-if="errorApCurrtrcode">{{messageError}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info"  @click="submitForm()">Update</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["ap_nexttrby"],
  data() {
    return {
      AP_REGNO: this.ap_nexttrby.AP_REGNO,
      AP_NEXTTRBY:null,
      errorApCurrtrcode: false,
      messageError: null
    };
  },
  methods: {
    submitForm() {
      if (!this.AP_NEXTTRBY) {
        this.errorApCurrtrcode = true;
        this.messageError = "The AP NEXTTRBY field is required";
      }

      if (this.AP_REGNO && this.AP_NEXTTRBY) {
        this.errorApCurrtrcode = false;
        this.messageError = null;
        this.$emit("update-ap-currtrcode", {
          AP_REGNO: this.AP_REGNO,
          AP_NEXTTRBY: this.AP_NEXTTRBY
        });
      }
    },

    closeWindow() {
      this.$emit("close-windows");
    }
  }
};
</script>
