<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Search Los Consumer</span>
    </div>
    <div class="panel-body">
      <form @submit.prevent="submit">
        <div class="form-horizontal needs-validation">
          <div class="form-group">
            <div class="col-md-12">
              <label>AP REGNO</label>
              <input
                type="text"
                class="form-control"
                placeholder="AP REGNO"
                v-model="AP_REGNO"
              >
              <div class="valid-feedback text-danger" v-if="errorAP_REGNO">{{message}}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block btn-sm"
                type="submit"
                style="width:90px;"
              >Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  props: [""],
  data: function() {
    return {
      AP_REGNO: null,
      errorAP_REGNO: false,
      message: null
    };
  },

  methods: {
    submit() {
      console.log('test');
      if (!this.AP_REGNO) {
        this.errorAP_REGNO = true;
        this.message = "The AP_REGNO field is required";
      } else {
        this.errorAP_REGNO = false;
        this.message = null;
        this.$emit("search-form", {
          AP_REGNO: this.AP_REGNO,
        });
      }

    }
  }
};
</script>
