<template>
  <div>
    <form @submit.prevent="submit">
      <div class="panel-body">
        <div class="form-horizontal needs-validation">
          <div class="col-md-12">
            <label>
              <strong>ATMGLRefNo</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="ATMGLRefNo"
              maxlength="16"
              v-model="atmGlRefNo"
              v-validate="'required'"
            >
            <span
              v-show="errors.has('ATMGLRefNo')"
              class="valid-feedback text-danger"
            >{{ errors.first('ATMGLRefNo') }}</span>
          </div>
          <div class="col-md-12">
            <label>
              <strong>Description</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="Description"
              autocomplete="off"
              maxlength="30"
              v-model="description"
              v-validate="'required'"
            >
            <span
              v-show="errors.has('Description')"
              class="valid-feedback text-danger"
            >{{ errors.first('Description') }}</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <div class="col-md-6">
            <button class="btn btn-info btn-block btn-sm" type="submit" style="width:90px;">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: ["data_atm_detail"],
  data() {
    return {
      atmGlRefNo: null,
      description: null,
    };
  },

  methods: {
    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-add-atm", {
            ATMGLRefNo: this.atmGlRefNo,
            Description: this.description
          });
        }
      });
    },

    reset(){
      this.atmGlRefNo = '',
      this.description = ''
    }
  },

  watch:{
    data_atm_detail:function(){
      this.reset();
    }
  },
};
</script>
