<template>
  <div>
    <form @submit.prevent="submit">
      <div class="modal-body">
        <div class="form-horizontal needs-validation">
          <div class="form-group">
            <div class="col-md-12">
              <label>
                <strong>ATMGLRefNo</strong>
              </label>
              <input
                type="text"
                class="form-control"
                name="atmGlRefNo"
                v-model="atmGlRefNo"
                readonly="readonly"
              >
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label>
                <strong>Description</strong>
              </label>
              <input
                type="text"
                class="form-control"
                name="Description"
                maxlength="30"
                v-model="description"
                autocomplete="off"
                v-validate="'required'"
              >
              <span
                v-show="errors.has('Description')"
                class="valid-feedback text-danger"
              >{{ errors.first('Description') }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info">Submit</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: ["atm_detail_prop", "ismodal"],
  data() {
    return {
      atmGlRefNo: this.atm_detail_prop.ATMGLRefNo,
      description: this.atm_detail_prop.Description
    };
  },

  methods: {
    closeWindow() {
      this.$emit("closewindows");
    },

    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-update", {
            ATMGLRefNo: this.atmGlRefNo,
            Description: this.description
          });
          this.closeWindow();
        }
      });
    }
  }
};
</script>
