<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["personalstats"],
  data: function() {
    return {
      myChart: null,
    };
  },
  computed: {
    chartdata: function() {
      return this.personalstats;
    }
  },
  methods: {
    renderChart() {
      this.myChart = new Chart(this.$el, {
        type: "radar",
        data: {
          labels: this.chartdata.weeklychannel.label,
          datasets: [
            {
              // backgroundColor: "red",
              borderColor: "red",
              data: this.chartdata.weeklychannel.accomplished,
              label: "Accomplished Task"
            },
            {
              // backgroundColor: "blue",
              borderColor: "blue",
              data: this.chartdata.weeklychannel.assigned,
              label: "Assigned Task"
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          spanGaps: false,
          elements: {
            line: {
              tension: 0.3
            }
          },
          plugins: {
            filler: {
              propagate: false
            },
            "samples-filler-analyser": {
              target: "chart-analyser"
            }
          }
        }
      });
      this.myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
      this.renderChart();
  },
  watch:{
      personalstats:function(){
          this.myChart.destroy();
          this.renderChart();
      }
  }
};
</script>

