<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["personalstats"],
  data: function() {
    return {
      myChart: null,
    };
  },
  computed: {
    chartdata: function() {
      return this.personalstats;
    }
  },
  methods: {
    renderChart() {
      this.myChart = new Chart(this.$el, {
        type: "line",
        data: {
          labels: this.chartdata.dailytask.label,
          datasets: [
            {
              label: "Accomplished Task",
              borderColor: "red",
              // backgroundColor: "red",
              fill: false,
              data: this.chartdata.dailytask.accomplished,
              yAxisID: "y-axis-1"
            },
            {
              label: "Assigned task",
              borderColor: "blue",
              // backgroundColor: "blue",
              fill: false,
              data: this.chartdata.dailytask.assigned,
              yAxisID: "y-axis-1"
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          hoverMode: "index",
          stacked: false,
          title: {
            display: true,
            text: "Daily Task Chart"
          },
          scales: {
            yAxes: [
              {
                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                display: true,
                position: "left",
                id: "y-axis-1"
              }
            ]
          }
        }
      });
      this.myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
    this.renderChart();
  },
  watch:{
    personalstats:function(){
      this.myChart.destroy();
      this.renderChart();
    }
  }
};
</script>

