<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      Incident
      <a href="#">
        <span
          v-if="refreshloaded"
          class="fa fa-refresh pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
          @click="resetINC"
        ></span>
        <span
          v-if="!refreshloaded"
          class="fa fa-refresh fa-spin pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
          @click="resetINC"
        ></span>
      </a>
    </div>
    <div class="panel-body">
      <div class="col-md-12" style="color:#191970; font-size:18px; margin-bottom:-10px;">
        <b>Total ticket : {{count}}</b>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="col-md-12">
              <label>Search for :</label>
              <v-select
                :options="fieldoptions"
                name="TotalType"
                v-model="selectedfield"
                style="hight:40px; margin-bottom:5px"
                @change="onChangeType($event)"
              />
            </div>
            <!-- <label>Search Agent Name contains {{this.search}}</label> -->
          </div>
          <div class="col-md-2">
            <div class="col-md-12">
              <label style="color:white;">.</label>
              <v-select
                v-if="selectedfield=='Agent Name'"
                :options="options"
                @search="onSearch"
                :selectOnTab="true"
                label="name"
                v-model="agent_name"
                name="User"
              >
                <span
                  v-show="errors.has('User')"
                  class="valid-feedback text-danger"
                >{{ errors.first('User') }}</span>
                <template slot="option" slot-scope="option">
                  <input type="hidden" :value="option.name" key="user-name" />
                  <div class="d-center">{{ option.name + " ( " + option.sgn_remedy + " ) "}}</div>
                </template>
              </v-select>
              <input
                v-else
                id="txtName"
                v-model="textsearch"
                type="text"
                autocomplete="off"
                :placeholder="this.selectedfield == null?'Search ':'Search '+this.selectedfield"
                class="form-control"
                style="margin-bottom:5px"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-6">
              <label>from date</label>
              <input
                v-model="searchdate"
                type="date"
                autocomplete="off"
                placeholder="Search in Date"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label>to date</label>
              <input
                v-model="tosearchdate"
                type="date"
                autocomplete="off"
                placeholder="Search in Date"
                class="form-control"
              />
            </div>
            <!-- <label>Search in date {{this.searchdate | mydateformat}}</label> -->
          </div>
          <div class="col-md-3" style="margin-top:20px">
            <div class="col-md-6">
              <v-select :options="statusoptions" name="TotalType" v-model="selectedstatus" />
            </div>
            <div class="col-md-6">
              <v-select
                :options="service_channel_name"
                :selectOnTab="true"
                v-model="serviceChannelNameSelected"
                name="Service Channel Name"
              ></v-select>
            </div>
          </div>
          <div class="col-md-2 pull-right" style="margin-top:20px">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info pull-right"
                style="width:75px;"
                @click="resetData"
              >Reset</button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-info pull-right"
                style="width:75px;"
                @click="dataChanged"
              >Search</button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="rqdata == null || rqdata ==''">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Data not found !
        </div>
      </div>
      <div v-else>
      <table
        id="job-history-table"
        ref="liverequest"
        class="table table-bordered"
         
      >
        <thead>
          <tr>
              <th class="text-center">Incident Id</th>
              <th class="text-center">Requester Name</th>
              <th class="text-center">Severity</th>
              <th class="text-center">Incident</th>
              <th class="text-center">Impact</th>
              <th class="text-center">Suspect</th>
              <th class="text-center">Estimasi</th>
              <th class="text-center">PIC</th>
              <th class="text-center">Type Incident</th>
              <th class="text-center">Submitter Name</th>
              <th class="text-center">Booked On</th>
              <th class="text-center">Finised</th>
              <th class="text-center">Ekskalasi Start</th>
              <th class="text-center">Ekskalasi End</th>
              <th class="text-center">Status Remedy</th>
              <th class="text-center">Status Eskalasi</th>
              <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in rqdata" :key="task.id">
            <td align="center" style="width:10%" v-if="task.remedyTicketId==null">N/A</td>
            <td align="center" style="width:10%" v-else>{{ task.remedyTicketId }}</td>
            <td style="width:17%">{{task.senderNumber}}</td>
            <td style="width:17%">High</td>
            <td style="width:17%">Error upload EMAS karena field Gender di DDE nya Corporate tidak mandatory. Kode Defect: PBR-201</td>
            <td style="width:17%">Error upload EMAS karena field Gender di DDE nya Corporate tidak mandatory.</td>
            <td align="center" style="width:8%">-</td>
            <td align="center" style="width:8%">-</td>
            <td align="center" style="width:8%">-</td>
            <td align="center" style="width:7%">{{task.recipientID }}</td>
            <td style="width:17%">{{ task.serviceCatalogName }}</td>
            <td align="center" style="width:12%">{{ task.bookDateTime | mydateformat }}</td>
            <td align="center" style="width:12%">{{ task.finishDateTime | mydateformat }}</td>
            <td align="center" style="width:12%">{{ task.bookDateTime | mydateformat }}</td>
            <td align="center" style="width:12%">{{ task.finishDateTime | mydateformat }}</td>
            <td align="center" style="width:8%">-</td>
            <td align="center" style="width:8%">-</td>
            <td
              style="width:7%"
              align="center"
              v-if="(task.processStatus == 'CLOSED' || task.processStatus == 'BOTCLOSED')"
            >
              <a href="#">
                <button
                  type="button"
                  class="btn btn-info btn-sm book"
                  data-backdrop
                  :data-id="task.id"
                  :data-status="task.processStatus"
                  :data-toggle="'modal'"
                  :data-target="'#modal-incident-OD'"
                  :id="task.id"
                  style="width:80px;"
                  v-on:click="selectTask(task.id,auth.id,task.serviceCatalogId,'modal-incident-OD')"
                >View</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <vue-pagination :pagination="pages" @paginate="dataChanged()" :offset="4"></vue-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import VuePagination from "../../components/Pagination.vue";
export default {
  props: ["auth", "inhistory", "manager"],
  components: {
    VuePagination
  },
  mounted() {
    this.getDataINC();
  },
  computed: {
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    }
  },
  watch: {
    inhistory: function() {
      this.rqdatatmp = this.inhistory;
    },
    rqdata: function() {
      this.reset();
    }
  },
  // watch: {
  //   req: function() {
  //     this.reset();
  //   }
  // },
  data() {
    return {
      statusoptions: ["Notes", "Kode Cabang", "Ticket"],
      selectedstatus: "Ticket",
      rqdatatmp: null,
      offset: 4,
      pages: {
        total: 0,
        per_page: 2,
        from: 1,
        to: 0,
        current_page: 1
      },
      req: [],
      count: this.inhistory.count,
      search: "",
      searchdate: "",
      tosearchdate: "",
      textsearch: "",
      textsearchdate: "",
      texttosearchdate: "",
      refreshloaded: false,
      service_channel_name: [
        "CALL",
        "EMAIL",
        "ITSRM",
        "LIVECHAT",
        "SMS",
        "TELEGRAM",
        "WA"
      ],
      fieldoptions: ["Agent Name", "Ticket", "Notes", "Summary"],
      selectedfield: "Ticket",
      serviceChannelNameSelected: "ALL"
    };
  },
  methods: {
    getDataINC() {      
      this.pages = this.inhistory.data;
      this.rqdata = this.inhistory.data.data;
      this.count = this.inhistory.count,
      this.refreshloaded = true;
    },

    dataChanged() {
      this.refreshloaded = false;
      console.log("data change");
      var field = "";
      switch (this.selectedstatus) {
        case "Notes": {
          field = "TextDecoded";
          break;
        }
        case "Kode Cabang": {
          field = "TextDecoded";
          break;
        }
        default: {
          field = "RemedyTicketId";
          break;
        }
      }

      if (this.manager == true) {
        var url =  "/dashboard/history/request/fetch?manager=" + this.manager + "&field=" + field + "&page=";
      } else {
        var url = "/dashboard/history/request/fetch?manager=false" + "&field=" + field + "&page=";
      }
      // var url = "/dashboard/history/request/fetch?manager=" + this.manager + "&page=" ;
      if (this.textsearchdate !== "" && this.texttosearchdate !== "" && this.textsearch !== "") {
        this.search = this.textsearch;
        this.searchdate = this.textsearchdate;
        this.tosearchdate =this.texttosearchdate;
        url += 1 + "&servicetype=IN" + "&searchdate=" + this.tosearchdate + "&tosearchdate=" + this.searchdate + "&search=" + this.search;
      } else if (this.textsearchdate === "" && this.texttosearchdate === "" && this.textsearch !== "") {
        this.search = this.textsearch;
        url += 1 + "&servicetype=IN" + "&search=" + this.search;
      } else if (this.textsearchdate === "" && this.texttosearchdate !== "" && this.textsearch === "") {
        this.tosearchdate =this.texttosearchdate;
        url += 1 + "&servicetype=IN" + "&tosearchdate=" + this.tosearchdate;
      } else if (this.textsearchdate !== "" && this.texttosearchdate === "" && this.textsearch === "") {
        this.searchdate =this.textsearchdate;
        url += 1 + "&servicetype=IN" + "&searchdate=" + this.searchdate;
      } else if (this.textsearchdate === "" && this.texttosearchdate !== "" && this.textsearch !== "") {
        this.tosearchdate = this.texttosearchdate;
        this.search = this.textsearch;
        url += 1 + "&servicetype=IN" + "&tosearchdate=" + this.tosearchdate + "&search=" + this.search;
      } else if (this.textsearchdate !== "" && this.texttosearchdate !== "" && this.textsearch === "") {
        this.tosearchdate = this.texttosearchdate;
        this.searchdate = this.textsearchdate;
        url += 1 + "&servicetype=IN" + "&searchdate=" + this.searchdate + "&tosearchdate=" + this.tosearchdate;
      } else if (this.textsearchdate !== "" && this.texttosearchdate === "" && this.textsearch !== "") {
        this.searchdate = this.textsearchdate;
        this.search = this.textsearch;
        url += 1 + "&servicetype=IN" + "&searchdate=" + this.searchdate + "&search=" + this.search;
      }  else {
        if(this.searchdate !== "" && this.tosearchdate !== "" && this.search !== ""){
          url += this.pages.current_page + "&servicetype=IN" + "&searchdate=" + this.searchdate + "&tosearchdate=" + this.tosearchdate + "&search=" + this.search;
        } else if(this.searchdate === "" && this.tosearchdate === "" && this.search !== ""){
          url += this.pages.current_page + "&servicetype=IN" + "&search=" + this.search;
        } else if(this.searchdate === "" && this.tosearchdate !== "" && this.search === ""){
          url += this.pages.current_page + "&servicetype=IN" + "&tosearchdate=" + this.tosearchdate;
        } else if(this.searchdate !== "" && this.tosearchdate === "" && this.search === ""){
          url += this.pages.current_page + "&servicetype=IN" + "&searchdate=" + this.searchdate;
        } else if(this.searchdate === "" && this.tosearchdate !== "" && this.search !== ""){
          url += this.pages.current_page + "&servicetype=IN" + "&tosearchdate=" + this.tosearchdate + "&search=" + this.search;
        } else if(this.searchdate !== "" && this.tosearchdate !== "" && this.search === ""){
          url += this.pages.current_page + "&servicetype=IN" + "&searchdate=" + this.searchdate + "&tosearchdate=" + this.tosearchdate;
        } else if(this.searchdate !== "" && this.tosearchdate === "" && this.search !== ""){
          url += this.pages.current_page + "&servicetype=IN" + "&searchdate=" + this.searchdate + "&search=" + this.search;
        } else{
          url += this.pages.current_page + "&servicetype=IN";
        }
      }
      this.pages = this.inhistory.data;
      axios.get(url).then(response => {
        console.log(url)
        this.pages = response.data.data;
        this.rqdata = response.data.data.data;
        // this.count = response.data.count;
        this.refreshloaded = true;
        if (this.pages.current_page == 1){
          this.count = response.data.count;
        }
      });
    },

    reset() {
      this.textsearch = "";
      this.textsearchdate = "";
      this.texttosearchdate = "";
    },

     resetData() {
      this.searchdate = "";
      this.tosearchdate = "";
      this.textsearch = "";
      this.selectedstatus = "ALL";
      this.serviceChannelNameSelected = "ALL";
      this.agent_name = "",
      this.dataChanged();
    },

    resetINC() {
      this.selectedstatus = "Ticket"
      this.textsearch = "";
      this.textsearchdate = "";
      this.texttosearchdate = "";
      this.searchdate = "";
      this.tosearchdate = "";
      this.search = "";
      this.pages.current_page = 1;
      this.dataChanged();
      this.refreshloaded = false;
    },

    selectTask(id, assigneeId, serviceCatalogId, modalname) {
      this.$emit("taskselected", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId,
        modalname: modalname,
        manager: this.manager
      });
    },

    onChangeType() {
      this.textsearch = "";
    },
  }
};
</script>

