<template>
  <li>
    <a
      href="#tab-incident-creation"
      class="dropdown-toggle"
      id="myTabDrop"
      data-toggle="dropdown"
      style="border-color: transparent;"
    >
      Incoming Incident &nbsp;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="myTabDrop-contents">
      <li
        v-if="servicetype=='LAYANAN_IT' || servicetype=='LAYANAN_CABANG' || servicetype=='LAYANAN_CC'"
      >
        <a
          href="#"
          data-backdrop
          data-id="phone"
          data-toggle="modal"
          data-target="#modal-create-incident-od"
          v-on:click="createIncomingIncidentOD('Phone')"
        >
          <span
            class="glyphicon glyphicon-bell"
            style="padding:0px 7px 0px 0px;position:static"
          ></span> Incident
        </a>
      </li>
    </ul>
  </li>
</template>
<script>
export default {
  props: ["servicetype"],
  methods: {
    createIncomingIncidentOD(source) {
      var recipientId;
      var serviceCatalogId;
      switch (source) {
        case "Email":
          recipientId = "EMAIL";
          serviceCatalogId = null;
          break;
        case "Phone":
          recipientId = "CALL";
          serviceCatalogId = null;
          break;
        default:
          break;
      }
      axios
        .post("/dashboard/incident/create/staging", {
          recipientid: recipientId,
          status: "DISPATCH",
          actticketcreation: "IN_PLANNED",
          servicecatalogid: serviceCatalogId
        })
        .then(res => {
            this.$emit("create-staging-incident-od", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-create-incident-od",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: true
            });
        });
    },

    createStagingIncidentOD(source) {
      var recipientId = "Whatsapp";
      var serviceCatalogId;
      switch (source) {
        case "Email":
          recipientId = "EMAIL";
          serviceCatalogId = null;
          break;
        case "Whatsapp":
          recipientId = "WA";
          serviceCatalogId = 37;
          break;
        default:
          break;
      }
      axios
        .post("/dashboard/incident/create/staging", {
          recipientid: recipientId,
          status: "DISPATCH",
          actticketcreation: "IN_PLANNED",
          servicecatalogid: serviceCatalogId
        })
        .then(res => {
          if (recipientId == "WA") {
            this.$emit("create-staging-incident-od", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-admin-dispatcher",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: false
            });
          }else {
            this.$emit("create-staging-incident-od", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-incident-sds",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: true
            });
          }
        });
    }
  }
};
</script>

