<template>
    <div class="panel-body">
      <div class="col-md-6" style="color:#191970; font-size:18px; margin-bottom:-10px;">
        <b>Total ticket : {{count}}</b>
      </div>
      <div class="col-md-6">
        <a href="#">
        <span
          v-if="refreshloaded"
          class="fa fa-refresh pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
          @click="resetINC"
        ></span>
        <span
          v-if="!refreshloaded"
          class="fa fa-refresh fa-spin pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
          @click="resetINC"
        ></span>
      </a>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-2">
            <div style="margin-bottom:5px;" v-if="manager==true">
              <input type="checkbox" 
                v-model="checkSGP">
              <span>All Support Group</span>
            </div>
            <div v-else>
              <label style="color:white;">.</label>
            </div>
            <v-select
              :options="statusoptions"
              name="TotalType"
              v-model="selectedstatus"
              style="hight:40px; margin-bottom:5px"
              @change="onChangeType($event)"
            />
            <label style="color:white;font-size:1px;">{{this.search}}</label>
          </div>
          <div class="col-md-3">
            <label style="color:white;">.</label>
            <input
              id="txtNameSearchInc"
              v-model="textsearch"
              type="text"
              autocomplete="off"
              :placeholder="this.selectedstatus == null?'Search ':'Search '+this.selectedstatus"
              class="form-control"
              style="margin-bottom:5px"
            />
          </div>
          <div class="col-md-2">
            <label>from date</label>
            <input
              id="txtName2"
              v-model="textsearchdate"
              type="date"
              autocomplete="off"
              placeholder="Search from Date"
              class="form-control"
              style="margin-bottom:5px"
            />
            <label style="color:white;font-size:1px;">{{this.searchdate | mydateformat}}</label>
          </div>
          <div class="col-md-2">
            <label>to date</label>
            <input
              id="txtName2"
              v-model="texttosearchdate"
              type="date"
              autocomplete="off"
              placeholder="Search to Date"
              class="form-control"
              style="margin-bottom:5px"
            />
            <label style="color:white;font-size:1px;">{{this.tosearchdate | mydateformat}}</label>
          </div>
          <div class="col-md-3 pull-left" style="margin-top:20px">
            <button type="button" class="btn btn-info" style="width:90px;" @click="resetINC">Reset</button>
            <button
              type="button"
              class="btn btn-info"
              style="width:90px;"
              @click="dataChanged"
            >Search</button>
          </div>
        </div>
      </div>
      <div v-if="rqdata == null || rqdata ==''">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Data not found !
        </div>
      </div>
      <div v-else>
        <table id="job-history-table" ref="liverequest" class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Req. Id</th>
              <th class="text-center">Requester Name</th>
              <th class="text-center">Service</th>
              <th class="text-center">Channel</th>
              <th class="text-center">Request Name</th>
              <th class="text-center">INC Id</th>
              <th class="text-center">SR Id</th>
              <th class="text-center">Booked</th>
              <th class="text-center">Finished</th>
              <th class="text-center" v-if="manager==true">Agent Name</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in rqdata" :key="task.id">
              <td align="center" style="width:4%">{{task.id}}</td>
              <td style="width:16%">{{task.senderNumber}}</td>
              <td align="center" style="width:7%">{{ task.serviceTypeName }}</td>
              <td align="center" style="width:6%">{{task.recipientID }}</td>
              <td style="width:16%">{{ task.serviceCatalogName }}</td>
              <td align="center" style="width:10%" v-if="task.remedyTicketId==null">N/A</td>
              <td align="center" style="width:10%" v-else>{{ task.remedyTicketId }}</td>
              <td align="center" style="width:10%" v-if="task.srid==null">N/A</td>
              <td align="center" style="width:10%" v-else>{{ task.srid }}</td>
              <td align="center" style="width:11%">{{ task.bookDateTime | mydateformat }}</td>
              <td align="center" style="width:11%">{{ task.finishDateTime | mydateformat }}</td>
              <td align="center" style="width:11%" v-if="manager==true">{{ task.assigneeName }}</td>
              <td
                style="width:5%"
                align="center"
                v-if="(task.processStatus == 'CLOSED' || task.processStatus == 'BOTCLOSED')"
              >
                <a href="#">
                  <button
                    type="button"
                    class="btn btn-info btn-sm book"
                    data-backdrop
                    :data-id="task.id"
                    :data-status="task.processStatus"
                    :data-toggle="'modal'"
                    :data-target="'#modal-incident'"
                    :id="task.id"
                    style="width:80px;"
                    v-on:click="selectTask(task.id,auth.id,task.serviceCatalogId,'modal-incident')"
                  >View</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <vue-pagination :pagination="pages" @paginate="dataChanged()" :offset="4"></vue-pagination>
      </div>
    </div>
</template>
<script>
import VuePagination from "../../components/Pagination.vue";
export default {
  props: ["auth", "inhistory", "manager"],
  components: {
    VuePagination
  },
  mounted() {
    this.getDataINC();
  },
  computed: {
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    }
  },
  watch: {
    inhistory: function() {
      this.rqdatatmp = this.inhistory;
    },
    rqdata: function() {
      this.reset();
    }
  },
  // watch: {
  //   req: function() {
  //     this.reset();
  //   }
  // },
  data() {
    return {
      statusoptions: ["Notes", "Kode Cabang", "Ticket"],
      selectedstatus: "Ticket",
      rqdatatmp: null,
      offset: 4,
      pages: {
        total: 0,
        per_page: 2,
        from: 1,
        to: 0,
        current_page: 1
      },
      req: [],
      count: this.inhistory.count,
      search: "",
      searchdate: "",
      tosearchdate: "",
      textsearch: "",
      textsearchdate: "",
      texttosearchdate: "",
      refreshloaded: false,
      checkSGP:false,
    };
  },
  methods: {
    getDataINC() {
      this.pages = this.inhistory.data;
      this.rqdata = this.inhistory.data.data;
      (this.count = this.inhistory.count), (this.refreshloaded = true);
    },

    dataChanged() {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.refreshloaded = false;
      var field = "";
      switch (this.selectedstatus) {
        case "Notes": {
          field = "TextDecoded";
          break;
        }
        case "Kode Cabang": {
          field = "TextDecoded";
          break;
        }
        default: {
          field = "RemedyTicketId";
          break;
        }
      }

      if (this.manager == true) {
        var url =
          "/dashboard/history/request/fetch?manager=true&checksgp="
          + this.checkSGP +"&field="+field+
          "&page=";
      } else {
        var url =
          "/dashboard/history/request/fetch?manager=false&checksgp="
          + this.checkSGP +"&field="+field+
          "&page=";
      }
      // var url = "/dashboard/history/request/fetch?manager=" + this.manager + "&page=" ;
      if (
        this.textsearchdate !== "" &&
        this.texttosearchdate !== "" &&
        this.textsearch !== ""
      ) {
        this.search = this.textsearch;
        this.searchdate = this.textsearchdate;
        this.tosearchdate = this.texttosearchdate;
        url +=
          1 +
          "&servicetype=IN" +
          "&searchdate=" +
          this.tosearchdate +
          "&tosearchdate=" +
          this.searchdate +
          "&search=" +
          this.search;
      } else if (
        this.textsearchdate === "" &&
        this.texttosearchdate === "" &&
        this.textsearch !== ""
      ) {
        this.search = this.textsearch;
        url += 1 + "&servicetype=IN" + "&search=" + this.search;
      } else if (
        this.textsearchdate === "" &&
        this.texttosearchdate !== "" &&
        this.textsearch === ""
      ) {
        this.tosearchdate = this.texttosearchdate;
        url += 1 + "&servicetype=IN" + "&tosearchdate=" + this.tosearchdate;
      } else if (
        this.textsearchdate !== "" &&
        this.texttosearchdate === "" &&
        this.textsearch === ""
      ) {
        this.searchdate = this.textsearchdate;
        url += 1 + "&servicetype=IN" + "&searchdate=" + this.searchdate;
      } else if (
        this.textsearchdate === "" &&
        this.texttosearchdate !== "" &&
        this.textsearch !== ""
      ) {
        this.tosearchdate = this.texttosearchdate;
        this.search = this.textsearch;
        url +=
          1 +
          "&servicetype=IN" +
          "&tosearchdate=" +
          this.tosearchdate +
          "&search=" +
          this.search;
      } else if (
        this.textsearchdate !== "" &&
        this.texttosearchdate !== "" &&
        this.textsearch === ""
      ) {
        this.tosearchdate = this.texttosearchdate;
        this.searchdate = this.textsearchdate;
        url +=
          1 +
          "&servicetype=IN" +
          "&searchdate=" +
          this.searchdate +
          "&tosearchdate=" +
          this.tosearchdate;
      } else if (
        this.textsearchdate !== "" &&
        this.texttosearchdate === "" &&
        this.textsearch !== ""
      ) {
        this.searchdate = this.textsearchdate;
        this.search = this.textsearch;
        url +=
          1 +
          "&servicetype=IN" +
          "&searchdate=" +
          this.searchdate +
          "&search=" +
          this.search;
      } else {
        if (
          this.searchdate !== "" &&
          this.tosearchdate !== "" &&
          this.search !== ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&searchdate=" +
            this.searchdate +
            "&tosearchdate=" +
            this.tosearchdate +
            "&search=" +
            this.search;
        } else if (
          this.searchdate === "" &&
          this.tosearchdate === "" &&
          this.search !== ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&search=" +
            this.search;
        } else if (
          this.searchdate === "" &&
          this.tosearchdate !== "" &&
          this.search === ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&tosearchdate=" +
            this.tosearchdate;
        } else if (
          this.searchdate !== "" &&
          this.tosearchdate === "" &&
          this.search === ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&searchdate=" +
            this.searchdate;
        } else if (
          this.searchdate === "" &&
          this.tosearchdate !== "" &&
          this.search !== ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&tosearchdate=" +
            this.tosearchdate +
            "&search=" +
            this.search;
        } else if (
          this.searchdate !== "" &&
          this.tosearchdate !== "" &&
          this.search === ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&searchdate=" +
            this.searchdate +
            "&tosearchdate=" +
            this.tosearchdate;
        } else if (
          this.searchdate !== "" &&
          this.tosearchdate === "" &&
          this.search !== ""
        ) {
          url +=
            this.pages.current_page +
            "&servicetype=IN" +
            "&searchdate=" +
            this.searchdate +
            "&search=" +
            this.search;
        } else {
          url += this.pages.current_page + "&servicetype=IN";
        }
      }
      this.pages = this.inhistory.data;
      axios
        .get(url)
        .then(response => {
          this.pages = response.data.data;
          this.rqdata = response.data.data.data;
          // this.count = response.data.count;
          this.refreshloaded = true;
          if (this.pages.current_page == 1) {
            this.count = response.data.count;
          }
          loader.hide();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger"
            });
            this.refreshloaded = true;
          }
        });
    },

    reset() {
      this.searchdate = "";
      this.tosearchdate = "";
      this.search = "";
    },

    resetINC() {
      this.selectedstatus = "Ticket";
      this.textsearch = "";
      this.textsearchdate = "";
      this.texttosearchdate = "";
      this.searchdate = "";
      this.tosearchdate = "";
      this.search = "";
      this.pages.current_page = 1;
      this.dataChanged();
      this.refreshloaded = false;
    },

    selectTask(id, assigneeId, serviceCatalogId, modalname) {
      this.$emit("taskselected", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId,
        modalname: modalname,
        manager: this.manager
      });
    },

    onChangeType() {
      this.textsearch = "";
    }
  }
};
</script>

