<template>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="col-md-3">
        <v-select
          :options="service_channel_name"
          :selectOnTab="true"
          label="name"
          v-model="serviceChannelNameSelected"
          name="Service Channel Name"
          @change="dataChanged"
        >
          <template slot="option" slot-scope="option">
            <input type="hidden" :value="option.id" />
            <div class="d-center">{{ option.name }}</div>
          </template>
        </v-select>
        <span
          v-show="errors.has('Service Channel Name')"
          class="valid-feedback text-danger"
        >{{ errors.first('Service Channel Name') }}</span>
      </div>
      <div class="col-md-3">
        <input
          v-model="searchdate"
          type="date"
          autocomplete="off"
          placeholder="Search in Date"
          class="form-control"
        />
      </div>
      <div class="col-md-3 pull-right">
        <button
          type="button"
          class="btn btn-info pull-right"
          style="width:90px;"
          @click="dataChanged"
        >Filter</button>
      </div>
    </div>
    <div v-if="rqdata == null || rqdata ==''">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Currently, There isn't {{this.servicechannel}} task!
      </div>
    </div>
    <div v-else>
      <table id="live-request-table" ref="liverequest" class="table table-bordered">
        <thead>
          <tr>
            <th v-if="serviceChannelNameSelected=='INCIDENT' || serviceChannelNameSelected=='WORK ORDER'">
              <center><input type="checkbox" v-model="checkedParent" @click="selectAll"/></center>
            </th>
            <th>
              <center>Req. Id</center>
            </th>
            <th>
              <center>Requester Name</center>
            </th>
            <th>
              <center>Service</center>
            </th>
            <th>
              <center>Channel</center>
            </th>
            <th>
              <center>Request Name/ Summary</center>
            </th>
            <th>
              <center>WO/INC Id</center>
            </th>
            <th>
              <center>Received On</center>
            </th>
            <th>
              <center>Action</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in rqdata" :key="request.id">
            <td v-if="serviceChannelNameSelected=='INCIDENT' || serviceChannelNameSelected=='WORK ORDER'" class="text-center">
              <input type="checkbox" :value="request" v-model="checked" />
            </td>
            <td
              align="center"
              style="width:7%"
              class="tooltip-target b3"
              v-on:click="getNote(request)"
            >
              <v-popover offset="16">
                {{request.id}}
                <template slot="popover">
                  <template v-title-popover>
                    <strong>Note :</strong>
                  </template>
                  <p style="text-align: justify;font-size: 12px;">{{ note }}</p>
                </template>
              </v-popover>
            </td>
            <td style="width:22%">{{request.senderNumber}}</td>
            <td align="center" style="width:10%">{{ request.serviceTypeName }}</td>
            <td align="center" style="width:10%">{{request.recipientID}}</td>
            <td
              style="width:25%"
              v-if="request.serviceCatalogType=='WO'"
            >{{ request.serviceCatalogName }}</td>
            <td style="width:25%" v-else-if="request.recipientID=='WA'">{{ request.senderNumber }}</td>
            <td style="width:25%" v-else>{{ request.text }}</td>
            <td align="center" style="width:13%" v-if="request.remedyTicketId==null">N/A</td>
            <td align="center" style="width:13%" v-else-if="request.serviceCatalogType=='WO'">
              <a
                target="_blank"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/WOI:WorkOrder/Simplified+User+View/?qual=%271000000182%27=%22'+request.remedyTicketId+'%22'"
              >{{ request.remedyTicketId }}</a>
            </td>
            <td align="center" style="width:13%" v-else>
              <a
                target="_blank"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+request.remedyTicketId+'%22'"
              >{{ request.remedyTicketId }}</a>
            </td>
            <td align="center" style="width:13%">{{ request.receivingDateTime | mydateformat}}</td>
            <td
              style="width:10%"
              align="center"
              v-if="(request.processStatus == 'QUEUED' || request.processStatus == 'BOTQUEUE')"
            >
              <a href="#">
                <button
                v-if="isMultiple===true"
                  type="button"
                  class="btn btn-success btn-sm book"
                  data-backdrop
                  :data-toggle="'modal'"
                  :data-target="'#modal-delegate-multiple'"
                  v-on:click="selectRequest(request.id,auth.id,request.serviceCatalogId,request.modalName)"
                  style="width:60px;"
                >Book</button>
                <button
                v-else
                  type="button"
                  class="btn btn-info btn-sm book"
                  data-backdrop
                  :data-id="request.id"
                  :data-status="request.processStatus"
                  :data-toggle="'modal'"
                  :data-target="'#'+request.modalName"
                  :id="request.id"
                  v-on:click="selectRequest(request.id,auth.id,request.serviceCatalogId,request.modalName)"
                  style="width:60px;"
                >Book</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { VTooltip, VPopover, VClosePopover } from "v-tooltip";
Vue.directive("tooltip", VTooltip);
Vue.directive("close-popover", VTooltip.VClosePopover);
Vue.component("v-popover", VTooltip.VPopover);
Vue.directive("title-popover", VTooltip.VPopover);
export default {
  props: ["requests", "auth", "servicetype"],
  data: function() {
    return {
      checked:[],
      rqdatatmp: null,
      serviceChannelNameSelected: "ALL",
      service_channel_name: [
        "ALL",
        "CALL",
        "EMAIL",
        "ITSRM",
        "LIVECHAT",
        "SMS",
        "TELEGRAM",
        "WA",
        "INCIDENT",
        "WORK ORDER",
      ],
      refreshloaded: false,
      servicechannel: "",
      notetmp: null,
      searchdate: "",
      isMultiple:false,
      checkedParent: false,
    };
  },
  mounted() {
    this.getDataSearch();
  },
  computed: {
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    },
    note: {
      get: function() {
        return this.notetmp;
      },
      set: function(newvalue) {
        this.notetmp = newvalue;
      }
    },
  },
  watch: {
    checked(newVal){
      if(newVal.length>0){
        this.isMultiple = true;
      }else{
        this.isMultiple = false;
      }
      if(newVal.length == this.rqdata.length){
         this.checkedParent = true;
      }else{
         this.checkedParent = false;
      }
    },
    requests: function() {
      this.rqdatatmp = this.requests;
    }
  },
  methods: {
    selectAll: function(){
      this.checkedParent = !this.checkedParent;
      this.checked = [];
      if (this.checkedParent) {
          for (var key in this.rqdata) {
              this.checked.push(this.rqdata[key]);
          }
      }
    },
    getNote(requestId) {
      this.note = null;
      var url = "/dashboard/workingtask/get_note?&requestId=" + requestId.id;
      axios
        .get(url)
        .then(response => {
          if (response.data.status == false) {
            this.note = "Ooops... unable to retrieve data";
          } else {
            this.note = response.data.data.notes_description;
          }
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger"
            });
          }
        });
    },
    reset() {
      this.serviceChannelNameSelected = "ALL";
      this.searchdate = "";
    },
    resetSearch() {
      this.serviceChannelNameSelected = "ALL";
      this.searchdate = "";
      this.dataChanged();
      this.refreshloaded = false;
    },

    selectRequest(id, assigneeId, serviceCatalogId, modalname) {
      if(this.checked.length>0){
        this.$emit("selectedticket", {
          multipleSelected: this.checked,
          modalname: 'modal-delegate-multiple',
        });
      }else{
        this.$emit("requestselected", {
          id: id,
          assigneeId: assigneeId,
          serviceCatalogId: serviceCatalogId,
          modalname: modalname,
          isredirecttolivechat: false
        });
      }
    },

    viewRequest(id) {
      this.$emit("requestviewed", {
        id: id
      });
    },

    getDataSearch() {
      this.rqdata = this.requests;
      this.refreshloaded = true;
    },

    dataChanged() {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      var url = "/dashboard/requestqueue/request/fetch?&servicetype=";
      if (this.serviceChannelNameSelected !== "ALL" && this.searchdate !=="") {
        url += this.servicetype + "&search=" + this.serviceChannelNameSelected +"&date=" + this.searchdate;
      }else if(this.serviceChannelNameSelected !== "ALL" && this.searchdate =="") {
        url += this.servicetype + "&search=" + this.serviceChannelNameSelected;
      }else if(this.serviceChannelNameSelected == "ALL" && this.searchdate !=="") {
        url += this.servicetype +"&date=" + this.searchdate;
      }else {
        url += this.servicetype;
      }
      axios
        .get(url)
        .then(response => {
          this.rqdata = response.data.data;
          this.refreshloaded = true;
          this.servicechannel = this.serviceChannelNameSelected;
          this.$emit("loadfilterchannelname", {
            usedChannel: this.serviceChannelNameSelected,
            dataKeep: this.rqdata
          });
          loader.hide();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger"
            });
          }
          loader.hide();
        });
    }
  }
};
</script>
<style lang="scss">
@import "../../../css/tooltip.scss";
</style>
