<template>
  <div v-show="!isdataloaded">        
        <h5>Please wait, data loading<div class="spinner-loader pull-right" style="display:inline-block;padding:5px;margin-right:5px"></div></h5>
  </div>
</template>
<script>
export default {
  props: ["isdataloaded"],  
};
</script>