<template>
  <li>
    <a
      href="#tab-incident-creation"
      class="dropdown-toggle"
      id="myTabDrop"
      data-toggle="dropdown"
      style="border-color: transparent;"
    >
      Incoming Incident &nbsp;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="myTabDrop-contents">
      <li
        v-if="servicetype=='LAYANAN_IT' || servicetype=='LAYANAN_CABANG' || servicetype=='LAYANAN_CC'"
      >
        <a
          href="#"
          data-backdrop
          data-id="phone"
          data-toggle="modal"
          data-target="#modal-create-incident"
          v-on:click="createIncident('Phone')"
        >
          <span
            class="glyphicon glyphicon-phone-alt"
            style="padding:0px 7px 0px 0px;position:static"
          ></span> Phone
        </a>
      </li>
    <li v-if="servicetype=='LAYANAN_SDS'">
        <a
          href="#"
          data-backdrop
          data-id="email"
          data-toggle="modal"
          data-target="#modal-incident-sds"
          @click="createStagingIncident('Email')"
        >
          <span
            class="glyphicon glyphicon-envelope"
            style="padding:0px 7px 0px 0px;position:static"
          ></span> E-mail
        </a>
      </li>
      <li v-if="servicetype=='LAYANAN_IT' || servicetype=='LAYANAN_CC'">
        <a
          href="#"
          data-backdrop
          data-id="email"
          data-toggle="modal"
          data-target="#modal-create-incident"
          v-on:click="createIncident('Email')"
        >
          <span
            class="glyphicon glyphicon-envelope"
            style="padding:0px 7px 0px 0px;position:static"
          ></span> E-mail
        </a>
      </li>
      <li v-if="servicetype=='LAYANAN_IT'">
        <a
          href="#"
          data-backdrop
          data-id="whatsapp"
          data-toggle="modal"
          data-target="#modal-admin-dispatcher"
          @click="createStagingIncident('Whatsapp')"
        >
          <span
            class="glyphicon glyphicon glyphicon-comment"
            style="padding:0px 7px 0px 0px;position:static"
          ></span> Whatsapp
        </a>
      </li>
    </ul>
  </li>
</template>
<script>
export default {
  props: ["servicetype"],
  methods: {
    createIncident(source) {
      var recipientId;
      var serviceCatalogId;
      switch (source) {
        case "Email":
          recipientId = "EMAIL";
          serviceCatalogId = null;
          break;
        case "Phone":
          recipientId = "CALL";
          serviceCatalogId = null;
          break;
        default:
          break;
      }
      axios
        .post("/dashboard/incident/create/staging", {
          recipientid: recipientId,
          status: "DISPATCH",
          actticketcreation: "IN_PLANNED",
          servicecatalogid: serviceCatalogId
        })
        .then(res => {
            this.$emit("create-staging-incident", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-create-incident",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: true,
            });
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    createStagingIncident(source) {
      var recipientId = "Whatsapp";
      var serviceCatalogId;
      switch (source) {
        case "Email":
          recipientId = "EMAIL";
          serviceCatalogId = null;
          break;
        case "Whatsapp":
          recipientId = "WA";
          serviceCatalogId = 37;
          break;
        default:
          break;
      }
      axios
        .post("/dashboard/incident/create/staging", {
          recipientid: recipientId,
          status: "DISPATCH",
          actticketcreation: "IN_PLANNED",
          servicecatalogid: serviceCatalogId
        })
        .then(res => {
          if (recipientId == "WA") {
            this.$emit("create-staging-incident", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-admin-dispatcher",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: false
            });
          }else {
            this.$emit("create-staging-incident", {
              source: source,
              processstatus: res.data.responsedata.ProcessStatus,
              modalname: "modal-incident-sds",
              isdataloaded: res.data.status,
              requestdata: res.data.responsedata,
              isincidentcreation: true
            });
          }
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }
  }
};
</script>

