<template>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="col-md-3">
        <v-select
          :options="processstatus"
          :selectOnTab="true"
          label="name"
          v-model="processStatusSelected"
          name="Service Channel Name"
          @change="dataChanged"
        >
          <template slot="option" slot-scope="option">
            <input type="hidden" :value="option.id" />
            <div class="d-center">{{ option.name }}</div>
          </template>
        </v-select>
        <span
          v-show="errors.has('Process Status')"
          class="valid-feedback text-danger"
          >{{ errors.first("Process Status") }}</span
        >
      </div>
      <div class="col-md-3 pull-right">
        <button
          type="button"
          class="btn btn-info pull-right"
          style="width: 90px"
          @click="dataChanged"
        >
          Filter
        </button>
      </div>
    </div>
    <div v-if="rqdata == null || rqdata == ''">
      <div class="alert alert-info" role="alert">
        <span
          class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"
        ></span>
        Currently, You don't have {{ this.status }} task!
      </div>
    </div>
    <div v-else>
      <table
        id="live-request-table"
        ref="liverequest"
        class="table table-bordered"
      >
        <thead>
          <tr>
            <th>
              <center>Req. Id</center>
            </th>
            <th>
              <center>Requester Name</center>
            </th>
            <th>
              <center>Service</center>
            </th>
            <th>
              <center>Channel</center>
            </th>
            <th>
              <center>Request Name/ Summary</center>
            </th>
            <th>
              <center>WO/INC Id</center>
            </th>
            <th>
              <center>SR Id</center>
            </th>
            <th>
              <center>Received</center>
            </th>
            <th>
              <center>Booked</center>
            </th>
            <th>
              <center>Action</center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in rqdata" :key="task.id">
            <td
              align="center"
              style="width: 5%"
              class="tooltip-target b3"
              v-on:click="getNote(task)"
            >
              <v-popover offset="16">
                {{ task.id }}
                <template slot="popover">
                  <template v-title-popover>
                    <strong>Note :</strong>
                  </template>
                  <p style="text-align: justify; font-size: 12px">{{ note }}</p>
                </template>
              </v-popover>
            </td>
            <td style="width: 14%">{{ task.senderNumber }}</td>
            <td align="center" style="width: 8%">{{ task.serviceTypeName }}</td>
            <td align="center" style="width: 7%">
              {{ task.serviceChannelName }}
            </td>
            <td style="width: 14%" v-if="task.serviceCatalogType == 'WO'">
              {{ task.serviceCatalogName }}
            </td>
            <td style="width: 14%" v-else>{{ task.text }}</td>
            <td
              align="center"
              style="width: 10%"
              v-if="task.remedyTicketId == null"
            >
              N/A
            </td>
            <td
              align="center"
              style="width: 10%"
              v-else-if="task.serviceCatalogType == 'WO'"
            >
              <a
                target="_blank"
                :href="
                  'https://mandiriservicedesk.corp.bankmandiri.co.id/arsys/forms/appremedy/WOI:WorkOrder/Simplified+User+View/?qual=%271000000182%27=%22' +
                  task.remedyTicketId +
                  '%22'
                "
                >{{ task.remedyTicketId }}</a
              >
            </td>
            <td align="center" style="width: 10%" v-else>
              <a
                target="_blank"
                :href="
                  'https://mandiriservicedesk.corp.bankmandiri.co.id/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22' +
                  task.remedyTicketId +
                  '%22'
                "
                >{{ task.remedyTicketId }}</a
              >
            </td>
            <td align="center" style="width: 10%" v-if="task.srid == null">
              N/A
            </td>
            <td align="center" style="width: 10%" v-else>
              {{ task.srid }}
            </td>
            <td align="center" style="width: 10%">
              {{ task.receivingDateTime | mydateformat }}
            </td>
            <td align="center" style="width: 10%">
              {{ task.bookDateTime | mydateformat }}
            </td>
            <td
              style="width: 7%"
              align="center"
              v-if="
                task.processStatus == 'INPROGRESS' ||
                task.processStatus == 'BOTPROCESS' ||
                task.processStatus == 'PENDING' ||
                task.processStatus == 'WAITINGAPR' ||
                task.processStatus == 'PLANNING'
              "
            >
              <a href="#">
                <button
                  v-if="
                    task.telegramSenderId != null &&
                    task.recipientID == 'LIVECHAT' &&
                    task.processStatus == 'INPROGRESS'
                  "
                  type="button"
                  class="btn btn-info btn-sm book"
                  data-backdrop
                  :data-id="task.id"
                  :data-status="task.processStatus"
                  :data-toggle="'modal'"
                  :data-target="'#' + task.modalName"
                  :id="task.id"
                  v-on:click="
                    selectTask(
                      task.id,
                      auth.id,
                      task.serviceCatalogId,
                      task.modalName
                    )
                  "
                >
                  {{ task.processStatus }}
                </button>
                <button
                  v-else-if="
                    task.telegramSenderId != null &&
                    task.liveChatRequestId == task.id &&
                    task.recipientID == 'TELEGRAM'
                  "
                  type="button"
                  class="btn btn-info btn-sm book"
                  data-backdrop
                  :data-id="task.id"
                  :data-status="task.processStatus"
                  :data-toggle="'modal'"
                  :data-target="'#modal-livechat'"
                  :id="task.id"
                  v-on:click="
                    selectActiveLivechat(
                      task.id,
                      auth.id,
                      task.serviceCatalogId
                    )
                  "
                >
                  {{ task.processStatus }}
                </button>
                <button
                  v-else
                  type="button"
                  class="btn btn-info btn-sm book"
                  data-backdrop
                  :data-id="task.id"
                  :data-status="task.processStatus"
                  :data-toggle="'modal'"
                  :data-target="'#' + task.modalName"
                  :id="task.id"
                  v-on:click="
                    selectTask(
                      task.id,
                      auth.id,
                      task.serviceCatalogId,
                      task.modalName
                    )
                  "
                >
                  {{ task.processStatus }}
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/v-tooltip@2.0.2"></script>
<script>
import Vue from "vue";
import { VTooltip, VPopover, VClosePopover } from "v-tooltip";
Vue.directive("tooltip", VTooltip);
Vue.directive("close-popover", VTooltip.VClosePopover);
Vue.component("v-popover", VTooltip.VPopover);
Vue.directive("title-popover", VTooltip.VPopover);

export default {
  props: ["tasks", "auth"],
  mounted() {
    this.getDataSearch();
  },
  computed: {
    rqdata: {
      get: function () {
        return this.rqdatatmp;
      },
      set: function (newvalue) {
        this.rqdatatmp = newvalue;
      },
    },
    note: {
      get: function () {
        return this.notetmp;
      },
      set: function (newvalue) {
        this.notetmp = newvalue;
      },
    },
  },
  watch: {
    tasks: function () {
      this.rqdatatmp = this.tasks;
    },
  },
  data: function () {
    return {
      rqdatatmp: null,
      processStatusSelected: "INPROGRESS",
      processstatus: ["ALL", "INPROGRESS", "PENDING", "WAITINGAPR", "PLANNING"],
      status: "",
      notetmp: null,
    };
  },

  methods: {
    getNote(requestId) {
      this.note = null;
      var url = "/dashboard/workingtask/get_note?&requestId=" + requestId.id;
      axios
        .get(url)
        .then((response) => {
          if (response.data.status == false) {
            this.note = "Ooops... unable to retrieve data";
          } else {
            this.note = response.data.data.notes_description;
          }
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
        });
    },
    selectTask(id, assigneeId, serviceCatalogId, modalname) {
      this.$emit("taskselected", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId,
        modalname: modalname,
        isredirecttolivechat: false,
      });
    },
    selectActiveLivechat(id, assigneeId, serviceCatalogId) {
      this.$emit("active-livechat-selected", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId,
        modalname: "modal-livechat",
        isredirecttolivechat: true,
      });
    },

    dataChanged() {
      let loader = this.$parent.$loading.show({
        loader: "dots",
      });
      var url =
        "/dashboard/workingtask/fetch?&search=" + this.processStatusSelected;
      axios
        .get(url)
        .then((response) => {
          this.rqdata = response.data.data;
          this.status = this.processStatusSelected;
          this.$emit("loadfilterprocessstatus", {
            usedProcessStatus: this.processStatusSelected,
            wtaskData: this.rqdata,
          });
          loader.hide();
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
          loader.hide();
        });
    },

    getDataSearch() {
      this.rqdata = this.tasks;
    },
  },
};
</script>
<style lang="scss">
@import "../../../css/tooltip.scss";
</style>

