<template> 
  <div
    id="modal-admin-dispatcher"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    class="modal"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5
              v-if="processstatus==='DISPATCH'"
              class="modal-title"
              id="smallModalHead"
            >Create Incident from Channel : {{source}} | Request ID : {{rqdata.id}}</h5>
            <h5 v-else class="modal-title" id="smallModalHead" style="margin-bottom:-10px;">
              Incident Summary : {{rqdata.Text}} / Request Id : {{rqdata.id}}
              <a
                target="_blank"
                v-if="requestdata.RemedyTicketId !='N/A' && requestdata.RemedyTicketId != null"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/10.204.86.235/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.RemedyTicketId+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-admin-dispatcher'">
                <div v-if="processstatus==='DISPATCH'">
                  <div class="col-md-4" style="border-left: 12px;">
                    <div class="panel panel-default" style="height:450px">
                      <div class="panel-heading">Request Detail</div>
                      <div
                        class="panel-body form-horizontal"
                        style="border-radius: 10px;height 90%"
                      >
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Request ID</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.id"
                              name="request_id"
                              key="request-id"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Incident Number</label>
                            <input
                              v-if="rqdata.RemedyTicketId==null||rqdata.RemedyTicketId==='N/A'"
                              type="text"
                              class="form-control"
                              value="N/A"
                              name="remedy_ticket_id"
                              key="remedy-ticket-id"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="rqdata.RemedyTicketId"
                              name="remedy_ticket_id"
                              key="remedy-ticket-id"
                              disabled="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Company</label>
                            <v-select
                              :options="compoptions"
                              label="name"
                              v-model="company"
                              v-validate="'required'"
                              name="Company"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Company')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Company') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Customer</label>
                            <v-select
                              :options="custoptions"
                              @search="onSearchCustomer"
                              label="full_name"
                              v-model="customer"
                              v-validate="'required'"
                              name="Customer"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.full_name + " ( " + option.department_name + " ) "}}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Customer')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Customer') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Phone Number</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="phonenumber"
                              v-validate="'required'"
                              name="PhoneNumber"
                              key="phone-number"
                            />
                            <span
                              v-show="errors.has('PhoneNumber')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('PhoneNumber') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assignee Name</label>
                            <div
                              class="pull-right text-danger"
                              style="font-size:9px;margin-top:3px"
                            >* optional, left blank will be add to request queue.</div>
                            <v-select
                              :options="asgnoptions"
                              @search="onSearchAssignee"
                              label="name"
                              v-model="assignee"
                              name="Assignee"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name +" / "+ option.sgn_remedy}}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assignee')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assignee') }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:450px">
                      <div class="panel-heading">Request Content</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="summary"
                              v-validate="'required'"
                              name="Summary"
                              key="summary"
                            />
                            <span
                              v-show="errors.has('Summary')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Summary') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              class="form-control"
                              rows="5"
                              name="Notes"
                              style="resize:none;height:50%;"
                              v-model="notes"
                              placeholder="Paste whatsapp conversation here.."
                              v-validate="'required'"
                              key="notes-desc"
                            ></textarea>
                            <span
                              v-show="errors.has('Notes')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Notes') }}</span>
                          </div>

                          <div class="col-md-12">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                v-model="feedback"
                                @keyup.enter="sendFeedback(feedback)"
                                placeholder="Add Message in Feedback Log"
                              />
                              <span class="input-group-btn">
                                <button
                                  class="btn btn-default"
                                  type="button"
                                  @click="sendFeedback(feedback)"
                                >Add</button>
                              </span>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <label>Files (Max 2 Files Concurrently)</label>
                            <div id="app">
                              <file-pond
                                name="image"
                                ref="pond"
                                :server="conf"
                                class-name="my-pond"
                                allow-multiple="true"
                                max-files="2"
                                accepted-file-types="image/jpeg"
                                :fileMetadataObject="{requestid:rqdata.id}"
                                v-bind:files="myFiles"
                                v-on:init="handleFilePondInit"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                        <!-- ------------------------------------------------------------------ PERUBAHAN -->
                    <dispatcher-feedback-log
                      :auth="auth"
                      :messages="messages"
                      :processstatus="processstatus"
                      v-on:obj-message="objmessage"
                    ></dispatcher-feedback-log>
    <!-- ------------------------------------------------------------------ PERUBAHAN -->
                  </div>
                </div>
                <div
                  v-else-if="(processstatus==='BOOKED' || processstatus==='INPROGRESS' || processstatus ==='PENDING' || processstatus ==='WAITINGAPR' || processstatus ==='PLANNING')"
                >
                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:500px">
                      <div class="panel-body">
                        <!-- ------------------------------------------------------------------ PERUBAHAN -->
                        <dispatcher-feedback-log
                          :auth="auth"
                          :messages="rqdata.messages"
                          :processstatus="processstatus"
                          v-on:obj-message="objmessage"
                          style="height:300px"
                        ></dispatcher-feedback-log>
    <!-- ------------------------------------------------------------------ PERUBAHAN -->
                        <div class="form-group">
                          <div class="col-md-12">
                            <div class="input-group">
                              <input
                                type="text"
                                class="form-control"
                                v-model="feedback"
                                @keyup.enter="sendFeedback(feedback)"
                                placeholder="Add Message in Feedback Log"
                              />
                              <span class="input-group-btn">
                                <button
                                  class="btn btn-default"
                                  type="button"
                                  @click="sendFeedback(feedback)"
                                >Add</button>
                              </span>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <label>Files (Max 2 Files Concurrently)</label>
                            <div id="app">
                              <file-pond
                                name="image"
                                ref="pond"
                                :server="conf"
                                class-name="my-pond"
                                allow-multiple="true"
                                max-files="2"
                                accepted-file-types="image/jpeg"
                                :fileMetadataObject="{requestid:rqdata.id}"
                                v-bind:files="myFiles"
                                v-on:init="handleFilePondInit"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="panel panel-default" style="height:500px">
                      <div class="panel-body">
                        <div class="col-md-4">
                          <div class="panel panel-default" style="height:470px">
                            <div class="panel-heading">Incident Detail 1</div>
                            <div class="panel-body form-horizontal">
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Request Id</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.id"
                                    readonly="true"
                                  />
                                </div>
                              </div>
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Remedy Ticket Id</label>
                                  <input
                                    v-if="rqdata.RemedyTicketId!=null"
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.RemedyTicketId"
                                    readonly="true"
                                  />
                                  <input
                                    v-else
                                    type="text"
                                    class="form-control"
                                    value="N/A"
                                    readonly="true"
                                  />
                                </div>
                              </div>
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Requester Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.SenderNumber"
                                    readonly="true"
                                  />
                                </div>
                              </div>
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-if="rqdata.incident.prod_cat_tier1 !== ''"
                              >
                                <div class="col-md-12">
                                  <label>Impact</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.impact"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-else
                              >
                                <div class="col-md-12">
                                  <label>Impact</label>
                                  <v-select
                                    :options="optionsImpact"
                                    label="name"
                                    v-model="impact"
                                    v-validate="'required'"
                                    name="Impact"
                                    :selectOnTab="true"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-impact" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Impact')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Impact') }}</span>
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-if="rqdata.incident.prod_cat_tier1 !== ''"
                              >
                                <div class="col-md-12">
                                  <label>Urgency</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.urgency"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-else
                              >
                                <div class="col-md-12">
                                  <label>Urgency</label>
                                  <v-select
                                    :options="optionsUrgency"
                                    label="name"
                                    v-model="urgency"
                                    name="Urgency"
                                    @change="onChangeServiceCI($event)"
                                    :selectOnTab="true"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input
                                        type="hidden"
                                        :value="option.id"
                                        key="incident-urgency"
                                      />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Urgency')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Urgency') }}</span>
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-if="rqdata.incident.prod_cat_tier1 !== ''"
                              >
                                <div class="col-md-12">
                                  <label>Service</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.service"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                                v-else
                              >
                                <div class="col-md-12">
                                  <label>Service</label>
                                  <v-select
                                    :options="optionsService"
                                    label="name"
                                    v-model="service"
                                    name="Service"
                                    :selectOnTab="true"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input
                                        type="hidden"
                                        :value="option.id"
                                        key="incident-service"
                                      />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Service')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Service') }}</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="panel panel-default" style="height:470px">
                            <div class="panel-heading">Incident Detail 2</div>
                            <div class="panel-body form-horizontal">
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>WA Number</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.SMSCNumber"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Summary</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.Text"
                                    readonly="true"
                                  />
                                </div>
                              </div>
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Notes</label>
                                  <textarea
                                    :value="rqdata.incident.notes_description"
                                    class="form-control"
                                    rows="9"
                                    name="notes"
                                    style="resize: none;height:100%;"
                                    readonly="true"
                                  ></textarea>
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: -10px; padding: 0px 0px 5px;"
                                v-if="rqdata.incident.prod_cat_tier1 !== ''"
                              >
                                <div class="col-md-12">
                                  <label>Survey</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.survey"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 5px; margin-top: -10px; padding: 0px 0px 5px;"
                                v-else
                              >
                                <div class="col-md-12">
                                  <label>Survey</label>
                                  <v-select
                                    :options="optionsSurvey"
                                    label="name"
                                    v-model="survey"
                                    name="Survey"
                                    :selectOnTab="true"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input
                                        type="hidden"
                                        :value="option.id"
                                        key="incident-survey"
                                      />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Survey')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Survey') }}</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div
                          class="col-md-4"
                          v-if="rqdata.incident.prod_cat_tier1 !== ''"
                        >
                          <div class="panel panel-default" style="height:470px">
                            <div class="panel-heading">Categorization</div>
                            <div class="panel-body form-horizontal">
                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 1</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.prod_cat_tier1"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 2</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.prod_cat_tier2"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: -10px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 3</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.prod_cat_tier3"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 1</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.opr_cat_tier1"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 2</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.opr_cat_tier2"
                                    readonly="true"
                                  />
                                </div>
                              </div>

                              <div
                                class="form-group"
                                style="margin-left: -15px; margin-bottom: -5px; margin-top: 0px; padding: 0px 0px 5px;"
                              >
                                <div class="col-md-12">
                                  <label>Tier 3</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    :value="rqdata.incident.opr_cat_tier3"
                                    readonly="true"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4" v-if="rqdata.incident.prod_cat_tier1 === ''">
                          <div class="panel panel-default" style="height:470px">
                            <div class="panel-heading">
                              Categorization
                              <div class="pull-right">
                                <a
                                  href="#"
                                  v-if="!issearchfromctlg"
                                  @click="searchFromCatalog"
                                >Search from catalog</a>
                                <a href="#" v-else-if="!issearchfromctlg">
                                  <div
                                    class="spinner-loader2"
                                    style="float:left;padding:3px;width:5px"
                                  ></div>
                                </a>
                                <a href="#" v-else @click="clearFromCatalog">Clear</a>
                              </div>
                            </div>
                            <div class="panel-body form-horizontal">
                              <div class="form-group">
                                <div class="col-md-12" v-if="issearchfromctlg">
                                  <v-select
                                    :options="optionsCatalog"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="selectedCatalog"
                                    @search="onSearchFromCatalog"
                                    @change="onSearchFromCatalogChanged"
                                    :placeholder="'Search by catalog name'"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-pct12" />
                                      <div
                                        class="d-center"
                                      >{{ option.name + " ( "+option.servicechannel.name+" )" }}</div>
                                    </template>
                                  </v-select>
                                </div>
                                <div class="col-md-12">
                                  <label>Product Cat. Tier 1</label>
                                  <v-select
                                    :options="product_category_tier_1"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="productCategoryTier1Selected"
                                    @change="onChangeProductCategoryTier1($event)"
                                    v-validate="'required'"
                                    name="Product Categorization Tier 1"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-pct1" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Product Categorization Tier 1')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Product Categorization Tier 1') }}</span>
                                </div>
                                <div class="col-md-12">
                                  <label>Product Cat. Tier 2</label>
                                  <v-select
                                    :options="product_category_tier_2"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="productCategoryTier2Selected"
                                    @change="onChangeProductCategoryTier2($event)"
                                    v-validate="'required'"
                                    name="Product Categorization Tier 2"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-pct2" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Product Categorization Tier 2')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Product Categorization Tier 2') }}</span>
                                </div>
                                <div class="col-md-12">
                                  <label>Product Cat. Tier 3</label>
                                  <v-select
                                    :options="product_category_tier_3"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="productCategoryTier3Selected"
                                    @change="onChangeProductCategoryTier3($event)"
                                    v-validate="'required'"
                                    name="Product Categorization Tier 3"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-pct3" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Product Categorization Tier 3')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Product Categorization Tier 3') }}</span>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="col-md-12">
                                  <label>Operational Cat. Tier 1</label>
                                  <v-select
                                    :options="operational_category_tier_1"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="operationalCategoryTier1Selected"
                                    @change="onChangeOprationalCategoryTier1($event)"
                                    v-validate="'required'"
                                    name="Operational Categorization Tier 1"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-oct1" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Operational Categorization Tier 1')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Operational Categorization Tier 1') }}</span>
                                </div>
                                <div class="col-md-12">
                                  <label>Operational Cat. Tier 2</label>
                                  <v-select
                                    :options="operational_category_tier_2"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="operationalCategoryTier2Selected"
                                    @change="onChangeOprationalCategoryTier2($event)"
                                    v-validate="'required'"
                                    name="Operational Categorization Tier 2"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-oct2" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Operational Categorization Tier 2')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Operational Categorization Tier 2') }}</span>
                                </div>
                                <div class="col-md-12">
                                  <label>Operational Cat. Tier 3</label>
                                  <v-select
                                    :options="operational_category_tier_3"
                                    :selectOnTab="true"
                                    label="name"
                                    v-model="operationalCategoryTier3Selected"
                                    v-validate="'required'"
                                    name="Operational Categorization Tier 3"
                                  >
                                    <template slot="option" slot-scope="option">
                                      <input type="hidden" :value="option.id" key="incident-oct3" />
                                      <div class="d-center">{{ option.name }}</div>
                                    </template>
                                  </v-select>
                                  <span
                                    v-show="errors.has('Operational Categorization Tier 3')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Operational Categorization Tier 3') }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-7 col-md-offset-5">
            <button
              type="button"
              class="btn btn-info pull-right"
              data-dismiss="modal"
              @click="closeWindow"
              style="width:90px;"
            >Cancel</button>
            <div
              v-if="(processstatus==='BOOKED' || processstatus==='INPROGRESS' || processstatus ==='PENDING' || processstatus ==='WAITINGAPR' || processstatus ==='PLANNING') && source === 'WA'"
            >
              <div v-if="rqdata.incident.prod_cat_tier1 === ''">
                <button v-if="rqdata.RemedyTicketId ==null"
                  type="button"
                  class="btn btn-info pull-right"
                  :disabled="submitted?true:false"
                  @click="createIncident"
                  style="width:120px;"
                >Create Incident</button>
                <button v-else
                  type="button"
                  class="btn btn-info pull-right"
                  :disabled="submitted?true:false"
                  @click="createIncident"
                  style="width:120px;"
                >Update Incident</button>
              </div>
              <div
                v-else-if="(rqdata.ActionTicketCreation === 'IN_PROCESS' || rqdata.ActionTicketCreation ==='IN_MERGED') && (rqdata.AssigneeId != auth.id && rqdata.EmployeeAssigneeId == auth.employee_remedy_id) && (rqdata.incident.prod_cat_tier1 !== '')"
              >
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  :data-dismiss="submitted?'modal':null"
                  @click="markForFeedback('IN_REVIEW')"
                  style="width:120px;"
                >Request Review</button>
                <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-delegate-manager"
                  style="width:123px;"
                  @click="delegateTaskToOther('modal-delegate-manager')"
                >Delegate</button>
              </div>
              <div
                v-else-if="(rqdata.ActionTicketCreation === 'IN_REVIEW') && (rqdata.AssigneeId != auth.id && rqdata.EmployeeAssigneeId == auth.employee_remedy_id)"
              >
                <!-- <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-incident-delegate"
                  style="width:140px;"
                  @click="delegateTask(true)"
                >Change Dispatcher</button>-->
                <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-incident-delegate"
                  style="width:123px;"
                  @click="delegateTask(false)"
                >Change Assignee</button>
                <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-delegate-manager"
                  style="width:123px;"
                  @click="delegateTask('modal-delegate-manager')"
                >Delegate</button>
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  :data-dismiss="submitted?'modal':null"
                  @click="markForFeedback('IN_MARK_CLS')"
                  style="width:130px;"
                >Mark for Closure</button>
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  :data-dismiss="submitted?'modal':null"
                  @click="markForFeedback('IN_PROCESS')"
                  style="width:130px;"
                >Mark for Feedback</button>
              </div>
              <div
                v-else-if="(rqdata.ActionTicketCreation === 'IN_PROCESS' || rqdata.ActionTicketCreation ==='IN_MERGED') && (rqdata.AssigneeId == auth.id && rqdata.EmployeeAssigneeId == auth.employee_remedy_id)"
              >
                <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-incident-delegate"
                  style="width:123px;"
                  @click="delegateTask(false)"
                >Change Assignee</button>
                <button
                  type="submit"
                  class="btn btn-info"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-delegate-manager"
                  style="width:123px;"
                  @click="delegateTask('modal-delegate-manager')"
                >Delegate</button>
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  :data-dismiss="submitted?'modal':null"
                  @click="closeDispathcerTicket"
                  style="width:130px;"
                >Resolve</button>
              </div>
              <div v-else-if="rqdata.ActionTicketCreation === 'IN_MARK_CLS'">
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  :data-dismiss="submitted?'modal':null"
                  @click="closeDispathcerTicket"
                  style="width:130px;"
                >Resolve</button>
              </div>
              <div v-else-if="rqdata.ActionTicketCreation === 'IN_STAGED' && rqdata.AssigneeId == auth.id && rqdata.EmployeeAssigneeId == auth.employee_remedy_id && rqdata.incident.prod_cat_tier1 !== '' && rqdata.RemedyTicketId === null">
                <button
                  type="button"
                  class="btn btn-info pull-right"
                  :disabled="submitted?true:false"
                  @click="createIncident"
                  style="width:120px;"
                >Create Incident</button>
              </div>
            </div>
            <div v-else-if="processstatus=='DISPATCH'">
              <button
                type="submit"
                class="btn btn-info pull-right"
                :data-dismiss="submitted?'modal':null"
                @click="saveDispatcherTicket"
                style="width:90px;"
              >Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
Vue.component("dispatcher-feedback-log", ()=> import("./FeedbackLog.vue"));

import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileMetadata from "filepond-plugin-file-metadata";
// import moment from 'moment';
const FilePond = vueFilePond(FilePondPluginFileMetadata);

export default {
  props: [
    "source",
    "requestdata",
    "isdataloaded",
    "ismodal",
    "modalname",
    "processstatus",
    "auth",
    "servicetype"
  ],

  components: {
    FilePond
  },

  data: function() {
    return {
      metadata: {
        requestId: this.requestdata.id
      },
      conf: {
        url: "/whatsapp/dispatcher/create/staging/",
        process: {
          url: "./upload_image",
          method: "POST",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleAddFileResponse,
          onerror: null,
          ondata: null
        },
        revert: {
          url: "./delete_image",
          method: "DELETE",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleDeleteFileResponse,
          onerror: null,
          ondata: null
        }
      },
      submitted: false,
      feedback: "",
      messages: [],
      myFiles: [],
      compoptions: ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"],
      custoptions: [],
      asgnoptions: [],
      assignee: null,
      customer: null,
      company: "PT. BANK MANDIRI, TBK",
      notes: "",
      summary: "",
      phonenumber: "",
      optionsImpact: [
        "1-Extensive/Widespread",
        "2-Significant/Large",
        "3-Moderate/Limited",
        "4-Minor/Localized"
      ],
      optionsSurvey: [
        "1 - Tidak Puas",
        "2 - Kurang Puas",
        "3 - Cukup Puas",
        "4 - Puas",
        "5 - Sangat Puas"
      ],
      impact: "4-Minor/Localized",
      urgency: "4-Low",
      service: "",
      survey:"",
      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],
      optionsService: [],
      product_category_tier_1: [
        "APPLICATION",
        "CREDIT CARD",
        "ELECTRONIC CHANNEL",
        "Hardware",
        "HC4U",
        "INFRASTRUCTURE",
        "IT SECURITY",
        "KARTU KREDIT",
        "LAYANAN CABANG",
        "MFSCM WHOLESALE",
        "MYIT",
        "SECURITY SYSTEM",
        "Service",
        "TBR",
        "TRANSACTION BANKING PRODUCT",
        "WHOLESALE"
      ],
      product_category_tier_2: [],
      product_category_tier_3: [],
      operational_category_tier_1: [],
      operational_category_tier_2: [],
      operational_category_tier_3: [],
      productCategoryTier1Selected: null,
      productCategoryTier2Selected: null,
      productCategoryTier3Selected: null,
      operationalCategoryTier1Selected: null,
      operationalCategoryTier2Selected: null,
      operationalCategoryTier3Selected: null,
      rqdatatmp: null,

      optionsCatalog: [],
      selectedCatalog: null,
      issearchfromctlg: false
    };
  },

  computed: {
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    }
  },

  watch: {
    requestdata: function() {
      this.rqdatatmp = this.requestdata;
      if (this.processstatus === "DISPATCH") {
        this.reset();
      }
    }
  },

  methods: {
    delegateTaskToOther(modalname) {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: modalname
      });
    },

    delegateTask(changeadmin) {
      if (changeadmin) {
        this.$emit("changeadmin", {
          request: this.requestdata,
          isdelegating: true,
          modalname: "modal-incident-delegate"
        });
      } else {
        this.$emit("taskdelegated", {
          request: this.requestdata,
          isdelegating: true,
          modalname: "modal-incident-delegate"
        });
      }
    },

    closeDispathcerTicket() {
      if (this.rqdata.messages.length != 0) {
        this.submitted = true;
        let loader = this.$parent.$loading.show({
          loader: "dots"
        });
        axios
          .post("/whatsapp/dispatcher/create/staging/close", {
            requestId: this.rqdata.id,
            remedyTicketId: this.rqdata.RemedyTicketId,
            employeeAssigneeId: this.rqdata.EmployeeAssigneeId,
            employeeAssigneeGroupId: this.rqdata.EmployeeAssigneeGroupId
          })
          .then(res => {
            this.$emit("push-flash-notification", {
              status: res.data.status,
              id: res.data.responsedata.id,
              message: res.data.message
            });
            loader.hide();
            this.reset();
          })
          .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              this.$emit("push-flash-notification", {
                status: false,
                id: "catch error code",
                message: error.response.data.message
              });
              loader.hide();
              this.reset();
            }
          });
      } else {
        flash({
          id: this.rqdata.id,
          message:
            "Feedback log is required, you need to add your resolution in feeback log.",
          flashtype: "danger"
        });
      }
    },

    markForFeedback(markstatus) {
      this.submitted = true;
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      axios
        .post("/whatsapp/dispatcher/create/staging/mark/" + markstatus, {
          originUserId: this.rqdata.AssigneeId,
          requestId: this.rqdata.id,
          targetEmployeeId: this.rqdata.EmployeeAssigneeId,
          targetEmployeeGroupId: this.rqdata.EmployeeAssigneeGroupId
        })
        .then(res => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            id: res.data.responsedata.id,
            message: res.data.message
          });
          loader.hide();
          this.reset();
        })
        .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              this.$emit("push-flash-notification", {
                status: false,
                id: "catch error code",
                message: error.response.data.message
              });
              loader.hide();
              this.reset();
            }
          });
    },

    createIncident() {
      this.$validator.validateAll().then(result => {
        this.submitted = result;
        if (result) {
          var content = {
              impact: this.impact,
              urgency: this.urgency,
              service: this.service,
              survey: this.survey,
              prod_cat_tier1: this.productCategoryTier1Selected,
              prod_cat_tier2: this.productCategoryTier2Selected,
              prod_cat_tier3: this.productCategoryTier3Selected,
              opr_cat_tier1: this.operationalCategoryTier1Selected,
              opr_cat_tier2: this.operationalCategoryTier2Selected,
              opr_cat_tier3: this.operationalCategoryTier3Selected,
              resolution: "",
              employeeAssigneeId: this.requestdata.EmployeeAssigneeId,
              employeeAssigneeGroupId: this.requestdata.EmployeeAssigneeGroupId
            };
            var url = this.rqdata.RemedyTicketId == null ? "/whatsapp/dispatcher/create/staging/remedyticket" : "/whatsapp/dispatcher/update/tier";
            var request = {
              id: this.requestdata.id,
              content: content
            };
          let loader = this.$parent.$loading.show({
            loader: "dots"
          });
          axios
            .post(url, request)
            .then(res => {
              if (res.data.status) {
                this.rqdata = res.data.responsedata;
                this.processstatus = res.data.responsedata.ProcessStatus;
                flash({
                  id: this.requestdata.id,
                  message: res.data.message,
                  flashtype: "info"
                });
              } else {
                flash({
                  id: this.requestdata.id,
                  message: res.data.message + ", WSDL: " + res.data.wsdl,
                  flashtype: "danger"
                });
              }
              loader.hide();
              this.submitted = false;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
                loader.hide();
                this.submitted = false;
              }
            });
        }
      });
    },

    saveDispatcherTicket() {
      this.removeInvalidChars();
        this.$validator.validateAll().then(result => {
          this.submitted = result;
          var actualStatus = "INPROGRESS";
          if (this.assignee == null) {
            actualStatus = "QUEUED";
          }
          if (result) {
            let loader = this.$parent.$loading.show({
              loader: "dots"
            });
            var content = {
              requestId: this.requestdata.id,
              company: this.company,
              customer: this.customer,
              phoneNumber: this.phonenumber,
              assignee: this.assignee,
              summary: this.summary,
              notes: this.notes,
              processStatus: actualStatus,
              actionTicketCreation: "IN_STAGED",
              reportedSource: this.source,
              impact: this.impact,
              urgency: this.urgency,
              service: this.service,
              survey: this.survey
            };
            axios
              .post("/whatsapp/dispatcher/create/staging/update", content)
              .then(res => {
                this.$emit("push-flash-notification", {
                  status: res.data.status,
                  id: res.data.responsedata.id,
                  message: res.data.message
                });
                loader.hide();
                this.reset();
              })
              .catch(error => {
                if (error.response.status === 419 || error.response.status === 401) {
                  window.alert(
                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                  );
                  location.reload(false);
                } else {
                  this.$emit("push-flash-notification", {
                    status: false,
                    id: "catch error code",
                    message: error.response.data.message
                  });
                  loader.hide();
                  this.reset();
                }
              });
          }
        });
    },

    sendFeedback(feedbackMessage) {
      this.feedback = "";
      axios
        .post("/whatsapp/dispatcher/create/staging/add_feedback", {
          requestid: this.requestdata.id,
          feedback: feedbackMessage
        })
        .then(response => {
          if (this.processstatus !== "DISPATCH") {
            this.rqdata.messages.push(response.data.data);
          } else {
            this.messages.push(response.data.data);
          }
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    handleAddFileResponse(response) {
      var data = JSON.parse(response);
      var responsedata = data.responsedata;
      var message = {
        id: responsedata.id,
        requestId: responsedata.requestId,
        senderId: responsedata.senderId,
        senderName: responsedata.senderName,
        content: responsedata.content,
        timestamp: responsedata.timestamp
      };
      if (this.processstatus !== "DISPATCH") {
        this.rqdata.messages.push(message);
      } else {
        this.messages.push(message);
      }
      return responsedata.requestId + "_" + responsedata.id;
    },

    handleDeleteFileResponse(uniqueId) {
      if (this.processstatus !== "DISPATCH") {
        var obj = this.rqdata.messages.find(
          item => item.id === parseInt(String(uniqueId).split("_")[1])
        );
        var idx = this.rqdata.messages.indexOf(obj);
        this.$delete(this.rqdata.messages, idx);
      } else {
        var obj = this.messages.find(
          item => item.id === parseInt(String(uniqueId).split("_")[1])
        );
        var idx = this.messages.indexOf(obj);
        this.$delete(this.messages, idx);
      }

      return uniqueId;
    },

    handleFilePondInit: function() {
      var file = this.$refs.pond.getFiles();
    },

    onSearchCustomer(search) {
      if (search.length >= 4) {
        this.searchCustomer(true, search, this, this.company);
      }
    },

    searchCustomer: _.debounce((loading, search, vm, company) => {
      axios
        .post("/employee_remedy/customer_profile", {
          inputname: search,
          company: company
        })
        .then(res => {
          vm.custoptions = res.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 1000),

    onSearchAssignee(search) {
      if (search.length >= 4) {
        this.searchAssignee(true, search, this);
      }
    },

    searchAssignee: _.debounce((loading, search, vm) => {
      axios
        .post("/user_configuration/search/bygroup", {
          inputname: search
        })
        .then(res => {
          vm.asgnoptions = res.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 1000),

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    reset() {
      this.service = "";
      this.survey = "";
      this.phonenumber = "";
      this.messages = [];
      this.submitted = false;
      this.myFiles = [];
      this.compoptions = ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"];
      this.custoptions = [];
      this.asgnoptions = [];
      this.assignee = null;
      this.customer = null;
      this.company = "PT. BANK MANDIRI, TBK";
      this.notes = "";
      this.summary = "";
      this.impact= "4-Minor/Localized",
      this.urgency= "4-Low",
      this.$validator.reset();
    },

    onChangeServiceCI(event) {
        this.service = "";
        if (event != null) {
          axios
            .post("/service")
            .then(response => {
              this.optionsService = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
    },

    onChangeProductCategoryTier1(event) {
      if (!this.issearchfromctlg) {
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.product_category_tier_2 = [];
          this.product_category_tier_3 = [];
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/product_categorization_tier2", {
              productCategoryTier1: this.productCategoryTier1Selected
            })
            .then(response => {
              this.product_category_tier_2 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeProductCategoryTier2(event) {
      if (!this.issearchfromctlg) {
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.product_category_tier_3 = [];
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/product_categorization_tier3", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected
            })
            .then(response => {
              this.product_category_tier_3 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeProductCategoryTier3(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_1", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected
            })
            .then(response => {
              this.operational_category_tier_1 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeOprationalCategoryTier1(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_2", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected
            })
            .then(response => {
              this.operational_category_tier_2 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeOprationalCategoryTier2(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_3", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected,
              operationalCategoryTier2: this.operationalCategoryTier2Selected
            })
            .then(response => {
              this.operational_category_tier_3 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    searchFromCatalog() {
      this.issearchfromctlg = true;
    },

    onSearchFromCatalogChanged() {
      if (this.selectedCatalog !== null) {
        this.productCategoryTier1Selected = this.selectedCatalog.mapper_prod_tier_1;
        this.productCategoryTier2Selected = this.selectedCatalog.mapper_prod_tier_2;
        this.productCategoryTier3Selected = this.selectedCatalog.mapper_prod_tier_3;
        this.operationalCategoryTier1Selected = this.selectedCatalog.mapper_opr_tier_1;
        this.operationalCategoryTier2Selected = this.selectedCatalog.mapper_opr_tier_2;
        this.operationalCategoryTier3Selected = this.selectedCatalog.mapper_opr_tier_3;
      } else {
        this.productCategoryTier1Selected = null;
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
      }
    },

    onSearchFromCatalog(search) {
      var enc_source = "EMAIL";
      switch (this.source) {
        case "Phone":
          enc_source = "CALL";
          break;
        case "Whatsapp":
          enc_source = "WHATSAPP";
          break;
        default:
      }
      if (search.length >= 3) {
        this.searchCatalog(false, search, this.servicetype, enc_source, this);
      }
    },

    searchCatalog: _.debounce((loading, search, servicetype, enc_source, vm) => {
      axios
        .post("/dashboard/request/search/servicecatalog", {
          name: search,
          serviceType: servicetype,
          nameOfService: enc_source
        })
        .then(res => {
          vm.optionsCatalog = res.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 1500),

    clearFromCatalog() {
      this.issearchfromctlg = false;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
    },

    removeInvalidChars() {
      var regExpr2 = /[#]/g;
      this.summary = this.summary.replace(regExpr2, "");
      var regExpr = /[^\x00-\x7F]/g
      this.notes = this.notes.replace(regExpr2, "");
      this.notes = this.notes.replace(regExpr, "");
    },
    // ------------------------------------------------------------------ PERUBAHAN
    objmessage(payload){
      this.feedback = "";
      const log = (arg) => console.log(arg);
      let index1 = this.rqdata.messages.findIndex((item) => item.id == payload.id)

      log({
        payload:payload,
        index1: index1,
        rqdata: this.rqdata.messages
      });

      axios
        .post("/whatsapp/dispatcher/create/staging/delete_feedback", {
          payload: payload
        })
        .then(response => {
          if (response.data.status == true) {
            if (this.processstatus !== "DISPATCH") {
              this.rqdata.messages.splice(index1, 1);
              log({
                test: response.data.message
              });
            }
          }
        })
        .catch(error => {
           if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
        });
    },
    // ------------------------------------------------------------------ PERUBAHAN

  }
};
</script>
