<template> 
  <div class="panel panel-default" style="height:420px">
    <div class="panel-heading">Feedback Log</div>
    <div class="panel-body panel-default">
      <div v-if="messages.length == 0">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          There is no log yet
        </div>
      </div>
      <div
        class="messages messages-img"
        :style="processstatus!=='DISPATCH' ?'max-height:240px;overflow-Y: auto; padding:10px;':'max-height:360px;overflow-Y: auto; padding:10px;'"
        ref="feedbacklog"
        v-else
      >
        <div
          v-for="message in messages"          
          :key="message.id"
        >
          <div class="item item-visible" :class="{in:(message.senderId != auth.id)}">
            <div class="image">
              <img :src="'../../assets/images/users/no-image.jpg'" alt="Me" />
            </div>
            <div
              class="text"
              :style="message.senderId == auth.id ? {'background':'#fff'}:{'background':'#F6F6F6'}"
            >
              <div class="heading">
                <a href="#">{{message.senderName}}</a>
                <span class="date">{{message.timestamp | mydateformat }}</span>
              </div>
              <div v-if="message.content == '@!image'">
                <a
                  class="gallery-item"
                  :href="app_url+'/storage/'+message.requestId+'/'+message.requestId+'_'+message.id+'.jpeg'"
                  title="photos"
                  data-gallery
                >
                  <div class="text-center" style="float:none;margin:0 auto;">
                    <img
                      :src="app_url+'/storage/'+message.requestId+'/'+message.requestId+'_'+message.id+'.jpeg'"
                      width="200px"
                      height="100px"
                    />
                  </div>
                </a>
              </div>
              <div v-else>{{message.content}}</div>
            <!-- ------------------------------------------------------------------ PERUBAHAN -->
             <div class="flex-delete" v-if="message.senderId == auth.id && processstatus  !=='DISPATCH' ">
               <span class="icon-delete" @click="handleChatDelete(message)" >Delete</span>
             </div>
                 <!-- ------------------------------------------------------------------ PERUBAHAN -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["messages", "auth","processstatus"],
  data(){
    return{
      app_url: process.env.MIX_APP_URL,
    }
  },
  watch:{
    messages(newval){
      if (newval.length > 0) {
      this.handleScrollToEnd()
      } 
    }
  },
  methods:{
    // ------------------------------------------------------------------ PERUBAHAN
    handleChatDelete(message){
      this.$emit("obj-message", {
        content: message.content,
        id: message.id,
        requestId: message.requestId,
        senderId: message.senderId
      });
    },
    handleScrollToEnd(){
      setTimeout(()=> {
        let ref = this.$refs.feedbacklog
        ref.scrollTop = ref.scrollHeight
        console.log({scrolled: ref});
      },800)
    }
    // ------------------------------------------------------------------ PERUBAHAN

  },
  mounted(){
    this.handleScrollToEnd()
  }

};
</script>
<!-- ------------------------------------------------------------------ PERUBAHAN -->

<style scoped>
  .flex-delete{
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
  }

  .icon-delete:hover{
    color: #ddd;
  } 
  .icon-delete{
    color: #ff0000;
  }
</style>
<!-- ------------------------------------------------------------------ PERUBAHAN -->
