<template>
  <v-container class="pt-1 pb-1 pl-3 pr-3">
    <v-snackbar
      v-for="inf in infos"
      :key="inf.alertid"
      v-model="inf.isshow"
      top
      :color="inf.type"
      :timeout="3000"
    >
      <p style="color:white; font-size:15px;">{{inf.content}}</p>

      <template v-slot:action="{ attrs }">
        <v-chip v-bind="attrs" small fab @click="inf.isshow = false" :color="inf.type">
          <v-icon color="white">mdi-close</v-icon>
        </v-chip>
      </template>
    </v-snackbar>
  </v-container>
</template>
<script>
export default {
  props: ["paramResponse"],
  data() {
    return {
      infos: []
    };
  },
  watch: {
    paramResponse: function(newVal) {
      this.flash(this.paramResponse);
      setTimeout(function() {
        newVal.isshow = false;
      }, 3000);
    }
  },
  methods: {
    flash(paramResponse) {
      this.infos.push(paramResponse);
    }
  }
};
</script>