<template>
    <v-container class="pt-1 pb-1 pl-3 pr-3">
      <v-alert 
        v-for="inf in infos" :key="inf.alertid"
        dismissible
        v-model="inf.isshow" 
        dense 
        :type="inf.type"
        >
        {{inf.content}}
      </v-alert>
    </v-container>
</template>
<script>
export default {
  props: ["info"],
  data() {
    return {
      infos: [],
    };
  },
  watch: {
    info: function(newVal) {
      if(newVal.typeId == 3 || newVal.typeId == 4 || newVal.typeId == 5 || newVal.typeId == 6){
        this.flash(this.info);
        setTimeout(function(){
          newVal.isshow = false;
        }, 3000);
      }
    },
  },
  methods: {
    flash(info) {
      this.infos.push(info);
    },
  }
};
</script>