<template>
  <div
    class="modal"
    id="modal-workorder-closure"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="closuring"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Work Order Closure</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="isclosuring"></flash>
              <div v-if="closuring">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Request Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.id"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Remedy Ticket Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.RemedyTicketId"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Status</label>
                          <v-select
                            :options="options"
                            label="name"
                            v-model="status"
                            v-validate="'required'"
                            name="Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Status')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Status') }}</span>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Add Info Notes</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="notes"
                            style="resize: none;height:100%;"
                            placeholder="Please type your note"
                            v-model="notes"
                            v-validate="'required'"
                            :disabled="!(status == 'Completed'||status=='Cancelled' || status == 'Rejected' || status == 'Pending')"
                          ></textarea>
                          <span
                            v-show="errors.has('notes')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('notes') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            style="width:90px;"
            :data-dismiss="submitted?'modal':null"
            @click="executeTaskClosure"
          >Submit</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @click="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isclosuring"],

  computed: {
    closuring: {
      get: function() {
        return this.closuringtmp;
      },
      set: function(newvalue) {
        this.closuringtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isclosuring: function() {
      this.closuringtmp = this.isclosuring;
    }
  },

  data: function() {
    return {
      closuringtmp: false,
      submitted: false,
      options: [
        "Pending",
        "Waiting Approval",
        "In Progress",
        "Planning",
        "Completed",
        "Cancelled",
        "Rejected"
      ],
      status: "",
      notes: ""
    };
  },
  methods: {
    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    reset() {
      this.submitted = false;
      this.status = "";
      this.notes = "";
      this.$validator.reset();
    },

    executeTaskClosure() {
      if (this.requestobject.ActionTicketCreation != null) {
        if (this.requestobject.ActionTicketCreation.includes("PENDING")) {
          flash({
            id: "untuk pending",
            message:
              "Request ini masih pending, Mohon retry terlebih dahulu melalui menu PENDING atau HUBUNGI ADMINISTRATOR",
            flashtype: "danger"
          });
        } else {
          this.$validator.validateAll().then(result => {
            this.submitted = result;
            if (result) {
              var recdata = {
                id: this.requestobject.id,
                assigneeId: this.requestobject.AssigneeId,
                status: this.status,
                notes: this.notes
              };
              this.closingTask(recdata);
            }
          });
        }
      }else{
        flash({
          id: "untuk null actionticketcreation",
          message: "ActionTicketCreation Null, Mohon HUBUNGI ADMINISTRATOR",
          flashtype: "danger"
        });
      }
    },

    closingTask(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.closuring = false;
      axios.post("/dashboard/request/closeWO", recdata).then(res => {
        this.$emit("push-flash-notification", {
          status: res.data.status,
          id: this.requestobject.id,
          message: res.data.message
        });
        loader.hide();
      })
      .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              wsdlStatus: false,
              id: "catch error code",
              message: error.response.data.message
            });
            loader.hide();
          }
        });
    }
  }
};
</script>
