<template>
  <div
    class="modal"
    id="modal-incident-closure"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="closuring"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Incident Closure</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="isclosuring"></flash>
              <div v-if="closuring">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Request Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.id"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Remedy Ticket Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.RemedyTicketId"
                          readonly="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Status</label>
                          <v-select
                            :options="options"
                            label="name"
                            v-model="status"
                            v-validate="'required'"
                            name="Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Status')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Status') }}</span>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Resolution (min 20 character)</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="resolution"
                            style="resize: none;height:100%;"
                            placeholder="Please type your resolution"
                            v-model="resolution"
                            v-validate="'required|min:20'"
                            :disabled="!(status == 'Resolved'||status=='Cancelled')"
                          ></textarea>
                          <span
                            v-show="errors.has('resolution')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('resolution') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:90px;"
            :data-dismiss="submitted?'modal':null"
            @click="executeIncidentClosure"
          >Submit</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @canplay="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isclosuring"],

  computed: {
    closuring: {
      get: function() {
        return this.closuringtmp;
      },
      set: function(newvalue) {
        this.closuringtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isclosuring: function() {
      this.closuringtmp = this.isclosuring;
    }
  },

  data: function() {
    return {
      closuringtmp: false,
      submitted: false,
      options: ["In Progress", "Pending", "Resolved", "Cancelled"],
      status: "In Progress",
      resolution: ""
    };
  },

  methods: {
    reset() {
      this.submitted = false;
      this.status = "";
      this.resolution = "";
      this.$validator.reset();
    },

    executeIncidentClosure() {
      if (this.requestobject.ActionTicketCreation != null) {
        if (this.requestobject.ActionTicketCreation.includes("PENDING")) {
          flash({
            id: "untuk pending",
            message:
              "Request ini masih pending, Mohon retry terlebih dahulu melalui menu PENDING atau HUBUNGI ADMINISTRATOR",
            flashtype: "danger"
          });
        } else {
          if (this.requestobject.chatsubscribeduser != null) {
            if (
              this.requestobject.chatsubscribeduser.current_active_mode ==
              "LIVECHAT"
            ) {
              flash({
                id: "untuk info livechat",
                message:
                  "Saat ini " +
                  this.requestobject.chatsubscribeduser.user_real_name +
                  " sedang dalam mode LIVECHAT, mohon diselesaikan terlebih dahulu LIVECHAT nya",
                flashtype: "warning"
              });
            } else {
              this.IncidentClosure();
            }
          } else {
            this.IncidentClosure();
          }
        }
      } else {
        flash({
          id: "untuk null actionticketcreation",
          message: "ActionTicketCreation Null, Mohon HUBUNGI ADMINISTRATOR",
          flashtype: "danger"
        });
      }
    },

    IncidentClosure() {
      this.$validator.validateAll().then(result => {
        this.submitted = result;
        if (result) {
          var recdata = {
            id: this.requestobject.id,
            assigneeId: this.requestobject.AssigneeId,
            status: this.status,
            resolution: this.resolution
          };
          this.updateIncident(recdata);
        }
      });
    },

    updateIncident(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.closuring = false;
      axios
        .post("/dashboard/incident/update", recdata)
        .then(res => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            wsdlStatus: res.data.wsdlStatus,
            id: this.requestobject.id,
            message: res.data.message
          });
          loader.hide();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              wsdlStatus: false,
              id: "catch error code",
              message: error.response.data.message
            });
            loader.hide();
          }
        });
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    }
  }
};
</script>