<template>
  <div
    class="modal"
    id="modal-create-ticket"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="incidentlivechat"
  >
    <div class="modal-dialog modal-lg" style="width: 90%">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="dataloaded">
            <h5 class="modal-title" id="smallModalHead">
              Update Incident from Livechat with Ref Id :
              {{ requestobject.inbox.id }} -
              {{ requestobject.inbox.RemedyTicketId }}
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading
              :isdataloaded="isdataloaded"
            ></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="modal-body">
            <div v-if="incidentlivechat && dataloaded">
              <div class="col-md-12">
                <div class="col-md-4" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 610px">
                    <div class="panel-heading">Request Summary</div>
                    <div
                      class="panel-body form-horizontal"
                      style="border-radius: 10px"
                    >
                      <div class="form-group">
                        <!-- <div class="col-md-12">
                          <label>Ticket No</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.incident.incident_number"
                            readonly="true"
                          />
                        </div> -->

                        <div class="col-md-12">
                          <label>Company</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.incident.requester_company"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Customer</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.incident.requester_full_name"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Notes</label>
                          <textarea
                            class="form-control"
                            rows="4"
                            name="Notes"
                            style="resize: none; height: 50%"
                            readonly="true"
                            :value="requestobject.incident.notes_description"
                            v-validate="'required'"
                          ></textarea>
                          <span
                            v-show="errors.has('Notes')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Notes") }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Summary</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.incident.summary_description"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Impact</label>
                          <v-select
                            :options="optionsImpact"
                            label="name"
                            v-model="impact"
                            v-validate="'required'"
                            :selectOnTab="true"
                            name="Impact"
                            @change="onChangeServiceCI($event)"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Impact')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Impact") }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Urgency</label>
                          <v-select
                            :options="optionsUrgency"
                            label="name"
                            v-model="urgency"
                            v-validate="'required'"
                            name="Urgency"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Urgency')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Urgency") }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Service</label>
                          <v-select
                            :options="optionsService"
                            label="name"
                            v-model="service"
                            name="Service"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input
                                type="hidden"
                                :value="option.id"
                                key="incident-service"
                              />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Service')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Service") }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Survey</label>
                          <v-select
                            :options="optionsSurvey"
                            label="name"
                            v-model="survey"
                            name="Survey"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input
                                type="hidden"
                                :value="option.id"
                                key="incident-survey"
                              />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Survey')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Survey") }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 540px">
                    <div class="panel-heading">
                      Assigned
                      <div class="pull-right">
                        <a
                          href="#"
                          v-if="!assignedtome && !isassigntomeload"
                          @click="assignToMe"
                          >Assigne To Me</a
                        >
                        <a
                          href="#"
                          v-else-if="!assignedtome && isassigntomeload"
                        >
                          <div
                            class="spinner-loader2"
                            style="float: left; padding: 3px; width: 5px"
                          ></div>
                        </a>
                        <a href="#" v-else @click="assignToOther"
                          >Assign To Other</a
                        >
                      </div>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label>Status</label>
                          <v-select
                            :options="optionsStatus"
                            label="name"
                            v-model="status"
                            v-validate="'required'"
                            name="Status"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input
                                type="hidden"
                                :value="option.id"
                                key="incident-status"
                              />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Status')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Status") }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Company</label>
                          <v-select
                            :options="assigned_support_company"
                            label="name"
                            v-model="assignedSupportCompanySelected"
                            @change="onChangeAssignedSupportCompany($event)"
                            v-validate="'required'"
                            name="Assigned Support Company"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Support Company')"
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Assigned Support Company")
                            }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Organization</label>
                          <v-select
                            :options="assigned_support_organization"
                            label="name"
                            v-model="assignedSupportOrganizationSelected"
                            @change="
                              onChangeAssignedSupportOrganization($event)
                            "
                            v-validate="'required'"
                            name="Assigned Support Organization"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Support Organization')"
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Assigned Support Organization")
                            }}</span
                          >
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Group</label>
                          <v-select
                            :options="assigned_support_group"
                            label="name"
                            v-model="assignedSupportGroupSelected"
                            @change="onChangeAssignedSupportGroup($event)"
                            v-validate="'required'"
                            name="Assigned Group"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Group')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Assigned Group") }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Assignee</label>
                          <div
                            class="pull-right text-danger"
                            style="font-size: 9px; margin-top: 3px"
                          >
                            * optional, left blank will be assign to support
                            group.
                          </div>
                          <v-select
                            :options="assigned_name"
                            label="name"
                            v-model="assigneeSelected"
                            name="Assigned"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Assigned") }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Resolution</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="Resolution"
                            style="resize: none; height: 50%"
                            v-model="resolution"
                            v-validate="'required|min:20'"
                            :disabled="
                              !(status == 'Cancelled' || status == 'Resolved')
                            "
                            key="incident-resolution"
                          ></textarea>
                          <span
                            v-show="errors.has('Resolution')"
                            class="valid-feedback text-danger"
                            >{{ errors.first("Resolution") }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 260px">
                    <div class="panel-heading">
                      Product Categorization
                      <div class="pull-right">
                        <a
                          href="#"
                          v-if="!issearchfromctlg"
                          @click="searchFromCatalog"
                          >Search from catalog</a
                        >
                        <a href="#" v-else-if="!issearchfromctlg">
                          <div
                            class="spinner-loader2"
                            style="float: left; padding: 3px; width: 5px"
                          ></div>
                        </a>
                        <a href="#" v-else @click="clearFromCatalog">Clear</a>
                      </div>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <div class="col-md-12" v-if="issearchfromctlg">
                          <v-select
                            :options="optionsCatalog"
                            :selectOnTab="true"
                            label="name"
                            v-model="selectedCatalog"
                            @search="onSearchFromCatalog"
                            @change="onSearchFromCatalogChanged"
                            :placeholder="'Search by catalog name'"
                          >
                            <template slot="option" slot-scope="option">
                              <input
                                type="hidden"
                                :value="option.request_id"
                                key="incident-pct12"
                              />
                              <div class="d-center">
                                {{
                                  option.name +
                                  " ( " +
                                  option.operational_category_tier_2 +
                                  " )"
                                }}
                              </div>
                            </template>
                          </v-select>
                        </div>
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <v-select
                            :options="product_category_tier_1"
                            label="name"
                            v-model="productCategoryTier1Selected"
                            @change="onChangeProductCategoryTier1($event)"
                            v-validate="'required'"
                            name="Product Categorization Tier 1"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Product Categorization Tier 1')"
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Product Categorization Tier 1")
                            }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <v-select
                            :options="product_category_tier_2"
                            label="name"
                            v-model="productCategoryTier2Selected"
                            @change="onChangeProductCategoryTier2($event)"
                            v-validate="'required'"
                            name="Product Categorization Tier 2"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Product Categorization Tier 2')"
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Product Categorization Tier 2")
                            }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <v-select
                            :options="product_category_tier_3"
                            label="name"
                            v-model="productCategoryTier3Selected"
                            @change="onChangeProductCategoryTier3($event)"
                            v-validate="'required'"
                            name="Product Categorization Tier 3"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Product Categorization Tier 3')"
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Product Categorization Tier 3")
                            }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default" style="height: 260px">
                    <div class="panel-heading">Operational Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <v-select
                            :options="operational_category_tier_1"
                            label="name"
                            v-model="operationalCategoryTier1Selected"
                            @change="onChangeOprationalCategoryTier1($event)"
                            v-validate="'required'"
                            name="Operational Categorization Tier 1"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="
                              errors.has('Operational Categorization Tier 1')
                            "
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Operational Categorization Tier 1")
                            }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <v-select
                            :options="operational_category_tier_2"
                            label="name"
                            v-model="operationalCategoryTier2Selected"
                            @change="onChangeOprationalCategoryTier2($event)"
                            v-validate="'required'"
                            name="Operational Categorization Tier 2"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="
                              errors.has('Operational Categorization Tier 2')
                            "
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Operational Categorization Tier 2")
                            }}</span
                          >
                        </div>
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <v-select
                            :options="operational_category_tier_3"
                            label="name"
                            v-model="operationalCategoryTier3Selected"
                            v-validate="'required'"
                            name="Operational Categorization Tier 3"
                            :selectOnTab="true"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="
                              errors.has('Operational Categorization Tier 3')
                            "
                            class="valid-feedback text-danger"
                            >{{
                              errors.first("Operational Categorization Tier 3")
                            }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width: 90px"
            :data-dismiss="submitted ? 'modal' : null"
            @click="executeUpdateTicket"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            @click="closeWindow"
            style="width: 90px"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestid",
    "isincidentlivechat",
    "auth",
    "servicetype",
    "isdataloaded",
  ],

  computed: {
    incidentlivechat: {
      get: function () {
        return this.incidentlivechattmp;
      },
      set: function (newvalue) {
        this.incidentlivechattmp = newvalue;
      },
    },
  },

  watch: {
    isincidentlivechat: function () {
      this.reset();
      this.incidentlivechattmp = this.isincidentlivechat;
      if (this.isincidentlivechat) {
        // this.getLiveChatHistory(this.requestobject.id);
        this.getFromProperty(this.requestid);
      }
    },
  },

  data: function () {
    return {
      requestobject: {},
      dataloaded: false,
      issearchfromctlg: false,
      optionsCatalog: [],
      selectedCatalog: null,
      incidentlivechattmp: false,

      chathistory: "",

      submitted: false,

      optionsStatus: ["Assigned", "Resolved", "Cancelled"],

      optionsImpact: [
        "1-Extensive/Widespread",
        "2-Significant/Large",
        "3-Moderate/Limited",
        "4-Minor/Localized",
      ],

      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],

      optionsService: [],

      optionsIncidentType: [
        "User Service Restoration",
        "User Service Request",
        "Infrastructure Restoration",
        "Infrastructure Event",
      ],

      assignedtome: false,
      isassigntomeload: false,
      impact: "4-Minor/Localized",
      urgency: "4-Low",
      service: "",
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT",
      ],
      assignedSupportCompanySelected: null,
      assigned_support_organization: [],
      assignedSupportOrganizationSelected: null,
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null,
      status: "Resolved",
      statusReason: "No Further Action Required",
      resolution: null,
      product_category_tier_1: [
        "APPLICATION",
        "CREDIT CARD",
        "ELECTRONIC CHANNEL",
        "Hardware",
        "HC4U",
        "INFRASTRUCTURE",
        "IT SECURITY",
        "KARTU KREDIT",
        "LAYANAN CABANG",
        "MFSCM WHOLESALE",
        "MYIT",
        "SECURITY SYSTEM",
        "Service",
        "TBR",
        "TRANSACTION BANKING PRODUCT",
        "WHOLESALE",
      ],
      product_category_tier_2: [],
      product_category_tier_3: [],
      operational_category_tier_1: [],
      operational_category_tier_2: [],
      operational_category_tier_3: [],
      productCategoryTier1Selected: null,
      productCategoryTier2Selected: null,
      productCategoryTier3Selected: null,
      operationalCategoryTier1Selected: null,
      operationalCategoryTier2Selected: null,
      operationalCategoryTier3Selected: null,
      optionsSurvey: [
        "1 - Tidak Puas",
        "2 - Kurang Puas",
        "3 - Cukup Puas",
        "4 - Puas",
        "5 - Sangat Puas",
      ],
      survey: "",
    };
  },

  methods: {
    searchFromCatalog() {
      this.issearchfromctlg = true;
    },

    onSearchFromCatalogChanged() {
      if (this.selectedCatalog !== null) {
        this.productCategoryTier1Selected =
          this.selectedCatalog.product_category_tier_1;
        this.productCategoryTier2Selected =
          this.selectedCatalog.product_category_tier_2;
        this.productCategoryTier3Selected =
          this.selectedCatalog.product_category_tier_3;
        this.operationalCategoryTier1Selected =
          this.selectedCatalog.operational_category_tier_1;
        this.operationalCategoryTier2Selected =
          this.selectedCatalog.operational_category_tier_2;
        this.operationalCategoryTier3Selected =
          this.selectedCatalog.operational_category_tier_3;
      } else {
        this.productCategoryTier1Selected = null;
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
      }
    },

    onSearchFromCatalog(search) {
      var enc_source = "LIVECHAT";
      if (search.length >= 3) {
        this.searchCatalog(false, search, this.servicetype, enc_source, this);
      }
    },

    searchCatalog: _.debounce(
      (loading, search, servicetype, enc_source, vm) => {
        axios
          .post("/dashboard/request/search/servicecatalog", {
            name: search,
            serviceType: servicetype,
            nameOfService: enc_source,
          })
          .then((res) => {
            vm.optionsCatalog = res.data;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      },
      1500
    ),

    clearFromCatalog() {
      this.issearchfromctlg = false;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
    },

    assignToMe() {
      this.isassigntomeload = true;
      axios
        .post("/employee_remedy/assignee_login_id", {
          assigneeLoginId: this.auth.un_remedy,
        })
        .then((response) => {
          this.assignedtome = true;
          this.isassigntomeload = false;
          this.assignedSupportCompanySelected = response.data.company;
          this.assignedSupportOrganizationSelected = response.data.organization;
          this.assignedSupportGroupSelected = response.data.support_group_name;
          this.assigneeSelected = response.data.full_name;
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
        });
    },

    assignToOther() {
      this.assignedtome = false;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
    },

    getAssignedSupportCompany() {
      axios
        .get("/employee_remedy/support_company")
        .then((response) => {
          this.assigned_support_company = response.data;
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
        });
    },

    getFromProperty(requestId) {
      axios
        .post("/telegram/livechat/closure", { id: requestId })
        .then((r) => {
          this.assignedtome = true;
          // this.issearchfromctlg = true;
          this.dataloaded = true;
          this.requestobject = r.data;
          var incident = this.requestobject.incident;
          this.selectedCatalog = {
            mapper_prod_tier_1: incident.prod_cat_tier1,
            mapper_prod_tier_2: incident.prod_cat_tier2,
            mapper_prod_tier_3: incident.prod_cat_tier3,
            mapper_opr_tier_1: incident.opr_cat_tier1,
            mapper_opr_tier_2: incident.opr_cat_tier2,
            mapper_opr_tier_3: incident.opr_cat_tier3,
          };

          this.assignedSupportCompanySelected =
            incident.assignee_support_company;
          this.assignedSupportOrganizationSelected =
            incident.assignee_support_organization;
          this.assignedSupportGroupSelected =
            incident.assignee_support_group_name;
          this.assigneeSelected = incident.assignee_name;
          // this.productCategoryTier1Selected = incident.prod_cat_tier1;
          // this.productCategoryTier2Selected = incident.prod_cat_tier2;
          // this.productCategoryTier3Selected = incident.prod_cat_tier3;
          // this.operationalCategoryTier1Selected = incident.opr_cat_tier1;
          // this.operationalCategoryTier2Selected = incident.opr_cat_tier2;
          // this.operationalCategoryTier3Selected = incident.opr_cat_tier3;
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
        });
    },

    // getLiveChatHistory(requestid) {
    //   axios
    //     .get("/telegram/livechat/message/load/chat/history/" + requestid)
    //     .then(response => {
    //       this.chathistory = response.data.results.content_summary;
    //     });
    // },

    onChangeAssignedSupportCompany() {
      if (!this.assignedtome) {
        this.assignedSupportOrganizationSelected = null;
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          axios
            .post("/employee_remedy/support_organization", {
              supportCompany: this.assignedSupportCompanySelected,
            })
            .then((response) => {
              this.assigned_support_organization = response.data;
            })
            .catch((error) => {
              if (
                error.response.status === 419 ||
                error.response.status === 401
              ) {
                window.alert(
                  "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                );
                location.reload(false);
              } else {
                window.alert(error.response.data.message);
              }
            });
        }
      }
    },

    onChangeAssignedSupportOrganization() {
      if (!this.assignedtome) {
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_support_group = [];
          this.assigned_name = [];
          axios
            .post("/employee_remedy/support_group", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected,
            })
            .then((response) => {
              this.assigned_support_group = response.data;
            })
            .catch((error) => {
              if (
                error.response.status === 419 ||
                error.response.status === 401
              ) {
                window.alert(
                  "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                );
                location.reload(false);
              } else {
                window.alert(error.response.data.message);
              }
            });
        }
      }
    },

    onChangeAssignedSupportGroup() {
      if (!this.assignedtome) {
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_name = [];
          axios
            .post("/employee_remedy/assignee", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected,
              supportGroupName: this.assignedSupportGroupSelected,
            })
            .then((response) => {
              this.assigned_name = response.data;
            })
            .catch((error) => {
              if (
                error.response.status === 419 ||
                error.response.status === 401
              ) {
                window.alert(
                  "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                );
                location.reload(false);
              } else {
                window.alert(error.response.data.message);
              }
            });
        }
      }
    },

    // getProductCategori1() {
    //   axios.get("/product_categorization_tier1").then(response => {
    //     this.product_category_tier_1 = response.data.result;
    //   });
    // },

    onChangeProductCategoryTier1(event) {
      if (!this.issearchfromctlg) {
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      if (event != null) {
        this.product_category_tier_2 = [];
        this.product_category_tier_3 = [];
        this.operational_category_tier_1 = [];
        this.operational_category_tier_2 = [];
        this.operational_category_tier_3 = [];
        axios
          .post("/product_categorization_tier2", {
            productCategoryTier1: this.productCategoryTier1Selected,
          })
          .then((response) => {
            this.product_category_tier_2 = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
      }
    },

    onChangeProductCategoryTier2(event) {
      if (!this.issearchfromctlg) {
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      if (event != null) {
        this.product_category_tier_3 = [];
        this.operational_category_tier_1 = [];
        this.operational_category_tier_2 = [];
        this.operational_category_tier_3 = [];
        axios
          .post("/product_categorization_tier3", {
            productCategoryTier1: this.productCategoryTier1Selected,
            productCategoryTier2: this.productCategoryTier2Selected,
          })
          .then((response) => {
            this.product_category_tier_3 = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
      }
    },

    onChangeProductCategoryTier3(event) {
      if (!this.issearchfromctlg) {
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      if (event != null) {
        this.operational_category_tier_1 = [];
        this.operational_category_tier_2 = [];
        this.operational_category_tier_3 = [];
        axios
          .post("/operational_category_tier_1", {
            productCategoryTier1: this.productCategoryTier1Selected,
            productCategoryTier2: this.productCategoryTier2Selected,
            productCategoryTier3: this.productCategoryTier3Selected,
          })
          .then((response) => {
            this.operational_category_tier_1 = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
      }
    },

    onChangeOprationalCategoryTier1(event) {
      if (!this.issearchfromctlg) {
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      if (event != null) {
        this.operational_category_tier_2 = [];
        this.operational_category_tier_3 = [];
        axios
          .post("/operational_category_tier_2", {
            productCategoryTier1: this.productCategoryTier1Selected,
            productCategoryTier2: this.productCategoryTier2Selected,
            productCategoryTier3: this.productCategoryTier3Selected,
            operationalCategoryTier1: this.operationalCategoryTier1Selected,
          })
          .then((response) => {
            this.operational_category_tier_2 = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
      }
    },

    onChangeOprationalCategoryTier2(event) {
      if (!this.issearchfromctlg) {
      this.operationalCategoryTier3Selected = null;
      if (event != null) {
        this.operational_category_tier_3 = [];
        axios
          .post("/operational_category_tier_3", {
            productCategoryTier1: this.productCategoryTier1Selected,
            productCategoryTier2: this.productCategoryTier2Selected,
            productCategoryTier3: this.productCategoryTier3Selected,
            operationalCategoryTier1: this.operationalCategoryTier1Selected,
            operationalCategoryTier2: this.operationalCategoryTier2Selected,
          })
          .then((response) => {
            this.operational_category_tier_3 = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
      }
    },

    executeUpdateTicket() {
      this.removeInvalidChars();
      this.$validator.validateAll().then((result) => {
        this.submitted = result;
        if (result) {
          var content = {
            requester_full_name:
              this.requestobject.incident.requester_full_name,
            requester_first_name:
              this.requestobject.incident.requester_firt_name,
            requester_last_name:
              this.requestobject.incident.requester_last_name,
            requester_email: this.requestobject.incident.requester_email,
            requester_company: this.requestobject.incident.requester_company,
            requester_region_name:
              this.requestobject.incident.requester_region_name,
            requester_group_name:
              this.requestobject.incident.requester_group_name,
            requester_dept_name:
              this.requestobject.incident.requester_dept_name,
            assignee_support_company: this.assignedSupportCompanySelected,
            assignee_support_organization:
              this.assignedSupportOrganizationSelected,
            assignee_support_group_name: this.assignedSupportGroupSelected,
            assignee_name: this.assigneeSelected,
            service_type: this.requestobject.incident.service_type,
            notes_description: this.requestobject.incident.notes_description,
            summary_description:
              this.requestobject.incident.summary_description,
            impact: this.impact,
            urgency: this.urgency,
            priority: null,
            reported_source: "Livechat",
            product_name: null,
            model_version: null,
            resolution: this.resolution,
            status: this.status,
            prod_cat_tier1: this.productCategoryTier1Selected,
            prod_cat_tier2: this.productCategoryTier2Selected,
            prod_cat_tier3: this.productCategoryTier3Selected,
            opr_cat_tier1: this.operationalCategoryTier1Selected,
            opr_cat_tier2: this.operationalCategoryTier2Selected,
            opr_cat_tier3: this.operationalCategoryTier3Selected,
            service: this.service,
            survey: this.survey,
          };
          this.updateIncidentLiveChat({
            id: this.requestid,
            content: content,
          });
        }
      });
    },

    // executeTaskCreateTicketLiveChat() {
    //   this.removeInvalidChars();
    //   this.$validator.validateAll().then(result => {
    //     this.submitted = result;
    //     if (result) {
    //       var requestobjectContent = {
    //         notes: this.chathistory,
    //         summary: this.requestobject.servicecatalog.name,
    //         impact: this.impact,
    //         urgency: this.urgency,
    //         reportedSource: "Telegram",
    //         assignedSupportCompany: this.assignedSupportCompanySelected,
    //         assignedSupportOrganization: this
    //           .assignedSupportOrganizationSelected,
    //         assignedSupportGroup: this.assignedSupportGroupSelected,
    //         assignee: this.assigneeSelected,
    //         status: this.status,
    //         resolution: this.resolution,
    //         productCategoryTier1: this.productCategoryTier1Selected,
    //         productCategoryTier2: this.productCategoryTier2Selected,
    //         productCategoryTier3: this.productCategoryTier3Selected,
    //         operationalCategoryTier1: this.operationalCategoryTier1Selected,
    //         operationalCategoryTier2: this.operationalCategoryTier2Selected,
    //         operationalCategoryTier3: this.operationalCategoryTier3Selected
    //       };
    //       var recdata = {
    //         id: this.requestobject.id,
    //         assignee: {
    //           assignee_company: this.assignedSupportCompanySelected,
    //           assignee_organization: this.assignedSupportOrganizationSelected,
    //           assignee_group: this.assignedSupportGroupSelected,
    //           assignee_fullname: this.assigneeSelected
    //         },
    //         content: requestobjectContent
    //       };
    //       this.createIncidentLiveChat(recdata);
    //     }
    //   });
    // },

    updateIncidentLiveChat(req) {
      let loader = this.$parent.$loading.show({
        loader: "dots",
      });
      this.incidentlivechat = false;
      axios
        .post("/telegram/livechat/updateincident", req)
        .then((res) => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            wsdlStatus: res.data.wsdlStatus,
            id: req.id,
            message: res.data.message,
          });
          loader.hide();
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              wsdlStatus: false,
              id: "error code status",
              message: error.response.data.message,
            });
            loader.hide();
          }
        });
    },

    // createIncidentLiveChat(req) {
    //   let loader = this.$parent.$loading.show({
    //     loader: "dots"
    //   });
    //   this.incidentlivechat = false;
    //   axios.post("/dashboard/incident/create/livechat", req).then(res => {
    //     this.$emit("push-flash-notification", {
    //       status: res.data.status,
    //       wsdlStatus: res.data.wsdlStatus,
    //       id: req.id,
    //       message: res.data.message
    //     });
    //     loader.hide();
    //   });
    // },

    reset() {
      this.incidentlivechat = false;
      this.requestobject = {};
      this.dataloaded = false;
      this.chathistory = "";
      this.submitted = false;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
      this.resolution = null;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      this.impact = "4-Minor/Localized";
      this.urgency = "4-Low";
      this.status = "Resolved";
      this.assignedtome = false;
      this.isassigntomeload = false;
      this.$validator.reset();
      this.service = "";
      this.survey = "";
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    removeInvalidChars() {
      var regExpr2 = /[#]/g;
      var regExpr = /[^\x00-\x7F]/g;

      this.requestobject.incident.notes_description =
        this.requestobject.incident.notes_description != null
          ? this.requestobject.incident.notes_description.replace(regExpr, "")
          : this.requestobject.incident.notes_description;
      this.requestobject.incident.notes_description =
        this.requestobject.incident.notes_description != null
          ? this.requestobject.incident.notes_description.replace(regExpr2, "")
          : this.requestobject.incident.notes_description;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr, "")
          : this.resolution;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr2, "")
          : this.resolution;
    },

    onChangeServiceCI(event) {
      this.service = "";
      if (event != null) {
        axios
          .post("/service")
          .then((response) => {
            this.optionsService = response.data.result;
          })
          .catch((error) => {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              window.alert(
                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
              );
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
    },
  },
};
</script>
