<template>
  <div
    class="modal"
    id="modal-incident-sds"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 100%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5
              v-if="processts==='DISPATCH'"
              class="modal-title"
              id="smallModalHead"
            >Create Incident from Channel : {{source}} | Request ID : {{rqdata.id}}</h5>
            <h5 v-else class="modal-title" id="smallModalHead" style="margin-bottom:-10px;">
              <div v-if="processts!=='DISPATCH' && requestdata.RemedyTicketId === 'N/A'">
                Incident Summary : {{rqdata.Text}} / Request Id : {{rqdata.id}}
                <a
                  target="_blank"
                  v-if="requestdata.RemedyTicketId !='N/A' && requestdata.RemedyTicketId != null"
                  class="pull-right"
                  :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.RemedyTicketId+'%22'"
                >
                  <b>Open Remedy</b>
                </a>
              </div>
              <div v-else-if="processts!=='DISPATCH' && requestdata.RemedyTicketId !== 'N/A'">
                Incident Summary : {{rqdata.Text}} / Request Id : {{rqdata.id}} / Remedy Ticket ID : {{rqdata.RemedyTicketId}}
                <a
                  target="_blank"
                  v-if="requestdata.RemedyTicketId !='N/A' && requestdata.RemedyTicketId != null"
                  class="pull-right"
                  :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.RemedyTicketId+'%22'"
                >
                  <b>Open Remedy</b>
                </a>
              </div>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-incident-sds'">
                <div v-if="processts==='DISPATCH'">
                  <div class="col-md-4" style="border-left: 12px;">
                    <div class="panel panel-default" style="height:610px">
                      <div class="panel-heading">Request Summary</div>
                      <div
                        class="panel-body form-horizontal"
                        style="border-radius: 10px;height 90%"
                      >
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Company</label>
                            <!-- <input type="text" class="form-control" v-model="company"> -->
                            <v-select
                              :options="option_company"
                              :selectOnTab="true"
                              label="name"
                              v-model="company"
                              v-validate="'required'"
                              @change="onChangeServiceCI($event)"
                              name="Company"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="company-name" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Company')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Company') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Customer</label>
                            <a
                              class="pull-right"
                              v-if="customer!=null"
                              type="button"
                              href="#"
                              style="font-size:9px;margin-top:3px"
                              v-clipboard:copy="customer.full_name"
                              v-clipboard:success="copyCustomer"
                              @click="copyCustomer"
                            >Copy to clipboard</a>
                            <!-- <input type="text" class="form-control" v-model="customer"> -->
                            <v-select
                              :options="options"
                              @search="onSearch"
                              :selectOnTab="true"
                              label="full_name"
                              v-model="customer"
                              v-validate="'required'"
                              name="Customer"
                            >
                              <span
                                v-show="errors.has('Customer')"
                                class="valid-feedback text-danger"
                              >{{ errors.first('Customer') }}</span>
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.full_name" key="customer-name" />
                                <div
                                  class="d-center"
                                >{{ option.full_name + " ( " + option.department_name + " ) "}}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Customer')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Customer') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              class="form-control"
                              rows="4"
                              name="Notes"
                              style="resize: none;height:50%;"
                              v-model="notes"
                              v-validate="'required'"
                              key="notes-desc"
                              placeholder="mohon input juga TrackID di Notes ini"
                            ></textarea>
                            <span
                              v-show="errors.has('Notes')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Notes') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="summary"
                              v-validate="{ required:true,max:100 }"
                              name="Summary"
                              key="summary-desc"
                            />
                            <span
                              v-show="errors.has('Summary')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Summary') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Impact</label>
                            <v-select
                              :options="optionsImpact"
                              label="name"
                              v-model="impact"
                              v-validate="'required'"
                              name="Impact"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-impact" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Impact')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Impact') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Urgency</label>
                            <v-select
                              :options="optionsUrgency"
                              label="name"
                              v-model="urgency"
                              v-validate="'required'"
                              name="Urgency"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-urgency" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Urgency')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Urgency') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Service</label>
                            <v-select
                              :options="optionsService"
                              label="name"
                              v-model="service"
                              name="Service"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-service" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Service')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Service') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Survey</label>
                            <v-select
                              :options="optionsSurvey"
                              label="name"
                              v-model="survey"
                              name="Survey"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-survey" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Survey')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Survey') }}</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:610px">
                      <div class="panel-heading">
                        Assigne
                        <div class="pull-right">
                          <a
                            href="#"
                            v-if="!assignedtome&&!isassigntomeload"
                            @click="assignToMe"
                          >Assigne To Me</a>
                          <a href="#" v-else-if="!assignedtome&&isassigntomeload">
                            <div class="spinner-loader2" style="float:left;padding:3px;width:5px"></div>
                          </a>
                          <a href="#" v-else @click="assignToOther">Assign To Other</a>
                        </div>
                      </div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Status</label>
                            <v-select
                              :options="optionsStatus"
                              label="name"
                              v-model="status"
                              v-validate="'required'"
                              name="Status"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-status" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Status')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Status') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Company</label>
                            <v-select
                              :options="assigned_support_company"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportCompanySelected"
                              @change="onChangeAssignedSupportCompany($event)"
                              v-validate="'required'"
                              name="Assigned Support Company"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-company" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Support Company')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Support Company') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Organization</label>
                            <v-select
                              :options="assigned_support_organization"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportOrganizationSelected"
                              @change="onChangeAssignedSupportOrganization($event)"
                              v-validate="'required'"
                              name="Assigned Support Organization"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-organization" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Support Organization')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Support Organization') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Group</label>
                            <v-select
                              :options="assigned_support_group"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportGroupSelected"
                              @change="onChangeAssignedSupportGroup($event)"
                              v-validate="'required'"
                              name="Assigned Group"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-group" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Group')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Group') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assignee</label>
                            <div
                              class="pull-right text-danger"
                              style="font-size:9px;margin-top:3px"
                            >* optional, left blank will be assign to support group.</div>
                            <v-select
                              :options="assigned_name"
                              :selectOnTab="true"
                              label="name"
                              v-model="assigneeSelected"
                              name="Assigned"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-name" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Resolution</label>
                            <textarea
                              class="form-control"
                              rows="5"
                              name="Resolution"
                              style="resize: none;height:65px;"
                              v-model="resolution"
                              v-validate="'required|min:20'"
                              :disabled="!(status == 'Cancelled'||status=='Resolved'||status=='In Progress')"
                              key="incident-resolution"
                            ></textarea>
                            <span
                              v-show="errors.has('Resolution')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Resolution') }}</span>
                          </div>

                          <div class="col-md-12" style="padding:5px">
                            <div v-if="!isload">
                              <div class="panel panel-default" style="text-align: center; vertical-align: middle">
                                <a href="#" @click="enableForm">
                                  <div class="panel-heading">
                                    <label>Click Here to Add Work Info !</label>
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                  </div>
                                </a>
                              </div>
                            </div>

                            <div v-else>
                              <div class="panel panel-default" style="text-align: center; vertical-align: middle">
                                <a href="#" @click="disableForm">
                                  <div class="panel-heading">
                                    <label>Add Work Info</label>
                                    <span class="pull-right glyphicon glyphicon-chevron-up"></span>
                                  </div>
                                </a>
                              
                                <div class="col-md-12">
                                  <input
                                    :placeholder="'Masukan note work info'"
                                    type="text"
                                    class="form-control"
                                    v-model="note_content"
                                    name="note_content"
                                    key="note_content"
                                    v-validate="'required'"
                                  />
                                  <span
                                    v-show="errors.has('Note_Content')"
                                    class="valid-feedback text-danger"
                                  >{{ errors.first('Note_Content') }}</span>
                                
                                <label></label>
                                <div id="app" style="margin:5px">
                                  <file-pond
                                    name="file"
                                    ref="pond"
                                    :server="conf"
                                    class-name="my-pond"
                                    allow-multiple="true"
                                    max-files="1"
                                    :fileMetadataObject="{requestid:rqdata.id, content:notecontents}"
                                    v-bind:files="myFiles"
                                    v-on:init="handleFilePondInit"
                                  />
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:280px">
                      <div class="panel-heading">
                        Product Categorization
                        <div class="pull-right">
                          <a
                            href="#"
                            v-if="!issearchfromctlg"
                            @click="searchFromCatalog"
                          >Search from catalog</a>
                          <a href="#" v-else-if="!issearchfromctlg">
                            <div class="spinner-loader2" style="float:left;padding:3px;width:5px"></div>
                          </a>
                          <a href="#" v-else @click="clearFromCatalog">Clear</a>
                        </div>
                      </div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12" v-if="issearchfromctlg">
                            <v-select
                              :options="optionsCatalog"
                              :selectOnTab="true"
                              label="name"
                              v-model="selectedCatalog"
                              @search="onSearchFromCatalog"
                              @change="onSearchFromCatalogChanged"
                              :placeholder="'Search by catalog name'"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct12" />
                                <div
                                  class="d-center"
                                >{{ option.name + " ( "+option.servicechannel.name+" )" }}</div>
                              </template>
                            </v-select>
                          </div>

                          <div class="col-md-12">
                            <label>Product Cat. Tier 1</label>
                            <v-select
                              :options="product_category_tier_1"
                              :selectOnTab="true"
                              label="name"
                              v-model="productCategoryTier1Selected"
                              @change="onChangeProductCategoryTier1($event)"
                              v-validate="'required'"
                              name="Product Categorization Tier 1"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct1" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Product Categorization Tier 1')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Product Categorization Tier 1') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 2</label>
                            <v-select
                              :options="product_category_tier_2"
                              :selectOnTab="true"
                              label="name"
                              v-model="productCategoryTier2Selected"
                              @change="onChangeProductCategoryTier2($event)"
                              v-validate="'required'"
                              name="Product Categorization Tier 2"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct2" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Product Categorization Tier 2')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Product Categorization Tier 2') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 3</label>
                            <v-select
                              :options="product_category_tier_3"
                              :selectOnTab="true"
                              label="name"
                              v-model="productCategoryTier3Selected"
                              @change="onChangeProductCategoryTier3($event)"
                              v-validate="'required'"
                              name="Product Categorization Tier 3"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct3" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Product Categorization Tier 3')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Product Categorization Tier 3') }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" style="height:310px">
                      <div class="panel-heading">Operational Categorization</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 1</label>
                            <v-select
                              :options="operational_category_tier_1"
                              :selectOnTab="true"
                              label="name"
                              v-model="operationalCategoryTier1Selected"
                              @change="onChangeOprationalCategoryTier1($event)"
                              v-validate="'required'"
                              name="Operational Categorization Tier 1"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-oct1" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 1')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 1') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 2</label>
                            <v-select
                              :options="operational_category_tier_2"
                              :selectOnTab="true"
                              label="name"
                              v-model="operationalCategoryTier2Selected"
                              @change="onChangeOprationalCategoryTier2($event)"
                              v-validate="'required'"
                              name="Operational Categorization Tier 2"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-oct2" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 2')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 2') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 3</label>
                            <v-select
                              :options="operational_category_tier_3"
                              :selectOnTab="true"
                              label="name"
                              v-model="operationalCategoryTier3Selected"
                              v-validate="'required'"
                              name="Operational Categorization Tier 3"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-oct3" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 3')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 3') }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- INPROGRESS -->
                <div
                  v-else-if="(processts==='INPROGRESS' || processts ==='PENDING' || processts ==='WAITINGAPR' || processts ==='PLANNING' || processts==='BOOKED')"
                >
                  <div class="col-md-4" style="border-left: 12px;">
                    <div class="panel panel-default" style="height:610px">
                      <div class="panel-heading">Request Summary</div>
                      <div
                        class="panel-body form-horizontal"
                        style="border-radius: 10px;height 90%"
                      >
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Company</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.requester_company"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Customer</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.requester_full_name"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              :value="rqdata.incident.notes_description"
                              class="form-control"
                              rows="4"
                              name="notes"
                              style="resize: none;height:50%;"
                              readonly="true"
                            ></textarea>
                          </div>

                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.summary_description"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Impact</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.impact"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Urgency</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.urgency"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Service</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.service"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:610px">
                      <div class="panel-heading">Assigne</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.ProcessStatus"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Company</label>
                            <input
                              v-if="rqdata.incident.assignee_support_company==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.assignee_support_company"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Organization</label>
                            <input
                              v-if="rqdata.incident.assignee_support_organization==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.assignee_support_organization"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Group</label>
                            <input
                              v-if="rqdata.incident.assignee_support_group_name==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.assignee_support_group_name"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Assignee</label>
                            <input
                              v-if="rqdata.incident.assignee_name==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.assignee_name"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Resolution</label>
                            <textarea
                              :value="rqdata.incident.resolution"
                              class="form-control"
                              rows="5"
                              name="notes"
                              style="resize: none;height:65px;"
                              readonly="true"
                            ></textarea>
                          </div>

                          <div v-if="rqdata.inboxworkloginfo_url!==null">
                            <div class="col-md-12">
                              <div class="panel panel-default" style="text-align: center; vertical-align: middle">
                                <div class="panel-heading">
                                  <label>Attachment</label>
                                </div>
                                <div class="col-md-12">
                                  <a v-bind:href="rqdata.inboxworkloginfo_url" target='_blank'>{{requestdata.file_name}}</a>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="panel panel-default" style="height:280px">
                      <div class="panel-heading">Product Categorization</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12" v-if="issearchfromctlg">
                            <v-select
                              :options="optionsCatalog"
                              :selectOnTab="true"
                              label="name"
                              v-model="selectedCatalog"
                              @search="onSearchFromCatalog"
                              @change="onSearchFromCatalogChanged"
                              :placeholder="'Search by catalog name'"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct12" />
                                <div
                                  class="d-center"
                                >{{ option.name + " ( "+option.servicechannel.name+" )" }}</div>
                              </template>
                            </v-select>
                          </div>

                          <div class="col-md-12">
                            <label>Product Cat. Tier 1</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.prod_cat_tier1"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 2</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.prod_cat_tier2"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 3</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.prod_cat_tier3"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" style="height:310px">
                      <div class="panel-heading">Operational Categorization</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 1</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.opr_cat_tier1"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 2</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.opr_cat_tier2"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 3</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="rqdata.incident.opr_cat_tier3"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="col-md-8 col-md-offset-4">
            <button
              type="button"
              class="btn btn-info pull-right"
              data-backdrop
              data-dismiss="modal"
              @click="closeWindow"
              style="width:125px;"
            >Close</button>
            <div
              v-if="(processts==='INPROGRESS' || processts ==='PENDING' || processts ==='WAITINGAPR' || processts ==='PLANNING' || processts==='BOOKED')"
            >
              <div
                v-if="(rqdata.ActionTicketCreation === 'IN_PROCESS' || rqdata.ActionTicketCreation ==='IN_MERGED' || rqdata.ActionTicketCreation ==='IN_PENDING_PRS') && (rqdata.incident.assignee_id == auth.employee_remedy_id)"
              >
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-incident-delegate"
                  style="width:125px;"
                  @click="delegateTask(false)"
                >Change Assignee</button>

                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-patching-data"
                  style="width:125px;"
                  @click="patchingData"
                >Verify Data</button>
              </div>
            </div>

            <div v-else-if="processts=='DISPATCH'">
              <button
                type="submit"
                class="btn btn-info pull-right"
                style="width:125px;"
                :disabled="submitted?true:false"
                @click="executeTaskCreateTicket"
              >Create Incident</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "source",
    "isincidentcreation",
    "auth",
    "servicetype",
    "requestdata",
    "ismodal",
    "isdataloaded",
    "modalname",
    "processstatus"
  ],
  computed: {
    notecontents: {
      get: function() {
        return this.notecontentstmp;
      },
      set: function(newvalue) {
        this.notecontentstmp = newvalue;
      }
    },
    incidentcreation: {
      get: function() {
        return this.incidentcreate;
      },
      set: function(newvalue) {
        this.incidentcreate = newvalue;
      }
    },
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    },
    processts: {
      get: function() {
        return this.procesststmp;
      },
      set: function(newvalue) {
        this.procesststmp = newvalue;
      }
    },
  },

  watch: {
    note_content: function() {
      this.notecontentstmp = this.note_content;
    },
    processstatus: function() {
      this.procesststmp = this.processstatus;
    },
    isincidentcreation: function() {
      this.incidentcreate = this.isincidentcreation;
    },
    requestdata: function() {
      this.rqdatatmp = this.requestdata;
      if (this.processstatus === "DISPATCH") {
        this.reset();
      }
    },
    customer: function() {
      this.customerChanged();
    }
  },

  data: function() {
    return {
      metadata: {
        requestId: this.tamp_id
      },
      conf: {
        url: "/dashboard/workinfo/",
        process: {
          url: "./upload_file",
          method: "POST",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleAddFileResponse,
          onerror: null,
          ondata: null
        },
        revert: {
          url: "./delete_file",
          method: "DELETE",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleDeleteFileResponse,
          onerror: null,
          ondata: null
        }
      },
      note_content: "",
      myFiles: [],
      isload: false,
      notecontentstmp:null,
      procesststmp: null,
      rqdatatmp: null,
      submitted: false,

      incidentcreate: false,

      optionsStatus: [
        "Assigned",
        "In Progress",
        "Pending",
        "Resolved",
        "Cancelled"
      ],
      
      optionsSurvey: [
        "1 - Tidak Puas",
        "2 - Kurang Puas",
        "3 - Cukup Puas",
        "4 - Puas",
        "5 - Sangat Puas"
      ],

      optionsImpact: [
        "1-Extensive/Widespread",
        "2-Significant/Large",
        "3-Moderate/Limited",
        "4-Minor/Localized"
      ],

      optionsCatalog: [],
      selectedCatalog: null,

      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],

      optionsService: [],

      option_company: ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"],
      options: [],
      selected: {},
      assignedtome: false,
      issearchfromctlg: false,
      isassigntomeload: false,
      company: "PT. BANK MANDIRI, TBK",
      customer: null,
      notes: null,
      summary: null,
      impact: "4-Minor/Localized",
      urgency: "4-Low",
      service: "",
      survey:"",
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assignedSupportCompanySelected: null,
      assigned_support_organization: [],
      assignedSupportOrganizationSelected: null,
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null,
      status: "Assigned",
      resolution: null,
      product_category_tier_1: [
        "APPLICATION",
        "CREDIT CARD",
        "ELECTRONIC CHANNEL",
        "Hardware",
        "HC4U",
        "INFRASTRUCTURE",
        "IT SECURITY",
        "KARTU KREDIT",
        "LAYANAN CABANG",
        "MFSCM WHOLESALE",
        "MYIT",
        "SECURITY SYSTEM",
        "Service",
        "TBR",
        "TRANSACTION BANKING PRODUCT",
        "WHOLESALE"
      ],
      product_category_tier_2: [],
      product_category_tier_3: [],
      operational_category_tier_1: [],
      operational_category_tier_2: [],
      operational_category_tier_3: [],
      productCategoryTier1Selected: null,
      productCategoryTier2Selected: null,
      productCategoryTier3Selected: null,
      operationalCategoryTier1Selected: null,
      operationalCategoryTier2Selected: null,
      operationalCategoryTier3Selected: null
    };
  },

  methods: {
    handleAddFileResponse(response) {
      var data = JSON.parse(response);
      var responsedata = data.responsedata;
      return responsedata.requestId + "_" + responsedata.id;
    },

    enableForm() {
      this.isload = true;
    },
    disableForm() {
      this.isload = false;
    },

    handleDeleteFileResponse(uniqueId) {
      return uniqueId;
    },

    handleFilePondInit: function() {
      var file = this.$refs.pond.getFiles();
    },

    delegateTask(changeadmin) {
      if (changeadmin) {
        this.$emit("changeadmin", {
          request: this.requestdata,
          isdelegating: true,
          modalname: "modal-incident-delegate"
        });
      } else {
        this.$emit("taskdelegated", {
          request: this.requestdata,
          isdelegating: true,
          modalname: "modal-incident-delegate"
        });
      }
    },

    customerChanged() {
      this.requester_company = this.customer.company;
      this.requester_dept_name = this.customer.department_name;
      this.requester_email = this.customer.email;
      this.requester_first_name = this.customer.first_name;
      this.requester_full_name = this.customer.full_name;
      this.requester_group_name = this.customer.group_name;
      this.requester_person_id = this.customer.id;
      this.requester_last_name = this.customer.last_name;
      this.requester_region_name = this.customer.region_name;
    },

    searchFromCatalog() {
      this.issearchfromctlg = true;
    },

    onSearchFromCatalogChanged() {
      if (this.selectedCatalog !== null) {
        this.productCategoryTier1Selected = this.selectedCatalog.mapper_prod_tier_1;
        this.productCategoryTier2Selected = this.selectedCatalog.mapper_prod_tier_2;
        this.productCategoryTier3Selected = this.selectedCatalog.mapper_prod_tier_3;
        this.operationalCategoryTier1Selected = this.selectedCatalog.mapper_opr_tier_1;
        this.operationalCategoryTier2Selected = this.selectedCatalog.mapper_opr_tier_2;
        this.operationalCategoryTier3Selected = this.selectedCatalog.mapper_opr_tier_3;
      } else {
        this.productCategoryTier1Selected = null;
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
      }
    },

    onSearchFromCatalog(search) {
      var enc_source = "EMAIL";
      switch (this.source) {
        case "Phone":
          enc_source = "CALL";
          break;
        case "Whatsapp":
          enc_source = "WHATSAPP";
          break;
        default:
      }
      if (search.length >= 3) {
        this.searchCatalog(false, search, this.servicetype, enc_source, this);
      }
    },

    searchCatalog: _.debounce((loading, search, servicetype, enc_source, vm) => {
      axios
        .post("/dashboard/request/search/servicecatalog", {
          name: search,
          serviceType: servicetype,
          nameOfService: enc_source
        })
        .then(res => {
          vm.optionsCatalog = res.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 1500),

    clearFromCatalog() {
      this.issearchfromctlg = false;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
    },

    assignToMe() {
      this.isassigntomeload = true;
      axios
        .post("/employee_remedy/assignee_login_id", {
          assigneeLoginId: this.auth.un_remedy
        })
        .then(response => {
          this.assignedtome = true;
          this.isassigntomeload = false;
          this.assignedSupportCompanySelected = response.data.company;
          this.assignedSupportOrganizationSelected = response.data.organization;
          this.assignedSupportGroupSelected = response.data.support_group_name;
          this.assigneeSelected = response.data.full_name;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    assignToOther() {
      this.assignedtome = false;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
    },

    getAssignedSupportCompany() {
      axios.get("/employee_remedy/support_company").then(response => {
        this.assigned_support_company = response.data;
        this.option_company = response.data;
      })
      .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    onSearch(search, loading) {
      loading(false);
      if (search.length >= 4) {
        this.search(loading, search, this, this.company);
      }
    },

    search: _.debounce((loading, search, vm, company) => {
      axios
        .post("/employee_remedy/customer_profile", {
          inputname: search,
          company: company
        })
        .then(res => {
          vm.options = res.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 350),

    copyCustomer: function(e) {
      if (
        this.notes == null ||
        this.notes == "" ||
        typeof this.notes == "undefined"
      ) {
        this.notes = e.text;
      }
    },

    onChangeAssignedSupportCompany() {
      if (!this.assignedtome) {
        this.assignedSupportOrganizationSelected = null;
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          axios
            .post("/employee_remedy/support_organization", {
              supportCompany: this.assignedSupportCompanySelected
            })
            .then(response => {
              this.assigned_support_organization = response.data;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeAssignedSupportOrganization() {
      if (!this.assignedtome) {
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_support_group = [];
          this.assigned_name = [];
          axios
            .post("/employee_remedy/support_group", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected
            })
            .then(response => {
              this.assigned_support_group = response.data;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeAssignedSupportGroup() {
      // if (!this.assignedtome) {
      // this.assigneeSelected = null;
      if (event != null) {
        this.assigned_name = [];
        axios
          .post("/employee_remedy/assignee", {
            supportCompany: this.assignedSupportCompanySelected,
            supportOrganization: this.assignedSupportOrganizationSelected,
            supportGroupName: this.assignedSupportGroupSelected
          })
          .then(response => {
            this.assigned_name = response.data;
          })
          .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
      }
      // }
    },

    onChangeServiceCI(event) {
        this.service = "";
        if (event != null) {
          axios
            .post("/service")
            .then(response => {
              this.optionsService = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
    },

    onChangeProductCategoryTier1(event) {
      if (!this.issearchfromctlg) {
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.product_category_tier_2 = [];
          this.product_category_tier_3 = [];
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/product_categorization_tier2", {
              productCategoryTier1: this.productCategoryTier1Selected
            })
            .then(response => {
              this.product_category_tier_2 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeProductCategoryTier2(event) {
      if (!this.issearchfromctlg) {
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.product_category_tier_3 = [];
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/product_categorization_tier3", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected
            })
            .then(response => {
              this.product_category_tier_3 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeProductCategoryTier3(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_1", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected
            })
            .then(response => {
              this.operational_category_tier_1 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeOprationalCategoryTier1(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_2", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected
            })
            .then(response => {
              this.operational_category_tier_2 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeOprationalCategoryTier2(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_3", {
              productCategoryTier1: this.productCategoryTier1Selected,
              productCategoryTier2: this.productCategoryTier2Selected,
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected,
              operationalCategoryTier2: this.operationalCategoryTier2Selected
            })
            .then(response => {
              this.operational_category_tier_3 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    executeTaskCreateTicket() {
      this.removeInvalidChars();
      if (
        this.status == "Assigned" &&
        this.assigneeSelected == this.auth.name
      ) {
        flash({
          id: "untuk incoming incident",
          message:
            "ATTENTION : If you choose assigned status, recipient's name can not be own name, assigned status is only to give ticket to other users or support groups",
          flashtype: "warning"
        });
      } else {
        this.$validator.validateAll().then(result => {
          this.submitted = result;
          if (result) {
            var content = {
              requester_person_id: this.requester_person_id,
              requester_full_name: this.requester_full_name,
              requester_first_name: this.requester_first_name,
              requester_last_name: this.requester_last_name,
              requester_email: this.requester_email,
              requester_company: this.requester_company,
              requester_region_name: this.requester_region_name,
              requester_group_name: this.requester_group_name,
              requester_dept_name: this.requester_dept_name,
              assignee_support_company: this.assignedSupportCompanySelected,
              assignee_support_organization: this.assignedSupportOrganizationSelected,
              assignee_support_group_name: this.assignedSupportGroupSelected,
              assignee_name: this.assigneeSelected,
              notes_description: this.notes,
              summary_description: this.summary,
              impact: this.impact,
              urgency: this.urgency,
              priority: null,
              reported_source: this.source,
              product_name: null,
              model_version: null,
              resolution: this.resolution,
              status: this.status,
              prod_cat_tier1: this.productCategoryTier1Selected,
              prod_cat_tier2: this.productCategoryTier2Selected,
              prod_cat_tier3: this.productCategoryTier3Selected,
              opr_cat_tier1: this.operationalCategoryTier1Selected,
              opr_cat_tier2: this.operationalCategoryTier2Selected,
              opr_cat_tier3: this.operationalCategoryTier3Selected,
              service: this.service,
              survey: this.survey
            };

            this.createIncomingIncident({
              requestId: this.requestdata.id,
              content: content,
            });
          }
        });
      }
    },

    createIncomingIncident(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      axios
        .post("/sds/incident/create", recdata)
        .then(res => {
          this.processts = res.data.responsedata.ProcessStatus;
          this.rqdata = res.data.responsedata;
          if (res.data.status) {
            if (res.data.wsdlStatus) {
              flash({
                id: res.data.responsedata.id,
                message: res.data.message,
                flashtype: "info"
              });
            } else {
              flash({
                id: res.data.responsedata.id,
                message: res.data.message,
                flashtype: "warning"
              });
              refreshPendingCount("pending-ticket");
            }
          } else {
            flash({
              id: res.data.responsedata.id,
              message: res.data.message,
              flashtype: "danger"
            });
            refreshPendingCount("pending-ticket");
          }
          loader.hide();
          this.submitted = false;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });                
                loader.hide();
                this.submitted = false;
              }
            });
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    reset() {
      this.note_content = "";
      this.myFiles = [];
      this.service = "";
      this.survey = "",
      this.issearchfromctlg = false;
      this.selectedCatalog = null;
      this.submitted = false;
      this.customer = null;
      this.notes = null;
      this.summary = null;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
      this.resolution = null;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      this.company = "PT. BANK MANDIRI, TBK";
      this.impact = "4-Minor/Localized";
      this.urgency = "4-Low";
      if (this.source === "Phone") {
        this.status = "Resolved";
      } else {
        this.status = "Assigned";
      }
      this.assignedtome = false;
      this.isassigntomeload = false;
      this.$validator.reset();
    },

    removeInvalidChars() {
      var regExpr2 = /[#]/g;
      this.summary =
        this.summary != null
          ? this.summary.replace(regExpr2, "")
          : this.summary;
      this.notes =
        this.notes != null ? this.notes.replace(regExpr2, "") : this.notes;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr2, "")
          : this.resolution;
    },

    patchingData() {
      this.$emit("patching-data", {
        request: this.rqdata,
        modalname: "modal-patching-data",
        isdataloaded: true
      });
    }
  }
};
</script>
