<template>
  <div
    class="modal"
    id="modal-create-incident-od"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="incidentcreation"
  >
    <div class="modal-dialog modal-lg" style="width: 100%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5
              class="modal-title"
              id="smallModalHead"
            >Create Incident from : OD Command Center | Request ID : {{tamp_id}}</h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
                <div v-if="incidentcreation">
                  <div class="col-md-6" style="border-left: 12px;">
                    <div class="panel panel-default" style="height:710px">
                      <div class="panel-heading">Request Summary</div>
                      <div
                        class="panel-body form-horizontal"
                        style="border-radius: 10px;height 90%"
                      >
                        <div class="form-group">

                          <div class="col-md-12">
                            <label>Company</label>
                            <!-- <input type="text" class="form-control" v-model="company"> -->
                            <v-select
                              :options="option_company"
                              :selectOnTab="true"
                              label="name"
                              v-model="company"
                              v-validate="'required'"
                              @change="onChangeServiceCI($event)"
                              name="Company"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="company-name" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Company')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Company') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Service</label>
                            <v-select
                              :options="optionsService"
                              label="name"
                              v-model="service"
                              name="Service"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-service" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Service')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Service') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Incident</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="incident"
                              v-validate="{ required:true,max:100 }"
                              name="incident"
                              key="incident-desc"
                            />
                            <span
                              v-show="errors.has('Incident')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Incident') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Saverity</label>
                            <v-select
                              :options="optionsUrgency"
                              label="name"
                              v-model="urgency"
                              v-validate="'required'"
                              name="Saverity"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-urgency" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Urgency')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Urgency') }}</span>
                          </div>
                          
                          <div class="col-md-12">
                            <label>Type Incident</label>
                            <v-select
                              :options="optionsTypeIncident"
                              label="name"
                              v-model="type_incident"
                              v-validate="'required'"
                              name="TypeIncident"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-type_incident" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('TypeIncident')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('TypeIncident') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Impact</label>
                            <textarea
                              class="form-control"
                              rows="4"
                              name="Notes"
                              style="resize: none;height:50%;"
                              v-model="notes"
                              v-validate="'required'"
                              key="notes-desc"
                            ></textarea>
                            <span
                              v-show="errors.has('Notes')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Notes') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Suspect</label>
                            <textarea
                              class="form-control"
                              rows="5"
                              name="Resolution"
                              style="resize: none;height:65px;"
                              v-model="resolution"
                              v-validate="'required|min:20'"
                              key="incident-resolution"
                            ></textarea>
                            <span
                              v-show="errors.has('Resolution')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Resolution') }}</span>
                          </div>

                          <div class="col-md-5">
                            <label>Estimasi</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="incident"
                              v-validate="{ required:true,max:100 }"
                              name="estimasi"
                              key="estimasi-desc"
                            />
                            <span
                              v-show="errors.has('estimasi')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('estimasi') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Status</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="incident"
                              v-validate="{ required:true,max:100 }"
                              name="incident"
                              key="incident-desc"
                            />
                            <span
                              v-show="errors.has('Incident')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Incident') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Status</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="incident"
                              v-validate="{ required:true,max:100 }"
                              name="incident"
                              key="incident-desc"
                            />
                            <span
                              v-show="errors.has('Incident')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Incident') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>OD Command Center</label>
                            <a
                              class="pull-right"
                              v-if="customer!=null"
                              type="button"
                              href="#"
                              style="font-size:9px;margin-top:3px"
                              v-clipboard:copy="customer.full_name"
                              v-clipboard:success="copyCustomer"
                              @click="copyCustomer"
                            >Copy to clipboard</a>
                            <!-- <input type="text" class="form-control" v-model="customer"> -->
                            <v-select
                              :options="options"
                              @search="onSearch"
                              :selectOnTab="true"
                              label="full_name"
                              v-model="customer"
                              v-validate="'required'"
                              name="Customer"
                            >
                              <span
                                v-show="errors.has('Customer')"
                                class="valid-feedback text-danger"
                              >{{ errors.first('Customer') }}</span>
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.full_name" key="customer-name" />
                                <div
                                  class="d-center"
                                >{{ option.full_name + " ( " + option.department_name + " ) "}}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Customer')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Customer') }}</span>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default" style="height:610px">
                      <div class="panel-heading">
                        Assigne
                        <div class="pull-right">
                          <a
                            href="#"
                            v-if="!assignedtome&&!isassigntomeload"
                            @click="assignToMe"
                          >Assigne To Me</a>
                          <a href="#" v-else-if="!assignedtome&&isassigntomeload">
                            <div class="spinner-loader2" style="float:left;padding:3px;width:5px"></div>
                          </a>
                          <a href="#" v-else @click="assignToOther">Assign To Other</a>
                        </div>
                      </div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Status</label>
                            <v-select
                              :options="optionsStatus"
                              label="name"
                              v-model="status"
                              v-validate="'required'"
                              name="Status"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-status" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Status')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Status') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Company</label>
                            <v-select
                              :options="assigned_support_company"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportCompanySelected"
                              @change="onChangeAssignedSupportCompany($event)"
                              v-validate="'required'"
                              name="Assigned Support Company"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-company" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Support Company')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Support Company') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Organization</label>
                            <v-select
                              :options="assigned_support_organization"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportOrganizationSelected"
                              @change="onChangeAssignedSupportOrganization($event)"
                              v-validate="'required'"
                              name="Assigned Support Organization"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-organization" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Support Organization')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Support Organization') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assigned Support Group</label>
                            <v-select
                              :options="assigned_support_group"
                              :selectOnTab="true"
                              label="name"
                              v-model="assignedSupportGroupSelected"
                              @change="onChangeAssignedSupportGroup($event)"
                              v-validate="'required'"
                              name="Assigned Group"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-group" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned Group')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned Group') }}</span>
                          </div>

                          <div class="col-md-12">
                            <label>Assignee</label>
                            <div
                              class="pull-right text-danger"
                              style="font-size:9px;margin-top:3px"
                            >* optional, left blank will be assign to support group.</div>
                            <v-select
                              :options="assigned_name"
                              :selectOnTab="true"
                              label="name"
                              v-model="assigneeSelected"
                              name="Assigned"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="assignee-name" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Assigned')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assigned') }}</span>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- INPROGRESS -->
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="col-md-8 col-md-offset-4">
            <button
              type="button"
              class="btn btn-info pull-right"
              data-backdrop
              data-dismiss="modal"
              @click="closeWindow"
              style="width:125px;"
            >Close</button>
              <button
                type="button"
                class="btn btn-info"
                style="width:125px;"
                :disabled="submitted_?true:false"
                @click="executeTaskCreateTicket(true)"
              >Save & Next</button>
              <button
                type="submit"
                class="btn btn-info"
                style="width:125px;"
                :data-dismiss="submitted?'modal':null"
                :disabled="submitted?true:false"
                @click="executeTaskCreateTicket(false)"
              >Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileMetadata from "filepond-plugin-file-metadata";
// import moment from 'moment';
const FilePond = vueFilePond(FilePondPluginFileMetadata);

export default {
  props: [
    "source",
    "isincidentcreation",
    "auth",
    "servicetype",
    "requestdata",
    "ismodal",
    "processstatus",
    "isdataloaded",
  ],

  components: {
    FilePond
  },

  computed: {
    incidentcreation: {
      get: function() {
        return this.incidentcreate;
      },
      set: function(newvalue) {
        this.incidentcreate = newvalue;
      }
    },
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    },
    processts: {
      get: function() {
        return this.procesststmp;
      },
      set: function(newvalue) {
        this.procesststmp = newvalue;
      }
    },
    notecontents: {
      get: function() {
        return this.notecontentstmp;
      },
      set: function(newvalue) {
        this.notecontentstmp = newvalue;
      }
    },
    tamp_id: {
      get: function() {
        return this.tamp_idtmp;
      },
      set: function(newvalue) {
        this.tamp_idtmp = newvalue;
      }
    }
  },

  watch: {
    note_content: function() {
      this.notecontentstmp = this.note_content;
    },
    processstatus: function() {
      this.procesststmp = this.processstatus;
    },
    isincidentcreation: function() {
      this.reset();
      this.incidentcreate = this.isincidentcreation;
    },
    requestdata: function() {
      this.rqdatatmp = this.requestdata;
      if (this.processstatus === "DISPATCH") {
        this.tamp_id = this.rqdata.id;
        this.reset();
      }
    },
    customer: function() {
      this.customerChanged();
    }
  },

  data: function() {
    return {
      metadata: {
        requestId: this.tamp_id
      },
      conf: {
        url: "/dashboard/workinfo/",
        process: {
          url: "./upload_file",
          method: "POST",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleAddFileResponse,
          onerror: null,
          ondata: null
        },
        revert: {
          url: "./delete_file",
          method: "DELETE",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleDeleteFileResponse,
          onerror: null,
          ondata: null
        }
      },
      myFiles: [],
      isload: false,

      notecontentstmp:null,
      tamp_idtmp:null,
      procesststmp: null,
      rqdatatmp: null,
      submitted: false,
      submitted_: false,
      incidentcreate: true,

      optionsStatus: [
        "Assigned",
        "In Progress",
        "Pending",
        "Resolved",
        "Cancelled"
      ],

      optionsTypeIncident: [
        "1-Internal",
        "2-Eksternal",
      ],

      optionsCatalog: [],
      selectedCatalog: null,

      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],

      optionsService: [],

      option_company: ["PT. BANK MANDIRI, TBK", "MANDIRI CASH MANAGEMENT"],
      options: [],
      selected: {},
      assignedtome: false,
      issearchfromctlg: false,
      isassigntomeload: false,
      company: "PT. BANK MANDIRI, TBK",
      customer: null,
      notes: null,
      summary: null,
      type_incident: "1-Internal",
      urgency: "2-High",
      service: "",
      note_content: "",
      var_id: "",
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assignedSupportCompanySelected: "PT. BANK MANDIRI, TBK",
      assigned_support_organization: ["IT INFRASTRUCTURE GROUP"],
      assignedSupportOrganizationSelected: "IT INFRASTRUCTURE GROUP",
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null,
      status: "Assigned",
      resolution: null
    };
  },

//   mounted(){
//         var str = "Testing enkripsi";
//         var base64 = btoa(str);
//         var decoded = atob(base64);
//         console.log("Base64 : " . base64);
//         console.log("Decoded : " . decoded);
//     },
  methods: {
      handleAddFileResponse(response) {
      var data = JSON.parse(response);
      var responsedata = data.responsedata;
      console.log(responsedata);
    //   var message = {
    //     id: responsedata.id,
    //     requestId: responsedata.requestId,
    //     senderId: responsedata.senderId,
    //     senderName: responsedata.senderName,
    //     content: responsedata.content,
    //     timestamp: responsedata.timestamp
    //   };
    //   console.log(message);
    //   if (this.processstatus !== "DISPATCH") {
    //     this.rqdata.messages.push(message);
    //   } else {
    //     this.messages.push(message);
    //   }
      return responsedata.requestId + "_" + responsedata.id;
    },

    enableForm() {
      this.isload = true;
    },
    disableForm() {
      this.isload = false;
    },

    handleDeleteFileResponse(uniqueId) {
      console.log(uniqueId);
      return uniqueId;
    },

    handleFilePondInit: function() {
      console.log("FilePond has initialized");
      var file = this.$refs.pond.getFiles();
    },

    customerChanged() {
      this.requester_company = this.customer.company;
      this.requester_dept_name = this.customer.department_name;
      this.requester_email = this.customer.email;
      this.requester_first_name = this.customer.first_name;
      this.requester_full_name = this.customer.full_name;
      this.requester_group_name = this.customer.group_name;
      this.requester_person_id = this.customer.id;
      this.requester_last_name = this.customer.last_name;
      this.requester_region_name = this.customer.region_name;
    },

    assignToMe() {
      this.isassigntomeload = true;
      axios
        .post("/employee_remedy/assignee_login_id", {
          assigneeLoginId: this.auth.un_remedy
        })
        .then(response => {
          this.assignedtome = true;
          this.isassigntomeload = false;
          this.assignedSupportCompanySelected = response.data.company;
          this.assignedSupportOrganizationSelected = response.data.organization;
          this.assignedSupportGroupSelected = response.data.support_group_name;
          this.assigneeSelected = response.data.full_name;
        });
    },

    assignToOther() {
      this.assignedtome = false;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
    },

    getAssignedSupportCompany() {
      axios.get("/employee_remedy/support_company").then(response => {
        this.assigned_support_company = response.data;
        this.option_company = response.data;
        this.assigned_support_organization = ["IT INFRASTRUCTURE GROUP"];
        this.assignedSupportOrganizationSelected =  "IT INFRASTRUCTURE GROUP";
      });
    },

    onSearch(search, loading) {
      loading(false);
      if (search.length >= 4) {
        this.search(loading, search, this, this.company);
      }
    },

    search: _.debounce((loading, search, vm, company) => {
      axios
        .post("/employee_remedy/customer_profile", {
          inputname: search,
          company: company
        })
        .then(res => {
          vm.options = res.data;
        });
    }, 350),

    copyCustomer: function(e) {
      if (
        this.notes == null ||
        this.notes == "" ||
        typeof this.notes == "undefined"
      ) {
        this.notes = e.text;
      }
    },

    onChangeAssignedSupportCompany() {
      if (!this.assignedtome) {
        this.assignedSupportOrganizationSelected = null;
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          axios
            .post("/employee_remedy/support_organization", {
              supportCompany: this.assignedSupportCompanySelected
            })
            .then(response => {
              this.assigned_support_organization = response.data;
            });
        }
      }
    },

    onChangeAssignedSupportOrganization() {
      if (!this.assignedtome) {
        this.assignedSupportGroupSelected = null;
        this.assigneeSelected = null;
        if (event != null) {
          this.assigned_support_group = [];
          this.assigned_name = [];
          axios
            .post("/employee_remedy/support_group", {
              supportCompany: this.assignedSupportCompanySelected,
              supportOrganization: this.assignedSupportOrganizationSelected
            })
            .then(response => {
              this.assigned_support_group = response.data;
            });
        }
      }
    },

    onChangeAssignedSupportGroup() {
      // if (!this.assignedtome) {
      // this.assigneeSelected = null;
      if (event != null) {
        this.assigned_name = [];
        axios
          .post("/employee_remedy/assignee", {
            supportCompany: this.assignedSupportCompanySelected,
            supportOrganization: this.assignedSupportOrganizationSelected,
            supportGroupName: this.assignedSupportGroupSelected
          })
          .then(response => {
            this.assigned_name = response.data;
          });
      }
      // }
    },

    onChangeServiceCI(event) {
        this.service = "";
        if (event != null) {
          axios
            .post("/service")
            .then(response => {
              this.optionsService = response.data.result;
            });
        }
    },
    executeTaskCreateTicket(next) {
      this.removeInvalidChars();
      if (
        this.status == "Assigned" &&
        this.assigneeSelected == this.auth.name
      ) {
        flash({
          id: "untuk incoming incident",
          message:
            "ATTENTION : If you choose assigned status, recipient's name can not be own name, assigned status is only to give ticket to other users or support groups",
          flashtype: "warning"
        });
      } else {
        this.$validator.validateAll().then(result => {
          this.submitted = result;
          this.submitted_ = result;
          if (result) {
            var content = {
              requester_person_id: this.requester_person_id,
              requester_full_name: this.requester_full_name,
              requester_first_name: this.requester_first_name,
              requester_last_name: this.requester_last_name,
              requester_email: this.requester_email,
              requester_company: this.requester_company,
              requester_region_name: this.requester_region_name,
              requester_group_name: this.requester_group_name,
              requester_dept_name: this.requester_dept_name,
              assignee_support_company: this.assignedSupportCompanySelected,
              assignee_support_organization: this.assignedSupportOrganizationSelected,
              assignee_support_group_name: this.assignedSupportGroupSelected,
              assignee_name: this.assigneeSelected,
              notes_description: this.notes,
              summary_description: this.summary,
              type_incident: this.type_incident,
              urgency: this.urgency,
              priority: null,
              reported_source: this.source,
              product_name: null,
              model_version: null,
              resolution: this.resolution,
              status: this.status,
              service: this.service
            };

            this.createIncomingIncident(next, {
              requestId: this.tamp_id,
              content: content,
            });
          }
        });
      }
    },

    createIncomingIncident(next, recdata) {
      if (!next) {
        let loader = this.$parent.$loading.show({
          loader: "dots"
        });
        this.incidentcreation = false;
        axios
          .post("/dashboard/incident/create/" + this.servicetype, recdata)
          .then(res => {
            this.$emit("push-flash-notification", {
              status: res.data.status,
              wsdlStatus: res.data.wsdlStatus,
              id: res.data.responsedata.id,
              message: res.data.message
            });
            loader.hide();
          });
      }else {
        axios
          .post("/dashboard/incident/create/" + this.servicetype, recdata)
          .then(res => {
            axios
            .post("/dashboard/incident/create/staging", {
              recipientid: res.data.responsedata.RecipientID,
              status: "DISPATCH",
              actticketcreation: "IN_PLANNED",
              servicecatalogid: null
            })
            .then(resp => {
              this.tamp_id = resp.data.responsedata.id;
              this.processts = res.data.processStatus;
              this.rqdata = res.data.responsedata;
              if (res.data.status) {
                if (res.data.wsdlStatus) {
                  flash({
                    id: res.data.responsedata.id,
                    message: res.data.message,
                    flashtype: "info"
                  });
                } else {
                  flash({
                    id: res.data.responsedata.id,
                    message: res.data.message,
                    flashtype: "warning"
                  });
                  refreshPendingCount("pending-ticket");
                }
              } else {
                flash({
                  id: res.data.responsedata.id,
                  message: res.data.message,
                  flashtype: "danger"
                });
                refreshPendingCount("pending-ticket");
              }
              this.reset();
            });
          });
      }
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    reset() {
      this.note_content = "";
      this.service = "",
      this.myFiles = [];
      this.issearchfromctlg = false;
      this.selectedCatalog = null;
      this.submitted = false;
      this.submitted_ = false;
      this.customer = null;
      this.notes = null;
      this.summary = null;
      this.assignedSupportCompanySelected = null;
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.assigneeSelected = null;
      this.resolution = null;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      this.company = "PT. BANK MANDIRI, TBK";
      this.type_incident = "1-Internal";
      this.urgency = "2-High";
      if (this.source === "Phone") {
        this.status = "Resolved";
      } else {
        this.status = "Assigned";
      }
      this.assignedtome = false;
      this.isassigntomeload = false;
      this.$validator.reset();
    },

    removeInvalidChars() {
      var regExpr2 = /[#]/g;
      this.summary =
        this.summary != null
          ? this.summary.replace(regExpr2, "")
          : this.summary;
      this.notes =
        this.notes != null ? this.notes.replace(regExpr2, "") : this.notes;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr2, "")
          : this.resolution;
    },
  }
};
</script>
