<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline red" style="color:white;">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text style="margin-top:10px">{{content}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doIgnore">Batal</v-btn>
          <v-btn color="red" text @click="doAccept">Lanjutkan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["title", "content", "called", "value"],
  data() {
    return {      
      dialog: false
    };
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
    }
  },
  methods: {
    doIgnore() {
      this.dialog = false;
      this.$emit("doIgnore");
    },
    doAccept() {
      this.dialog = false;
      this.$emit("doAccept", this.value);
    }
  }
};
</script>