<template>
  <v-app justify="space-between">
    <v-container fluid>
      <v-card tile>
        <v-card-title>
          <v-text-field
            v-model="searchData"
            label="Cari..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-container fluid>
          <div v-if="access_data.length <= 0">
            <div class="alert alert-info" role="alert">
              <span
                class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"
              ></span>
              No Data Available
            </div>
          </div>
          <div v-else>
            <v-data-table
              dense
              :headers="simpleHeader"
              :items="access_data"
              :search="searchData"
              :loading="loaded"
              disable-pagination
              hide-default-footer
              loading-text="Loading... Please wait !"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr
                    v-for="item in items"
                    :class="{
                      primary:
                        item.UserID + '' + item.LevelIDTeller === selectedId,
                    }"
                    :key="item.UserID"
                    v-on:click="clickList(item)"
                  >
                    <td>{{ item.UserID }}</td>
                    <td>{{ item.LevelIDTeller }}</td>
                    <td>
                      <v-chip
                        label
                        :color="getColor(item.LevelIDPlatfrm)"
                        dark
                        >{{ item.LevelIDPlatfrm }}</v-chip
                      >
                    </td>
                    <td>{{ item.supervisor }}</td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          </div>
        </v-container>
      </v-card>
    </v-container>
  </v-app>
</template>
<script>
export default {
  props: ["data_access_desc"],
  data() {
    return {
      searchData: "",
      simpleHeader: [
        { text: "User ID", value: "UserID" },
        { text: "Level ID", value: "LevelIDTeller" },
        { text: "Khasanah", value: "LevelIDPlatfrm" },
        { text: "Supervisor", value: "supervisor" },
      ],
      access_data: [],
      loaded: true,
      selectedId: null,
    };
  },
  watch: {
    data_access_desc: function (newvalue) {
      this.access_data = newvalue;
      this.loaded = false;
    },
  },
  methods: {
    clickList(data) {
      this.selectedId = data.UserID + "" + data.LevelIDTeller;
      this.$emit("level-id-selected", {
        levelId: data.LevelIDTeller,
      });
    },
    getColor(data) {
      if (data == "U") return "pink";
      else return "purple";
    },
  },
};
</script>
