<template>
  <div>
    <div class="modal-body">
      <div class="form-horizontal needs-validation"></div>Are you sure you want to delete ?
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-info"
        data-dismiss="modal"
        @click="submitDelete(list_access_prop)"
      >Submit</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["list_access_prop"],
  methods: {
    closeWindow() {
      this.$emit("closewindows");
    },

    submitDelete(idRequest) {
      this.$emit("submit-delete", {
        data: idRequest
      });
    }
  }
};
</script>
