<template>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Level ID</th>
          <th class="text-center">Func ID</th>
          <th class="text-center">Func Type</th>
          <th class="text-center">Override</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="result in data_list_kotran"
        :data_list_kotran="result"
        :key="result.LevelID+'-'+result.FuncID">
          <td class="text-center">{{ result.LevelID }}</td>
          <td class="text-center">{{ result.FuncID }}</td>
          <td class="text-center">{{ result.FuncType }}</td>
          <td class="text-center">{{ result.Override }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalConfirm'"
                v-on:click="deleteSelected(result)"
              >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["data_list_kotran"],
  methods: {
    deleteSelected(idRequest) {
      this.$emit("delete-selected", {
        data: idRequest
      });
    }
  },
};
</script>
