<template>
  <form @submit.prevent="submit">
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="col-md-12">
          <label>
            <strong>Head Teller</strong>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Head Teller"
            readonly="readonly"
            v-model="head_teller"
          />
        </div>
        <div class="col-md-12">
          <label>
            <strong>Level ID</strong>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Level ID"
            v-validate="'required'"
            name="Level ID"
            v-model="level_id_selected"
          />
          <span
            v-show="errors.has('Level ID')"
            class="valid-feedback text-danger"
          >{{ errors.first('Level ID') }}</span>
        </div>
        <div class="col-md-12">
          <label>
            <strong>Func ID</strong>
          </label>
          <v-select
            :options="optionsFuncId"
            label="name"
            v-model="selectedFuncId"
            v-validate="'required'"
            name="Func ID"
          >
            <template slot="option" slot-scope="option">
              <input type="hidden" :value="option.id" />
              <div class="d-center">{{ option.name }}</div>
            </template>
          </v-select>
          <span
            v-show="errors.has('Func ID')"
            class="valid-feedback text-danger"
          >{{ errors.first('Func ID') }}</span>
        </div>
        <div class="col-md-12">
          <button class="btn btn-info btn-block btn-md" type="submit">Submit</button>
        </div>
        <!-- <div class="form-group">
            <div class="col-md-12">
              <label>
                <strong>Override</strong>
              </label>
              <v-select
                :options="optionsOverride"
                label="name"
                v-model="selectedOverride"
                v-validate="'required'"
                name="Override"
              >
                <template slot="option" slot-scope="option">
                  <input type="hidden" :value="option.id">
                  <div class="d-center">{{ option.name }}</div>
                </template>
              </v-select>
              <span
                v-show="errors.has('Override')"
                class="valid-feedback text-danger"
              >{{ errors.first('Override') }}</span>
            </div>
        </div>-->
      </div>
    </div>
  </form>
</template>
<script>
export default {
  props: ["head_teller", "level_id_selected"],
  data: function() {
    return {
      options: [],
      optionsFuncId: ["0037", "0067", "AM37", "CM67"],
      selectedFuncId: ""
      // optionsOverride: ["Y", "N"],
      // selectedOverride: "",
    };
  },
  methods: {
    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-form", {
            headTeller: this.head_teller,
            levelIDTeller: this.level_id_selected,
            funcId: this.selectedFuncId
            // override: this.selectedOverride
          });
        }
      });
    }
  }
};
</script>

