<template>
  <div class="col-md-5" style="border-left: 12px">
    <div class="panel panel-default" style="max-height:450px;">
      <div class="col-md-6">
        <div class="panel-body form-horizontal">
          <div
            class="form-group"
            style="margin-left: -15px; margin-bottom: 3px; margin-top: 0px; padding: 0px 0px 5px;"
          >
            <div class="col-md-12">
              <label>Sender Name</label>
              <input
                type="text"
                class="form-control"
                :value="messageprop.chatsubscribeduser.employeeremedy.full_name"
                readonly="true"
              />
            </div>
          </div>
          <div
            class="form-group"
            style="margin-left: -15px; margin-bottom: 3px; margin-top: 0px; padding: 0px 0px 5px;"
          >
            <div class="col-md-12">
              <label>Company</label>
              <input
                type="text"
                class="form-control"
                :value="messageprop.chatsubscribeduser.employeeremedy.company"
                readonly="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel-body form-horizontal">
          <div
            class="form-group"
            style="margin-left: -15px; margin-bottom: 3px; margin-top: 3px; padding: 0px 0px 5px;"
          >
            <div class="col-md-12">
              <label>Oraganization</label>
              <input
                type="text"
                class="form-control"
                :value="messageprop.chatsubscribeduser.employeeremedy.organization"
                readonly="true"
              />
            </div>
          </div>
          <div
            class="form-group"
            style="margin-left: -15px; margin-bottom: 3px; margin-top: 3px; padding: 0px 0px 5px;"
          >
            <div class="col-md-12">
              <label>Department</label>
              <input
                type="text"
                class="form-control"
                :value="messageprop.chatsubscribeduser.employeeremedy.department_name"
                readonly="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel-body form-horizontal">
          <div
            class="form-group"
            style="margin-left: -15px; margin-bottom: 3px; margin-top: 3px; padding: 0px 0px 5px;"
          >
            <div class="col-md-12">
              <label>Messages</label>
              <textarea
                class="form-control"
                rows="3"
                name="notes"
                style="resize: none;"
                required="required"
                placeholder="Please type what your message"
                v-model="messageText"
                @keyup.enter="sendMessage"
              ></textarea>
            </div>
            <div
              class="form-group"
              style="margin-left: -15px; margin-bottom: 3px; margin-top: 3px; padding: 0px 0px 5px;"
            >
              <div class="col-md-3">
                <button class="btn btn-info btn-block" type="submit" @click="sendMessage" style="margin-left:15px">Send</button>
              </div>
              <input type="hidden" class="form-control" :value="messageprop.id" id="request-id" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["isloaded", "messageprop"],
  data() {
    return { messageText: "" };
  },
  methods: {
    sendMessage() {
      this.$emit("messagesent", {
        content: this.messageText,
        requestId: this.messageprop.id
      });
      this.messageText = "";
    }
  }
};
</script>
