<template>
  <div class="item item-visible" :class="{in:(message.sender == 'Customer')}">
    <div class="image">
      <img :src="'../../assets/images/users/no-image.jpg'" alt="User">
    </div>
    <div
      class="text"
      :style="message.sender == 'Customer' ? {'background':'#fff'}:{'background':'#F6F6F6'}"
    >
      <div class="heading">
        <a
          href="#"
          v-if="message.sender=='Customer'"
        >{{message.senderName}}</a>
        <a href="#" v-else>{{message.agentName}}</a>
        <span class="date">{{message.timestamp | mydateformat}}</span>
      </div>
      <div v-if="message.content == '@!image_from_customer'" >
        <a class="gallery-item" :href="app_url+'/assets/uploads/images/livechat/'+message.requestId+'_'+message.id+'.jpg'" title="photos" data-gallery >
            <div class="span6 col-md-5" style="float:none;margin:0 auto;">
              <img :src="app_url+'/assets/uploads/images/livechat/'+message.requestId+'_'+message.id+'.jpg'" width="200px" height="100px" />
            </div>
         </a>
        
      </div>
      <div v-else>{{message.content}}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["message", "isloaded","messageprop"],
  data(){
    return{
      app_url: process.env.MIX_APP_URL,
    }
  },
};
</script>
