<template>
  <div
    class="modal"
    id="modal-livechat-created"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded && modalname=='modal-livechat-created'">
            <h5 class="modal-title" id="smallModalHead" style="margin-bottom:-10px;">
              Incident Summary : {{requestdata.Text}} / Request Id : {{requestdata.id}}
              <a
                target="_blank"
                v-if="requestdata.RemedyTicketId!='N/A' || requestdata.RemedyTicketId != null"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.RemedyTicketId+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-livechat-created'">
                <div class="col-md-4" style="border-left: 12px;">
                  <div class="panel panel-default" style="height:540px">
                    <div class="panel-heading">Request Summary</div>
                    <div class="panel-body form-horizontal" style="border-radius: 10px;">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label>Company</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.supportgroupassigneeremedy.company"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Customer</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.SenderNumber"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Notes</label>
                          <textarea
                            class="form-control"
                            rows="5"
                            name="Notes"
                            style="resize: none;height:50%;"
                            readonly="true"
                            :value="chathistory"
                            v-validate="'required'"
                          ></textarea>
                          <span
                            v-show="errors.has('Notes')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Notes') }}</span>
                        </div>

                        <div class="col-md-12">
                          <label>Summary</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[4]"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Impact</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[7]"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Urgency</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[8]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="border-left: 12px">
                  <div class="panel panel-default" style="height:540px">
                    <div class="panel-heading">Assigned</div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label>Status</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.ProcessStatus"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Company</label>
                          <input
                            v-if="requestdata.inbox.supportgroupassigneeremedy.company==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.supportgroupassigneeremedy.company"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Organization</label>
                          <input
                            v-if="requestdata.inbox.supportgroupassigneeremedy.organization==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.supportgroupassigneeremedy.organization"
                            readonly="true"
                          />
                        </div>

                        <div class="col-md-12">
                          <label>Assigned Support Group</label>
                          <input
                            v-if="requestdata.inbox.supportgroupassigneeremedy.support_group_name==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.supportgroupassigneeremedy.support_group_name"
                            readonly="true"
                          />
                        </div>
                        <div class="col-md-12">
                          <label>Assignee</label>
                          <input
                            v-if="requestdata.inbox.supportgroupassigneeremedy.full_name==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          />
                        </div>
                        <div class="col-md-12">
                          <label>Resolution</label>
                          <textarea
                            :value="requestdata.inbox.TextDecoded.split('#')[20]"
                            class="form-control"
                            rows="5"
                            name="notes"
                            style="resize: none;height:100%;"
                            readonly="true"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" style="border-left: 12px">
                  <div class="panel panel-default" style="height:260px">
                    <div class="panel-heading">Product Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[12]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[13]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: -10px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[14]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" style="height:260px">
                    <div class="panel-heading">Oprational Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[17]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[18]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: -5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.inbox.TextDecoded.split('#')[19]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="processstatus=='CLOSED' && isdataloaded">
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
          <div v-else>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-closure"
              style="width:120px;"
              @click="closuringTask"
            >Change Status</button>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded && isdelegateenabled"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-delegate"
              style="width:123px;"
              @click="delegateTask"
            >Change Assignee</button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled",
    "iscreatedlivechat"
  ],

  computed: {
    iscreated: {
      get: function() {
        return this.iscreatedtmp;
      },
      set: function(newvalue) {
        this.iscreatedtmp = newvalue;
      }
    }
  },
  
  watch: {
    iscreatedlivechat: function() {
      this.iscreatedtmp = this.iscreatedlivechat;
      if (this.iscreatedlivechat) {
        this.getLiveChatHistory(this.requestdata.inbox.id);
        this.iscreated = false;
      }
    }
  },

  data: function() {
    return {
      iscreatedtmp: false,
      issearchfromctlg: false,
      optionsCatalog: [],
      selectedCatalog: null,

      chathistory: "",

      submitted: false,

      optionsStatus: [
        "Assigned",
        "In Progress",
        "Pending",
        "Resolved",
        "Cancelled"
      ],

      optionsImpact: [
        "1-Extensive/Widespread",
        "2-Significant/Large",
        "3-Moderate/Limited",
        "4-Minor/Localized"
      ],

      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],

      optionsIncidentType: [
        "User Service Restoration",
        "User Service Request",
        "Infrastructure Restoration",
        "Infrastructure Event"
      ],

      assignedtome: false,
      isassigntomeload: false,
      impact: "4-Minor/Localized",
      urgency: "4-Low",
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assignedSupportCompanySelected: null,
      assigned_support_organization: [],
      assignedSupportOrganizationSelected: null,
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null,
      status: "Assigned",
      statusReason: "No Further Action Required",
      resolution: null,
      product_category_tier_1: [
        "APPLICATION",
        "CREDIT CARD",
        "ELECTRONIC CHANNEL",
        "Hardware",
        "HC4U",
        "INFRASTRUCTURE",
        "IT SECURITY",
        "KARTU KREDIT",
        "LAYANAN CABANG",
        "MFSCM WHOLESALE",
        "MYIT",
        "SECURITY SYSTEM",
        "Service",
        "TBR",
        "TRANSACTION BANKING PRODUCT",
        "WHOLESALE"
      ],
      product_category_tier_2: [],
      product_category_tier_3: [],
      operational_category_tier_1: [],
      operational_category_tier_2: [],
      operational_category_tier_3: [],
      productCategoryTier1Selected: null,
      productCategoryTier2Selected: null,
      productCategoryTier3Selected: null,
      operationalCategoryTier1Selected: null,
      operationalCategoryTier2Selected: null,
      operationalCategoryTier3Selected: null
    };
  },

  methods: {
    getLiveChatHistory(requestid) {
      axios
        .get("/telegram/livechat/message/load/chat/history/" + requestid)
        .then(response => {
          this.chathistory = response.data.results.content_summary;

        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },
    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata.inbox,
        modalname: "modal-incident-closure",
        isclosuring: true
      });
    },

    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata.inbox,
        isdelegating: true,
        modalname: "modal-incident-delegate"
      });
    },

    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    },

    removeInvalidChars() {
      var regExpr2 = /[#]/g;
      var regExpr = /[^\x00-\x7F]/g;

      this.chathistory =
        this.chathistory != null
          ? this.chathistory.replace(regExpr, "")
          : this.chathistory;
      this.chathistory =
        this.chathistory != null
          ? this.chathistory.replace(regExpr2, "")
          : this.chathistory;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr, "")
          : this.resolution;
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr2, "")
          : this.resolution;
    }
  }
};
</script>
