<template>
  <div
    class="modal"
    id="modal-livechat"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <div v-if="isdataloaded && modalname=='modal-livechat'">
            <h5
              class="modal-title"
              id="smallModalHead"
            >Live Chat - Request ID :{{inbox.id}} - Tikcet No : {{inbox.RemedyTicketId}}</h5>
          </div>
          <div v-else-if="isdataloaded && modalname!='modal-livechat'">
            <spinner-data-loading :isdataloaded=false></spinner-data-loading>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-livechat'">
                <div v-if="processstatus=='CLOSED'">
                  <chat-messages-log
                    ref="chatlogclosed"
                    :messages="chatdata"
                    :messageprop="inbox"
                    :processstatus="processstatus"
                  ></chat-messages-log>
                </div>
                <div v-else>
                  <chat-compose v-on:messagesent="addMessage" :messageprop="inbox"></chat-compose>
                  <chat-messages-log
                    ref="chatlogactive"
                    :messages="chatdata"
                    :messageprop="inbox"
                    :processstatus="processstatus"
                  ></chat-messages-log>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-7 col-md-offset-5">
            <button
              type="button"
              class="btn btn-info pull-right"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Close</button>
            <div v-if="redirecttolivechat && isdataloaded">
              <button
                type="button"
                class="btn btn-info pull-right"
                data-dismiss="modal"
                style="width:120px;"
                @click="dismissChat"
              >Dismiss Chat</button>
            </div>
            <!-- <div
              v-else-if="processstatus!='CLOSED' && isdataloaded && !redirecttolivechat && modalname=='modal-livechat'"
            > -->
            <div
              v-else
            >
              <div v-if="inbox.RemedyTicketId !== 'N/A'">
                <button
                  type="button"
                  class="btn btn-info pull-right"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-backdrop
                  data-target="#modal-create-ticket"
                  style="width:120px;"
                  @click="completeTask"
                >Complete Task</button>
                <button
                  type="button"
                  class="btn btn-info pull-right"
                  data-dismiss="modal"
                  style="width:120px;"
                  @click="rejectTaskLiveChat"
                >Reject Task</button>
                <button
                  type="submit"
                  class="btn btn-info pull-right"
                  data-dismiss="modal"
                  data-backdrop
                  data-toggle="modal"
                  data-target="#modal-incident-delegate"
                  style="width:123px;"
                  @click="delegateTask"
                >Change Assignee</button> 
              </div>
              <div v-else>
                <div v-if="modalname === 'modal-livechat'">
                  <button
                    v-if="inbox.RemedyTicketId === 'N/A'"
                    type="button"
                    class="btn btn-info pull-right"
                    style="width:120px;"
                    :disabled="submitted?true:false"
                    @click="createIncident"
                  >Create Incident</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isredirecttolivechat"
    // "islivechat"
  ],

  computed: {
    redirecttolivechat: {
      get: function() {
        return this.redirecttolivechattmp;
      },
      set: function(newvalue) {
        this.redirecttolivechattmp = newvalue;
      }
    },
    inbox: {
      get: function() {
        return this.inboxtmp;
      },
      set: function(newvalue) {
        this.inboxtmp = newvalue;
      }
    },
    // livechat: {
    //   get: function() {
    //     return this.livachattmp;
    //   },
    //   set: function(newvalue) {
    //     this.livachattmp = newvalue;
    //   }
    // },
    chatdata: {
      get: function() {
        return this.chatdatatmp;
      },
      set: function(newvalue) {
        this.chatdatatmp = newvalue;
      }
    }
  },

  watch: {
    // islivechat: function() {
    //   this.livachattmp = this.islivechat;
    // },
    isredirecttolivechat: function() {
      this.redirecttolivechattmp = this.isredirecttolivechat;
    },
    requestdata: function() {
      this.inboxtmp = this.requestdata.inbox;
      this.chatdatatmp = this.requestdata.chatdata;
    }
  },

  data: function() {
    return {
      submitted: false,
      livachattmp: false,
      redirecttolivechattmp: false,
      inboxtmp: {},
      chatdatatmp: [],
      app_url: process.env.MIX_APP_URL,
    };
  },

  methods: {
    completeTask() {
      this.$emit("complete-task", {
        requestid: this.inbox.id,
        modalname: "modal-create-ticket",
        isincidentlivechat: true
      });
    },

    createIncident() {
      this.submitted = true;
      axios.get("/telegram/livechat/init/" + this.inbox.id).then(r => {
        this.reset();
        this.inbox = r.data.responsedata.inbox;
        this.chatdata = r.data.responsedata.chatdata;
        if (r.data.status == false) {
            flash({
              id: this.inbox.id,
              message: r.data.message + ", WSDL: " + r.data.wsdl,
              flashtype: "danger"
            });
          } else {
            flash({
              id: this.inbox.id,
              message: r.data.message,
              flashtype: "info"
            });
          }
          this.submitted = false; 
      })
      .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    delegateTask() {
      this.$emit("task-delegated", {
        // requestid: this.inbox.id,
        // modalname: "modal-delegate",
        // isdelegating: true
        request: this.inbox,
        isdelegating: true,
        modalname: "modal-incident-delegate"
      });
      this.reset();
    },

    rejectTaskLiveChat() {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      axios
        .post("/telegram/livechat/rejectchatrequest", {
          id: this.inbox.id
        })
        .then(res => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            wsdlStatus: res.data.wsdlStatus,
            id: this.inbox.id,
            message: res.data.message
          });
          this.reset();
          loader.hide();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              wsdlStatus: false,
              id: "catch error code",
              message: error.response.data.message
            });
            this.reset();
            loader.hide();
          }
        });
    },

    dismissChat() {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      axios
        .post("/telegram/livechat/dismissfromlivechat", {
          id: this.inbox.id
        })
        .then(res => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            wsdlStatus: true,
            id: this.inbox.id,
            message: res.data.message
          });
          loader.hide();
          this.reset();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              wsdlStatus: false,
              id: "catch error code",
              message: error.response.data.message
            });
            this.reset();
            loader.hide();
          }
        });
    },

    addMessage(message) {
      if (this.isdataloaded && this.requestid == message.requestId) {
        axios
          .post("/telegram/livechat/message/from/agent", message)
          .then(response => {
            this.chatdata.push(response.data);
            setTimeout(() => this.scrollToEnd(), 800);
          })
          .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
      }
    },

    closeWindow() {
      this.reset();
      // dismissflash();
      this.$emit("modal-closed");
      console.log(process.env.MIX_APP_URL)
      console.log(this.app_url)
    },

    reset() {
      this.inbox = {};
      this.chatdata = [];
      this.redirecttolivechat = false;
      // this.livachattmp = false;
    },

    scrollToEnd: function() {
      if (this.isclosed && this.isdataloaded) {
        var container = this.$refs.chatlogclosed.$refs.chatcontainer;
        container.scrollTop = container.scrollHeight;
      } else if (this.isdataloaded) {
        var container = this.$refs.chatlogactive.$refs.chatcontainer;
        container.scrollTop = container.scrollHeight;
      }
    }
  }
};
</script>
