<template>
    <v-row justify="start" style="padding-left:30px; padding-right:30px; margin-bottom:-30px;">
        <v-col cols="6">
            <v-autocomplete
              v-model="table"
              :items="['EDC','AppDynamics','Mandol','Kibana','ASP_Source'].sort()"
              label="Source"
              flat
              :rules="commonRules"
              @change="changeTable(table)"
              required
            ></v-autocomplete>
        </v-col>
        <v-col cols="6" v-if="table==='AppDynamics'">
            <v-autocomplete
              v-model="fitur"
              :items="['Response Time','Setting']"
              label="Fitur"
              flat
              :rules="commonRules"
              @change="changeFitur(fitur)"
              required
            ></v-autocomplete>
        </v-col>
    </v-row>
</template>
<script>
export default {
    data() {
        return {
            table: 'AppDynamics',
            fitur: 'Response Time',
            commonRules: [v => !!v && /[^ ]/.test(v) || "Required value !"],
        };
    },
    mounted(){
        if(this.table!=='AppDynamics'){
            this.$emit("doChange",{
              table: this.table,
              iscommon: true,
            });
        }else{
            this.$emit("doChange",{
              table: this.fitur,
              iscommon: false,
            });
        }
    },
    methods: {
        changeTable(table){
            if(table!=='AppDynamics'){
                this.$emit("doChange",{
                  table: table,
                  iscommon: true,
                });
            }else{
                this.$emit("doChange",{
                  table: this.fitur,
                  iscommon: false,
                });
            }
        },
        changeFitur(fitur){
            this.$emit("doChange",{
              table: fitur,
              iscommon: false,
            });
        },
    },
}
</script>