<template>
<v-container fluid>
    <v-card tile>
      <v-btn v-if="accessCreate==true" color="primary" dark @click.stop="callFormMaster()">
          <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
    
      <v-row justify="space-between">
        <alert-message
          :info="valuesMaster"
        ></alert-message>
      </v-row>
      <v-row>
      <v-container>
        <v-card tile>
          <v-card-title>
            <v-text-field v-model="searchMaster" label="Cari..." single-line hide-details></v-text-field>
            <download-excel
              v-if="accessExport==true && Object.keys(getMasterApdys).length > 0 && loadedMaster == true" 
              style="background-color:#1976d2 !important;color:white;font-size:bolder"
              class   = "btn btn-default"
              :data   = "this.getMasterApdys"
              :fields = "json_fieldsMaster"
              worksheet = "My Worksheet"
              :name    = "this.fileNameMaster"
              type    = "xls">
                Export
            </download-excel>
          </v-card-title>
          <v-container fluid>
            <v-data-table
              dense
              :headers="getMasterSimpleHeader"
              :items="getMasterApdys"
              :loading="!loadedMaster"
              :search="searchMaster"
              loading-text="Mengambil data.. mohon menunggu"
            >
            <template v-slot:item.business_txn_metrics="props">
              <label>{{ props.item.business_txn_metrics.substring(0,25) }}</label>
            </template>
            <template v-slot:item.rest_url="props">
              <label>{{ props.item.rest_url.substring(0,25) }}</label>
            </template>
              <template v-slot:item.action="{ item }">
                <simple-action-table
                  :item="item"
                  :isShow="true"
                  v-on:itemToEdit="editItemMaster"
                  v-on:itemToDelete="confirmDeleteMaster"
                ></simple-action-table>
              </template>
            </v-data-table>
            <master-apdy-bridge-form
              :called="calledMaster"
              v-on:cancel="dialogClosedMaster"
              v-on:saveOrUpdate="saveOrUpdateMaster"
            ></master-apdy-bridge-form>
            <warning-dialog
              :called="warningMaster"
              :title="'Hapus Data !!!'"
              :content="'Anda akan menghapus data, apakah anda yakin?'"
              :value="getMasterEditItem"
              v-on:doAccept="deleteMasterItem"
              v-on:doIgnore="dialogClosedMaster"
            ></warning-dialog>
          </v-container>
        </v-card>
      </v-container>
    </v-row>
    </v-card>
</v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel);
import MasterApdyBridgeForm from "../../components/form/MasterApdyBridgeForm";
import WarningDialog from "../../components/dialog/WarningDialog";
import SimpleActionTable from "../../components/SimpleActionTable";
export default {
    components: {
      MasterApdyBridgeForm,
      WarningDialog,
      SimpleActionTable
    },
  data() {
    return {
      json_fieldsMaster: {
            'Service Name': 'pmmastersystemavailability.system_name',
            'Site': 'site',
            'Machine': 'machine',
            'Type' : 'type',
            'Business Txn Metrics' : 'business_txn_metrics',
            'Rest URL': 'rest_url',
            'Node': 'node'
      },
      accessExport: false,
      accessCreate: false,

      searchMaster: "",
      calledMaster: false,
      warningMaster: false,
      loadedMaster: false,
      valuesMaster:{},
      fileNameMaster:"",
    };
  },
  watch:{
    getPermission: function(newVal){
      this.accessExport = newVal;
    },
    getPermissionSlot2: function(newVal){
      this.accessCreate = newVal;
    },
    getMasterApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.valuesMaster = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loadedMaster = newVal != 1 ? true : false;
    },
  },
  computed: {
    ...mapGetters("master_apdy_bridge", {
      getMasterEditItem: "getEditItem",
      getMasterEditIndex: "getEditIndex",
      getMasterSimpleHeader: "getSimpleHeader",
      getMasterApiState: "getApiState",
      getMasterAlertMessage: "getAlertMessage",
      getMasterApdys: "getMasterApdys",
    }),
    ...mapGetters("userconfig",[
    "getPermission",
    "getPermissionSlot2",
    ])
  },
  
  mounted(){
    this.resetMasterApdys();
    this.resetPermission();
    this.initPMMasterApdyBridge();
    var payload = {
        module: 'response_time',
        action: ['read'],
      };
    this.checkPermission(payload);

    var payloadSlot2 = {
      module:'response_time',
      action: ['create'],
    };
    this.checkPermissionSlot2(payloadSlot2);

    var yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    this.isDate = yesterday.toISOString().substr(0, 10);
    this.fileNameMaster = "responsetime_setting.xls";
  },
  methods: {
    ...mapActions("master_apdy_bridge",{
      initPMMasterApdyBridge: "initPMMasterApdyBridge",
      addMasterSystem: "addPMMasterApdyBridge",
      updateMasterSystem: "updateMasterApdyBridge",
      deletePMMasterApdyBridge: "deletePMMasterApdyBridge",
      resetMasterItem:"resetItem",
      resetMasterApdys:"resetMasterApdys",
      updateMasterItem:"updateItem",
    }),
    ...mapActions("userconfig",[
      "checkPermission",
      "checkPermissionSlot2",
      "resetPermission"
    ]),
    callFormMaster() {
      this.resetMasterItem();
      this.calledMaster = true;
    },
    editItemMaster(item) {
      this.calledMaster = true;
      this.updateMasterItem({
        index: this.getMasterApdys.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    dialogClosedMaster() {
      this.resetMasterItem();
      this.calledMaster = false;
      this.warningMaster = false;
    },
    confirmDeleteMaster(item) {
      this.warningMaster = true;
      this.updateMasterItem({
        index: this.getMasterApdys.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    deleteMasterItem(item) {
      this.deletePMMasterApdyBridge(this.getMasterEditItem.id);
      this.resetMasterItem();
      this.warningMaster = false;
    },
    saveOrUpdateMaster(payload) {
      this.resetMasterItem();
      if (payload.id === null) {
        this.addMasterSystem(payload);
      } else {
        this.updateMasterSystem(payload);
      }
      this.calledMaster = false;
    },
  },
};
</script>