<template>
<v-container fluid>
  <v-card tile>
    <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
    <v-form class="ma-0 pl-0 pr-0 pt-3 pb-0">
      <v-row justify="space-between">
          <v-col cols="3">
              <v-select
                v-model="selectedSkala"
                :items="itemSkala"
                label="Periode"
                @change="onChange(selectedSkala)"
              ></v-select>
          </v-col>
          <v-col cols="3" v-if="skala=='year'">
            <v-select
              v-model="selectedYear"
              :items="getYears"
              item-text="year"
              return-object
              label="Pilih Tahun"
              multiple
              flat
            ></v-select>
          </v-col>
          <v-col cols="3" v-if="skala=='month'">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="isMonth"
                    label="Pilih Bulan"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  ref="picker"
                  v-model="isMonth"
                  type="month"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="2010-01-01"
                  @change="save"
                ></v-date-picker>
              </v-menu>
          </v-col>
          <v-col cols="3" v-if="skala=='date'">
            <v-menu
              ref="menu2"
              v-model="menu2"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="isDate"
                  label="Pilih Tanggal"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                  ref="picker2"
                  v-model="isDate"
                  type="date"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="2010-01-01"
                  @change="saveDate"
                ></v-date-picker>
            </v-menu>
          </v-col>
        <v-col cols="2" v-if="skala=='month'">
          <v-switch v-model="switchAverage" label="Average"></v-switch>
        </v-col>
        <v-col cols="1" style="margin-top:10px">
            <v-btn color="primary" dark @click="goProcess(selectedSkala)">Go!</v-btn>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </v-form>
    </v-card-text>
    <v-row>
    <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
    </v-row>
    <v-row justify="space-between">
      <alert-message transition="fade-transition"
        :info="values"
      ></alert-message>
    </v-row>
    <v-row>
    <v-container>
      <v-card tile>
        <v-card-title>
          <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
          <download-excel
            v-if="accessExport==true && switchAverage==false && Object.keys(getResponseTime_s).length > 0 && loaded == true" 
            style="background-color:#1976d2 !important;color:white;font-size:bolder"
            class   = "btn btn-default"
            :data   = "this.getResponseTime_s"
            :fields = "json_fields"
            worksheet = "My Worksheet"
            :name    = "this.fileName"
            type    = "xls">
              Export
          </download-excel>
        </v-card-title>
        <v-container fluid>
          <v-data-table v-if="switchAverage==false"
            dense
            :headers="getSimpleHeader"
            :items="getResponseTime_s"
            :loading="!loaded"
            :search="search"
            loading-text="Mengambil data.. mohon menunggu"
          >
          <template v-slot:item.id="">
          </template>
          </v-data-table>
          <v-data-table v-else
            dense
            :headers="getSimpleHeaderAvg"
            :items="getResponseTime_sAvg"
            :loading="!loaded"
            :search="search"
            loading-text="Mengambil data.. mohon menunggu"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            item-key="id"
            show-expand
            class="elevation-1"
          >
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr style="background-color:#e0e0e0!important">
                        <th>Service Name</th>
                        <th>Node</th>
                        <th>Response Time</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="details in item.detail" :key="details.id">
                      <!-- <tr> -->
                        <td>{{ details.layanan }}</td>
                        <td>{{ details.node }}</td>
                        <td>{{ details.restime }}</td>
                        <td>{{ details.tanggal }}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </td>
            </template>
          </v-data-table>
        </v-container>
      </v-card>
    </v-container>
  </v-row>
  </v-card>
</v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel);
export default {
    props: ["source"],
  data() {
    return {
      decimal: [
        v => /([0-9]\.[0-9]+$)|([0-9]+$)/.test(v)|| "Format tidak valid !",
        v => (v && v.length <= 10) || 'Maksimal 10 digit !'
      ],
      search: "",
      loaded: false,
      singleExpand: true,
      expanded: [],
      switchAverage:false,

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      curdate:"",
      dNow:"",

      selectedYear:[],
      isMonth: null,
      isDate:null,
      menu: false,
      menu2:false,
      skala:'date',
      selectedSkala:'date',
      itemSkala: ['date','month','year'],

      json_fields: {
            'Service Name': 'layanan',
            'Node': 'node',
            'Response Time' : 'restime',
            'Date': 'tanggal'
      },
      fileName:"",
      accessExport: false,
    };
  },
  watch:{
    source: function(newVal){
        this.reset();
        this.fetchYears({source:this.source.toLowerCase()});
        this.onChange(this.selectedSkala);
        this.goProcess(this.selectedSkala);
    },
    getPermission: function(newVal){
      this.accessExport = newVal;
    },
      getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loaded = newVal != 1 ? true : false;
    },
    menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    menu2 (val) {
        val && setTimeout(() => (this.$refs.picker2.activePicker = 'YEAR'))
    },
  },
  computed: {
    ...mapGetters("restimecommon", [
        "getResponseTime_sAvg",
        "getResponseTime_s",
        "getYears",
        "getSimpleHeader",
        "getSimpleHeaderAvg",
        "getApiState",
        "getAlertMessage",
        "getEditItem",
    ]),
    ...mapGetters("userconfig",[
    "getPermission",
    ])
  },
  
  mounted(){
    this.resetPermission();
    this.reset();
    this.fetchYears({source:this.source.length>0 ? this.source.toLowerCase() : null});
    this.initResponseTime({source:this.source.length>0 ? this.source.toLowerCase() : null});
    var payload = {
        module: 'response_time',
        action: ['read'],
      };
    this.checkPermission(payload);

    var yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    this.isDate = yesterday.toISOString().substr(0, 10)
    this.fileName = "responsetime_"+this.source.toLowerCase().toLowerCase()+"_date_"+this.isDate+".xls";
  },
  methods: {
    ...mapActions("restimecommon",[
      "initResponseTime",
      "populateResponseTimeByDate",
      "populateResponseTimeByMonth",
      "populateResponseTimeByMonthAvg",
      "populateResponseTimeByYear",
      "fetchYears",
      "resetResponseTime",
      "resetResponseTimeAvg",
    ]),
    ...mapActions("userconfig",[
      "checkPermission",
      "resetPermission"
    ]),
    save(isMonth) {
       this.$refs.menu.save(isMonth)
    },
    saveDate(isDate) {
      this.$refs.menu2.save(isDate)
    },
    goProcess(selected){
        if(selected=='month'){
            this.reset();
            this.populateResponseTimeByMonthAvg({ 
                selectedMonth:this.isMonth,
                source:this.source.toLowerCase()
            });
            this.populateResponseTimeByMonth({ 
                selectedMonth:this.isMonth,
                source:this.source.toLowerCase()
            });
            this.fileName = "responsetime_"+this.source.toLowerCase()+"_month_"+this.isMonth+".xls";          
        }else if(selected=='year'){
          const resultArray = this.selectedYear.map(function($item) {
            return $item['year'];
          });
          this.populateResponseTimeByYear({ 
               selectedYear:this.selectedYear,
               source:this.source.toLowerCase()
          });
          this.fileName = "responsetime_"+this.source.toLowerCase()+"_year_"+resultArray.join(',')+".xls";
        }else{
            this.populateResponseTimeByDate({selectedDate:this.isDate,source:this.source.toLowerCase()}); 
            this.fileName = "responsetime_"+this.source.toLowerCase()+"_date_"+this.isDate+".xls";
        }
    },
    onChange(selectedSkala){
      this.reset();
        this.skala = selectedSkala;
        if(selectedSkala=='month'){
            this.selectedYear= [];
            this.isDate= null;
            this.switchAverage = false; 
        }else if(selectedSkala=='year'){
            this.isDate = null;
            this.isMonth = null;
            this.switchAverage = false;
        }else{
            this.isMonth = null;
            this.selectedYear= [];
            this.switchAverage = false;
        }
    },
    reset(){
      this.resetResponseTime();
      this.resetResponseTimeAvg();
    },
  },
};
</script>