<template>
  <div
    class="modal"
    id="modal-generic"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5 class="modal-title" id="smallModalHead">
              Request Type : {{requestdata.Text}} / Request Id : {{requestdata.id}}
              <a
                target="_blank"
                v-if="requestdata.RemedyTicketId!='N/A' || requestdata.RemedyTicketId != null"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/WOI:WorkOrder/Simplified+User+View/?qual=%271000000182%27=%22'+requestdata.RemedyTicketId+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-generic'">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Request Summary</div>
                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Request ID</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.id"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Request Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.servicechannel.servicetype.name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Channel</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.servicechannel.name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Process Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.ProcessStatus"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Remedy Ticket Id</label>
                            <input
                              v-if="requestdata.RemedyTicketId!=null"
                              type="text"
                              class="form-control"
                              :value="requestdata.RemedyTicketId"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Assigned Group</label>
                            <input
                              v-if="requestdata.EmployeeAssigneeId==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="requestdata.supportgroupassigneeremedy.support_group_name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Assignee Name</label>
                            <input
                              v-if="requestdata.EmployeeAssigneeId==null"
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              :value="requestdata.supportgroupassigneeremedy.full_name"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Received On</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.ReceivingDateTime | mydateformat"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 0px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Booked On</label>
                            <input
                              v-if="requestdata.BookDateTime!=null"
                              type="text"
                              class="form-control"
                              :value="requestdata.BookDateTime | mydateformat"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Customer Detail</div>
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <!-- <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Customer Summary</label>
                          <textarea
                            :value="'Customer Detail :\n \n' + requestdata.UDH.replace(/#/g,'\n')"
                            class="form-control"
                            rows="15"
                            name="notes"
                            style="resize: none;height:100%;"
                            readonly="true"
                          ></textarea>
                        </div>
                      </div>-->

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Customer Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.UDH.split('#')[0]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>E-mail</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.UDH.split('#')[3]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Region Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.UDH.split('#')[6]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Group Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.UDH.split('#')[6]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Departement</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.UDH.split('#')[7]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-3"
                  style="border-left: 12px"
                  v-if="requestdata.servicecatalog.has_image"
                >
                  <div class="panel panel-default">
                    <div class="panel-heading">Request Detail</div>
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>{{requestdata.servicecatalog.name}}</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            name="notes"
                            style="resize: none;height:50%;"
                            readonly="true"
                            :value="requestdata.servicecatalog.description+': \n \n'+requestdata.TextDecoded.replace(/#/g,'\n')"
                          ></textarea>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <label
                          class="col-md-3 control-label"
                          style="text-align: left; font-weight: bold;"
                        >
                          <br />
                        </label>
                        <div class="col-md-9">
                          <a
                            class="gallery-item"
                            :href="app_url+'/assets/uploads/images/request/961998.jpg'"
                            title="Image"
                            data-gallery
                            style
                          >
                            <div class="meta">
                              <img
                                :src="app_url+'/assets/uploads/images/request/961998.jpg'"
                                width="170"
                                height="170"
                              />
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px" v-else>
                  <div class="panel panel-default">
                    <div class="panel-heading">Request Detail</div>
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>{{requestdata.servicecatalog.name}}</label>
                          <textarea
                            :value="requestdata.servicecatalog.description+': \n \n'+requestdata.TextDecoded.replace(/#/g,'\n').replace('\nnull\nnull\n0\n0', '')"
                            class="form-control"
                            rows="16"
                            name="notes"
                            style="resize: none;height:100%;"
                            readonly="true"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="requestdata.ProcessStatus=='CLOSED' && isdataloaded">
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
          <div v-else>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-workorder-closure"
              style="width:120px;"
              @click="closuringTask"
            >Change Status</button>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded && isdelegateenabled"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-delegate"
              style="width:123px;"
              @click="delegateTask"
            >Change Assignee</button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled"
  ],

  data: function() {
    return {
      text:null,
      app_url: process.env.MIX_APP_URL,
    };
  },

  methods: {
    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        isclosuring: true,
        modalname: "modal-workorder-closure"
      });
    },
    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: "modal-delegate"
      });
    },
    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    },
  }
};
</script>
