<template>
  <div
    class="modal"
    id="modal-atm-loading"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5 class="modal-title" id="smallModalHead" style="margin-bottom:-10px;">
              ATM LOADING / Request Id : {{requestdata.incident.itools_request_id}}
              <a
                target="_blank"
                v-if="requestdata.incident.incident_number !='N/A' || requestdata.incident.incident_number != null"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.incident.incident_number+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-atm-loading'">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Request Summary</div>
                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Remedy Ticket Id</label>
                            <input
                              v-if="requestdata.incident.incident_number!=null"
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.incident_number"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.servicechannel.servicetype.name"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Channel</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.reported_source"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Process Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.ProcessStatus"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Requester Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.requester_full_name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Departement</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.requester_dept_name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              :value="requestdata.incident.notes_description"
                              class="form-control"
                              rows="6"
                              name="notes"
                              style="resize: none;height:100%;"
                              readonly="true"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Assignee</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Company</label>
                          <input
                            v-if="requestdata.incident.assignee_support_company==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.assignee_support_company"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Organization</label>
                          <input
                            v-if="requestdata.incident.assignee_support_organization==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.assignee_support_organization"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Group</label>
                          <input
                            v-if="requestdata.incident.assignee_support_group_name==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.assignee_support_group_name"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Assignee Name</label>
                          <input
                            v-if="requestdata.incident.assignee_name==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.assignee_name"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">ATM LOADING</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Received On</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.ReceivingDateTime | mydateformat"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Booked On</label>
                          <input
                            v-if="requestdata.BookDateTime!=null"
                            type="text"
                            class="form-control"
                            :value="requestdata.BookDateTime | mydateformat"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>ID Mesin</label>
                          <input
                            style="font-weight: bold;color:red;"
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[3].split('\n')[1].replace('Kode Mesin :','')"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 0px; margin-top: -10px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>
                            <strong>Result</strong>
                          </label>
                          <v-select
                            :options="optionsStatus"
                            label="name"
                            v-model="result"
                            name="Result"
                            v-validate="'required'"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Result')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Result') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="requestdata.ProcessStatus=='CLOSED' && isdataloaded">
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
          <div v-else>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              style="width:120px;"
              @click="closuringTask"
              :data-dismiss="submitted?'modal':null"
            >Close Task</button>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded && isdelegateenabled"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-delegate"
              style="width:123px;"
              @click="delegateTask"
            >Change Assignee</button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled"
  ],

  data() {
    return {
      optionsStatus: [
        "SUPERVISOR MODE ALARM IS ON",
        "MAGNETIC CARD READER/WIRETER FATAL ERROR",
        "CASH HANDLER FATAL ERROR",
        "ENCRYPTOR FATAL ERROR",
        "STATUS ATM DOWN CLOSE",
        "BUNCH NOTE FATAL ERROR",
        "JURNAL PRINTER FATAL ERROR",
        "PREPAID CARD READ",
        "LOADING IN PROGRESS"
      ],
      result: null,
      submitted: false
    };
  },
  methods: {
    closuringTask() {
      if (this.requestdata.ActionTicketCreation != null) {
        if(this.requestdata.ActionTicketCreation.includes("PENDING")){
          flash({
            id: "untuk pending",
            message: "REQUEST INI MASIH PENDING, MOHON UNTUK DI RETRY TERLEBIH DAHULU DI MENU PENDING",
            flashtype: "danger"
          });
        } else {
          this.$validator.validateAll().then(result => {
            this.submitted=result;
            if (result) {
              switch (this.result){
                case "SUPERVISOR MODE ALARM IS ON":{
                  var resolution = "Mesin tidak dapat di loading karena dalam Menu SPV. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "MAGNETIC CARD READER/WIRETER FATAL ERROR":{
                  var resolution = "Mesin tidak dapat di loading karena ada kartu tersangkut. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "CASH HANDLER FATAL ERROR":{
                  var resolution = "Mesin tidak dapat di loading karena uang tersangkut, lakukan test cash. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "ENCRYPTOR FATAL ERROR":{
                  var resolution = "Mesin tidak dapat di loading karena keypad pin error. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "STATUS ATM DOWN CLOSE":{
                  var resolution = "Mesin tidak dapat di loading karena status down close, cek LAN Cable. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "BUNCH NOTE FATAL ERROR":{
                  var resolution = "Mesin tidak dapat di loading karena bunch note error. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "JURNAL PRINTER FATAL ERROR":{
                  var resolution = "Mesin tidak dapat di loading karena system EJ Full, Please Backup. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "PREPAID CARD READ":{
                  var resolution = "Mesin tidak dapat di loading karena prepaid card reader error. IT CSM - Mandiri Servicedesk";
                  break;
                }
                case "LOADING IN PROGRESS":{
                  var resolution = "Mesin loading in progress, please cek statusnya pada mesin tersebut. IT CSM - Mandiri Servicedesk";
                  break;
                }

              }
              let loader = this.$parent.$loading.show({
                loader: "dots"
              });
              axios
                .post("/dashboard/incident/update", {
                  id: this.requestid,
                  assigneeId: this.requestdata.incident.assignee_user_id,
                  status: "Resolved",
                  resolution: resolution
                })
                .then(res => {
                  this.$emit("push-flash-notification", {
                    status: res.data.status,
                    wsdlStatus: res.data.wsdlStatus,
                    id: this.requestid,
                    message: res.data.message
                  });
                  loader.hide();
                })
                .catch(error => {
                  if (error.response.status === 419 || error.response.status === 401) {
                    window.alert(
                      "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                    );
                    location.reload(false);
                  } else {
                    this.$emit("push-flash-notification", {
                      status: false,
                      wsdlStatus: false,
                      id: "catch error code",
                      message: error.response.data.message
                    });
                    loader.hide();
                  }
                });
            }
          });
        }
      } else{
        flash({
            id: "untuk null actionticketcreation",
            message:
              "ActionTicketCreation Null, Mohon HUBUNGI ADMINISTRATOR",
            flashtype: "danger"
          });
      }
    },

    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: "modal-incident-delegate"
      });
    },

    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    }
  }
};
</script>
