<template>
    <v-list dense>
      <div v-if="getApiState==1">
        <v-card>
          <navbar-loading :isLoading="!loaded" :isFullPage="true"></navbar-loading>
        </v-card>
      </div>

      <div v-if="getApiState==2">
      <template v-for="item in getUserMenu">
        <v-list-group
          v-if="item.children"
          :key="item.id"
          v-model="item.model"
          :prepend-icon="item.model ? item.icon : item.iconalt"
          append-icon      
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item v-for="(child, i) in item.children" :key="i" :to="child.id" style="text-decoration:none;">
            <v-list-item-action>
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content @click="updateLayout(child)">
              <v-list-item-title>{{ child.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :key="item.id" :to="item.id" style="text-decoration:none;">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content @click="updateLayout(item)">
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </div>
      <!-- <v-list-item v-for="item in items" :to="item.id" :key="item.id" @click="updateLayout(item.id)" style="text-decoration:none;">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item> -->
    </v-list>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import NavbarLoading from '../components/SimpleLoading';
export default {
  data() {
    return {
      // items: [
      //   { title: "Dashboard", icon: "mdi-view-dashboard" ,id:"dashboard"},
      //   { title: "Dashboard IT", icon: "mdi-view-dashboard" ,id:"dashboard_it"},
      //   { title: "Response Time", icon: "mdi-timetable", id:"response_time" },
      //   { title: "Production Issue", icon: "mdi-message-alert" , id:"prod_issues"},
      //   { title: "System Availability", icon: "mdi-format-list-checks", id:"system_avail" },
      //   { title: "Success Rate", icon: "mdi-beaker-check", id:"success_rate" },
      // ],
      loaded: false,
    };
  },
  created() {
    // this.$emit("menuLoaded");
    this.renderUserMenu();
  },
  watch: {
    getApiState: function(newVal) {
      this.loaded = newVal != 1 ? true : false;
      if (this.loaded) {
        this.$emit("menuLoaded");
      }
    }
  },
  methods:{
    ...mapActions(["renderUserMenu","changeLayout"]),
    updateLayout(menu){
      this.changeLayout(menu.id);
    }
  },
  computed: mapGetters(["getUserMenu", "getApiState","getLayout"]),
  components:{
    NavbarLoading
  }
};
</script>