<template>
  <div v-if="item.ResponseStatus == 'completed'">
    <v-icon :color="getColor(item.ResponseStatus)">mdi-check-circle</v-icon>Successful
  </div>
  <div v-else-if="item.ResponseStatus == 'rejected'">
    <v-icon :color="getColor(item.ResponseStatus)">mdi-close-circle</v-icon>Faulted
  </div>
  <div v-else-if="item.ResponseStatus == 'in progress'">
    <div style="margin-top:5px"><v-icon :color="getColor(item.ResponseStatus)">mdi-play-circle</v-icon>Running</div>
    <v-progress-linear rounded height="2" indeterminate :color="getColor(item.ResponseStatus)" style="margin-top:5px"></v-progress-linear>
  </div>
  <div v-else>
    <div></div>
  </div>
</template>
<script>
export default {
  props: ["item"],
  methods: {
    getColor(ResponseStatus) {
      if (ResponseStatus == "completed") return "green";
      else if (ResponseStatus == "rejected") return "red";
      else if (ResponseStatus == "in progress") return "blue";
      else return "grey";
    }
  }
};
</script>