<template >
  <div>
    <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
    <v-icon v-if="ismodel" small @click="deleteItem(item)">delete</v-icon>
  </div>
</template>
<script>
export default {
  props: ["item","isShow"],
  data() {
    return {
      ismodel:true
    };
  },
  created(){
    if(this.item.system_name == undefined && this.isShow == false){
      this.ismodel=false;
    }
  },
  methods:{
      editItem(item){
          this.$emit('itemToEdit',item)
      },
      deleteItem(item){
          this.$emit('itemToDelete',item)
      }      
  }
};
</script>