<template>
  <v-app justify="space-between">
    <v-container fluid>
      <v-card tile>
        <v-card-title>
          <v-text-field
            v-model="searchData"
            label="Cari..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-container fluid>
          <v-data-table
            dense
            :headers="simpleHeader"
            :items="cdmdata"
            :search="searchData"
            :loading="loaded"
            :items-per-page="15"
            loading-text="Loading... Please wait !"
          >
            <template v-slot:item.action="{ item }">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width: 60px"
                :data-target="'#modalEdit'"
                v-on:click="editSelected(item.CDMGLRefNo)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width: 60px"
                :data-target="'#modalConfirm'"
                v-on:click="deleteSelected(item.CDMGLRefNo)"
              >
                Delete
              </button>
            </template>
          </v-data-table>
        </v-container>
      </v-card>
    </v-container>
  </v-app>
  <!-- <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">CDMGLRefNo</th>
          <th class="text-center">Description</th>
          <th class="text-center" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="result in data_cdm_detail" :result="data_cdm_detail" :key="result.CDMGLRefNo">
          <td>{{ result.CDMGLRefNo}}</td>
          <td>{{ result.Description}}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalEdit'"
                v-on:click="editSelected(result.CDMGLRefNo)"
              >Edit</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalConfirm'"
                v-on:click="deleteSelected(result.CDMGLRefNo)"
              >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</template>
<script>
export default {
  data() {
    return {
      searchData: "",
      simpleHeader: [
        { text: "CDMGLRefNo", value: "CDMGLRefNo" },
        { text: "Description", value: "Description" },
        { text: "Action", value: "action", sortable: false },
      ],
      cdmdata: [],
      loaded: true,
    };
  },
  props: ["data_cdm_detail", "isloaded"],
  watch: {
    data_cdm_detail: function (newvalue) {
      this.cdmdata = newvalue;
      this.loaded = false;
    },
    isloaded: function (newvalue) {
      this.loaded = newvalue;
    },
  },
  methods: {
    deleteSelected(idRequest) {
      this.$emit("cdm-detail-selected", {
        id: idRequest,
      });
    },
    editSelected(idRequest) {
      this.$emit("cdm-detail-selected", {
        id: idRequest,
      });
    },
  },
};
</script>
