<template>
  <v-container>
    <v-tooltip bottom v-if="accessCreate==true">
      <template v-slot:activator="{ on }">
        <v-btn color="primary" v-on="on" dark @click.stop="callForm()">
            <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>Tambah Role</span>
    </v-tooltip>
    
    <v-row style="margin-bottom:10px;">
    </v-row>
    <v-row justify="space-between">
      <alert-message
        :info="values"
      ></alert-message>
    </v-row>
    <v-row justify="space-between">
      <v-container class="pt-1">
        <v-card>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Cari role"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-container fluid>
            <v-data-table
              dense
              :headers="getSimpleHeaders"
              :items="getRoles"
              :loading="!loaded"
              :search="search"
              loading-text="Mengambil data.. mohon menunggu"
            >
              <template v-slot:item.action="{ item }">
                <simple-action-table
                  :item="item"
                  :isShow="true"
                  v-on:itemToEdit="editItem"
                  v-on:itemToDelete="confirmDelete"
                ></simple-action-table>
              </template>
            </v-data-table>
            <roles-form
              :called="called"
              v-on:cancel="dialogClosed"
              v-on:saveOrUpdate="saveOrUpdate"
            ></roles-form>
            <warning-dialog
              :called="warning"
              title="Hapus Role User"
              content="Anda akan menghapus data, apakah anda yakin?"
              :value="getEditItem"
              v-on:doAccept="deleteItem"
              v-on:doIgnore="dialogClosed"
            ></warning-dialog>
          </v-container>
        </v-card>
      </v-container>
    </v-row>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import SimpleActionTable from "../components/SimpleActionTable";
import RolesForm from "../components/form/PMRolesForm";
import WarningDialog from "../../reports/components/dialog/WarningDialog";
export default {
  data() {
    return {
      search: "",
      called: false,
      warning: false,
      loaded: false,
      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      curdate:"",
      dNow:"",
      accessCreate: false,
    };
  },
  watch: {
    getPermission: function(newVal){
      this.accessCreate = newVal;
    },
    getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
        };
      }
      this.loaded = newVal != 1 ? true : false;
    }
  },
  computed: {
    ...mapGetters("pmroles",[
      "getRoles",
      "getSimpleHeaders",
      "getEditItem",
      "getApiState",
      "getAlertMessage"
    ]),
    ...mapGetters("userconfig",[
    "getPermission"
    ]),
  },
  mounted(){
    this.resetPermission();
    var payload = {
      module: 'roles',
      action: ['create'],
    };
    this.checkPermission(payload);
    this.resetRoles();
    this.fetchRoles();
  },
  methods: {
    ...mapActions("pmroles",[
      "fetchRoles",
      "resetItem",
      "addRole",
      "updateRole",
      "updateItem",
      "resetRoles",
      "deleteRole"
    ]),
    ...mapActions("userconfig",[
      "checkPermission",
      "resetPermission"
    ]),
    createItem() {
      this.resetItem();
      this.called = true;
    },
    editItem(item) {
      this.called = true;
      this.updateItem({
        index: this.getRoles.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    saveOrUpdate(payload) {
      this.resetItem();
      if (payload.id === null) {
        this.addRole(payload);
      } else {
        this.updateRole(payload);
      }
      this.called = false;
    },
    confirmDelete(item) {
      this.warning = true;
      this.updateItem({
        index: this.getRoles.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    deleteItem(item) {
      this.deleteRole(this.getEditItem.id);
      this.resetItem();
      this.warning = false;
    },
    dialogClosed() {
      this.resetItem();
      this.called = false;
      this.warning = false;
    },
    callForm() {
      this.resetItem();
      this.called = true;
    },
  },
  components: {
    SimpleActionTable,
    RolesForm,
    WarningDialog,
  }
};
</script>