<template>
  <v-row justify="space-between">
    <v-container fluid>
      <v-tabs background-color="white" right>
        <v-tab>Production Issue</v-tab>
        <v-tab>Production Issue EDM</v-tab>
        <v-tab-item>
            <v-container fluid>
              <v-card tile>
                <v-row>
                  <v-col cols="8">
               <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
                   <v-row justify="space-between">
                     <v-col cols="6" class="ml-6">
                       <v-select
                         v-model="selectedYear"
                         :items="itemsYear"
                         label="Pilih Tahun"
                         multiple
                         flat
                       ></v-select>
                     </v-col>
                     <v-col cols="4">
                       <v-container>
                         <v-btn color="primary" dark @click="confirmProcess" :disabled="checkYears">Go!</v-btn>
                       </v-container>
                     </v-col>
                     <v-spacer></v-spacer>
                   </v-row>
               </v-card-text>
               </v-col>
               <v-col cols="4" class="pt-0 pb-3 pr-3 pl-3" v-if="paramData == true && loaded == false">
               <v-expansion-panels accordion>
                 <v-expansion-panel>
                  <v-expansion-panel-header>
                    <v-row align="center" class="spacer" no-gutters>
                      <v-col cols="6"><strong>Tahun</strong></v-col>
                      <v-col class="text-no-wrap" cols="6"><strong>Total Ticket</strong></v-col>  
                    </v-row></v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <table class="table">
                      <tbody>
                        <tr v-for="(item, i) in total" :key="i">
                          <td width="50%">{{ item.year }}</td>
                          <td width="50%">{{ item.total }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </v-expansion-panel-content>
                 </v-expansion-panel>
               </v-expansion-panels>
              </v-col>
              </v-row>
               <v-row>
                 <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
               </v-row>
               <v-row>
                 <v-container>
                   <v-card tile>
                     <v-card-title>
                       <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
                       <download-excel
                        v-if="accessExport==true"
                        style="background-color:#1976d2 !important;color:white;font-size:bolder"
                        class   = "btn btn-default"
                        :data   = "this.productionIssues"
                        :fields = "json_fields"
                        worksheet = "My Worksheet"
                        :name    = "this.fileName"
                        type    = "xls">
                          Export
                      </download-excel>
                     </v-card-title>
                     <v-container fluid>
                       <v-data-table
                         dense
                         :headers="header"
                         :items="productionIssues"
                         :search="search"
                         :loading="loaded"
                         loading-text="Mengambil data.. mohon menunggu"
                       ></v-data-table>
                     </v-container>
                   </v-card>
                 </v-container>
               </v-row>
             </v-card>
             <v-dialog v-model="warning" max-width="290">
              <v-card>
                <v-card-title class="headline primary" style="color:white;">
                  <span class="headline">Replace Data !</span>
                </v-card-title>
                <v-card-text style="margin-top:10px">Proses ini akan berpengaruh terhadap datamart yang ditarik EDM, anda yakin akan me-replace data ?</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue" text @click="doIgnore">Batal</v-btn>
                  <v-btn color="red" text @click="populateProblemData">Ya</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            </v-container>
        </v-tab-item>

        <v-tab-item>
            <v-container fluid>
              <v-card tile>
                <v-row>
                 <v-container> 
                  <v-card-title> Data Hanya 6 Bulan Terakhir</v-card-title>
                 </v-container>
               </v-row>
                <v-row>
                 <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
               </v-row>
               <v-row>
                 <v-container>
                   <v-card tile>
                     <v-card-title>
                       <v-text-field v-model="searchBiller" label="Cari..." single-line hide-details></v-text-field>
                       <download-excel
                        v-if="accessExport==true"
                        style="background-color:#1976d2 !important;color:white;font-size:bolder"
                        class   = "btn btn-default"
                        :data   = "this.productionIssuesBiller"
                        :fields = "json_fields_biller"
                        worksheet = "My Worksheet"
                        :name    = "this.fileNameBiller"
                        type    = "xls">
                          Export
                      </download-excel>
                     </v-card-title>
                     <v-container fluid>
                       <v-data-table
                         dense
                         :headers="headerBiller"
                         :items="productionIssuesBiller"
                         :search="searchBiller"
                         :loading="loaded"
                         loading-text="Mengambil data.. mohon menunggu"
                       ></v-data-table>
                     </v-container>
                   </v-card>
                 </v-container>
               </v-row>
             </v-card>             
            </v-container>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel);
export default {
  data() {
    return {
      search: "",
      selectedYear: [],
      productionIssues: [],
      header: [
        { text: "PBM ID", value: "problem_id" },
        { text: "Status", value: "status" },
        { text: "Priority", value: "priority" },
        { text: "Workaround Status", value: "workaround" },
        { text: "Root Cause", value: "root_cause" },
        { text: "Source", value: "source_cause" },
        { text: "Aplikasi Root Cause", value: "app_root_cause" },
        { text: "Impacted App", value: "impacted_app" },
        { text: "Impacted App Category", value: "impacted_app_category" },
        { text: "Desc Tableau", value: "desc" },
        { text: "Jam Kejadian", value: "jam_kejadian" },
        { text: "Workaround Time", value: "workaround_time" },
        { text: "Closed Time", value: "closed_time" },
        { text: "Tercatat pada", value: "recorded_at" }
      ],
      total: [],
      item: 10,
      json_fields: {
            'PBM ID': 'problem_id',
            'Status': 'status',
            'Priority': 'priority',
            'Workaround Status': 'workaround',
            'Root Cause': 'root_cause',
            'Source Cause': 'source_cause',
            'Aplikasi Root Cause': 'app_root_cause',
            'Impacted App': 'impacted_app',
            'Impacted App Category': 'impacted_app_category',
            'Desc Tableau': 'desc',
            'Jam Kejadian': 'jam_kejadian',
            'Workaround Time': 'workaround_time',
            'Closed Time': 'closed_time',
            'Tercatat pada': 'recorded_at',
      },
      warning: false,
      fileName:"",
      loaded: true,
      paramData: false,
      accessExport: false,
      checkYears: true,
      headerBiller: [
        { text: "PBM ID", value: "problem_id" },
        { text: "Status", value: "status" },
        { text: "Priority", value: "priority" },
        { text: "Workaround Status", value: "workaround" },
        { text: "Root Cause", value: "root_cause" },
        { text: "Source", value: "source_cause" },
        { text: "Aplikasi Root Cause", value: "app_root_cause" },
        { text: "Impacted App", value: "impacted_app" },
        { text: "Bank / Biller", value: "bank_biller" },
        { text: "Impacted App Category", value: "impacted_app_category" },
        { text: "Desc Tableau", value: "desc" },
        { text: "Jam Kejadian", value: "jam_kejadian" },
        { text: "Workaround Time", value: "workaround_time" },
        { text: "Closed Time", value: "closed_time" },
        { text: "Tercatat pada", value: "recorded_at" }
      ],
      json_fields_biller: {
            'PBM ID': 'problem_id',
            'Status': 'status',
            'Priority': 'priority',
            'Workaround Status': 'workaround',
            'Root Cause': 'root_cause',
            'Source Cause': 'source_cause',
            'Aplikasi Root Cause': 'app_root_cause',
            'Impacted App': 'impacted_app',
            'Bank / Biller': 'bank_biller',
            'Impacted App Category': 'impacted_app_category',
            'Desc Tableau': 'desc',
            'Jam Kejadian': 'jam_kejadian',
            'Workaround Time': 'workaround_time',
            'Closed Time': 'closed_time',
            'Tercatat pada': 'recorded_at',
      },
      productionIssuesBiller: [],
      fileNameBiller:"",
      searchBiller: "",
      itemsYear: Array.from({length: new Date().getFullYear() - 2015}, (value, index) => 2016 + index)
    };
  },
  watch: {
    selectedYear: function(newVal){
      if(newVal.length > 0){
        this.checkYears = false;
      }else{
        this.checkYears = true
      }
    },
    getPermission: function(newVal){
      this.accessExport = newVal;
    },
  },
  computed: {
    ...mapGetters("userconfig",[
    "getPermission"
    ]),
    years(){
      const year = new Date().getFullYear()
      return Array.from({length: year - 2016}, (value, index) => 2017 + index)
    }
  },
  methods: {
    ...mapActions("userconfig",[
      "checkPermission",
      "resetPermission"
    ]),
    async initProductionIssues() {
      this.loaded = true;
      let response;
      try {
        response = await axios.get("/data_management/problems/production_issues/fetch");
        this.productionIssues = response.data.data;
        this.total = response.data.total;
        this.productionIssuesBiller = response.data.biller;
        if(Object.keys(this.total).length > 0){
          this.paramData = true
        }else{
          this.paramData = false
        }
        this.loaded = false;
      } catch (error) {
        this.loaded = false;
      }
    },
    doIgnore(){
      this.warning = false;
    },
    confirmProcess(){
      this.warning = true;
    },
    async populateProblemData() {
      this.warning = false;
      this.productionIssues = [];
      this.total = [];
      this.loaded = true;
      let response;
      try {
        response = await axios.post(
          "/data_management/problems/production_issues/populate",
          { selectedYear: this.selectedYear }
        );
        this.productionIssues = response.data.data;
        this.total = response.data.total;
        this.productionIssuesBiller = response.data.biller;
        this.fileName = "productionissues_"+this.selectedYear+".xls";
        this.fileNameBiller = "productionissues_biller"+this.selectedYear+".xls";
        this.loaded = false;
      } catch (error) {
        this.loaded = false;
      }
    }
  },
  mounted() {
    this.resetPermission();
    this.initProductionIssues();
    var payload = {
        module: 'production_issues',
        action: ['read'],
      };
    this.checkPermission(payload);
    this.fileName = "productionissues.xls";
    this.fileNameBiller = "productionissues_biller.xls";
  }
};
</script>