<template>
  <v-row justify="space-between">
    <v-container fluid>
      <v-tabs background-color="white" right>
        <v-tab>DASHBOARD</v-tab>
          <v-tab-item>
            <v-container fluid>
              <v-card tile :max-height="450">
               <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
                 <v-form class="ma-0 pl-0 pr-0 pt-3 pb-0">
                   <v-row>
                     <v-col cols="2">
                       <v-select
                         v-model="reportType"
                         :items="['Timeseries', 'YoY']"
                         label="Tipe Laporan"
                         dense
                         flat
                       ></v-select>
                     </v-col>
                     <v-col v-if="reportType=='Timeseries'" cols="3">
                       <v-select
                         v-model="selectedYear[0]"
                         :items="itemsYear"
                         label="Pilih Tahun"
                         dense
                         flat
                       ></v-select>
                     </v-col>
                     <v-col cols="3" v-else>
                       <v-select
                         v-model="selectedYear"
                         :items="itemsYear"
                         label="Pilih Tahun"
                         multiple
                         dense
                         flat
                       ></v-select>
                     </v-col>
                     <v-col cols="6">
                       <v-select
                         v-model="selectedProblemType"
                         :items="problemType"
                         item-text="name"
                         label="Tipe Problem"
                         multiple
                         return-object
                         dense
                         flat
                       ></v-select>
                     </v-col>
                     
                     <v-col cols="1">
                         <v-btn color="primary" dark @click="reportGo">Go!</v-btn>
                     </v-col>
                     <v-spacer></v-spacer>
                   </v-row>
                 </v-form>
               </v-card-text>
               <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
               <problem-chart :data="problem" :options="options" :height="100"></problem-chart>
             </v-card>
            </v-container>
          </v-tab-item>
      </v-tabs>
    </v-container>
  </v-row>
</template>
<script>
import ProblemChart from "../chart/problems";
export default {
  components: {
    ProblemChart
  },
  watch: {
    reportType: function() {
      this.selectedYear = [];
    }
  },
  data() {
    return {
      selectedYear: [new Date().getFullYear()],
      reportType: "Timeseries",
      selectedProblemType: [],
      problemType: [
        { id: 0, name: "Prod. Issue" },
        { id: 1, name: "Inc To Pbm" },
        { id: 2, name: "Inv. Request" },
        { id: 3, name: "Potential Pbm" },
        { id: null, name: "N/A" }
      ],
      value: [],
      problem: {},
      options: {
        events: ["click"],
        onClick: this.handle,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      },
      itemsYear: Array.from({length: new Date().getFullYear() - 2015}, (value, index) => 2016 + index)
    };
  },
  methods: {
    handle(point, event) {
      var item = event[0];
    },
    reportGo() {
      axios
        .post("/data_management/problems/" + this.reportType, {
          years: this.selectedYear,
          category: this.selectedProblemType
        })
        .then(response => {
          this.problem = response.data;
          this.value = response.data.datasets;
        });
    }
  },
  created() {
    this.selectedProblemType = this.problemType;
    axios
      .post("/data_management/problems/" + this.reportType, {
        years: this.selectedYear,
        category: this.selectedProblemType
      })
      .then(response => {
        this.problem = response.data;
        this.value = response.data.datasets;
      });
  }
};
</script>