<template>
  <v-row justify="space-between">
    <v-container fluid>
      <v-tabs background-color="white" right>
        <v-tab>System Availability</v-tab>
        <v-tab>System</v-tab>
        <v-tab-item>
            <v-container fluid>
              <v-card tile>
                <!-- <v-btn color="primary" dark @click.stop="callForm()">
                    <v-icon>mdi-plus</v-icon>
                </v-btn> -->
                <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
                <v-form class="ma-0 pl-0 pr-0 pt-3 pb-0">
                  <v-row justify="space-between">
                      <v-col cols="3">
                          <v-select
                            v-model="selectedSkala"
                            :items="itemSkala"
                            label="Periode"
                            @change="onChange(selectedSkala)"
                          ></v-select>
                      </v-col>
                      <v-col cols="3" v-if="skala=='year'">
                        <v-select
                          v-model="selectedYear"
                          :items="getYears"
                          item-text="year"
                          return-object
                          label="Pilih Tahun"
                          multiple
                          flat
                        ></v-select>
                      </v-col>
                      <v-col cols="3" v-if="skala=='month'">
                          <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="isMonth"
                                label="Pilih Bulan"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              ref="picker"
                              v-model="isMonth"
                              type="month"
                              :max="new Date().toISOString().substr(0, 10)"
                              min="2010-01-01"
                              @change="save"
                            ></v-date-picker>
                          </v-menu>
                      </v-col>
                      <v-col cols="3" v-if="skala=='date'">
                        <v-menu
                          ref="menu2"
                          v-model="menu2"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              v-model="isDate"
                              label="Pilih Tanggal"
                              prepend-icon="event"
                              readonly
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                              ref="picker2"
                              v-model="isDate"
                              type="date"
                              :max="new Date().toISOString().substr(0, 10)"
                              min="2010-01-01"
                              @change="saveDate"
                            ></v-date-picker>
                        </v-menu>
                      </v-col>

                      <v-col cols="2" v-if="skala=='month'">
                        <v-switch v-model="switchAverage" label="Summary"></v-switch>
                      </v-col>
                    <v-col cols="1" style="margin-top:10px">
                        <v-btn color="primary" dark @click="goProcess(selectedSkala)">Go!</v-btn>
                    </v-col>
                    <v-spacer></v-spacer>
                  </v-row>
                </v-form>
                </v-card-text>
                <v-row>
                <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
                </v-row>
                <v-row justify="space-between">
                  <alert-message transition="fade-transition"
                    :info="values"
                  ></alert-message>
                </v-row>
                <v-row>
                <v-container>
                  <v-card tile>
                    <v-card-title>
                      <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
                      <!-- <v-btn
                        color="info"
                        class="ma-2 white--text"
                        @click="exportToExcel"
                      >
                        Export
                        <v-icon right dark>mdi-export</v-icon>
                      </v-btn> -->
                      <download-excel
                        v-if="accessExport==true && switchAverage==false && Object.keys(getSystemAvails).length > 0 && loaded == true" 
                        style="background-color:#1976d2 !important;color:white;font-size:bolder"
                        class   = "btn btn-default"
                        :data   = "this.getSystemAvails"
                        :fields = "json_fields"
                        worksheet = "My Worksheet"
                        :name    = "this.fileName"
                        type    = "xls">
                          Export
                      </download-excel>
                    </v-card-title>
                    <v-container fluid>
                      <v-data-table v-if="switchAverage==false"
                        dense
                        :headers="getSimpleHeader"
                        :items="getSystemAvails"
                        :loading="!loaded"
                        :search="search"
                        loading-text="Mengambil data.. mohon menunggu"
                      >
                      <template v-slot:item.percent_system_avail="{ item }">
                        <v-chip label :color="getColor(item.percent_system_avail)" dark>{{ item.percent_system_avail }}</v-chip>
                      </template>
                      <template v-slot:item.description="props">
                        <v-edit-dialog v-if="props.item.percent_system_avail<100"
                          :return-value.sync="props.item.description"
                          large
                          v-model="editDialog"
                          @open="openFieldDialog"
                          @save="saveFieldDialog(props.item.id, props.item.description)"
                        ><label v-if="props.item.description!==null">{{ props.item.description.substring(0,30) }}</label>
                        <label v-else>{{ props.item.description }}</label>
                          <v-icon
                              v-if="props.item.percent_system_avail<100 && props.item.description==null"
                              small
                              color="red"
                            >
                              mdi-alert
                          </v-icon>
                          <template v-slot:input>
                            <v-textarea v-if="getEditItem.percent_system_avail<100"
                              v-model="props.item.description"
                              :rules="descRules"
                              required
                              counter
                            >
                              <template v-slot:label>
                                <div>
                                  Notes*
                                </div>
                              </template>
                            </v-textarea>
                          </template>
                        </v-edit-dialog>
                      </template>
                        <template v-slot:item.action="{ item }">
                          <simple-action-table
                            :item="item"
                            :isShow="false"
                            v-on:itemToEdit="editItem"
                            v-on:itemToDelete="confirmDelete"
                          ></simple-action-table>
                        </template>
                      </v-data-table>
                      <v-data-table v-else
                        dense
                        :headers="getSimpleHeaderAvg"
                        :items="getSystemAvailsAvg"
                        :loading="!loaded"
                        :search="search"
                        loading-text="Mengambil data.. mohon menunggu"
                        :single-expand="singleExpand"
                        :expanded.sync="expanded"
                        item-key="header.id"
                        show-expand
                        class="elevation-1"
                      >

                        <template v-slot:expanded-item="{ headers, item }">
                          <td :colspan="headers.length">
                            <v-simple-table>
                              <template v-slot:default>
                                <thead>
                                  <tr style="background-color:#e0e0e0!important">
                                    <th>Recorded at</th>
                                    <th>System Name</th>
                                    <th>System Downtime</th>
                                    <th>% System Avail</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="details in item.detail" :key="details.id">
                                  <!-- <tr> -->
                                    <td>{{ details.recorded_at }}</td>
                                    <td>{{ details.header.system_name }}</td>
                                    <td>{{ details.system_downtime }}</td>
                                    <td v-if="details.percent_system_avail==1">{{details.percent_system_avail*100}}</td>
                                    <td v-else>{{(details.percent_system_avail*100).toFixed(2)}}</td>
                                  </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </td>
                        </template>
                      </v-data-table>
                      <system-avail-form
                        :called="called"
                        v-on:cancel="dialogClosed"
                        v-on:saveOrUpdate="saveOrUpdate"
                      ></system-avail-form>
                      <warning-dialog
                        :called="warning"
                        :title="'Hapus Data !!!'"
                        :content="'Anda akan menghapus data, apakah anda yakin?'"
                        :value="getEditItem"
                        v-on:doAccept="deleteItem"
                        v-on:doIgnore="dialogClosed"
                      ></warning-dialog>
                    </v-container>
                  </v-card>
                </v-container>
              </v-row>
              </v-card>
            </v-container>
        </v-tab-item>

        <v-tab-item>
          <v-container fluid>
              <v-card tile>
                <v-btn color="primary" dark @click.stop="callFormMaster()">
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
                <v-row style="margin-bottom:10px;">
                </v-row>
              
                <v-row justify="space-between">
                  <alert-message
                    :info="valuesMaster"
                  ></alert-message>
                </v-row>
                <v-row>
                <v-container>
                  <v-card tile>
                    <v-card-title>
                      <v-text-field v-model="searchMaster" label="Cari..." single-line hide-details></v-text-field>
                    </v-card-title>
                    <v-container fluid>
                      <v-data-table
                        dense
                        :headers="getMasterSimpleHeader"
                        :items="getMasterSystems"
                        :loading="!loadedMaster"
                        :search="searchMaster"
                        loading-text="Mengambil data.. mohon menunggu"
                      >
                        <template v-slot:item.action="{ item }">
                          <simple-action-table
                            :item="item"
                            :isShow="true"
                            v-on:itemToEdit="editItemMaster"
                            v-on:itemToDelete="confirmDeleteMaster"
                          ></simple-action-table>
                        </template>
                      </v-data-table>
                      <master-system-form
                        :called="calledMaster"
                        v-on:cancel="dialogClosedMaster"
                        v-on:saveOrUpdate="saveOrUpdateMaster"
                      ></master-system-form>
                      <warning-dialog
                        :called="warningMaster"
                        :title="'Hapus Data !!!'"
                        :content="'Anda akan menghapus data, apakah anda yakin?'"
                        :value="getMasterEditItem"
                        v-on:doAccept="deleteMasterItem"
                        v-on:doIgnore="dialogClosedMaster"
                      ></warning-dialog>
                    </v-container>
                  </v-card>
                </v-container>
              </v-row>
              </v-card>
          </v-container>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel);
// const { mapGetters, mapActions } = createNamespacedHelpers("systemavailability");
import SimpleActionTable from "../components/SimpleActionTable";
import WarningDialog from "../components/dialog/WarningDialog";
import SystemAvailForm from "../components/form/SystemAvailForm";
import MasterSystemForm from "../components/form/MasterSystemForm";
export default {
  data() {
    return {
      singleExpand: true,
      expanded: [],
      switchAverage:false,
      search: "",
      called: false,
      warning: false,
      loaded: false,

      searchMaster: "",
      calledMaster: false,
      warningMaster: false,
      loadedMaster: false,

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      valuesMaster:{},
      curdate:"",
      dNow:"",

      selectedYear:[],
      systemAvailabilities: [],
      isMonth: null,
      isDate:null,
      menu: false,
      menu2:false,
      skala:'date',
      selectedSkala:'date',
      itemSkala: ['date','month','year'],

      snack: false,
      snackColor: '',
      snackText: '',
      descRules: [
        v => (!!v && /[^ ]/.test(v))|| "Required value !",
        v => (v && v.length <= 255) || 'Maximal length 255 characters !'
      ],
      editDialog:false,
      json_fields: {
            'System Name': 'header.system_name',
            'System Downtime': 'system_downtime',
            '% System Avail': 'percent_system_avail',
            'Notes': 'description',
            'Recorded_at': 'recorded_at',
      },
      fileName:"",
      accessExport: false,
    };
  },
  watch:{
    getPermission: function(newVal){
      this.accessExport = newVal;
    },
      getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loaded = newVal != 1 ? true : false;
    },
    getMasterApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getMasterAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.valuesMaster = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loadedMaster = newVal != 1 ? true : false;
    },
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      menu2 (val) {
        val && setTimeout(() => (this.$refs.picker2.activePicker = 'YEAR'))
      },
  },
  computed: {
  ...mapGetters("systemavailability", [
    "getSystemAvailsAvg",
    "getSystemAvails",
    "getSimpleHeaderAvg",
    "getSimpleHeader",
    "getEditItem",
    "getApiState",
    "getAlertMessage",
    "getYears"
  ]),
  ...mapGetters("userconfig",[
    "getPermission"
    ]),
  ...mapGetters("mastersystem", {
    getMasterSystems:"getMasterSystems",
    getMasterSimpleHeader:"getSimpleHeader",
    getMasterEditItem:"getEditItem",
    getMasterApiState:"getApiState",
    getMasterAlertMessage:"getAlertMessage",
  }),
  },
  
  mounted(){
    this.resetPermission();
    this.resetYears();
    this.reset();
    this.initYears();
    this.initSystemAvailability();
    this.resetMasterSystems();
    this.initMasterSystem();
    var payload = {
        module: 'system_availability',
        action: ['read'],
      };
    this.checkPermission(payload);
    var yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    this.isDate = yesterday.toISOString().substr(0, 10)
    this.fileName = "systemavailability_date_"+this.isDate+".xls";
  },
  methods: {
    ...mapActions("userconfig",[
      "checkPermission",
      "resetPermission"
    ]),
    ...mapActions("systemavailability",[
      "initYears",
      "initSystemAvailability",
      "populateSystemAvailByDate",
      "populateSystemAvailByMonth",
      "populateSystemAvailByMonthAvg",
      "populateSystemAvailByYear",
      "resetYears",
      "resetSystemAvails",
      "resetSystemAvailsAvg",
      "resetItem",
      "addSystemAvail",
      "updateSystemAvail",
      "updateDescSystemAvail",
      "updateItem",
      "deleteSystemAvail"
    ]),
    ...mapActions("mastersystem",{
      initMasterSystem:"initMasterSystem",
      resetMasterSystems:"resetMasterSystems",
      resetMasterItem:"resetItem",
      addMasterSystem:"addMasterSystem",
      updateMasterSystem:"updateMasterSystem",
      updateMasterItem:"updateItem",
      deleteMasterSystem:"deleteMasterSystem"
    }),
    getColor (percent_system_avail) {
        if (percent_system_avail < 100) return 'red'
        else return 'green'
    },
    saveFieldDialog(id, description){
        var payload={
          id: id,
          description: description,
        }
        this.updateDescSystemAvail(payload);
        this.editDialog = false
      },
     save (isMonth) {
        this.$refs.menu.save(isMonth)
      },
      saveDate (isDate) {
        this.$refs.menu2.save(isDate)
      },
      goProcess(selected){
          if(selected=='month'){
            this.reset();
                this.populateSystemAvailByMonthAvg({ 
                    selectedMonth:this.isMonth
                });
                this.populateSystemAvailByMonth({ 
                    selectedMonth:this.isMonth
                });
                this.fileName = "systemavailability_month_"+this.isMonth+".xls";        
          }else if(selected=='year'){
              this.populateSystemAvailByYear({ 
                    selectedYear:this.selectedYear
                });
                this.fileName = "systemavailability_year_"+this.selectedYear+".xls";
          }else{
              this.populateSystemAvailByDate({selectedDate:this.isDate}); 
              this.fileName = "systemavailability_date_"+this.isDate+".xls";
          }
      },

      onChange(selectedSkala){
        this.reset();
        this.skala = selectedSkala;
        if(selectedSkala=='month'){
            this.selectedYear= [];
            this.isDate= null;
            this.switchAverage = true;             
        }else if(selectedSkala=='year'){
            this.isDate = null;
            this.isMonth = null;
            this.switchAverage = false;
        }else{
            this.isMonth = null;
            this.selectedYear= [];
            this.switchAverage = false;
        }
      },
    editItem(item) {
      this.called = true;
      this.updateItem({
        index: this.getSystemAvails.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    editItemMaster(item) {
      this.calledMaster = true;
      this.updateMasterItem({
        index: this.getMasterSystems.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    dialogClosed() {
      this.resetItem();
      this.called = false;
      this.warning = false;
    },
    dialogClosedMaster() {
      this.resetMasterItem();
      this.calledMaster = false;
      this.warningMaster = false;
    },
    confirmDelete(item) {
      this.warning = true;
      this.updateItem({
        index: this.getSystemAvails.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    confirmDeleteMaster(item) {
      this.warningMaster = true;
      this.updateMasterItem({
        index: this.getMasterSystems.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    deleteItem(item) {
      this.deleteSystemAvail(this.getEditItem.id);
      this.resetItem();
      this.warning = false;
    },
    deleteMasterItem(item) {
      this.deleteMasterSystem(this.getMasterEditItem.id);
      this.resetMasterItem();
      this.warningMaster = false;
    },
    callForm() {
      this.resetItem();
      this.called = true;
    },
    callFormMaster() {
      this.resetMasterItem();
      this.calledMaster = true;
    },
    saveOrUpdate(payload) {
      this.resetItem();
      if (payload.id === null) {
        this.addSystemAvail(payload);
      } else {
        this.updateSystemAvail(payload);
      }
      this.called = false;
    },
    saveOrUpdateMaster(payload) {
      this.resetMasterItem();
      if (payload.id === null) {
        this.addMasterSystem(payload);
      } else {
        this.updateMasterSystem(payload);
      }
      this.initSystemAvailability();
      this.calledMaster = false;
    },
    openFieldDialog(){
        this.editDialog = true
    },
    reset(){
      this.resetSystemAvailsAvg();
      this.resetSystemAvails();
    },
  },
  components: {
    SimpleActionTable,
    WarningDialog,
    SystemAvailForm,
    MasterSystemForm
  }
};
</script>