<template>
<v-row justify="space-between">
    <v-container fluid>
      <v-tabs background-color="white" right>
        <v-tab>User Configuration</v-tab>
        <v-tab-item>
            <v-container fluid>
              <v-card tile class="pt-5 pb-5 pr-5 pl-5">
                <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
                <v-form
                    ref="form"
                    action
                    :lazy-validation="true">
                  <v-row justify="space-between">
                    <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="form.name"
                          label="Name*"
                          required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          v-model="form.email"
                          label="Email*"
                          :rules="emailRules"
                          required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Password"
                        v-model="form.password"
                        type="password"
                      ></v-text-field>
                      <span
                        class="pull-right text-danger"
                        style="font-size:9px;"
                      >* optional, left blank will not change your password.</span>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        v-model="form.repassword"
                        label="Retype Password"
                        type="password"
                        :rules="repasswordRules"
                      ></v-text-field>
                    </v-col>
                    <v-row cols="12" justify="end">
                      <v-btn
                        color="primary"
                        class="mb-4 mr-4"
                        @click="saveChange"
                        :disabled="!loaded"
                      >Save Changes
                      </v-btn>
                    </v-row>
                  </v-row>
                </v-form>
                </v-card-text>
                <v-row>
                <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
                </v-row>
                <v-row justify="space-between">
                  <alert-message transition="fade-transition"
                    :info="values"
                  ></alert-message>
                </v-row>
                <v-row>
                <v-container v-if="viewTable==true">
                  <v-card tile>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn color="primary" v-on="on" dark @click.stop="callImport()">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template>
                      <span>Aktifkan Users</span>
                    </v-tooltip>
                    <v-tooltip bottom v-if="!this.selectedStatus">
                      <template v-slot:activator="{ on }">
                        <v-btn color="primary" v-on="on" dark @click.stop="callDelete()">
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                      </template>
                      <span>Nonaktifkan Users</span>
                    </v-tooltip>
                    <v-card-title>
                      <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
                    </v-card-title>
                    <v-container fluid>
                      <v-data-table
                        dense
                        show-select
                        item-key="id"
                        v-model="checkedNames"
                        :headers="getSimpleHeader"
                        :items="getUsers"
                        :loading="!loaded"
                        :search="search"
                        loading-text="Mengambil data.. mohon menunggu"
                      >
                      <template v-slot:header.data-table-select>
                        <v-checkbox :disabled="true"></v-checkbox>
                      </template>
                      <template v-slot:item.module_problem="props">
                        <span v-if="props.item.module_problem==true">Enable</span>
                        <span v-else>Disable</span>
                      </template>
                      <template v-slot:item.action="{ item }">
                        <v-icon color="warning" @click="showEdit(item)" outlined>mdi-file-document-edit</v-icon>
                      </template>
                      </v-data-table>
                      <user-form
                        :called="called"
                        v-on:cancel="dialogClosed"
                        v-on:goUpdate="goUpdate"
                      ></user-form>
                      <import-user
                        :showImport="showImport"
                        v-on:cancel="dialogClosed"
                        v-on:goUpdate="goImport"
                      ></import-user>
                      <warning-dialog
                        :called="warning"
                        title="Nonaktifkan User !"
                        content="Anda yakin ingin menonaktifkan user ?"
                        :value="checkedNames"
                        v-on:doAccept="deleteUser"
                        v-on:doIgnore="dialogClosed"
                      ></warning-dialog>
                    </v-container>
                  </v-card>
                </v-container>
              </v-row>
              </v-card>
            </v-container>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import UserForm from "../components/form/UserForm";
import ImportUser from "../components/form/ImportUser";
import WarningDialog from "../../reports/components/dialog/WarningDialog";
export default {
  data() {
    return {
      search: "",
      called: false,
      showImport: false,
      warning: false,
      loaded: false,

      checkedNames:[],
      selectedStatus: true,

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      curdate:"",
      dNow:"",

      form: {
        id: '',
        name: '',
        email: '',
        module_problem: 'Enable',
        password: '',
        repassword: '',
        problem_role_id: '',
      },
      
      emailRules: [
        v => !!v || "E-mail diperlukan",
        v => /.+@.+\..+/.test(v) || "Format E-mail tidak valid"
      ],
      repasswordRules: [
        v => v === this.form.password || "Password tidak sesuai."
      ],
      viewTable: false,
      editDialog:false,
    };
  },
  mounted(){
    this.resetPermission();
    this.resetUsers();
    var payload = {
        module: 'users',
        action: ['create','update','delete'],
      };
    this.checkPermission(payload);
    this.fetchCurrentUser();
    this.fetchListUsers();
  },
  watch: {
    checkedNames: function(newVal) {
      if (this.checkedNames.length == 0) {
        this.selectedStatus = true;
      } else {
        this.selectedStatus = false;
      }
    },
    getPermission: function(newVal){
      this.viewTable = newVal;
    },
    getCurrentUser: function(newVal){
        this.form.id = newVal.id,
        this.form.name = newVal.name,
        this.form.email = newVal.email,
        this.form.problem_role_id = newVal.problem_role_id
    },
    getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loaded = newVal != 1 ? true : false;
    },
  },
  computed: {
    ...mapGetters("pmroles",[
      "getRoles",
    ]),
    ...mapGetters("userconfig", [
      "getCurrentUser",
      "getUsers",
      "getSimpleHeader",
      "getApiState",
      "getAlertMessage",
      "getPermission"
    ]),
  },
  methods: {
    ...mapActions("userconfig",[
      "activatedUsers",
      "deactivatedUsers",
      "fetchCurrentUser",
      "resetUsers",
      "fetchListUsers",
      "updateUser",
      "updateItem",
      "resetItem",
      "checkPermission",
      "resetPermission"
    ]),
    saveChange(){
      this.updateUser(this.form);
    },
    showEdit(item){
      this.called = true;
      this.updateItem({
        index: this.getUsers.indexOf(item),
        item: Object.assign({}, item)
      });
    },
    callImport(){
      this.showImport = true;
    },
    dialogClosed() {
      this.resetItem();
      this.called = false;
      this.showImport = false;
      this.warning = false;
    },
    goUpdate(payload) {
      this.resetItem();
      this.updateUser(payload);
      this.called = false;
    },
    goImport(payload) {
      this.activatedUsers(payload);
      this.showImport = false;
    },
    callDelete(){
      this.warning = true;
    },
    deleteUser(){
      var payload = {
        details: this.checkedNames
      }
      this.deactivatedUsers(payload);
      this.selectedStatus = true;
      this.checkedNames = []
    }
  },
  components: {
    UserForm,
    ImportUser,
    WarningDialog
  }
};
</script>