<template>
  <div 
    class="modal" 
    id="modalDetail" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="smallModalHead" 
    aria-hidden="true"
    v-if="ismodal && modalname=='modalDetail'"
  >
    <div class="modal-dialog  modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">User Configuration Detail</h4>
        </div>

        <div class="modal-body" v-if="isloaded">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Username Remedy</th>
                <th class="text-center">First Name Remedy</th>
                <th class="text-center">Last Name Remedy</th>
                <!-- <th class="text-center">Assignee Support Company</th>
                <th class="text-center">Assignee Support Organization</th> -->
                <th class="text-center">Assignee Support Group Name</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td v-if="selected_prop.id === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.id }}</td>
                <td v-if="selected_prop.name === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.name }}</td>
                <td v-if="selected_prop.email === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.email }}</td>
                <td v-if="selected_prop.un_remedy === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.un_remedy }}</td>
                <td v-if="selected_prop.fn_remedy === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.fn_remedy }}</td>
                <td v-if="selected_prop.ln_remedy === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.ln_remedy }}</td>
                <!-- <td v-if="selected_prop.assignee_support_company === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.assignee_support_company }}</td>
                <td v-if="selected_prop.assignee_support_organization === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.assignee_support_organization }}</td> -->
                <td v-if="selected_prop.sgn_remedy === null" class="text-center">N/A</td>
                <td v-else>{{ selected_prop.sgn_remedy }}</td>
                <td class="text-center" v-if="selected_prop.status">Enable</td>
                <td class="text-center" v-else>Disabled</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-body" v-else>
            <span v-if="!isloaded" class="fa fa-refresh fa-spin" style="font-size:20px; color:#0069a5; margin-right: 5px;"></span>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["selected_prop", "isloaded", "modalname", "ismodal"],
  data() {
    return {};
  },
  methods: {
    closeWindow() {
      this.$emit("close-modal");
    },
  }
};
</script>
