<template>
  <div 
    class="modal" 
    id="modalEdit" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="smallModalHead" 
    aria-hidden="true"
    v-if="ismodal && modalname=='modalEdit'"
  >
    <div class="modal-dialog  modal-lg" style="width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">User Configuration Edit</h4>
        </div>
        <div class="row">
          <div class="modal-body" v-if="isloaded">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>User iTools</p>
                </div>
                <div class="panel-body">
                  <div class="modal-body">
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Name</strong>
                          </label>
                          <input
                            name="name"
                            v-model="name"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Name"
                            maxlength="30"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('name')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('name') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Status</strong>
                          </label>
                          <v-select
                            :options="optionsStatus"
                            label="name"
                            v-model="status"
                            name="Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Email</strong>
                          </label>
                          <input
                            name="email"
                            v-model="email"
                            v-validate="'required|email'"
                            class="form-control"
                            type="text"
                            placeholder="Email"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('email')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('email') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Created At</strong>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="createAt"
                            autocomplete="off"
                            maxlength="30"
                            readonly="readonly"
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>New Password iTools</strong>
                          </label>
                          <input
                            name="Password iTools"
                            v-model="passwordiTools"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            placeholder="input New Password iTools"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Password iTools')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password iTools') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Updated At</strong>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="updatedAt"
                            autocomplete="off"
                            maxlength="30"
                            readonly="readonly"
                          >
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>User Remedy</p>
                </div>
                <div class="panel-body">
                  <div class="modal-body">
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Username</strong>
                          </label>
                          <input
                            name="Username Remedy"
                            v-model="usernameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Username Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Username Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Username Remedy') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Password Remedy</strong>
                          </label>
                          <input
                            name="Password Remedy"
                            v-model="passwordRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            placeholder="Password Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Password Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password Remedy') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>First Name</strong>
                          </label>
                          <input
                            name="First Name Remedy"
                            v-model="firstNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="First Name Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('First Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('First Name Remedy') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Last Name</strong>
                          </label>
                          <input
                            name="Last Name Remedy"
                            v-model="lastNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Last Name Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Last Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Last Name Remedy') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Assignee Support Group Name</strong>
                          </label>
                          <v-select
                              :options="optionsAssigneeSupportGroupName"
                              :selectOnTab="true"
                              label="name"
                              v-model="assigneeSupportGroupName"
                              v-validate="'required'"
                              name="Assignee Support Group Name"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="group-name" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Group')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Group') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" v-if="!isloaded">
            <span v-if="!isloaded" class="fa fa-refresh fa-spin" style="font-size:20px; color:#0069a5; margin-right: 5px;"></span>
          </div>
        </div>
      
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" @click="submitUpdate" v-if="ismodal">Submit</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["selected_prop", "isloaded", "modalname", "ismodal"],

  mounted() {
    this.getAllSupportGroup();
  },

  watch: {
    isloaded: function() {
      if (this.isloaded) {
        this.dataIn();
      }
    }
  },

  data() {
    return {
      optionsStatus: ["Enable", "Disable"],
      id: null,
      nip: null,
      name: null,
      email: null,
      status: null,
      createAt: null,
      updatedAt: null,
      usernameRemedy: null,
      passwordRemedy: null,
      firstNameRemedy: null,
      lastNameRemedy: null,
      assigneeSupportGroupName: null,
      passwordiTools: null,
      optionsAssigneeSupportGroupName:[],
    };
  },

  name: "form-example",

  methods: {
    getAllSupportGroup() {
      axios.get("/employee_remedy/all_support_group").then(response => {
        this.optionsAssigneeSupportGroupName = response.data;
      })
      .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
    },
    
    dataIn() {
      this.id= this.selected_prop.id,
      this.nip= this.selected_prop.nip,
      this.name= this.selected_prop.name,
      this.email= this.selected_prop.email,
      this.createAt= this.selected_prop.created_at,
      this.updatedAt= this.selected_prop.updated_at,
      this.usernameRemedy= this.selected_prop.un_remedy,
      this.passwordRemedy= this.selected_prop.pass_remedy,
      this.firstNameRemedy= this.selected_prop.fn_remedy,
      this.lastNameRemedy= this.selected_prop.ln_remedy,
      this.assigneeSupportGroupName= this.selected_prop.sgn_remedy
      if (this.selected_prop.status == true) {
        this.status= "Enable"
      } else {
        this.status= "Disable"
      }
    },

    closeWindow() {
      this.$emit("close-modal");
    },

    submitUpdate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-update", {
            data: {
              id: this.id,
              nip: this.nip,
              name: this.name,
              email: this.email,
              status: this.status,
              usernameRemedy: this.usernameRemedy,
              passwordRemedy: this.passwordRemedy,
              firstNameRemedy: this.firstNameRemedy,
              lastNameRemedy: this.lastNameRemedy,
              assigneeSupportGroupName: this.assigneeSupportGroupName,
              passwordiTools: this.passwordiTools
            }
          });
          this.closeWindow();
        }
      });
    }
  }
};
</script>
