<template>
  <div
    class="modal"
    id="modal-add-role"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="ismodal && modalname=='modal-add-role'"
  >
    <div class="modal-dialog  modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">Add Role</h4>
        </div>
        <div class="modal-body">
            <label>Roles</label>
            <v-select
                :options="options"                
                label="name"
                v-model="selected"
                v-validate="'required'"
                name="Roles"
            >
                <template slot="option" slot-scope="option">
                    <input type="hidden" :value="option.id">
                    <div class="d-center">{{ option.name }}</div>
                </template>
            </v-select>
            <span
                v-show="errors.has('Roles')"
                class="valid-feedback text-danger"
              >{{ errors.first('Roles') }}</span>
        </div>
        <div class="modal-footer">
          <button
            type="button"            
            class="btn btn-info"
            style="width:90px;"
            @click="addRole()"
          >Add Role</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeModal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  props: ["user_id", "modalname", "ismodal"],
  watch:{
    ismodal:function(){
      this.reset();
    }
  },

  data() {
    return {
        options:[],
        selected: ""
    };
  },

  mounted() {
    this.role();
  },

  methods: {
    role() {
      axios.get("/user_configuration/roles_list").then(response => {
        this.options = response.data.result;
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
            location.reload(false);
          } else {
            this.$emit("flash",{
                  status: false,
                  message: error.response.data.message
                });
          }
        });
    },

    addRole() {
      this.$validator.validateAll().then(result => {
        if (result) {
          var data = {
            user_id: this.user_id, 
            role_id: this.selected.id,
            role_name: this.selected.name
          };
          this.closeWindow(data);
        }
      });
    },
    
    reset(){
      this.selected = '';
      this.$validator.reset();
    },

    closeWindow(data) {
      axios.post("/user_configuration/add_roles", data).then(response => {
            if (response.data.status) {          
                this.$emit("flash",{
                  status: true,
                  message: response.data.result
                });
            } else {
                this.$emit("flash",{
                  status: false,
                  message: response.data.result
                });
              }
              // this.$emit("close-modal")
          }).catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              this.$emit("flash",{
                    status: false,
                    message: error.response.data.message
                  });
            }
          });
    },

    closeModal() {
      this.$emit("close-modal");
    },
  }
};
</script>  