<template>
  <div>
    <!-- <flash v-if="ismodal" info></flash> -->
      <div class="col-md-6">
        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-backdrop
            :data-toggle="'modal'"
            style="width:100px;"
            :data-target="'#modalInsert'"
            v-on:click="dataSelected('new','modalInsert')"
          >Create</button>
        </div>
         <div class="col-md-3" v-if="checked.length>0 && (auth.un_remedy=='ilham.cantayuda' || auth.un_remedy=='yesaya.samuel' || auth.un_remedy=='1888700135' || auth.un_remedy=='imam.taufik')">
          <button
            type="button"
            class="btn btn-info btn-sm"
            style="width:150px;"
            v-on:click="updatePassword()"
          >Update Password</button>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <input
          id="txtName"
          @keyup.enter="searchData"
          v-model="textSearch"
          type="text"
          autocomplete="off"
          placeholder="Search"
          class="form-control"
        >
      </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th v-if="auth.un_remedy=='ilham.cantayuda' || auth.un_remedy=='yesaya.samuel' || auth.un_remedy=='1888700135' || auth.un_remedy=='imam.taufik'">
            <center><input type="checkbox" v-model="checkedParent" @click="selectAll"/></center>
          </th>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Support Group Name</th>
          <th class="text-center">Status</th>
          <th class="text-center">User Type</th>
          <th class="text-center">Access Role</th>
          <th class="text-center" colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" v-for="data in result" :data="result" :key="data.id">
          <td v-if="auth.un_remedy=='ilham.cantayuda' || auth.un_remedy=='yesaya.samuel' || auth.un_remedy=='1888700135' || auth.un_remedy=='imam.taufik'">
            <input type="checkbox" :value="data" v-model="checked" />
          </td>
          <td v-if="data.id === null" class="text-center">N/A</td>
          <td v-else>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td v-if="data.sgn_remedy === null" class="text-center">N/A</td>
          <td v-else>{{ data.sgn_remedy }}</td>
          <td class="text-center" v-if="data.status">Enable</td>
          <td class="text-center" v-else>Disabled</td>
          <td class="text-center">{{ data.user_type }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-user-roles"
                v-on:click="dataSelected(data.id, 'modal-user-roles', data.name)"
                style="width:60px;"
              >View</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalEdit'"
                v-on:click="dataSelected(data.id, 'modalEdit')"
              >Edit</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalConfirm'"
                v-on:click="dataSelected(data.id, 'modalConfirm')"
              >Delete</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalDetail'"
                v-on:click="dataSelected(data.id, 'modalDetail')"
              >Detail</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["result", "auth"],
  data() {
    return {
      textSearch: '',
      isMultiple:false,
      checkedParent: false,
      checked:[],
    };
  },
  watch: {
    checked(newVal){
      if(newVal.length>0){
        this.isMultiple = true;
      }else{
        this.isMultiple = false;
      }
      if(newVal.length == this.result.length){
         this.checkedParent = true;
      }else{
         this.checkedParent = false;
      }
    },
  },
  methods: {
    updatePassword(){
      this.$emit("update-password", {
        data: this.checked
      });
    },
    selectAll: function(){
      this.checkedParent = !this.checkedParent;
      this.checked = [];
      if (this.checkedParent) {
          for (var key in this.result) {
              this.checked.push(this.result[key]);
          }
      }
    },
    searchData() {
      this.$emit("search-data", {
        search: this.textSearch
      });
    },
    dataSelected(idRequest, modalname, nameUser) {
      if (modalname == 'modal-user-roles'){
        this.$emit("user-roles", {
          id: idRequest,
          modalname: modalname,
          userName: nameUser
        });
      } else if (modalname == 'modalInsert'){
        this.$emit("create-user", {
          modalname: modalname
        });
      } else {
        this.$emit("user-selected", {
          id: idRequest,
          modalname: modalname
        });
      }
    }
  }
};
</script>
