<template>
  <div 
    class="modal" 
    id="modalInsert" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="smallModalHead" 
    aria-hidden="true" 
    v-if="ismodal && modalname=='modalInsert'"
  >
    <div class="modal-dialog  modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">Insert New User</h4>
        </div>
        <div class="row">
          <div class="modal-body">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>User iTools</p>
                </div>
                <div class="panel-body">
                  <div class="modal-body">
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>NIP</strong>
                          </label>
                          <input
                            name="nip"
                            v-model="nip"
                            v-validate="'required|numeric|digits:10'"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            maxlength="10"
                          >
                          <span
                            v-show="errors.has('nip')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('nip') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>Profile Status</strong>
                          </label>
                          <v-select
                            :options="optionsProfileStatus"
                            label="name"
                            v-model="selectedProfileStatus"
                            v-validate="'required'"
                            name="Profile Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Profile Status')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Profile Status') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Name</strong>
                          </label>
                          <input
                            name="Name"
                            v-model="name"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            maxlength="30"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Name')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Name') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Pasword</strong>
                          </label>
                          <input
                            name="Password"
                            v-model="password"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            maxlength="30"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Password')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Email</strong>
                          </label>
                          <input
                            name="Email"
                            v-model="email"
                            v-validate="'required|email'"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Email')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Email') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>User Type</strong>
                          </label>
                          <v-select
                            :options="optionsUserType"
                            label="name"
                            v-model="selectedUserType"
                            v-validate="'required'"
                            name="User Type"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('User Type')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('User Type') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>User Remedy</p>
                </div>
                <div class="panel-body">
                  <div class="modal-body">
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Support Staff</strong>
                          </label>
                          <v-select
                            :options="optionsSupportStaff"
                            label="name"
                            v-model="selectedSupportStaff"
                            v-validate="'required'"
                            name="Support Staff"
                            @change="onChangeSupportStaff($event)"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Support Staff')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Support Staff') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>Assignee Support Company</strong>
                          </label>
                          <v-select
                            :options="optionsAssigneeSupportCompany"
                            label="name"
                            v-model="assignedSupportCompanySelected"
                            @change="onChangeAssignedSupportCompany($event)"
                            v-validate="'required'"
                            name="Assignee Support Company"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assignee Support Company')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assignee Support Company') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Username</strong>
                          </label>
                          <input
                            name="Username Remedy"
                            v-model="usernameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                          <span
                            v-show="errors.has('Username Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Username Remedy') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>Assignee Support Organization</strong>
                          </label>
                          <v-select
                            :options="optionsAssigneeSupportOrganization"
                            label="name"
                            v-model="assigneeSupportOrganizationSelected"
                            @change="onChangeAssignedSupportOrganization($event)"
                            v-validate="'required'"
                            name="Assigned Support Organization"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Support Organization')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned Support Organization') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>First Name</strong>
                          </label>
                          <input
                            name="First Name Remedy"
                            v-model="firstNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                          <span
                            v-show="errors.has('First Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('First Name Remedy') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>Assignee Support Group Name</strong>
                          </label>
                          <v-select
                            :options="optionsAssigneeSupportGroupName"
                            label="name"
                            v-model="assignedSupportGroupSelected"
                            v-validate="'required'"
                            name="Assigned Group"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assigned Group')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assigned Group') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Last Name</strong>
                          </label>
                          <input
                            name="Last Name Remedy"
                            v-model="lastNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                          <span
                            v-show="errors.has('Last Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Last Name Remedy') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Password</strong>
                          </label>
                          <input
                            name="Password Remedy"
                            v-model="passwordRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            autocomplete="off"
                            :disabled="selectedSupportStaff == 'No'"
                          >
                          <span
                            v-show="errors.has('Password Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password Remedy') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-info" @click="submitInsert">Submit</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["selected_prop", "modalname", "ismodal"],
  data() {
    return {
      optionsProfileStatus: ["Enable", "Disable"],
      selectedProfileStatus: null,
      optionsUserType: ["AGENT", "ROBOT"],
      optionsSupportStaff: ["Yes", "No"],
      selectedSupportStaff: "Yes",
      selectedUserType: null,
      nip: null,
      name: null,
      email: null,
      password: null,
      usernameRemedy: null,
      passwordRemedy: null,
      firstNameRemedy: null,
      lastNameRemedy: null,
      optionsAssigneeSupportCompany: [],
      assignedSupportCompanySelected: null,
      optionsAssigneeSupportOrganization: [],
      assigneeSupportOrganizationSelected: null,
      optionsAssigneeSupportGroupName: [],
      assignedSupportGroupSelected: null
    };
  },
  name: "form-example",

  mounted() {
    this.getAssignedSupportCompany();
  },

  methods: {
    onChangeSupportStaff() {
      if (event != null) {
        this.selectedSupportStaff = this.selectedSupportStaff;
      }
    },

    getAssignedSupportCompany() {
      axios.get("/employee_remedy/support_company").then(response => {
        this.optionsAssigneeSupportCompany = response.data;
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
            location.reload(false);
          } else {
            window.alert(error.response.data.message);
          }
        });
    },

    onChangeAssignedSupportCompany() {
      this.assignedSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      if (event != null) {
        axios
          .post("/employee_remedy/support_organization", {
            supportCompany: this.assignedSupportCompanySelected
          })
          .then(response => {
            this.optionsAssigneeSupportOrganization = response.data;
          })
          .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
    },

    onChangeAssignedSupportOrganization() {
      this.assignedSupportGroupSelected = null;
      if (event != null) {
        this.assigned_support_group = [];
        axios
          .post("/employee_remedy/support_group", {
            supportCompany: this.assignedSupportCompanySelected,
            supportOrganization: this.assigneeSupportOrganizationSelected
          })
          .then(response => {
            this.optionsAssigneeSupportGroupName = response.data;
          })
          .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
      }
    },

    closeWindow() {
      this.$emit("close-modal");
      this.reset();
    },

    reset() {
      this.nip = null;
      this.name = null;
      this.email = null;
      this.selectedProfileStatus = null;
      this.password = null;
      this.selectedSupportStaff = "Yes";
      this.usernameRemedy = null;
      this.passwordRemedy = null;
      this.firstNameRemedy = null;
      this.lastNameRemedy = null;
      this.assignedSupportCompanySelected = null;
      this.assigneeSupportOrganizationSelected = null;
      this.assignedSupportGroupSelected = null;
      this.$validator.reset();
    },

    submitInsert() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-insert", {
            data: {
              nip: this.nip,
              name: this.name,
              email: this.email,
              status: this.selectedProfileStatus,
              password: this.password,
              usernameRemedy: this.usernameRemedy,
              passwordRemedy: this.passwordRemedy,
              firstNameRemedy: this.firstNameRemedy,
              lastNameRemedy: this.lastNameRemedy,
              assigneeSupportCompany: this.assigneeSupportCompany,
              assigneeSupportOrganization: this.assigneeSupportOrganization,
              assigneeSupportGroupName: this.assignedSupportGroupSelected,
              userType: this.selectedUserType
            }
          });
        }
      });
    }
  }
};
</script>
