<template>
  <div 
    class="modal" 
    id="modalConfirm" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="smallModalHead" 
    aria-hidden="true" 
    v-if="ismodal && modalname=='modalConfirm'"
  >
    <div class="modal-dialog  modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">Confirm Delete</h4>
        </div>
        <div class="modal-body" v-if="isloaded">
          <div class="form-horizontal needs-validation"></div>Are you sure you want to delete ?
        </div>
        <div class="modal-body" v-else>
            <span v-if="!isloaded" class="fa fa-refresh fa-spin" style="font-size:20px; color:#0069a5; margin-right: 5px;"></span>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"  data-dismiss="modal" @click="submitDelete(selected_prop.id)">Submit</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["selected_prop", "isloaded", "modalname", "ismodal"],
  methods: {
    closeWindow() {
      this.$emit("close-modal");
    },

    submitDelete(idRequest) {
      this.$emit("submit-delete", {
        id: idRequest
      });
    }
  }
};
</script>
