<template>
  <div
    class="modal"
    id="modal-user-roles"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="ismodal && modalname=='modal-user-roles'"
  >
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">User Role of : {{this.titleCase(name_user)}}</h4>          
        </div>
        <div class="modal-body" v-if="isloaded">
            <!-- <p>{{selected_prop}}</p> -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                        <center>Roles Id</center>
                        </th>
                        <th>
                        <center>Roles Names</center>
                        </th>
                        <th>
                        <center>Status</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in selected_user" :data="selected_user" :key="data.id">
                        <td align="center">{{data.id }}</td>
                        <td align="left">{{data.name }}</td>
                        <td class="text-center">
                          <input type="checkbox" :value="data.id" v-model="rolesChecked" @click="check($event)"/>
                        </td>
                        <!-- <td align="center">
                          <button
                            type="button"            
                            class="btn btn-info btn-sm"
                            style="width:60px;"
                            data-dismiss="modal"
                          >Remove</button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-body" v-else>
            <span v-if="!isloaded" class="fa fa-refresh fa-spin" style="font-size:20px; color:#0069a5; margin-right: 5px;"></span>
        </div>
        <div class="modal-footer">
          <button
            type="button"            
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @click="addRole"
          >Submit Role</button>          
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
Vue.use(Loading);
export default {
  props: ["name_user","selected_user","selected_role","user_id", "isloaded", "modalname", "ismodal"],
  data() {
    return {
      data1: this.selected_user.user_id,
      checkedRoles:[]
    };
  },

  computed: {
    rolesChecked: {
      get: function() {
        return this.checkedRoles;
      },
      set: function(newvalue) {
        this.checkedRoles = newvalue;
      }
    }
  },

  watch:{
    selected_role: function() {
      this.checkedRoles = this.selected_role;
    },

  },

  methods: {
      closeWindow() {
      this.$emit("close-modal");
    },

    check: function(e) {
        console.log(e.target.value);
    },

    titleCase(str) {
       var splitStr = str.toLowerCase().split(' ');
       for (var i = 0; i < splitStr.length; i++) {
           splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
       }
       return splitStr.join(' '); 
    },

    addRole() {
      // this.$emit("add-role",{
      //   modalname: modalname
      // })
      let loader = this.$loading.show({
          loader: "dots"
      });
      var data = {
        user_id: this.user_id, 
        role_id : this.rolesChecked
      }
      axios.post("/user_configuration/add_roles", data).then(response => {
            if (response.data.status) {          
                this.$emit("flash",{
                  status: true,
                  message: response.data.result
                });
            } else {
                this.$emit("flash",{
                  status: false,
                  message: response.data.result
                });
              }
              loader.hide();
              // this.$emit("close-modal")
          }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          }
          if (error.response.status === 500) {
            if (
              window.confirm(
                "Sistem galat, mohon hubungi Administrator atau tekan ok untuk reload page"
              )
            ) {
              location.reload(false);
            } else {
            }
          } else {
          }
          loader.hide();
        });
    },

    // removeRole(userId, roleId) {      
    //   var data = {
    //     user_id: userId, 
    //     role_id: roleId
    //   };

    //   axios.post("/user_configuration/delete_roles", data).then(response => {
    //     if (response.data.status) {          
    //         setTimeout(() => {
    //           flash({
    //             id: this.user_id,
    //             message: response.data.result,
    //             flashtype: "info"
    //           });
    //         }, 500);           
    //     } else {
    //         setTimeout(() => {
    //           flash({
    //             id: this.user_id,
    //             message: response.data.result,
    //             flashtype: "danger"
    //           });
    //         }, 500);
    //       }
    //   });       
    // }
    
  }
};
</script>  