<template>
  <div class="col-md-12" v-show="!isresponsereceived">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="spinner-loader" style="float:left;padding:5px"></div>
        <span
          style="margin:10px 10px"
        >Please wait, establishing connection to backend, if it take time you can manually try to
          <a href="#" @click="reconnectToBackend">reconnect</a>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["isresponsereceived","stomps"],
  methods: {
    reconnectToBackend() {
      this.stomps.disconnect();     
      window.location.reload(); 
    }
  }
};
</script>
