.tooltip {
    display: block !important;
    z-index: 10000;
    .tooltip-inner {
        overflow-y: auto;
        max-height: 350px;
        max-width: 450px !important;
        border: 1px solid rgb(214, 229, 230);
        border-radius: 2px;
        background: #f1f5f9;
        color: #656d78;
        padding: 10px 10px 4px;
    }
    .tooltip-arrow {
        border: 1px solid #777777;
        border-radius: 2px;
        width: 0;
        height: 0;
        position: absolute;
        margin: 5px;
        z-index: 1;
        border-style: solid;
    }
    &[x-placement^="top"] {
      margin-bottom: 5px;
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &[x-placement^="bottom"] {
      margin-top: 5px;
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &[x-placement^="right"] {
      margin-left: 5px;
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
    &[x-placement^="left"] {
      margin-right: 5px;
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
    &.info {
      $color: rgba(#004499, .9);
      .tooltip-inner {
        background: $color;
        color: white;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, .1);
      }
      .tooltip-arrow {
        border-color: $color;
      }
    }
    &.popover {
      $color: #f1f5f9;
      .popover-inner {
        background: $color;
        color: #656d78;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, .1);
      }
      .popover-arrow {
        border-color: #656d78;
      }
    }
  }