<template>
  <div>
    <div class="modal-body">
      <flash v-if="ismodal" info></flash>
      <div class="form-horizontal needs-validation">
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>IP Server</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="UserID"
              v-model="ipServer"
              autocomplete="off"
              maxlength="30"
            >
            <div class="valid-feedback text-danger" v-if="errorIpServer">{{messageErrorIpServer}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>Kode Cabang</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="UserID"
              v-model="kodeCabang"
              autocomplete="off"
              maxlength="5"
            >
            <div
              class="valid-feedback text-danger"
              v-if="errorKodeCabang"
            >{{messageErrorKodeCabang}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <label>
              <strong>Nama Cabang</strong>
            </label>
            <input
              type="text"
              class="form-control"
              name="UserID"
              v-model="namaCabang"
              autocomplete="off"
              maxlength="30"
            >
            <div
              class="valid-feedback text-danger"
              v-if="errorNamaCabang"
            >{{messageErrorNamaCabang}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info" @click="submitEdit">Submit</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Close</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["selected_prop", "ismodal"],
  data() {
    return {
      idRequest: this.selected_prop.id,
      ipServer: this.selected_prop.ip_server,
      kodeCabang: this.selected_prop.kode_cabang,
      namaCabang: this.selected_prop.nama_cabang,
      errorIpServer: false,
      messageErrorIpServer: null,
      errorKodeCabang: false,
      messageErrorKodeCabang: null,
      errorNamaCabang: false,
      messageErrorNamaCabang: null
    };
  },
  methods: {
    closeWindow() {
      this.$emit("close-modal");
    },

    submitEdit() {
      if (!this.ipServer) {
        this.errorIpServer = true;
        this.messageErrorIpServer = "The ip server field is required";
      }

      if (this.ipServer) {
        this.errorIpServer = false;
        this.messageErrorIpServer = null;
      }

      if (!this.kodeCabang) {
        this.errorKodeCabang = true;
        this.messageErrorKodeCabang = "The kode cabang field is required";
      }

      if (this.kodeCabang) {
        if (this.kodeCabang.length < 5) {
          this.errorKodeCabang = true;
          this.messageErrorKodeCabang =
            "The kode cabang must be at least 5 characters";
        } else {
          this.errorKodeCabang = false;
          this.messageErrorKodeCabang = null;
        }
      }

      if (!this.namaCabang) {
        this.errorNamaCabang = true;
        this.messageErrorNamaCabang = "The nama cabang field is required";
      }

      if (this.namaCabang) {
        this.errorNamaCabang = false;
        this.messageErrorNamaCabang = null;
      }

      if (
        this.ipServer &&
        this.kodeCabang &&
        this.namaCabang &&
        this.kodeCabang.length == 5
      ) {
        this.$emit("submit-update", {
          data: {
            id: this.idRequest,
            ipServer: this.ipServer,
            kodeCabang: this.kodeCabang,
            namaCabang: this.namaCabang
          }
        });
      }
    }
  }
};
</script>
