<template>
  <div class="panel-body">
    <!-- <flash v-if="ismodal" info></flash> -->
    <div class="form-group">
      <div class="col-md-6">
        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-backdrop
            :data-toggle="'modal'"
            style="width:100px;"
            :data-target="'#modalInsert'"
          >Insert</button>
        </div>
        <div class="col-md-3">
          <download-excel
            class="btn btn-info btn-block btn-sm"
            :data="result"
            :fields="json_fields"
            type="csv"
            style="width:100px;"
            name="List_BDS_Server.xls"
          >Download Excel</download-excel>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <input
          id="txtName"
          @keyup.enter="searchData"
          v-model="textSearch"
          type="text"
          autocomplete="off"
          placeholder="Search"
          class="form-control"
        >
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">IP Server</th>
          <th class="text-center">Kode Cabang</th>
          <th class="text-center">Nama Cabang</th>
          <th class="text-center" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" v-for="data in result" :data="result" :key="data.id">
          <td>{{ data.ip_server }}</td>
          <td class="text-center">{{ data.kode_cabang }}</td>
          <td>{{ data.nama_cabang }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalEdit'"
                v-on:click="editSelected(data.id)"
              >Edit</button>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width:60px;"
                :data-target="'#modalConfirm'"
                v-on:click="deleteSelected(data.id)"
              >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["result", "json_fields"],
  data() {
    return {
      textSearch: ''
    };
  },
  methods: {
    searchData() {
      this.$emit("search-data", {
        search: this.textSearch
      });
    },

    editSelected(idRequest) {
      this.$emit("edit-data", {
        id: idRequest
      });
    },

    deleteSelected(idRequest) {
      this.$emit("delete-data", {
        id: idRequest
      });
    }
  }
};
</script>
