<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Connect To BDS Server</span>
    </div>
    <div class="panel-body">
      <form @submit.prevent="submit">
        <div class="form-horizontal needs-validation">
          <div class="form-group">
            <div class="col-md-12">
              <label>Kode Cabang</label>
              <v-select
                :options="options"
                @search="onSearch"
                label="kode_cabang"
                v-model="selected"
                :disabled="!!status_connection"
              >
                <template slot="option" slot-scope="option">
                  <input type="hidden" :value="option.kode_cabang">
                  <div class="d-center">{{ option.kode_cabang+" - "+option.nama_cabang }}</div>
                </template>
              </v-select>
              <div class="valid-feedback text-danger" v-if="errorKodeCabang">{{message}}</div>
            </div>
          </div>
          <div class="form-group" v-if="!status_connection">
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block btn-sm"
                type="submit"
                style="width:90px;"
              >Connect</button>
            </div>
          </div>
          <div class="form-group" v-if="status_connection">
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block btn-sm"
                type="button"
                style="width:90px;"
                @click="disconnect"
              >Disconnect</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  props: ["status_connection"],
  data: function() {
    return {
      options: [],
      selected: null,
      errorKodeCabang: false,
      message: null
    };
  },

  methods: {
    onSearch(search, loading) {
      loading(true);
      this.search(loading, search, this);
    },

    search: _.debounce((loading, search, vm) => {
      axios.post("/bds_server/search?kode_cabang=" + search).then(res => {        
        vm.options = res.data;
        loading(false);
      }).catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 350),

    submit() {
      if (!this.selected) {
        this.errorKodeCabang = true;
        this.message = "The kode cabang field is required";
      }
      if (this.selected) {
        this.errorKodeCabang = false;
        this.message = null;
        this.$emit("branch-selected", {
          selected: this.selected
        });
      }
    },

    disconnect() {
      this.$emit("submit-disconnect", {
      });
    }
  }
};
</script>
