<template>
  <div
    class="modal"
    id="modal-patching-data"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="isdataloaded && modalname=='modal-patching-data'"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="smallModalHead"
            style="margin-bottom:-10px;"
            v-if="requestdata.ServiceCatalogId == 67"
          >Patching Data MCS : {{ requestdata.servicecatalog.name }}</h5>
          <h5
            class="modal-title"
            id="smallModalHead"
            style="margin-bottom:-10px;"
            v-else
          >Patching Data CPS : {{ requestdata.servicecatalog.name }}</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-patching-data'">
                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Condition</div>
                    <div class="panel-body form-horizontal">
                      <div class="col-md-12" v-if="requestdata.ServiceCatalogId == 62">
                        <label>Input Osn</label>
                        <v-select taggable multiple label="title" v-model="dataselected"></v-select>
                      </div>
                      <div
                        class="col-md-12"
                        v-if="requestdata.ServiceCatalogId == 63 || requestdata.ServiceCatalogId == 64 || requestdata.ServiceCatalogId == 65 || requestdata.ServiceCatalogId == 67"
                      >
                        <label>Input TrackID</label>
                        <v-select taggable multiple label="title" v-model="dataselected"></v-select>
                      </div>
                      <div
                        class="col-md-12"
                        v-if="requestdata.ServiceCatalogId == 66 || requestdata.ServiceCatalogId == 95"
                      >
                        <label>Input RelatedTRN</label>
                        <v-select taggable multiple label="title" v-model="dataselected"></v-select>
                      </div>
                      <div
                        class="col-md-12"
                        v-if="requestdata.ServiceCatalogId == 68"
                      >
                        <div class="col-md-12" style="margin-left: -5px;">
                          Search for: 
                          <input type="radio" value="CIF" v-model="radioChecked" @click="check($event)"/> CIF
                          <input type="radio" value="USER ID" v-model="radioChecked" @click="check($event)"/> USER ID
                          <input type="radio" value="NO HP" v-model="radioChecked" @click="check($event)"/> NO HP
                        </div>
                        <label>Input {{ radioChecked }}</label>
                        <v-select taggable multiple label="title" v-model="dataselected"></v-select>                        
                      </div>
                      <button type="button" class="btn btn-info" @click="checkdata">Check Data</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-9" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Results</div>
                    <div class="panel-body form-horizontal" style="overflow-x:auto;">
                      <div v-if="show && requestdata.ServiceCatalogId == 62">
                        <label style="font-size: 15px;">Table pym_MT1XX</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">Osn</th>
                              <th class="text-center">T20SndrRef</th>
                              <th class="text-center">ProcStatus</th>
                              <th class="text-center">MatchStatus</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.Osn }}</td>
                              <td class="text-center">{{ value.T20SndrRef }}</td>
                              <td class="text-center">{{ value.ProcStatus }}</td>
                              <td class="text-center">{{ value.MatchStatus }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table msg_MsgTracks</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">PostStatus</th>
                              <th class="text-center">TRN</th>
                              <th class="text-center">Osn</th>
                              <th class="text-center">ValueDate</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.PostStatus }}</td>
                              <td class="text-center">{{ value.TRN }}</td>
                              <td class="text-center">{{ value.Osn }}</td>
                              <td class="text-center">{{ value.ValueDate }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.PostStatus.replace(' ','') == 'RTNS'?true:false"
                                  @click="updateData(value.TrackID, value.PostStatus)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div v-if="show && requestdata.ServiceCatalogId == 63">
                        <label style="font-size: 15px;">Table INT_RMINP2</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">DtCreated</th>
                              <th class="text-center">RIERR#</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                              <td class="text-center">{{ value.RIERR }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table INT_RMINP1</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">RIBENA</th>
                              <th class="text-center">RIPMOD</th>
                              <th class="text-center">RIIAGT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row"  v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.RIBENA }}</td>
                              <td class="text-center">{{ value.RIPMOD }}</td>
                              <td class="text-center">{{ value.RIIAGT }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table msg_MsgTracks</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">PostStatus</th>
                              <th class="text-center">PostErr</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row"  v-for="(value, index) in table3" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.PostStatus }}</td>
                              <td class="text-center">{{ value.PostErr }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.PostStatus.replace(' ','') == 'PROC' && value.PostErr == null?true:false"
                                  @click="updateData(value.TrackID)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div v-if="show && requestdata.ServiceCatalogId == 64">
                        <label style="font-size: 15px;">Table INT_RMINP2</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">DtCreated</th>
                              <th class="text-center">RIERR#</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                              <td class="text-center">{{ value.RIERR }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table INT_RMINP1</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">RIBENA</th>
                              <th class="text-center">RIPMOD</th>
                              <th class="text-center">RIIAGT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.RIBENA }}</td>
                              <td class="text-center">{{ value.RIPMOD }}</td>
                              <td class="text-center">{{ value.RIIAGT }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table msg_MsgTracks</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">PostStatus</th>
                              <th class="text-center">PostErr</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table3" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.PostStatus }}</td>
                              <td class="text-center">{{ value.PostErr }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table pym_MT1XX</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">PymMode</th>
                              <th class="text-center">PymBranch</th>
                              <th class="text-center">ProcStatus</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table4" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.PymMode }}</td>
                              <td class="text-center">{{ value.PymBranch }}</td>
                              <td class="text-center">{{ value.ProcStatus }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.ProcStatus.replace(' ','') == 'RDY' && value.PymMode == null && value.PymBranch == null?true:false"
                                  @click="updateData(value.TrackID)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div v-if="show && requestdata.ServiceCatalogId == 65">
                        <label style="font-size: 15px;">Table pym_MT101</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">MsgTrackID</th>
                              <th class="text-center">T21TrxRef</th>
                              <th class="text-center">MatchStatus</th>
                              <th class="text-center">ProcStatus</th>
                              <th class="text-center">T32ValueDate</th>
                              <th class="text-center">T32SettleCurrency</th>
                              <th class="text-center">T32SettleAmount</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.MsgTrackID }}</td>
                              <td class="text-center">{{ value.T21TrxRef }}</td>
                              <td class="text-center">{{ value.MatchStatus }}</td>
                              <td class="text-center">{{ value.ProcStatus }}</td>
                              <td class="text-center">{{ value.T32ValueDate }}</td>
                              <td class="text-center">{{ value.T32SettleCurrency }}</td>
                              <td class="text-center">{{ value.T32SettleAmount }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.ProcStatus == 'VOID' && value.MatchStatus == 'VOID'?true:false"
                                  @click="updateData(value.TrackID)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div v-if="show && requestdata.ServiceCatalogId == 66">
                        <label style="font-size: 15px;">Table pym_IftsInSingleTrx</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">TRN</th>
                              <th class="text-center">RelatedTRN</th>
                              <th class="text-center">ProcStatus</th>
                              <th class="text-center">ProcFlag</th>
                              <th class="text-center">DtCreated</th>
                              <th class="text-center">DtLastMtn</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.TRN }}</td>
                              <td class="text-center">{{ value.RelatedTRN }}</td>
                              <td class="text-center">{{ value.ProcStatus }}</td>
                              <td class="text-center">{{ value.ProcFlag }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                              <td class="text-center">{{ value.DtLastMtn }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.ProcStatus == 'INVS' && value.ProcFlag == 15?true:false"
                                  @click="updateData(value.TrackID)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div v-if="show && requestdata.ServiceCatalogId == 95">
                        <label style="font-size: 15px;">Table pym_IftsInSingleTrx</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">RelatedTRN</th>
                              <th class="text-center">PymMode</th>
                              <th class="text-center">PymBranch</th>
                              <th class="text-center">ProcStatus</th>
                              <th class="text-center">TRN</th>
                              <th class="text-center">ValueDate</th>
                              <th class="text-center">AmountVal</th>
                              <th class="text-center">DtCreated</th>
                              <th class="text-center">DtLastMtn</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.RelatedTRN }}</td>
                              <td class="text-center">{{ value.PymMode }}</td>
                              <td class="text-center">{{ value.PymBranch }}</td>
                              <td class="text-center">{{ value.ProcStatus }}</td>
                              <td class="text-center">{{ value.TRN }}</td>
                              <td class="text-center">{{ value.ValueDate }}</td>
                              <td class="text-center">{{ value.AmountVal }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                              <td class="text-center">{{ value.DtLastMtn }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table INT_RMINP2</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">DtCreated</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table INT_RMINP1</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">RIBENA</th>
                              <th class="text-center">RIPMOD</th>
                              <th class="text-center">RISAMT</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table3" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.RIBENA }}</td>
                              <td class="text-center">{{ value.RIPMOD }}</td>
                              <td class="text-center">{{ value.RISAMT }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="value.RIPMOD.replace(' ','') == 'ACCT' && value.InterStatus.replace(' ','') == 'RDY'?true:false"
                                  @click="updateData(value.RITRRF)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div v-if="show && requestdata.ServiceCatalogId == 67">
                        <label style="font-size: 15px;">Table INT_RMINP2</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">DtCreated</th>
                              <th class="text-center">RIERR#</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.DtCreated }}</td>
                              <td class="text-center">{{ value.RIERR }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table INT_RMINP1</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">RITRRF</th>
                              <th class="text-center">InterStatus</th>
                              <th class="text-center">InterErrMsg</th>
                              <th class="text-center">RISEQN</th>
                              <th class="text-center">RIBENA</th>
                              <th class="text-center">RIPMOD</th>
                              <th class="text-center">RIIAGT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.RITRRF }}</td>
                              <td class="text-center">{{ value.InterStatus }}</td>
                              <td class="text-center">{{ value.InterErrMsg }}</td>
                              <td class="text-center">{{ value.RISEQN }}</td>
                              <td class="text-center">{{ value.RIBENA }}</td>
                              <td class="text-center">{{ value.RIPMOD }}</td>
                              <td class="text-center">{{ value.RIIAGT }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table msg_MsgTracks</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">TrackID</th>
                              <th class="text-center">PostStatus</th>
                              <th class="text-center">PostErr</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table3" :key="index">
                              <td class="text-center">{{ value.TrackID }}</td>
                              <td class="text-center">{{ value.PostStatus }}</td>
                              <td class="text-center">{{ value.PostErr }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  :disabled="(value.PostStatus != null?value.PostStatus.replace(' ','') == 'PROC':value.PostStatus) && value.PostErr == null?true:false"
                                  @click="updateData(value.TrackID)"
                                >Update Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div v-if="show && requestdata.ServiceCatalogId == 68">
                        <label style="font-size: 15px;">Table PCR_CUST</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">ID</th>
                              <th class="text-center">VERSION</th>
                              <th class="text-center">USER_ID</th>
                              <th class="text-center">NM</th>
                              <th class="text-center">HOST_CIF_ID</th>
                              <th class="text-center">DOB</th>
                              <th class="text-center">MOTHERS_MAIDEN_NM</th>
                              <th class="text-center">ADDR_1</th>
                              <th class="text-center">ADDR_2</th>
                              <th class="text-center">ADDR_3</th>
                              <th class="text-center">POSTCODE_CD</th>
                              <th class="text-center">EMAIL_1</th>
                              <th class="text-center">EMAIL_2</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table1" :key="index">
                              <td class="text-center">{{ value.id }}</td>
                              <td class="text-center">{{ value.version }}</td>
                              <td class="text-center">{{ value.user_id }}</td>
                              <td class="text-center">{{ value.nm }}</td>
                              <td class="text-center">{{ value.host_cif_id }}</td>
                              <td class="text-center">{{ value.dob }}</td>
                              <td class="text-center">{{ value.mothers_maiden_nm }}</td>
                              <td class="text-center">{{ value.addr_1 }}</td>
                              <td class="text-center">{{ value.addr_2 }}</td>
                              <td class="text-center">{{ value.addr_3 }}</td>
                              <td class="text-center">{{ value.postcode_cd }}</td>
                              <td class="text-center">{{ value.email_1 }}</td>
                              <td class="text-center">{{ value.email_2 }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <label style="font-size: 15px;">Table PCR_CUST_CC</label>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">ID</th>
                              <th class="text-center">VERSION</th>
                              <th class="text-center">CREATED_BY</th>
                              <th class="text-center">CREATED_DT</th>
                              <th class="text-center">UPDATED_BY</th>
                              <th class="text-center">UPDATED_DT</th>
                              <th class="text-center">STS</th>
                              <th class="text-center">CARD_BLOCK_CD</th>
                              <th class="text-center">CC_NO</th>
                              <th class="text-center">CUST_ID</th>
                              <th class="text-center">ACCT_BLOCK_CD_1</th>
                              <th class="text-center">ACCT_BLOCK_CD_2</th>
                              <th class="text-center">IS_SHOWN_AT_DSBRD</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="clickable-row" v-for="(value, index) in table2" :key="index">
                              <td class="text-center">{{ value.id }}</td>
                              <td class="text-center">{{ value.version }}</td>
                              <td class="text-center">{{ value.created_by }}</td>
                              <td class="text-center">{{ value.created_dt }}</td>
                              <td class="text-center">{{ value.updated_by }}</td>
                              <td class="text-center">{{ value.updated_dt }}</td>
                              <td class="text-center">{{ value.sts }}</td>
                              <td class="text-center">{{ value.card_block_cd }}</td>
                              <td class="text-center">{{ value.cc_no }}</td>
                              <td class="text-center">{{ value.cust_id }}</td>
                              <td class="text-center">{{ value.acct_block_cd_1 }}</td>
                              <td class="text-center">{{ value.acct_block_cd_2 }}</td>
                              <td class="text-center">{{ value.is_shown_at_dsbrd }}</td>
                              <td class="text-center">
                                <button
                                  type="button"
                                  class="btn btn-info"
                                  @click="updateData(value.TrackID)"
                                >Delete Data</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="height:540px">
                    <div class="panel-heading">Update Data</div>
                    
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            data-backdrop
            data-toggle="modal"
            data-target="#modal-incident-closure"
            style="width:120px;"
            @click="closuringTask"
          >Close Task</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @click="closeWindow"
          >Back</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["isdataloaded", "ismodal", "modalname", "requestdata"],

  data() {
    return {
      dataselected: null,
      table1: [],
      table2: [],
      table3: [],
      table4: [],
      show: false,
      username: null,
      password: null,
      updated: false,
      radioChecked: 'CIF'
    };
  },

  methods: {
    check: function(e) {
        console.log(e.target.value);
    },

    checkdata() {
      var data = this.dataselected;
      var servicecatalog = this.requestdata.ServiceCatalogId;
      var field = this.radioChecked;

      axios
        .post("/sds/patching/selectTT", {
          data,
          servicecatalog,
          field
        })
        .then(response => {
          this.table1 = response.data.table1;
          this.table2 = response.data.table2;
          this.table3 = response.data.table3;
          this.table4 = response.data.table4;
          this.show = true;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    reset() {
      this.dataselected = null;
      (this.show = false), (this.username = null), (this.password = null);
    },

    closeWindow() {
      dismissflash();
      this.reset();
      this.$emit("modal-closed");
    },

    updateData(trackID, PostStatus) {
      switch (this.requestdata.ServiceCatalogId) {
        case 62: {
          for (var i = 0; i < this.table1.length; i++) {
            if (this.table1[i].TrackID == trackID) {
              var ProcStatus = this.table1[i].ProcStatus;
              var MatchStatus = this.table1[i].MatchStatus;
            }
          }
          var olddata = {ProcStatus: ProcStatus, MatchStatus: MatchStatus, PostStatus: PostStatus};
          break;
        }
        case 63: {
          for (var i = 0; i < this.table3.length; i++) {
            if (this.table3[i].TrackID == trackID) {
              var PostStatus = this.table3[i].PostStatus;
              var PostErr = this.table3[i].PostErr;
            }
          }
          var olddata = {PostStatus: PostStatus, PostErr: PostErr};
          break;
        }
        case 64: {
          for (var i = 0; i < this.table4.length; i++) {
            if (this.table4[i].TrackID == trackID) {
              var PymMode = this.table4[i].PymMode;
              var PymBranch = this.table4[i].PymBranch;
              var ProcStatus = this.table4[i].ProcStatus;
            }
          }
          var olddata = {PymMode: PymMode, PymBranch: PymBranch, ProcStatus: ProcStatus};
          break;
        }
        case 65: {
          for (var i = 0; i < this.table1.length; i++) {
            if (this.table1[i].TrackID == trackID) {
              var ProcStatus = this.table1[i].ProcStatus;
              var MatchStatus = this.table1[i].MatchStatus;
            }
          }
          var olddata = {ProcStatus: ProcStatus, MatchStatus: MatchStatus};
          break;
        }
        case 66: {
          for (var i = 0; i < this.table1.length; i++) {
            if (this.table1[i].TrackID == trackID) {
              var ProcStatus = this.table1[i].ProcStatus;
              var ProcFlag = this.table1[i].ProcFlag;
            }
          }
          var olddata ={ProcStatus: ProcStatus, ProcFlag: ProcFlag};
          break;
        }
        case 67: {
          for (var i = 0; i < this.table3.length; i++) {
            if (this.table3[i].TrackID == trackID) {
              var PostStatus = this.table3[i].PostStatus;
              var PostErr = this.table3[i].PostErr;
            }
          }
          var olddata = {PostStatus: PostStatus, PostErr: PostErr};
          break;
        }
        case 95: {
          for (var i = 0; i < this.table3.length; i++) {
            if (this.table3[i].RITRRF == trackID) {
              var RIPMOD = this.table3[i].RIPMOD;
              var RISEQN = this.table3[i].RISEQN;
              var InterStatus = this.table3[i].InterStatus;
            }
          }
          var olddata = {RIPMOD: RIPMOD, RISEQN: RISEQN, InterStatus: InterStatus};
          break;
        }
      }
      var trackid = trackID;
      var servicecatalog = this.requestdata.ServiceCatalogId;
      var data = this.dataselected;
      var remedyticket = this.requestdata.RemedyTicketId;
      var summary = this.requestdata.servicecatalog.name;

      axios
        .post("/sds/patching/updatedataTT", {
          trackid,
          servicecatalog,
          data,
          olddata,
          remedyticket,
          summary
        })
        .then(response => {
          if (response.data.status) {
            flash({
              id: "update",
              message: "data berhasil di update",
              flashtype: "info"
            });
            this.table1 = response.data.table1;
            this.table2 = response.data.table2;
            this.table3 = response.data.table3;
            this.table4 = response.data.table4;
            this.show = true;
          } else {
            setTimeout(() => {
              flash({
                id: "gagal query",
                message: "gagal update",
                flashtype: "danger"
              });
            }, 500);
          }
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        modalname: "modal-incident-closure",
        isclosuring: true
      });
    },

    test(trackID, PostStatus){
      console.log(trackID);
      console.log(PostStatus);
    }
  }
};
</script>
