<template>
  <v-app id="inspire">
    <!-- <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <menu-list v-on:menuLoaded="loadContent"></menu-list>
    </v-navigation-drawer> -->
    <navigation-drawer v-on:layoutChanged="changeLayout" :drawer="drawer"></navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-col xl="11" lg="11" md="11" sm="8" xs="8"
      >
      <v-toolbar-title style="width: 900px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Incident Management Dashboard</span>
        <h6><span class="navbar-text">Name : {{nameLogin}} </span> | <span class="navbar-text">  Organization : {{organizationLogin}}</span></h6>
      </v-toolbar-title>
      </v-col>
      <v-col xl="1" lg="1" md="1" sm="4" xs="4">
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn style="text-decoration:none;" icon v-on="on" href="/onduty/logout">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
      </v-col>
      <v-col xl="1" lg="1" md="1" sm="4" xs="4"
      >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn style="text-decoration:none;" icon v-on="on" href="/onduty/logout">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
      </v-col>
    </v-app-bar>
    <v-main>
      <v-container fluid>
          <component :is="component"></component>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import NavigationDrawer from "./components/NavigationDrawer";
import dashboardod from "./page/dashboardod";
export default {
  props: ["testVariable"],
  data() {
    return {
      drawer: true,
      component: null,
      nameLogin: "",
      organizationLogin:""
    };
  },
  components: {
    NavigationDrawer,
    dashboardod
  },
  mounted() {
    this.component = dashboardod;
    this.nameLogin = auth.name;
    this.organizationLogin = auth.sgn_remedy;
  },
  methods: {
    changeLayout(layoutName) {
      this.component = layoutName;
    },
  }
};
</script>