<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Connect To BDS Server</span>
    </div>
    <div class="panel-body">
      <form @submit.prevent="submit">
        <div class="form-horizontal needs-validation">
            <div class="col-md-12">
              <label>Pick Target Branch</label>
              <v-select
                :options="options"
                @search="onSearch"
                label="combine"
                v-model="selected"
                :disabled="status_connection"
                v-validate="'required'"
                name="Kode Cabang"
                placeholder="Input Branch Code or Name or IP"
              >
                <template slot="option" slot-scope="option">
                  <input type="hidden" :value="option.kode_cabang" />
                  <div
                    class="d-center"
                  >{{ option.kode_cabang+" - "+option.ip_server +" - "+option.nama_cabang }}</div>
                </template>
              </v-select>
              <span
                v-show="errors.has('Kode Cabang')"
                class="valid-feedback text-danger"
              >{{ errors.first('Kode Cabang') }}</span>
            </div>
            <div class="col-md-12" v-if="!status_connection">
              <button
                class="btn btn-info btn-block btn-md"
                type="submit"
              >Connect</button>
            </div>
            <div class="col-md-12" v-if="status_connection">
              <button
                class="btn btn-info btn-block btn-md"
                type="button"
                @click="disconnect"
              >Disconnect</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  props: ["status_connection"],
  data: function() {
    return {
      options: [],
      selected: null
    };
  },

  methods: {
    onSearch(search, loading) {
      loading(true);
      if (search.length >= 3) {
        this.search(loading, search, this);
      }
    },

    search: _.debounce((loading, search, vm) => {
      axios.post("/bds_server/search?search=" + search).then(res => {
        vm.options = res.data;
        loading(false);
      }).catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }, 1500),

    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("branch-selected", {
            selected: this.selected
          });
        }
      });
    },

    disconnect() {
      this.$emit("submit-disconnect", {});
    }
  }
};
</script>
