<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Config BDS Server</span>
      <span
        class="fa fa-refresh pull-right"
        style="font-size:18px; color:#0069a5; margin-right: 5px;"
        @click="reset"
      ></span>
    </div>
    <div class="panel-body">
      <div class="form-horizontal needs-validation">
        <div class="col-md-12">
          <label>
            <strong>IP Server</strong>
          </label>
          <input
            type="text"
            class="form-control"
            name="UserID"
            v-model="ipServer"
            autocomplete="off"
            maxlength="30"
          />
          <div class="valid-feedback text-danger" v-if="errorIpServer">{{messageErrorIpServer}}</div>
        </div>
        <div class="col-md-12">
          <label>
            <strong>Kode Cabang</strong>
          </label>
          <input
            type="text"
            class="form-control"
            name="UserID"
            v-model="kodeCabang"
            autocomplete="off"
            maxlength="5"
          />
          <div class="valid-feedback text-danger" v-if="errorKodeCabang">{{messageErrorKodeCabang}}</div>
        </div>
        <div class="col-md-12">
          <label>
            <strong>Nama Cabang</strong>
          </label>
          <input
            type="text"
            class="form-control"
            name="UserID"
            v-model="namaCabang"
            autocomplete="off"
            maxlength="30"
          />
          <div class="valid-feedback text-danger" v-if="errorNamaCabang">{{messageErrorNamaCabang}}</div>
        </div>
      </div>
      <div class="col-md-4">
        <button
          :disabled="editable?true:false"
          class="btn btn-info btn-block btn-md"
          type="submit"
          v-on:click="verif('save')"
        >Save</button>
      </div>
      <div class="col-md-4">
        <button
          :disabled="editable?false:true"
          class="btn btn-warning btn-block btn-md"
          type="submit"
          v-on:click="verif('edit')"
        >Edit</button>
      </div>
      <div class="col-md-4">
        <button
          :disabled="editable?false:true"
          type="button"
          class="btn btn-danger btn-md"
          data-backdrop
          :data-toggle="'modal'"
          :data-target="'#modalConfirm'"
          v-on:click="verif('delete')"
        >Delete</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["editable", "selected_prop"],
  data() {
    return {
      rqdatatmp: false,
      idRequest: null,
      ipServer: null,
      kodeCabang: null,
      namaCabang: null,
      errorIpServer: false,
      messageErrorIpServer: null,
      errorKodeCabang: false,
      messageErrorKodeCabang: null,
      errorNamaCabang: false,
      messageErrorNamaCabang: null
    };
  },

  // computed: {
  //   rqdata: {
  //     get: function() {
  //       return this.rqdatatmp;
  //     },
  //     set: function(newvalue) {
  //       this.rqdatatmp = newvalue;
  //     }
  //   }
  // },
  watch: {
    // editable: function() {
    //     this.rqdatatmp = this.editable;
    // },
    selected_prop: function() {
      this.idRequest = this.selected_prop.id;
      this.ipServer = this.selected_prop.ip_server;
      this.kodeCabang = this.selected_prop.kode_cabang;
      this.namaCabang = this.selected_prop.nama_cabang;
    }
  },
  methods: {
    reset() {
      this.ipServer = null;
      this.kodeCabang = null;
      this.namaCabang = null;
      this.errorIpServer = false;
      this.messageErrorIpServer = null;
      this.errorKodeCabang = false;
      this.messageErrorKodeCabang = null;
      this.errorNamaCabang = false;
      this.messageErrorNamaCabang = null;
      this.editable = false;
    },

    verif(action) {
      if (!this.ipServer) {
        this.errorIpServer = true;
        this.messageErrorIpServer = "The ip server field is required";
      }

      if (this.ipServer) {
        this.errorIpServer = false;
        this.messageErrorIpServer = null;
      }

      if (!this.kodeCabang) {
        this.errorKodeCabang = true;
        this.messageErrorKodeCabang = "The kode cabang field is required";
      }

      if (this.kodeCabang) {
        if (this.kodeCabang.length < 5) {
          this.errorKodeCabang = true;
          this.messageErrorKodeCabang =
            "The kode cabang must be at least 5 characters";
        } else {
          this.errorKodeCabang = false;
          this.messageErrorKodeCabang = null;
        }
      }

      if (!this.namaCabang) {
        this.errorNamaCabang = true;
        this.messageErrorNamaCabang = "The nama cabang field is required";
      }

      if (this.namaCabang) {
        this.errorNamaCabang = false;
        this.messageErrorNamaCabang = null;
      }

      if (
        this.ipServer &&
        this.kodeCabang &&
        this.namaCabang &&
        this.kodeCabang.length == 5
      ) {
        switch (action) {
          case "save":
            this.$emit("submit-insert", {
              data: {
                ipServer: this.ipServer,
                kodeCabang: this.kodeCabang,
                namaCabang: this.namaCabang
              }
            });
            break;
          case "edit":
            this.$emit("submit-update", {
              data: {
                id: this.idRequest,
                ipServer: this.ipServer,
                kodeCabang: this.kodeCabang,
                namaCabang: this.namaCabang
              }
            });
            break;
          case "delete":
            this.$emit("delete-data", {
              id: this.idRequest
            });
          default:
            break;
        }
      }
    }
  }
};
</script>
