<template>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-3 pull-right">
        <input
          id="txtName"
          @keyup.enter="searchData"
          v-model="textSearch"
          type="text"
          autocomplete="off"
          placeholder="Search"
          class="form-control"
        >
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">IP Server</th>
          <th class="text-center">Kode Cabang</th>
          <th class="text-center">Nama Cabang</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="data in result" :data="result" :key="data.id" class="clickable-row"
            data-backdrop
            data-toggle="modal"
            data-target="#modalEdit"
            v-on:click="editSelected(data.id, data.ip_server, data.kode_cabang, data.nama_cabang)">
          <td>{{ data.ip_server }}</td>
          <td class="text-center">{{ data.kode_cabang }}</td>
          <td>{{ data.nama_cabang }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-ftp"
                v-on:click="clickList(data.ip_server)"
              >Connect to FTP</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["result"],
  data() {
    return {
      textSearch: null,
    };
  },
  methods: {
    searchData() {
      this.$emit("search-data", {
        search: this.textSearch
      });
    },

    editSelected(idRequest, ipServer, kodeCabang, namaCabang) {
      this.$emit("edit-data", {
        id: idRequest,
        ip_server: ipServer,
        kode_cabang: kodeCabang,
        nama_cabang: namaCabang
      });
    },

    deleteSelected(idRequest) {
      this.$emit("delete-data", {
        id: idRequest
      });
    },

    clickList(ip_server){
      this.$emit("ip-server", {
        ipserver : ip_server
      });
    }
  }
};
</script>
