<template>
  <div>
    <div
      class="alert alert-danger"
      v-if="flashtype=='danger'"
      role="alert"
      :ref="id"
      @click="closeAlert(id)"
    >
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{ message}}
    </div>
    <div
      class="alert alert-info"
      v-if="flashtype=='info'"
      role="alert"
      :ref="id"
      @click="closeAlert(id)"
    >
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{ message }}
    </div>
  </div>
</template>
<script>
export default {
  props: ["info"],
  data() {
    return {
      show: false,
      message: {},
      id: {},
      flashtype: {}
    };
  },
  created() {
    if (this.info) {
      this.flash(this.info);
    }
    window.events.$on("flash", info => this.flash(info));
  },
  methods: {
    closeAlert(id) {
      $(this.$refs[id]).hide();
    },
    flash(info) {
      this.show = true;
      this.message = info.message;
      this.flashtype = info.flashtype;
      this.id = info.id;
      $(this.$refs[info.id]).show();
    },
    hide() {
      this.show = false;
    }
  }
};
</script>
