<template>
  <div>
    <div v-for="(inf, index) in infos" v-bind:key="index">
      <div
        class="alert alert-danger"
        v-if="inf.flashtype=='danger'"
        role="alert"
        v-show="show"
        :ref="inf.id"
        @click="closeAlert(inf.id)"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
      </div>
      <div
        class="alert alert-info"
        v-if="inf.flashtype=='info'"
        role="alert"
        v-show="show"
        :ref="inf.id"
        @click="closeAlert(inf.id)"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
      </div>
      <div
        class="alert alert-success"
        v-if="inf.flashtype=='success'"
        role="alert"
        v-show="show"
        :ref="inf.id"
        @click="closeAlert(inf.id)"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
      </div>
      <div
        class="alert alert-warning"
        v-if="inf.flashtype=='warning'"
        role="alert"
        v-show="show"
        :ref="inf.id"
        @click="closeAlert(inf.id)"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["info"],
  data() {
    return {
      show: false,
      infos: [],
    };
  },
  created() {
    if (this.info) {
        this.flash(this.info);
    }
    window.events.$on("flash", info => this.flash(info));
    window.events.$on("dismissflash", this.hide);
  },
  methods: {
    closeAlert(id) {
      $(this.$refs[id]).hide();
       this.show = false;
       this.infos=[];
    },
    flash(info) {
        this.show = true;
        this.infos.push(info);
    //     setTimeout(() => {
    //     this.hide();
    //   }, 5000);
    },
    hide() {
      this.show = false;
       this.infos=[];
    }
  }
};
</script>
