<template>
  <div>
    <div v-for="inf in infos" :key="inf.id">
      <div
        class="alert alert-danger"
        v-if="inf.flashtype=='danger'"
        role="alert"
        v-show="show"
        :ref="inf.id"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
        <span
          class="pull-right glyphicon glyphicon-remove"
          style="cursor:pointer"          
          @click="closeAlert(inf.id)"
        ></span>
      </div>
      <div
        class="alert alert-info"
        v-if="inf.flashtype=='info'"
        role="alert"
        v-show="show"
        :ref="inf.id"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
        <span
          class="pull-right glyphicon glyphicon-remove"
          style="cursor:pointer"          
          @click="closeAlert(inf.id)"
        ></span>
      </div>
      <div
        class="alert alert-success"
        v-if="inf.flashtype=='success'"
        role="alert"
        v-show="show"
        :ref="inf.id"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
        <span
          class="pull-right glyphicon glyphicon-remove"
          style="cursor:pointer"          
          @click="closeAlert(inf.id)"
        ></span>
      </div>
      <div
        class="alert alert-warning"
        v-if="inf.flashtype=='warning'"
        role="alert"
        v-show="show"
        :ref="inf.id"
      >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ inf.message }}
        <span
          class="pull-right glyphicon glyphicon-remove"
          style="cursor:pointer"          
          @click="closeAlert(inf.id)"
        ></span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["info"],
  data() {
    return {
      show: false,
      infos: [],
      isflashclose: false
    };
  },
  created() {
    if (this.info) {
      this.flash(this.info);
    }
    window.events.$on("flash", info => this.flash(info));
    window.events.$on("dismissflash", this.hide);
  },
  methods: {
    closeAlert(id) {
      $(this.$refs[id]).hide();
    },
    flash(info) {
      this.show = true;
      this.infos.push(info);
    },
    hide() {
      this.show = false;
    }
  }
};
</script>
