<template>
  <div
    class="modal"
    id="modal-incident"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5 class="modal-title" id="smallModalHead">
              Incident Summary : {{ requestdata.Text }} / Request Id :
              <p>{{ requestdata.Text }}</p>
              <a
                target="_blank"
                v-if="
                  requestdata.RemedyTicketId != 'N/A' ||
                  requestdata.RemedyTicketId != null
                "
                class="pull-right"
                :href="
                  'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22' +
                  requestdata.RemedyTicketId +
                  '%22'
                "
                ><b>Open Remedy</b></a
              >
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading
              :isdataloaded="isdataloaded"
            ></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname == 'modal-incident'">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Request Summary</div>
                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Remedy Ticket Id</label>
                            <input
                              v-if="requestdata.RemedyTicketId != null"
                              type="text"
                              class="form-control"
                              :value="requestdata.RemedyTicketId"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Request Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.name"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="
                                requestdata.servicecatalog.servicechannel
                                  .servicetype.name
                              "
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service Channel</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="
                                requestdata.servicecatalog.servicechannel.name
                              "
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Process Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.ProcessStatus"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Reported Source</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[10]"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Requester Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.SenderNumber"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Departement</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.UDH.split('#')[7]"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              :value="requestdata.TextDecoded.split('#')[3]"
                              class="form-control"
                              rows="9"
                              name="notes"
                              style="resize: none; height: 100%"
                              readonly="true"
                              v-if="requestdata.ProcessStatus == 'CLOSED'"
                            ></textarea>
                            <textarea
                              v-model="notes"
                              class="form-control"
                              rows="9"
                              name="notes"
                              style="resize: none; height: 100%"
                              v-else
                            ></textarea>
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[4]"
                              readonly="true"
                              v-if="requestdata.ProcessStatus == 'CLOSED'"
                            />
                            <input
                              type="text"
                              class="form-control"
                              v-model="summary"
                              v-else
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Assigned</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 5px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Assigned Group</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId == null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.supportgroupassigneeremedy
                                .support_group_name
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 5px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Assignee Name</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId == null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.supportgroupassigneeremedy.full_name
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 5px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Received On</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.ReceivingDateTime | mydateformat
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 5px;
                          margin-top: 5px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Booked On</label>
                          <input
                            v-if="requestdata.BookDateTime != null"
                            type="text"
                            class="form-control"
                            :value="requestdata.BookDateTime | mydateformat"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Resolution</div>
                    <div class="panel-body form-horizontal">
                      <textarea
                        :value="requestdata.TextDecoded.split('#')[20]"
                        class="form-control"
                        rows="3"
                        name="notes"
                        style="resize: none; height: 100%"
                        readonly="true"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-heading">Product Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: -10px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[12]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[13]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: -10px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[14]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" style="margin-top: -10px">
                    <div class="panel-heading">Oprational Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: -10px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[17]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[18]"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: -5px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.TextDecoded.split('#')[19]"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width: 90px"
            @click="closeWindow"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestdata", "isdataloaded", "ismodal", "modalname"],

  methods: {
    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    },
  },
};
</script>
