<template>
  <div
    class="modal"
    id="modal-incident-generic"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5
              class="modal-title"
              id="smallModalHead"
              style="margin-bottom: -10px"
            >
              Incident Summary :
              {{ requestdata.incident.summary_description }} / Request Id :
              {{ requestdata.incident.itools_request_id }}
              <a
                target="_blank"
                v-if="
                  requestdata.incident.incident_number != 'N/A' ||
                  requestdata.incident.incident_number != null
                "
                class="pull-right"
                :href="
                  'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22' +
                  requestdata.incident.incident_number +
                  '%22'
                "
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading
              :isdataloaded="isdataloaded"
            ></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname == 'modal-incident-generic'">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 540px">
                    <div class="panel-heading">Request Summary</div>
                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: -10px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Remedy Ticket Id</label>
                            <input
                              v-if="
                                requestdata.incident.incident_number != null
                              "
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.incident_number"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service Request Id</label>
                            <input
                              v-if="
                                requestdata.incident.srid != null
                              "
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.srid"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Request Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.name"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="
                                requestdata.servicecatalog.servicechannel
                                  .servicetype.name
                              "
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service Channel</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="
                                requestdata.servicecatalog.servicechannel.name
                              "
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Reported Source</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.reported_source"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Process Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.status"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: -10px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Requester Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.requester_full_name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Departement</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.requester_dept_name"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              :value="requestdata.incident.notes_description"
                              class="form-control"
                              rows="5"
                              name="notes"
                              style="resize: none; height: 95px"
                              readonly="true"
                            ></textarea>
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.summary_description"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="
                            margin-left: -15px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            padding: 0px 0px 5px;
                          "
                        >
                          <div class="col-md-12">
                            <label>Service</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.incident.service"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div v-if="requestdata.inboxworkloginfo_url !== null">
                      <div class="col-md-12" style="margin-top: -20px">
                        <div
                          class="panel panel-default"
                          style="text-align: center; vertical-align: middle"
                        >
                          <div class="panel-heading">
                            <label>Attachment</label>
                          </div>
                          <div class="col-md-12">
                            <a
                              v-bind:href="requestdata.inboxworkloginfo_url"
                              target="_blank"
                              >{{ requestdata.file_name }}</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 540px">
                    <div class="panel-heading">Assigne</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Support Company</label>
                          <input
                            v-if="
                              requestdata.incident.assignee_support_company ==
                              null
                            "
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.incident.assignee_support_company
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Support Organization</label>
                          <input
                            v-if="
                              requestdata.incident
                                .assignee_support_organization == null
                            "
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.incident.assignee_support_organization
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Support Group</label>
                          <input
                            v-if="
                              requestdata.incident
                                .assignee_support_group_name == null
                            "
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.incident.assignee_support_group_name
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Assignee Name</label>
                          <input
                            v-if="
                              requestdata.incident.assignee_login_id == null
                            "
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.assignee_name"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Received On</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="
                              requestdata.ReceivingDateTime | mydateformat
                            "
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Booked On</label>
                          <input
                            v-if="requestdata.BookDateTime != null"
                            type="text"
                            class="form-control"
                            :value="requestdata.BookDateTime | mydateformat"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="panel panel-default"
                    v-if="requestdata.ProcessStatus == 'CLOSED'"
                  >
                    <div class="panel-heading">Resolution</div>
                    <div class="panel-body form-horizontal">
                      <textarea
                        :value="requestdata.incident.resolution"
                        class="form-control"
                        rows="3"
                        name="notes"
                        style="resize: none; height: 100%"
                        readonly="true"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="height: 260px">
                    <div class="panel-heading">Product Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.prod_cat_tier1"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.prod_cat_tier2"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.prod_cat_tier3"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" style="height: 260px">
                    <div class="panel-heading">Oprational Categorization</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 1</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.opr_cat_tier1"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 2</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.opr_cat_tier2"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="
                          margin-left: -15px;
                          margin-bottom: 0px;
                          margin-top: 0px;
                          padding: 0px 0px 5px;
                        "
                      >
                        <div class="col-md-12">
                          <label>Tier 3</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.incident.opr_cat_tier3"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="requestdata.ProcessStatus == 'CLOSED' && isdataloaded">
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width: 90px"
              @click="closeWindow"
            >
              Back
            </button>
          </div>
          <div v-else>
            <!-- <div v-if="requestdata.chatsubscribeduser.current_active_mode == 'LIVECHAT'"> -->
            <button
              v-if="
                processstatus != 'CLOSED' &&
                isdataloaded &&
                (requestdata.RecipientID == 'TELEGRAM' ||
                  requestdata.RecipientID == 'LIVECHAT') &&
                requestdata.servicecatalog.service_catalog_type == 'IN' &&
                requestdata.chatsubscribeduser.current_active_mode == 'LIVECHAT'
              "
              type="button"
              class="btn btn-info"
              style="width: 100px"
              @click="attention"
            >
              Livechat
            </button>
            <!-- </div> -->
            <!-- <div v-else> -->
            <button
              v-if="
                processstatus != 'CLOSED' &&
                isdataloaded &&
                (requestdata.RecipientID == 'TELEGRAM' ||
                  requestdata.RecipientID == 'LIVECHAT') &&
                requestdata.servicecatalog.service_catalog_type == 'IN' &&
                requestdata.chatsubscribeduser.current_active_mode != 'LIVECHAT'
              "
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width: 100px"
              data-toggle="modal"
              data-backdrop
              data-target="#modal-livechat"
              @click="redirectLiveChat"
            >
              Livechat
            </button>
            <!-- </div> -->
            <button
              type="submit"
              v-if="processstatus != 'CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-closure"
              style="width: 120px"
              @click="closuringTask"
            >
              Change Status
            </button>
            <button
              type="submit"
              v-if="
                processstatus != 'CLOSED' && isdataloaded && isdelegateenabled
              "
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-delegate"
              style="width: 123px"
              @click="delegateTask"
            >
              Change Assignee
            </button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width: 90px"
              @click="closeWindow"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled",
    "processstatus",
    "requestdata",
    "requestid",
  ],

  methods: {
    redirectLiveChat() {
      axios
        .post("/telegram/livechat/redirecttolivechat", {
          id: this.requestid,
        })
        .then((res) => {
          if (res.data.status) {
            this.$emit("redirect-livechat", {
              requestdata: res.data.responsedata,
              modalname: "modal-livechat",
              processstatus: res.data.processStatus,
              isredirecttolivechat: true,
            });
          } else {
            setTimeout(() => {
              flash({
                id: this.requestid,
                message: res.data.message,
                flashtype: "danger",
              });
            }, 500);
          }
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger",
            });
          }
        });
    },

    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        modalname: "modal-incident-closure",
        isclosuring: true,
      });
    },

    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: "modal-incident-delegate",
      });
    },

    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    },

    attention() {
      flash({
        id: "gagal livechat",
        message:
          "You were unable to redirect this ticket to livechat, due customer has active livechat session.",
        flashtype: "danger",
      });
    },
  },
};
</script>
