<template>
  <div
    class="modal"
    id="modal-bds-error-tlg"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5 class="modal-title" id="smallModalHead" style="margin-bottom:-10px;">
              Incident Summary : {{requestdata.Text}} / Request Id : {{requestdata.id}}
              <a
                target="_blank"
                v-if="requestdata.RemedyTicketId!='N/A' || requestdata.RemedyTicketId != null"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+requestdata.RemedyTicketId+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-bds-error-tlg'">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel panel-default" style="height:540px">
                    <div class="panel-heading">Request Summary</div>
                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Remedy Ticket Id</label>
                            <input
                              v-if="requestdata.RemedyTicketId!=null"
                              type="text"
                              class="form-control"
                              :value="requestdata.RemedyTicketId"
                              readonly="true"
                            />
                            <input
                              v-else
                              type="text"
                              class="form-control"
                              value="N/A"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Requester Name</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.SenderNumber"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Departement</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.UDH.split('#')[7]"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Summary</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.name"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <!-- <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.servicecatalog.servicechannel.servicetype.name"
                              readonly="true"
                            />
                          </div>
                        </div> -->

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Process Status</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.ProcessStatus"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Reported Source</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[10]"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" style="border-left: 12px">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Kode Cabang</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="breaknote[3].substring(13)"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>IP Server</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="breaknote[4].substring(11)"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 0px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Notes</label>
                            <textarea
                              :value="breaknote[2].substring(12)"
                              class="form-control"
                              rows="5"
                              style="font-weight: bold;color:red;resize: none;height:95px;"
                              readonly="true"
                            ></textarea>
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Capture Error</label>
                            <div class="col-md-12 form-control">
                            <a class="gallery-item" :href="app_url+'/assets/uploads/images/request/'+requestdata.id+'.jpg'" title="photos" data-gallery >Click here to show !</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="height:540px">
                    <div class="panel-heading">Assigne</div>
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Company</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.supportgroupassigneeremedy.company"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Organization</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.supportgroupassigneeremedy.organization"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Support Group</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.supportgroupassigneeremedy.support_group_name"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Assignee Name</label>
                          <input
                            v-if="requestdata.EmployeeAssigneeId==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Received On</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.ReceivingDateTime | mydateformat"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Booked On</label>
                          <input
                            v-if="requestdata.BookDateTime!=null"
                            type="text"
                            class="form-control"
                            :value="requestdata.BookDateTime | mydateformat"
                            readonly="true"
                          />
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default" v-if="requestdata.ProcessStatus == 'CLOSED'">
                    <div class="panel-heading">Resolution</div>
                    <div class="panel-body form-horizontal">
                      <textarea
                        :value="requestdata.TextDecoded.split('#')[20]"
                        class="form-control"
                        rows="3"
                        name="notes"
                        style="resize: none;height:100%;"
                        readonly="true"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div v-if="!isload">
                  <div class="col-md-3">
                    <div class="panel panel-default" style="height:280px">
                      <div class="panel-heading">
                        Product Categorization
                        <div class="pull-right">
                          <a href="#" @click="disableForm">Edit</a>
                        </div>
                      </div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Product Cat. Tier 1</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[12]"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 2</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[13]"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Product Cat. Tier 3</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[14]"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" style="height:240px">
                      <div class="panel-heading">Operational Categorization</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 1</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[17]"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 2</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[18]"
                              readonly="true"
                            />
                          </div>
                          <div class="col-md-12">
                            <label>Operational Cat. Tier 3</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[19]"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div
                  v-if="(processts==='INPROGRESS' || processts ==='PENDING' || processts ==='WAITINGAPR' || processts ==='PLANNING')"
                >
                </div>-->

                <div v-else>
                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default" style="height:285px">
                      <div class="panel-heading">
                        Product Categorization
                        <div class="pull-right">
                          <a href="#" @click="disableForm">Revert</a>
                        </div>
                      </div>
                      <div class="panel-body form-horizontal">
                        <div class="pull-right">
                          <a
                            href="#"
                            v-if="!issearchfromctlg"
                            @click="searchFromCatalog"
                          >Search from catalog</a>
                          <a href="#" v-else-if="!issearchfromctlg">
                            <div class="spinner-loader2" style="float:left;padding:3px;width:5px"></div>
                          </a>
                          <a href="#" v-else @click="clearFromCatalog">Clear</a>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12" v-if="issearchfromctlg">
                            <v-select
                              :options="optionsCatalog"
                              :selectOnTab="true"
                              label="name"
                              v-model="selectedCatalog"
                              @search="onSearchFromCatalog"
                              @change="onSearchFromCatalogChanged"
                              :placeholder="'Search by catalog name'"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" key="incident-pct12" />
                                <div
                                  class="d-center"
                                >{{ option.name + " ( "+option.servicechannel.name+" )" }}</div>
                              </template>
                            </v-select>
                          </div>

                          <div class="col-md-12">
                            <label>Tier 1</label>
                            <input
                              type="text"
                              class="form-control"
                              value="APPLICATION"
                              readonly="true"
                            />
                          </div>

                          <div class="col-md-12">
                            <label>Tier 2</label>
                            <input type="text" class="form-control" value="BDS" readonly="true" />
                          </div>
                          <div class="col-md-12">
                            <label>Tier 3</label>
                            <v-select
                              :options="product_category_tier_3"
                              label="name"
                              v-model="productCategoryTier3Selected"
                              @change="onChangeProductCategoryTier3($event)"
                              v-validate="'required'"
                              name="Product Categorization Tier 3"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Product Categorization Tier 3')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Product Categorization Tier 3') }}</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" style="height:235px">
                      <div class="panel-heading">Oprational Categorization</div>
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Tier 1</label>
                            <v-select
                              :options="operational_category_tier_1"
                              label="name"
                              v-model="operationalCategoryTier1Selected"
                              @change="onChangeOprationalCategoryTier1($event)"
                              v-validate="'required'"
                              name="Operational Categorization Tier 1"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 1')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 1') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Tier 2</label>
                            <v-select
                              :options="operational_category_tier_2"
                              label="name"
                              v-model="operationalCategoryTier2Selected"
                              @change="onChangeOprationalCategoryTier2($event)"
                              v-validate="'required'"
                              name="Operational Categorization Tier 2"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 2')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 2') }}</span>
                          </div>
                          <div class="col-md-12">
                            <label>Tier 3</label>
                            <v-select
                              :options="operational_category_tier_3"
                              label="name"
                              v-model="operationalCategoryTier3Selected"
                              v-validate="'required'"
                              name="Operational Categorization Tier 3"
                              :selectOnTab="true"
                            >
                              <template slot="option" slot-scope="option">
                                <input type="hidden" :value="option.id" />
                                <div class="d-center">{{ option.name }}</div>
                              </template>
                            </v-select>
                            <span
                              v-show="errors.has('Operational Categorization Tier 3')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Operational Categorization Tier 3') }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div v-if="requestdata.ProcessStatus=='CLOSED' && isdataloaded">
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
          <div v-else>
            <button
              v-if="requestdata.ProcessStatus!='CLOSED' && isdataloaded && requestdata.RecipientID=='TELEGRAM' && requestdata.servicecatalog.service_catalog_type == 'IN'"
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:100px;"
              data-toggle="modal"
              data-backdrop
              data-target="#modal-livechat"
              @click="redirectLiveChat"
            >Livechat</button>
            <button
              v-if="isload"
              type="submit"
              class="btn btn-info"
              style="width:90px;"
              @click="executeUpdateTier"
              :disabled="submitted?true:false"
            >Save</button>
            <button
              type="submit"
              v-if="requestdata.ProcessStatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-closure"
              style="width:120px;"
              @click="closuringTask"
            >Change Status</button>
            <button
              type="submit"
              v-if="requestdata.ProcessStatus!='CLOSED' && isdataloaded && isdelegateenabled"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-incident-delegate"
              style="width:123px;"
              @click="delegateTask"
            >Change Assignee</button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled",
    "servicetype"
  ],

  computed: {
    rqdata: {
      get: function() {
        return this.rqdatatmp;
      },
      set: function(newvalue) {
        this.rqdatatmp = newvalue;
      }
    }
  },

  watch: {
    isdataloaded: function(val){
      if(this.requestdata.servicecatalog!==undefined){
        if(this.requestdata.servicecatalog.modal_name=='modal-bds-error-tlg'){
          const param1 = this.requestdata.TextDecoded.split('#')[3];
          this.breaknote = param1.split("\n");
        }
      }
    },
    requestdata: function() {
      this.rqdatatmp = this.requestdata;
      if (this.processstatus === "DISPATCH") {
        this.reset();
      }
    }
  },

  data: function() {
    return {
      app_url: process.env.MIX_APP_URL,
      breaknote: [],
      isload: false,
      options: [],
      selected: {},
      optionsCatalog: [],
      selectedCatalog: null,
      issearchfromctlg: false,
      procesststmp: null,
      rqdatatmp: null,
      incidentlivechattmp: false,

      chathistory: "",

      submitted: false,

      optionsStatus: ["Resolved", "Cancelled"],

      optionsImpact: [
        "1-Extensive/Widespread",
        "2-Significant/Large",
        "3-Moderate/Limited",
        "4-Minor/Localized"
      ],

      optionsUrgency: ["1-Critical", "2-High", "3-Medium", "4-Low"],

      optionsIncidentType: [
        "User Service Restoration",
        "User Service Request",
        "Infrastructure Restoration",
        "Infrastructure Event"
      ],

      assignedtome: false,
      isassigntomeload: false,
      impact: "4-Minor/Localized",
      urgency: "4-Low",
      assigned_support_company: [
        "PT. BANK MANDIRI, TBK",
        "MANDIRI CASH MANAGEMENT"
      ],
      assignedSupportCompanySelected: null,
      assigned_support_organization: [],
      assignedSupportOrganizationSelected: null,
      assigned_support_group: [],
      assignedSupportGroupSelected: null,
      assigned_name: [],
      assigneeSelected: null,
      status: "Resolved",
      statusReason: "No Further Action Required",
      resolution: null,
      product_category_tier_3: ["WINDOWS 10", "WINDOWS 7", "WINDOWS XP"],
      operational_category_tier_1: [],
      operational_category_tier_2: [],
      operational_category_tier_3: [],
      productCategoryTier1Selected: null,
      productCategoryTier2Selected: null,
      productCategoryTier3Selected: null,
      operationalCategoryTier1Selected: null,
      operationalCategoryTier2Selected: null,
      operationalCategoryTier3Selected: null
    };
  },

  methods: {
    disableForm() {
      this.isload = !this.isload;
    },
    reset() {
      this.submitted = false;
      this.issearchfromctlg = false;
      this.selectedCatalog = null;
      this.resolution = null;
      this.productCategoryTier1Selected = null;
      this.productCategoryTier2Selected = null;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
      this.$validator.reset();
    },

    removeInvalidChars() {
      this.resolution =
        this.resolution != null
          ? this.resolution.replace(regExpr2, "")
          : this.resolution;
    },

    searchFromCatalog() {
      this.issearchfromctlg = true;
    },

    onSearchFromCatalogChanged() {
      if (this.selectedCatalog !== null) {
        this.productCategoryTier1Selected = this.selectedCatalog.mapper_prod_tier_1;
        this.productCategoryTier2Selected = this.selectedCatalog.mapper_prod_tier_2;
        this.productCategoryTier3Selected = this.selectedCatalog.mapper_prod_tier_3;
        this.operationalCategoryTier1Selected = this.selectedCatalog.mapper_opr_tier_1;
        this.operationalCategoryTier2Selected = this.selectedCatalog.mapper_opr_tier_2;
        this.operationalCategoryTier3Selected = this.selectedCatalog.mapper_opr_tier_3;
      } else {
        this.productCategoryTier1Selected = null;
        this.productCategoryTier2Selected = null;
        this.productCategoryTier3Selected = null;
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
      }
    },

    onSearchFromCatalog(search) {
      var enc_source = "TELEGRAM";
      if (search.length >= 3) {
        this.searchCatalog(false, search, this.servicetype, enc_source, this);
      }
    },

    searchCatalog: _.debounce((loading, search, servicetype, enc_source, vm) => {
      axios
        .post("/dashboard/request/search/servicecatalog", {
          name: search,
          serviceType: servicetype,
          nameOfService: enc_source
        })
        .then(res => {
          vm.optionsCatalog = res.data;
        })
        .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
          });
    }, 1500),

    clearFromCatalog() {
      this.issearchfromctlg = false;
      this.productCategoryTier3Selected = null;
      this.operationalCategoryTier1Selected = null;
      this.operationalCategoryTier2Selected = null;
      this.operationalCategoryTier3Selected = null;
    },

    redirectLiveChat() {
      axios
        .post("/telegram/livechat/redirecttolivechat", {
          id: this.requestid
        })
        .then(res => {
          if (res.data.status) {
            this.$emit("redirect-livechat", {
              requestdata: res.data.responsedata,
              modalname: "modal-livechat",
              processstatus: res.data.processStatus,
              isredirecttolivechat: true
            });
          } else {
            setTimeout(() => {
              flash({
                id: this.requestid,
                message: res.data.message,
                flashtype: "danger"
              });
            }, 500);
          }
        })
        .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
          });
    },

    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        modalname: "closuringTask",
        isclosuring: true
      });
    },

    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: "modal-incident-delegate"
      });
    },

    onChangeProductCategoryTier3(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier1Selected = null;
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_1 = [];
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_1", {
              productCategoryTier1: "APPLICATION",
              productCategoryTier2: "BDS",
              productCategoryTier3: this.productCategoryTier3Selected
            })
            .then(response => {
              this.operational_category_tier_1 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    getProductCategori1() {
      axios
        .get("/product_categorization_tier3", {
          productCategoryTier1: "APPLICATION",
          productCategoryTier2: "BDS"
        })
        .then(response => {
          this.product_category_tier_3 = response.data.result;
        })
        .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
          });
    },

    onChangeOprationalCategoryTier1(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier2Selected = null;
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_2 = [];
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_2", {
              productCategoryTier1: "APPLICATION",
              productCategoryTier2: "BDS",
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected
            })
            .then(response => {
              this.operational_category_tier_2 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    onChangeOprationalCategoryTier2(event) {
      if (!this.issearchfromctlg) {
        this.operationalCategoryTier3Selected = null;
        if (event != null) {
          this.operational_category_tier_3 = [];
          axios
            .post("/operational_category_tier_3", {
              productCategoryTier1: "APPLICATION",
              productCategoryTier2: "BDS",
              productCategoryTier3: this.productCategoryTier3Selected,
              operationalCategoryTier1: this.operationalCategoryTier1Selected,
              operationalCategoryTier2: this.operationalCategoryTier2Selected
            })
            .then(response => {
              this.operational_category_tier_3 = response.data.result;
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      }
    },

    executeUpdateTier() {
      this.removeInvalidChars();
      this.$validator.validateAll().then(result => {
        this.submitted = result;
        if (result) {
          var content = {
              prod_cat_tier1:"APPLICATION",
              prod_cat_tier2: "BDS",
              prod_cat_tier3: this.productCategoryTier3Selected,
              opr_cat_tier1: this.operationalCategoryTier1Selected,
              opr_cat_tier2: this.operationalCategoryTier2Selected,
              opr_cat_tier3: this.operationalCategoryTier3Selected
            };
          this.updateTier({
            id: this.requestdata.id,
            status: this.requestdata.ProcessStatus,
            content: content
          });
        }
      });
    },

    updateTier(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      this.closuring = false;
      axios.post("/dashboard/incident/update/tier", recdata).then(res => {
        if (res.data.status) {
          this.requestdata = res.data.responsedata;
          flash({
            id: this.requestdata.id,
            message: res.data.message,
            flashtype: "info"
          });
        } else {
          flash({
            id: res.data.responsedata.id,
            message: res.data.message,
            flashtype: "danger"
          });
        }
        loader.hide();
        this.submitted = false;
      }).catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
          });
    },

    closeWindow() {
      dismissflash();
      this.$emit("modal-closed");
    }
  }
};
</script>
