<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <menu-list v-on:menuLoaded="loadContent"></menu-list>
    </v-navigation-drawer>
    <!-- <navigation-drawer v-on:layoutChanged="changeLayout" :drawer="drawer"></navigation-drawer> -->
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-col xl="11" lg="11" md="11" sm="11" xs="11"
      >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Data Management</span>
      </v-toolbar-title>
      </v-col>
      <v-col xl="1" lg="1" md="1" sm="1" xs="1">
        <v-row justify="center">
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn style="text-decoration:none;" icon v-on="on" href="/data_management/logout">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
        </v-row>
      </v-col>
    </v-app-bar>
    <v-main>
      <v-container fluid>
          <component :is="component"></component>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import MenuList from "../reports/components/NavigationDrawer";
import dashboard from "../reports/page/ReportProblem";
import production_issues from "../reports/page/ProductionIssues";
import system_availability from "../reports/page/SystemAvailability";
import response_time from "../reports/page/ResponseTime";
import dashboard_it from "../reports/page/DashboardIT";
import users from "../reports/page/UserConfig";
import success_rate from "../reports/page/SuccessRate";
import roles from "../reports/page/PMRoles";
import create_relation from "../reports/page/Bulk/CreateRelation";
import create_incident from "../reports/page/Bulk/CreateIncident";
import update_incident from "../reports/page/Bulk/UpdateIncident";
import update_problem from "../reports/page/Bulk/UpdateProblem";
import migrate_loginid from "../reports/page/Bulk/MigrateLoginId";
import update_knowledge from "../reports/page/Bulk/UpdateKnowledge";
export default {
  data() {
    return {
      drawer: true,
      component: null
    };
  },
  components: {
    MenuList,
    dashboard,
    production_issues,
    system_availability,
    response_time,
    dashboard_it,
    users,
    success_rate,
    roles,
    create_relation,
    create_incident,
    update_incident,
    update_problem,
    migrate_loginid,
    update_knowledge
  },
  computed: {
    ...mapGetters(["getLayout"]),
  },
  watch: {
    getLayout: function(newval) {
      this.component = newval.id;
    },
  },
  methods: {
    ...mapActions([
      "changeLayout",
    ]),
    loadContent() {
      this.changeLayout(this.$router.currentRoute.name);
    },
  }
};
</script>