<template>
  <v-app justify="space-between">
    <v-container fluid>
      <v-card tile>
        <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
            <v-form class="ma-0 pl-0 pr-0 pt-3 pb-0">
              <v-row justify="space-between">
                <v-col cols="2">
                    <v-select
                      v-model="selectedReportedSource"
                      :items="itemsReportedSource"
                      label="Reported Source"
                    ></v-select>
                </v-col>
                <v-col cols="2">
                    <v-select
                      v-model="selectedSurvey"
                      :items="itemsSurvey"
                      label="Survey"
                    ></v-select>
                </v-col>
                <v-col cols="2">
                    <v-select
                      v-model="selectedSkala"
                      :items="itemSkala"
                      label="Periode"
                      @change="onChange(selectedSkala)"
                    ></v-select>
                </v-col>
                <v-col cols="3" v-if="selectedSkala=='year'">
                  <v-select
                    v-model="selectedYear"
                    :items="years"
                    label="Submit Date"
                    class="pt-2"
                  ></v-select>
                </v-col>
                <v-col cols="3" v-if="selectedSkala=='date'">
                  <v-menu
                      ref="menuDate"
                      v-model="menuDate"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="dates"
                          label="Submit Date"
                          prepend-icon="event"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="dates"
                        range>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menuDate = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.menuDate.save(dates)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="3" v-if="selectedSkala=='month'">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="month"
                          label="Submit Date"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="month"
                        type="month"
                        :max="new Date().toISOString().substr(0, 10)"
                        min="2010-01-01"
                        @change="save"
                      ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="3">
                  <v-container>
                    <v-btn smal color="primary" @click="populateIncidentInterface()">Go!</v-btn>
                  </v-container>
                </v-col>
              </v-row>
            </v-form>
        </v-card-text>
        <v-row>
          <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
        </v-row>
        <v-row justify="space-between" style="padding-right:10px;padding-left:10px;">
           <alert-message transition="fade-transition"
             :info="values"
           ></alert-message>
         </v-row>
        <v-row>
          <v-container style="padding-right:30px;padding-left:30px;padding-bottom:30px;">
            <v-card tile>
            <v-card-title>
              <v-text-field v-model="searchData" label="Cari..." single-line hide-details></v-text-field>
              <download-excel
              v-if="getIncident.length>0"
                style="background-color:#1976d2 !important;color:white;font-size:bolder"
                class   = "btn btn-default"
                :data   = "this.getIncident"
                :fields = "json_fields"
                worksheet = "My Worksheet"
                :name    = "this.fileName"
                type    = "xls">
                Export
              </download-excel>
            </v-card-title>
            <v-container fluid>
              <v-data-table
                dense
                :headers="getSimpleHeader"
                :items="getIncident"
                :search="searchData"
                :items-per-page="15"
                loading-text="Loading... Please wait !"
                :loading="!loaded"
              >
              </v-data-table>
            </v-container>
            </v-card>
            </v-container>
        </v-row>
      </v-card>
    </v-container>
  </v-app>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
// import Alert from "../../Alert";
Vue.component('downloadExcel', JsonExcel);
// Vue.component('alert-message',Alert);
export default {
  data(){
    return{
      searchData: "",
      selectedSkala:"date",
      itemSkala: ['date','month', 'year'],
      selectedYear:null,
      years: Array.from({length: new Date().getFullYear() - 2019}, (value, index) => 2020 + index),
      menu: false,
      menuDate: false,
      month: null,
      dates:[new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
      selectedReportedSource:'All',
      selectedSurvey:'All',
      itemsSurvey:['All','Tidak Puas','Kurang Puas','Cukup Puas','Puas','Sangat Puas'],
      itemsReportedSource:['All','Call','Email','WA','Telegram','Other'],
      loaded: false,
      json_fields: {
            'Incident Number': 'IncidentNumber',
            'Assigned Group Id': 'AssignedGroupId',
            'Assigned Support Company': 'AssignedSupportCompany',
            'Assigned Support Organization': 'AssignedSupportOrganization',
            'Assigned Group': 'AssignedGroup',
            'Assignee Login Id':'AssigneeLoginId',
            'Assignee':'Assignee',
            'Customer Person Id':'CustomerPersonId',
            'iTools2 Request Id' : 'ItoolsRequestId',
            'Product Tier 1':'ProductCategorizationTier1',
            'Product Tier 2':'ProductCategorizationTier2',
            'Product Tier 3':'ProductCategorizationTier3',
            'Operational Tier 1':'OperationalCategorizationTier1',
            'Operational Tier 2':'OperationalCategorizationTier2',
            'Operational Tier 3':'OperationalCategorizationTier3',
            'Reported Source':'ReportedSource',
            'Description':'Description',
            'Notes':'Notes',
            'Resolution':'Resolution',
            'ServiceCI':'ServiceCI',
            'ServiceType':'ServiceType',
            'Status':'Status',
            'Status Reason':'StatusReason',
            'Impact':'Impact',
            'Urgency':'Urgency',
            'Priority':'Priority',
            'Survey':'Survey'
      },
      fileName:"",

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      valuesMaster:{},
      curdate:"",
      dNow:"",
    }
  },
  mounted() {
    this.initHPDIncidentInterface();
    this.fileName = "Incident Report.xls";
  },
  methods: {
    ...mapActions("incident",[
      "initHPDIncidentInterface",
      "populateByYear",
      "populateByMonth",
      "populateByDate",
      "populateByYearSource",
      "populateByMonthSource",
      "populateByDateSource",
      "populateByYearSurvey",
      "populateByMonthSurvey",
      "populateByDateSurvey",
      "populateByYearSourceSurvey",
      "populateByMonthSourceSurvey",
      "populateByDateSourceSurvey",
      "resetIncident",
    ]),
    save (month) {
      this.$refs.menu.save(month)
    },
    onChange(selectedSkala){
      if(selectedSkala=='month'){
          this.selectedYear=null
          this.dates=[new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)]
      }else if(selectedSkala=='date'){
          this.selectedYear=null
          this.month = null
      }else{
          this.month = null
          this.dates=[new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)]
      }
    },
    // populateIncidentInterface(){
    //   console.log(this.dates)
    //   console.log(this.dates[0] +"-"+ this.dates[1])
    // },
    async populateIncidentInterface() {
      this.resetIncident();
      this.loaded = false;
      let response;
      this.dNow=new Date();
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
        if(this.selectedReportedSource == 'All' && this.selectedSurvey == 'All' && this.selectedSkala=='year'){
          this.populateByYear({selectedYear: this.selectedYear});
          this.fileName = "Incident Report-"+this.selectedYear+".xls";
        }else if(this.selectedReportedSource == 'All'&& this.selectedSurvey == 'All' && this.selectedSkala=='month'){
          this.populateByMonth({selectedYear: this.month.substr(0,4),selectedMonth: this.month.substr(6,2)});
          this.fileName = "Incident Report-"+this.month.substr(6,2)+"-"+this.month.substr(0,4)+".xls";
        }else if(this.selectedReportedSource == 'All' && this.selectedSurvey == 'All' && this.selectedSkala=='date'){
          this.populateByDate(
            {
              startDate: this.dates[0],
              endDate: this.dates[1] == undefined ? this.dates[0] : this.dates[1],
            }
          );
          this.fileName = "Incident Report-"+this.dates+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey == 'All' && this.selectedSkala=='year'){
          this.populateByYearSource(
            { 
              source: this.selectedReportedSource,
              selectedYear: this.selectedYear
            }
          );
          this.fileName = "Incident Report-"+this.selectedReportedSource+"-"+this.selectedYear+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey == 'All' && this.selectedSkala=='month'){
          this.populateByMonthSource(
            {
              source: this.selectedReportedSource,
              selectedYear: this.month.substr(0,4),
              selectedMonth: this.month.substr(6,2)
            }
          );
          this.fileName = "Incident Report-"+this.selectedReportedSource+"-"+this.month.substr(6,2)+"-"+this.month.substr(0,4)+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey == 'All' && this.selectedSkala=='date'){
          this.populateByDateSource(
            {
              source: this.selectedReportedSource,
              startDate: this.dates[0],
              endDate: this.dates[1] == undefined ? this.dates[0] : this.dates[1],
            }
          );
          this.fileName = "Incident Report-"+this.selectedReportedSource+"-"+this.dates+".xls";
        }else if(this.selectedReportedSource == 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='year'){
            this.populateByYearSurvey(
            { 
              survey: this.selectedSurvey,
              selectedYear: this.selectedYear
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.selectedYear+".xls";
        }else if(this.selectedReportedSource == 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='month'){
          this.populateByMonthSurvey(
            {
              survey: this.selectedSurvey,
              selectedYear: this.month.substr(0,4),
              selectedMonth: this.month.substr(6,2)
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.month.substr(6,2)+"-"+this.month.substr(0,4)+".xls";
        }else if(this.selectedReportedSource == 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='date'){
          this.populateByDateSurvey(
            {
              survey: this.selectedSurvey,
              startDate: this.dates[0],
              endDate: this.dates[1] == undefined ? this.dates[0] : this.dates[1],
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.dates+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='year'){
          this.populateByYearSourceSurvey(
            { 
              source: this.selectedReportedSource,
              survey: this.selectedSurvey,
              selectedYear: this.selectedYear
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.selectedReportedSource+"-"+this.selectedYear+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='month'){
          this.populateByMonthSourceSurvey(
            {
              source: this.selectedReportedSource,
              survey: this.selectedSurvey,
              selectedYear: this.month.substr(0,4),
              selectedMonth: this.month.substr(6,2)
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.selectedReportedSource+"-"+this.month.substr(6,2)+"-"+this.month.substr(0,4)+".xls";
        }else if(this.selectedReportedSource !== 'All' && this.selectedSurvey !== 'All' && this.selectedSkala=='date'){
          this.populateByDateSourceSurvey(
            {
              source: this.selectedReportedSource,
              survey: this.selectedSurvey,
              startDate: this.dates[0],
              endDate: this.dates[1] == undefined ? this.dates[0] : this.dates[1],
            }
          );
          this.fileName = "Incident Report-"+this.selectedSurvey+"-"+this.selectedReportedSource+"-"+this.dates+".xls";
        }
    }
  },
  watch:{
    menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loaded = newVal != 1 ? true : false;
    },
  },
  computed: {
    ...mapGetters("incident", [
      "getIncident",
      "getSimpleHeader",
      "getApiState",
      "getAlertMessage",
    ]),
  },
};
</script>
<style>
  .v-data-table td {
    font-size: 1em;
  }
</style>