<template> 
<v-row justify="space-between">
  <v-container fluid>
    <v-tabs background-color="white" right>
        <v-tab>DASHBOARD</v-tab>
        <v-tab-item>
          <v-container fluid>
            <v-card tile>
              <v-card-text class="ma-0 pr-3 pl-3 pt-0 pb-0">
                <v-form class="ma-0 pl-0 pr-0 pt-3 pb-0">
                  <v-row>
                    <v-col cols="2">
                      <v-select
                        :items="fieldoptions"
                        label="Search For"
                        name="TotalType"
                        v-model="selectedfield"
                        style="hight:40px; margin-bottom:5px"
                        @change="onChangeType($event)"
                      />
                    </v-col>
                    <v-col cols="2">
                     <v-text-field
                        id="txtName"
                        v-model="textsearch"
                        type="text"
                        autocomplete="off"
                        :placeholder="this.selectedfield == null?'Search ':'Search '+this.selectedfield"
                        style="margin-bottom:5px"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2">
                      <v-menu
                        ref="datefrom"
                        v-model="datefrom"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                          v-model="isDateFrom"
                          label="From Date"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          ref="datepickfrom"
                          v-model="isDateFrom"
                          type="date"
                          :max="new Date().toISOString().substr(0, 10)"
                          min="2010-01-01"
                          @change="saveDateFrom"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="2">
                      <v-menu
                        ref="dateto"
                        v-model="dateto"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                          v-model="isDateTo"
                          label="To Date"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          ref="datepickto"
                          v-model="isDateTo"
                          type="date"
                          :max="new Date().toISOString().substr(0, 10)"
                          min="2010-01-01"
                          @change="saveDateTo"
                        ></v-date-picker>
                      </v-menu>
                     
                    </v-col>
                    <v-col cols="4">
                      <v-btn color="primary" dark @click="resetData">Reset</v-btn>
                      <v-btn color="primary" dark @click="searchIncident">Search</v-btn>
                    </v-col>
                  <v-spacer></v-spacer>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-row>
                <v-divider class="mr-3 ml-3 mt-0 mb-2"></v-divider>
              </v-row>
              <v-row>
                <v-container fluid>
                  <v-card tile>
                    <v-container fluid>
                      <v-data-table
                        :headers="getHeaderIncidentOd"
                        :loading="!loadedMaster"
                        :items="inquiryIncident"
                        class="elevation-1"
                        loading-text="Mengambil data.. mohon menunggu"
                      >
                        <template v-slot:top>
                          <v-toolbar flat color="white">
                            <v-toolbar-title>Incident</v-toolbar-title>
                            <v-divider
                              class="mx-4"
                              inset
                              vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="primary"
                              dark
                              class="mb-2"
                              @click.stop="createIncidentForm()"
                            >Incident Incoming</v-btn>
                          </v-toolbar>
                        </template>
                        <template v-slot:item.actions="{ item }">
                          <v-btn
                            v-if="item.ekskalasiStatus == 'INPROGRESS'"
                            small
                            color="yellow"
                            class="mr-2"
                            @click="incidentForm(item,false)"
                          >{{item.ekskalasiStatus}}</v-btn>
                          <v-btn
                            v-else-if="item.ekskalasiStatus == 'NEW'"
                            small
                            color="grey"
                            class="mr-2"
                            @click="incidentForm(item,false)"
                          >{{item.ekskalasiStatus}}</v-btn>
                          <v-btn
                            v-else-if="item.ekskalasiStatus == 'OPEN' || item.ekskalasiStatus == null"
                            small
                            color="red"
                            class="mr-2"
                            @click="incidentForm(item,false)"
                          > <span v-if="item.ekskalasiStatus == null">open</span>
                          <span v-else>{{item.ekskalasiStatus}}</span>
                          </v-btn>
                          <template  v-else-if="item.ekskalasiStatus == 'CLOSED'">
                          <v-btn
                            small
                            color="green"
                            class="mr-2"
                            @click="incidentForm(item,false)"
                          >
                          {{item.ekskalasiStatus}}
                         </v-btn>
                         <v-btn
                            small
                            color="yellow"
                            class="mr-2"
                            @click="incidentForm(item,true)"
                          >edit</v-btn>
                          </template>
                        </template>
                      </v-data-table>
                      <eskalasi-incident
                        :called="eskalasiIncidentOdForm"
                        :paramEskalasiSelectedIncident="selectedEskalasiIncident"
                        v-on:next="nextDetailIncidentOdForm"
                        v-on:cancel="closeIncidentOdForm"
                      ></eskalasi-incident>
                      <create-incident-form
                        :called="incidentOdForm"
                        :paramSelectedIncident="selectedIncident"
                        v-on:next="nextDetailIncidentOdForm"
                        v-on:cancel="closeIncidentOdForm"
                      ></create-incident-form>
                      <approve-create-incident-form
                        :called="aproveIncidentOdForm"
                        :paramApproveSelectedIncident="selectedAproveIncident"
                        v-on:next="nextDetailIncidentOdForm"
                        v-on:cancel="closeIncidentOdForm"
                      ></approve-create-incident-form>
                      <detail-incident-form
                        :calledIncident="detailIncidentOdForm"
                        :paramDetailIncident="detailIncidentValue"
                        v-on:save="saveIncidentOd"
                        v-on:back="createIncidentForm"
                        v-on:cancel="closeDetailIncident"

                      ></detail-incident-form>
                      <view-incident-form
                        :calledViewIncident="viewIncidentOd"
                        :paramViewIncident="viewincident"
                        v-on:cancel="closeViewIncident"
                        v-on:send="sendIncidentNotifOd"
                      ></view-incident-form>
                    </v-container>
                  </v-card>
                </v-container>
              </v-row>
          </v-card>
          </v-container>
        </v-tab-item>
    </v-tabs>
  </v-container>
</v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import JsonExcel from 'vue-json-excel';
Vue.component('downloadExcel', JsonExcel);
import WarningDialog from "../components/dialog/WarningDialog";
import CreateIncidentForm from "../components/form/CreateIncidentForm";
import DetailIncidentForm from "../components/form/DetailIncidentForm";
import ViewIncidentForm from "../components/form/ViewIncidentForm";
import ApproveCreateIncidentForm from "../components/form/ApproveCreateIncidentForm";
import EskalasiIncident from "../components/form/EskalasiIncident";


export default {
  data() {
    return {
      fieldoptions: ["Ticket", "Incident", "Service"],
      selectedfield: "Ticket",
      search: "",
      searchdate: "",
      tosearchdate: "",
      textsearch: "",
      textsearchdate: "",
      texttosearchdate: "",
      refreshloaded: false,
      datefrom: false,
      dateto: false,
      dialog: false,
      incidentOdForm: false,
      aproveIncidentOdForm:false,
      detailIncidentOdForm: false,
      detailIncidentValue: null,
      viewIncidentOd: false,
      viewIncidentValue:null,
      selectedIncident:null,
      selectedAproveIncident:null,

      eskalasiIncidentOdForm:false,
      selectedEskalasiIncident:null,

      loaded: false,
      loadedMaster: false,
      isCreateIncident : true,
      isDateFrom: null,
      isDateTo: null,

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      valuesMaster:{},
      curdate:"",
      dNow:"",
      editedIndex:"",
      incidentInit: [],
      viewincident: null,
      valueIncidentSelected: null,
      inboxId:0,
      dialogLoading: false,
      inquiryIncident: [],
      oddashboardrole: ""
    }
  },
  watch: {
      getApiState: function(newVal) {
        
        this.dNow=new Date();
        this.alertType = newVal;
        this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
        if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
          this.values = {
              content:this.contentAlert,
              alertid:this.curdate,
              type:this.typeAlert,
              typeId:this.alertType,
              isshow:true
          };
        }
        this.loaded = newVal != 1 ? true : false;
      },
      params: {
          handler() {
              this.listIncidentOd();
          }
      }
    },
    mounted() {
        this.headerIncident();
        if(roles['dashboard-od-comcen']){
          this.isCreateIncident = false;
        }
        this.listIncidentOd();
    },

    computed: {
        ...mapGetters("incidentformod", [
        "getincidentOdForm"
        ]),
        ...mapGetters("incidentod", [
          "getHeaderIncidentOd",
          "getValueIncidentOd",
          "getSelectedIncidentOd",
          "getItemDefault",
        ]),
        params(nv) {
            return {
                labelsearch: this.searchgo
            };
        },
        formTitle () {
          return this.editedIndex === -1 ? 'Create Incident' : 'View Incident'
        }

    },
    methods: {
      ...mapActions("incidentformod",{
        initIncidentOdForm:"initIncidentOdForm",
        resetIncidentOdForm:"resetIncidentOdForm"
      }),
      ...mapActions("incidentod",{
        headerIncident:"headerIncident",
        initIncidentOd:"initIncidentOd",
        incidentSelectedOd:"incidentSelectedOd",
        searchIncidentByOd:"searchIncidentByOd"
      }),
      doSearch(){
        this.loadedMaster = false;
        this.listIncidentOd();
      },
      async listIncidentOd(){
        let listIncidentOD = "";
        this.loadedMaster = false;
       // console.log(this.getValueIncidentOd);
        if(roles['dashboard-od-first-layer'] ){
          listIncidentOD = 'first_layer';
        }else if(roles['dashboard-od-second-layer']){
          listIncidentOD = 'second_layer';
        }else{
          listIncidentOD = 'od_comcen';
        }
        //console.log('jenis od  bro'+listIncidentOD);
        var valueIncident = [];
        this.oddashboardrole =listIncidentOD;
        let payload = {
          "inboxId" : this.inboxId,
          "odDashboardRole" : this.oddashboardrole
        };
        await this.initIncidentOd(payload);
        //console.log(this.getValueIncidentOd);
        this.loadedMaster = true;
        this.inquiryIncident  = this.getValueIncidentOd;
      },
      createIncidentForm() {
        
        this.resetIncidentOdForm();

        if(roles['dashboard-od-first-layer'] ){
          this.incidentOdForm = true;
        }else if(roles['dashboard-od-second-layer']){
          this.aproveIncidentOdForm = true;
        }else{
          this.eskalasiIncidentOdForm = true;
        }
        this.detailIncidentOdForm = false;
        this.selectedIncident = null;
        this.selectedEskalasiIncident = null;
      },
      closeViewIncident(){
        this.viewIncidentOd = false;
      },async sendIncidentNotifOd(){
        this.viewIncidentOd = false;
        this.inquiryIncident  = [];
        this.loadedMaster = true;
       // console.log(this.getValueIncidentOd);
        this.loadedMaster = false;
        var valueIncident = [];
        let payload = {
          "inboxId" : this.inboxId,
          "odDashboardRole" : this.oddashboardrole
        };
        await this.initIncidentOd(payload);
        //console.log(this.getValueIncidentOd);
        this.loadedMaster = true;
        this.inquiryIncident  = this.getValueIncidentOd;
      },
      async saveIncidentOd(payload){

        var inboxIncId = (payload.incidentContent.ekskalasiStatus != "") ? payload.inboxId : payload.incidentContent.requestId;

        let payloadIncident = {
          "inboxId" : inboxIncId,
          "odDashboardRole" : this.oddashboardrole
        };

        await this.incidentSelectedOd(payloadIncident)

        var param = JSON.parse(this.getSelectedIncidentOd[0]['IncidentOdDecode']);
        
        this.valueIncidentSelected = { 
          "remedyTicketId": this.getSelectedIncidentOd[0]['RemedyTicketId'],
          "id": this.getSelectedIncidentOd[0]['id'],
          "incident": param['incident'],
          "saverity": param['saverity'],
          "type_incident": param['type_incident'],
          "impact": param['impact'],
          "suspect": param['suspect'],
          "estimasi": param['estimasi'],
          "assignSelected": param['assignSelected'],
          "status_incident": param['status_incident'],
          "odcommandcentername": param['odcommandcentername'],
          "ekskalasiStatus" : payload.incidentContent.ekskalasiStatus,
          "solusi": param['solusi'],
          "durasiGangguan": param['durasiGangguan'],
          "waktuTerindikasiSelected": param['waktuTerindikasiSelected'],
          "updateEkskalasi": param['updateEkskalasi'],
          "eksternalPic": param['eksternalPic'],
          "picInfra" : param['picSupportInfra'],
          "picInfraTeams" : param['picSupportTeam']
        };
        this.viewincident = this.valueIncidentSelected;
        
        this.detailIncidentOdForm = false;
        this.viewIncidentOd = true;
      
      },saveDateFrom(isDateFrom) {
        this.$refs.datefrom.save(isDateFrom)
      },saveDateTo(isDateTo) {
        this.$refs.dateto.save(isDateTo)
      },
      async resetData(){
        this.selectedfield = "Ticket";
        this.search = "";
        this.searchdate = "";
        this.tosearchdate = "";
        this.textsearch = "";
        this.textsearchdate = "";
        this.texttosearchdate = "";
        this.eskalasiIncidentOdForm = false;

        this.loadedMaster = true;
        this.loadedMaster = false;
        let payload = {
          "inboxId" : this.inboxId,
          "odDashboardRole" : this.oddashboardrole
        };
        await this.initIncidentOd(payload);

        this.loadedMaster = true;
        this.inquiryIncident  = this.getValueIncidentOd;
      },
      createIncidentForm() {
        this.detailIncidentOdForm = false;
        if(roles['dashboard-od-first-layer'] ){
          this.incidentOdForm = true;
        }else if(roles['dashboard-od-second-layer']){
          this.aproveIncidentOdForm = true;
        }else if(roles['dashboard-od-comcen']){
          this.eskalasiIncidentOdForm = true;
        }
        this.selectedIncident = null;
      },
      closeIncidentOdForm() {
        this.incidentOdForm = false;
        this.aproveIncidentOdForm = false;
         this.eskalasiIncidentOdForm = false;
      },
      sendIncidentOd(items){
        this.selectedIncident = items;
        this.detailIncidentOdForm = false;
        if(roles['dashboard-od-first-layer'] ){
          this.incidentOdForm = false;
        }else if(roles['dashboard-od-second-layer']){
          this.aproveIncidentOdForm = false;
        }else if(roles['dashboard-od-comcen']){
          this.eskalasiIncidentOdForm = false;
        }
      },
      incidentForm(items,isEdit){
        if(roles['dashboard-od-first-layer'] ){
            this.viewClosedIncidentOd(items);
        }else if(roles['dashboard-od-second-layer']){
            if(items.ekskalasiStatus == "OPEN" || items.ekskalasiStatus == "INPROGRESS"){
              this.viewClosedIncidentOd(items);
            }else if(items.ekskalasiStatus == "CLOSED"){
              this.viewClosedIncidentOd(items);
            }else{
              this.selectedAproveIncident = items
              this.aproveIncidentOdForm = true;
            }
        }else if(roles['dashboard-od-comcen']){
          if(items.ekskalasiStatus == "CLOSED"){
              
              if(isEdit){
                this.eskalasiIncidentOdForm = true;
                this.selectedEskalasiIncident = items
              }else{
                this.viewClosedIncidentOd(items);
              }
            }else {
              this.eskalasiIncidentOdForm = true;
              this.selectedEskalasiIncident = items
            }
        }
      },
      viewClosedIncidentOd(items){
        this.valueIncidentSelected = { 
          "remedyTicketId": items.remedyTicketId,
          "id": items.id,
          "incident": items.incidentOdDecode.incident,
          "saverity": items.incidentOdDecode.saverity,
          "type_incident": items.incidentOdDecode.type_incident,
          "impact": items.incidentOdDecode.impact,
          "suspect": items.incidentOdDecode.suspect,
          "estimasi": items.incidentOdDecode.estimasi,
          "assignSelected": items.incidentOdDecode.assignSelected,
          "status_incident": items.incidentOdDecode.status_incident,
          "odcommandcentername": items.incidentOdDecode.odcommandcentername,
          "ekskalasiStatus" : items.incidentOdDecode.ekskalasiStatus,
          "solusi": items.incidentOdDecode.solusi,
          "durasiGangguan": items.incidentOdDecode.durasiGangguan,
          "waktuTerindikasiSelected": items.incidentOdDecode.waktuTerindikasiSelected,
          "updateEkskalasi": items.incidentOdDecode.updateEkskalasi,
          "eksternalPic": items.incidentOdDecode.eksternalPic,
          "picInfra":items.incidentOdDecode.picSupportInfra,
          "picInfraTeam":items.incidentOdDecode.picSupportTeam,
        };

        this.viewincident = this.valueIncidentSelected;
        this.viewIncidentOd = true;
      },
      nextDetailIncidentOdForm(payload){
         if(roles['dashboard-od-first-layer'] ){
          this.incidentOdForm = false;
        }else if(roles['dashboard-od-second-layer']){
          this.aproveIncidentOdForm = false;
        }else if(roles['dashboard-od-comcen']){
          this.eskalasiIncidentOdForm = false;
        }
        this.detailIncidentOdForm = true;
        this.detailIncidentValue = payload;
      },
      closeDetailIncident(){
        this.detailIncidentOdForm = false;
      },
      async searchIncident(){
        var paramSearchIncident = [];
        var incidentParam =null;
        this.inquiryIncident  = [];
        this.loadedMaster = true;
        this.loadedMaster = false;

        var field = "";
        switch (this.selectedfield) {
          case "Incident": {
            field = "IncidentOdDecode";
            break;
          }
          case "Service": {
            field = "IncidentOdDecode";
            break;
          }
          default: {
            field = "RemedyTicketId";
            break;
          }
        }

        paramSearchIncident['field'] = field  

        if (this.isDateFrom !== "") {
            paramSearchIncident['isDateFrom'] = this.isDateFrom
        }
        if (this.isDateTo !== "") {
            paramSearchIncident['isDateTo'] = this.isDateTo
        }
        if (this.textsearch !== "") {
            paramSearchIncident['textSearch'] = this.textsearch 
        }
        incidentParam = {
          "field": paramSearchIncident['field'],
           "isDateFrom": paramSearchIncident['isDateFrom'],
            "isDateTo": paramSearchIncident['isDateTo'],
             "textSearch": paramSearchIncident['textSearch'] == null ? '' : paramSearchIncident['textSearch'],
        }
        //console.log(paramSearchIncident);
        await this.searchIncidentByOd({
            paramSearch: incidentParam,
            test :"test boy"
        });
        this.loadedMaster = true;
        this.inquiryIncident  = this.getValueIncidentOd;
      },
    },
  components: {
    WarningDialog,
    CreateIncidentForm,
    DetailIncidentForm,
    ViewIncidentForm,
    ApproveCreateIncidentForm,
    EskalasiIncident
  }

}
</script>
