<template>
  <div
    class="modal"
    id="modal-view"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">View Request</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-view'">
                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request ID</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.id"
                            readonly="true"
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.servicecatalog.name"
                            readonly="true"
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Service Type</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.servicecatalog.servicechannel.servicetype.name"
                            readonly="true"
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Service Channel</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.servicecatalog.servicechannel.name"
                            readonly="true"
                          >
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Requester Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.SenderNumber"
                            readonly="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Process Status</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.ProcessStatus"
                            readonly="true"
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Remedy Ticket Id</label>
                          <input
                            v-if="requestdata.RemedyTicketId!=null"
                            type="text"
                            class="form-control"
                            :value="requestdata.RemedyTicketId"
                            readonly="true"
                          >
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          >
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Assignee Name</label>
                          <input
                            v-if="requestdata.AssigneeId==null"
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          >
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            :value="requestdata.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Receiving On</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.ReceivingDateTime | mydateformat"
                            readonly="true"
                          >
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Booked On</label>
                          <input
                            v-if="requestdata.BookDateTime!=null"
                            type="text"
                            class="form-control"
                            :value="requestdata.BookDateTime | mydateformat"
                            readonly="true"
                          >
                          <input
                            v-else
                            type="text"
                            class="form-control"
                            value="N/A"
                            readonly="true"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Customer Summary</label>
                          <textarea
                            :value="'Customer Detail :\n \n' + requestdata.UDH.replace(/#/g,'\n')"
                            class="form-control"
                            rows="15"
                            name="notes"
                            style="resize: none;height:100%;"
                            readonly="true"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-3"
                  style="border-left: 12px"
                  v-if="requestdata.servicecatalog.has_image"
                >
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Summary</label>
                          <textarea
                            class="form-control"
                            rows="5"
                            name="notes"
                            style="resize: none;height:50%;"
                            readonly="true"
                            :value="requestdata.servicecatalog.description+': \n \n'+requestdata.TextDecoded.replace(/#/g,'\n')"
                          ></textarea>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <label
                          class="col-md-3 control-label"
                          style="text-align: left; font-weight: bold;"
                        >
                          <br>
                        </label>
                        <div class="col-md-9">
                          <a
                            class="gallery-item"
                            :href="app_url+'/assets/uploads/images/request/961998.jpg'"
                            title="Image"
                            data-gallery
                            style
                          >
                            <div class="meta">
                              <img
                                :src="app_url+'/assets/uploads/images/request/961998.jpg'"
                                width="170"
                                height="170"
                              >
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="border-left: 12px" v-else>
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal" style="padding-bottom:25px">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Summary</label>
                          <textarea
                            :value="requestdata.servicecatalog.description+': \n \n'+requestdata.TextDecoded.replace(/#/g,'\n')"
                            class="form-control"
                            rows="15"
                            name="notes"
                            style="resize: none;height:100%;"
                            readonly="true"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:120px;"
            @click="selectedRequestBooked(requestdata.id,auth.id,requestdata.ServiceCatalogId)"
          >Book This Ticket</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:90px;"
            @click="closeWindow"
          >Back</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "auth",
    "modalname"
  ],

  data(){
    return{
      app_url: process.env.MIX_APP_URL,
    }
  },

  methods: {
    selectedRequestBooked(id, assigneeId, serviceCatalogId) {
      this.$emit("requestbooked", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId
      });
    },
    closeWindow() {
      dismissflash();
      this.$emit("modalclosed", {
        isdataloaded: false,
        processstatus: this.processstatus,
        requestid: 0,
        ismodal: false,
        modalname: ""
      });
    }
  }
};
</script>
