<template>
  <div>
    <div class="col-md-6">
      <table class="table">
        <tbody  v-for="(data, index) in data_branch_conf" :data="data_branch_conf" v-bind:key="index">
          <tr>
            <td class="text-left" style="padding: 10px;"><h5>BrhCode</h5></td>
            <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
            <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhCode }}</h5></td>
          </tr>
          <tr>
             <td class="text-left" style="padding: 10px;"><h5>BrhCtrlUnit</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhCtrlUnit }}</h5></td>
          </tr>
          <tr>
             <td class="text-left" style="padding: 10px;"><h5>BrhName</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhName }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5>BrhAddr</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhAddr1 }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhAddr2 }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhAddr3 }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhAddr4 }}</h5></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody  v-for="(data, index) in data_branch_conf" :data="data_branch_conf" v-bind:key="index">
          <tr>
            <td class="text-left" style="padding: 10px;"><h5>SODInd</h5></td>
            <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
            <td class="text-left" style="padding: 10px;"><h5>{{ data.SODInd }}</h5></td>
          </tr>
          <tr>
             <td class="text-left" style="padding: 10px;"><h5>BrhCtrlUnit</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.BrhCtrlUnit }}</h5></td>
          </tr>
          <tr>
             <td class="text-left" style="padding: 10px;"><h5>EODInd</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.EODInd }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5>CashOutlet</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>:</h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ data.CashOutlet }}</h5></td>
          </tr>
          <tr>
             <td style="padding: 10px;"><h5>Tanggal Bisinis</h5></td>
             <td class="text-left" style="padding: 10px;"><h5></h5></td>
             <td class="text-left" style="padding: 10px;"><h5>{{ getHumanDate(data.TradeDate) }}</h5></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
export default {
  props: ["data_branch_conf"],
         methods: {
            getHumanDate : function (date) {
               return moment(date).format('MM/DD/YYYY h:mm:ss A');
            //    m/d/Y h:i:s A
            }

    }
};
</script>
