<template>
  <!-- <v-app justify="space-between">
    <v-container fluid>

    </v-container>
  </v-app> -->

  <v-card tile>
    <v-container fluid>
      <div class="col-md-12" style="margin-left: 10px; margin-bottom: -10px">
        <label>
          <strong>Tampil berdasarkan :</strong>
        </label>
      </div>
      <div class="col-md-12" style="margin-bottom: -30px">
        <div class="col-md-6">
          <v-select
            :options="optionList"
            :selectOnTab="true"
            label="name"
            v-model="selected"
            @change="onChangeFilter($event)"
            name="Doc. Filter"
          >
            <template slot="option" slot-scope="option">
              <input type="hidden" :value="option.id" key="SerialNo" />
              <div class="d-center">{{ option.name }}</div>
            </template>
          </v-select>
          <span
            v-show="errors.has('Doc. Filter')"
            class="valid-feedback text-danger"
            >{{ errors.first("Doc. Filter") }}</span
          >
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-info btn-block btn-md"
            type="button"
            @click="submitAll"
            :disabled="rqdatatmp.length <= 0"
          >
            Submit SPVKMI all
          </button>
        </div>
      </div>
    </v-container>
    <v-card-title>
      <v-text-field
        v-model="searchData"
        label="Cari..."
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-container fluid>
      <div v-if="rqdatatmp.length <= 0">
        <div class="alert alert-info" role="alert">
          <span
            class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true"
          ></span>
          No Data Available
        </div>
      </div>
      <div v-else>
        <v-data-table
          dense
          :headers="simpleHeader"
          :items="rqdatatmp"
          :search="searchData"
          :loading="loaded"
          disable-pagination
          hide-default-footer
          loading-text="Loading... Please wait !"
        >
          <template v-slot:body="{ items }">
            <tbody>
              <tr
                v-for="item in items"
                :class="{
                  primary: item.SerialNo + '' + item.SerialNo2 === selectedId,
                }"
                :key="item.SerialNo"
                v-on:click="clickList(item)"
              >
                <td>{{ item.DocType }}</td>
                <td>{{ item.Prefix }}</td>
                <td>{{ item.SerialNo }}</td>
                <td>
                  {{
                    item.SerialNo2 == null || item.SerialNo2 == ""
                      ? "-"
                      : item.SerialNo2
                  }}
                </td>
                <td>{{ item.Holder }}</td>
                <td>{{ item.Status }}</td>
                <td>{{ item.Spoilt }}</td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
      </div>
    </v-container>
  </v-card>

  <!-- <div class="panel-body">
    <div class="form-group">
      <div class="col-md-12" style="margin-left:10px;margin-top:-10px;margin-bottom:-10px">
          <label>
            <strong>Tampil berdasarkan :</strong>
          </label>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
            <v-select
              :options="optionList"
              :selectOnTab="true"
              label="name"
              v-model="selected"
              @change="onChangeFilter($event)"
              name="Doc. Filter"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.id" key="SerialNo" />
                <div class="d-center">{{ option.name }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Doc. Filter')"
              class="valid-feedback text-danger"
            >{{ errors.first('Doc. Filter') }}</span>
        </div>
        <div class="col-md-3">
          <input
            id="txtName"
            @keyup.enter="searchData"
            v-model="textSearch"
            type="text"
            autocomplete="off"
            placeholder="Search SerialNo"
            class="form-control"
          >
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-info btn-block btn-md"
            type="button"
            @click="submitAll"
            :disabled="rqdata == null || rqdata ==''">Submit SPVKMI all</button>
        </div>
      </div>
    </div>
    <div v-if="rqdata == null || rqdata ==''">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        No Data Available
      </div>
    </div>
    <div v-else>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Prefix</th>
            <th class="text-center">SerialNo</th>
            <th class="text-center">SerialNo2</th>
            <th class="text-center">Holder</th>
            <th class="text-center">Status</th>
            <th class="text-center">Spoilt</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="result in rqdata" :result="rqdata" :key="result.SerialNo" v-on:click="clickList(result.SerialNo)">
            <td>{{ result.DocType}}</td>
            <td>{{ result.Prefix}}</td>
            <td>{{ result.SerialNo}}</td>
            <td>{{ result.SerialNo2}}</td>
            <td>{{ result.Holder}}</td>
            <td>{{ result.Status}}</td>
            <td>{{ result.Spoilt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</template>
<script>
export default {
  props: ["data_kartu_instan", "isloaded"],
  data() {
    return {
      optionList: ["List Doc. Belum Kembali", "List Doc. Rusak Belum Kembali"],
      selected: "List Doc. Belum Kembali",
      searchData: "",
      simpleHeader: [
        { text: "Type", value: "DocType" },
        { text: "Prefix", value: "Prefix" },
        { text: "SerialNo", value: "SerialNo" },
        { text: "SerialNo2", value: "SerialNo2" },
        { text: "Holder", value: "Holder" },
        { text: "Status", value: "Status" },
        { text: "Spoilt", value: "Spoilt" },
      ],
      rqdatatmp: [],
      loaded: true,
      selectedId: null,
    };
  },

  watch: {
    data_kartu_instan: function (newvalue) {
      this.rqdatatmp = newvalue;
      this.loaded = false;
    },
    isloaded: function (newvalue) {
      this.loaded = newvalue;
    },
  },

  methods: {
    submitAll() {
      this.$emit("submit-all", {
        data: this.rqdatatmp,
      });
    },

    // searchData() {
    //   this.$emit("search-data", {
    //     search: this.textSearch
    //   });
    // },

    // clickList(idRequest) {
    //   this.$emit("list-selected", {
    //     serial_no: idRequest
    //   });
    // },

    // onChangeFilter() {
    //     if (event != null) {
    //       if(this.selected == 'List Doc. Belum Kembali'){
    //         var data = {
    //               spoilt: 'N'
    //             }
    //       }else{
    //         var data = {
    //               spoilt: 'Y'
    //             }
    //       }
    //       axios
    //         .post("/kartu_instan/filter", data).then(response => {
    //             this.rqdata = response.data;
    //         }).catch(error => {
    //           if (error.response.status === 419 || error.response.status === 401) {
    //             window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
    //             location.reload(false);
    //           } else {
    //             flash({
    //               id: "error code status",
    //               message: error.response.data.message,
    //               flashtype: "danger"
    //             });
    //           }
    //         });
    //   }
    // }
    clickList(data) {
      this.selectedId = data.SerialNo + "" + data.SerialNo2;
      this.$emit("list-selected", {
        serial_no: data.SerialNo,
      });
    },

    onChangeFilter() {
      if (event != null) {
        this.$emit("onchange", {
          selected: this.selected,
        });
      }
    },
  },
};
</script>
