<template>
  <div>
    <h4 style="margin-bottom: 5px;">
      <b>Channel</b>
      <!-- <span class="label label-primary pull-right">
        <b>{{data.CALL.TOTAL+data.TELEGRAM.TOTAL+data.EMAIL.TOTAL+data.SMS.TOTAL+data.LIVECHAT.TOTAL+data.WHATSAPP.TOTAL+data.ITSRM.TOTAL}}</b>
      </span> -->
    </h4>
    <div class="panel panel-default" style="margin-bottom:0px;">
      <div class="panel-body">
        <div class="col-md-3">
          <table class="table" style="border: 1px solid #0069a5; margin-bottom:0px">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">CALL</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.CALL.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9">
          <hooper style="height: 120px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CALL.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CALL.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CALL.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CALL.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CALL.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>

        <div class="col-md-3" style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">ITSRM</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.ITSRM.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9"  style="margin-top:-15px">
          <hooper style="height: 120px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.ITSRM.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.ITSRM.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.ITSRM.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.ITSRM.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.ITSRM.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>

        <div class="col-md-3"  style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">TELEGRAM</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.TELEGRAM.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9" style="margin-top:-15px">
          <hooper style="height: 120px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.TELEGRAM.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.TELEGRAM.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.TELEGRAM.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.TELEGRAM.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.TELEGRAM.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>

        <div class="col-md-3" style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">EMAIL</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.EMAIL.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9" style="margin-top:-15px">
          <hooper style="height: 120px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.EMAIL.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.EMAIL.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.EMAIL.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.EMAIL.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.EMAIL.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>

        <div class="col-md-3" style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">SMS</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.SMS.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9" style="margin-top:-15px">
          <table class="table table-bordered" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">QUEUED</center>
                </th>
                <th style="background-color:#0069a5;border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">ASSIGNED</center>
                </th>
                <th style="background-color:#0069a5;border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">COMPLETED</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                    {{data.SMS.QUEUED}}
                  </span>
                </td>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.SMS.INPROGRESS}}
                  </span>
                </td>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.SMS.CLOSED}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-3" style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">WHATSAPP</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.WHATSAPP.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        
        <div class="col-md-9" style="margin-top:-15px">
          <hooper style="height: 120px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WHATSAPP.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WHATSAPP.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WHATSAPP.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WHATSAPP.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WHATSAPP.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>

        <div class="col-md-3" style="margin-top:-15px">
          <table class="table" style="border: 1px solid #0069a5; margin-bottom:0px">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">LIVECHAT</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.LIVECHAT.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9" style="margin-top:-15px">
          <table class="table table-bordered" style="border: 1px solid #0069a5; margin-bottom:0px">
            <thead>
              <tr>
                <th style="background-color:#0069a5; border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">QUEUED</center>
                </th>
                <th style="background-color:#0069a5; border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">ASSIGNED</center>
                </th>
                <th style="background-color:#0069a5; border-color: #0069a5; border-width: 1px;">
                  <center style="color:white; font-size: 14px;">COMPLETED</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                    {{data.LIVECHAT.QUEUED}}
                  </span>
                </td>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.LIVECHAT.INPROGRESS}}
                  </span>
                </td>
                <td align="center" style="border-color: #0069a5; border-width: 1px;padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.LIVECHAT.CLOSED}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
import { Hooper, Slide } from 'hooper';
import 'hooper/dist/hooper.css';
export default {
  components: {
    Hooper,
    Slide
  },
  props:["data"]
};
</script>
