<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["typedata"],
  
  data(){
      return{
          total: parseInt(this.typedata[0].total)+parseInt(this.typedata[1].total),
          inc: parseInt(this.typedata[0].total),
          wo: parseInt(this.typedata[1].total),
      };
  },
  computed: {
    chartdata: function() {
      return parseInt(this.typedata[0].total);
    }
  },
  created(){
  },
  methods: {
    renderChart() {
      var myChart = new Chart(this.$el, {
        type: "bar",
        data: {
          labels: ["TOTAL"],
          datasets: [
            {
              label: "INCIDENT",
              // borderColor: "blue",
              // borderWidth: 3,
              backgroundColor: "rgba(0, 140, 255, 1)",
              fill: false,
              data: [this.inc],
              // yAxisID: "y-axis-1"
            },
            {
              label: "SERVICE REQUEST",
              // borderColor: "red",
              // borderWidth: 3,
              backgroundColor: "rgba(255, 0, 115, 1)",
              fill: false,
              data: [this.wo],
              // yAxisID: "y-axis-1"
            },
            // {
            //   label: "TOTAL",
            //   // borderColor: "black",
            //   backgroundColor: "black",
            //   fill: false,
            //   data: this.total,
            //   yAxisID: "y-axis-3"
            // }
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          hoverMode: "index",
          stacked: false,
          title: {
            display: true,
            text: "Daily Total INCIDENT and SERVICE REQUEST"
          },
          scales: {
            yAxes: [
              {
                ticks:{
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
      myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
    this.renderChart();
  },
  watch:{
    typedata:function(){
      this.$destroy();
      this.renderChart();
    }
  }
};
</script>

