<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["categorydata"],
  
  data(){
      return{
          layanan_it: this.categorydata.LAYANAN_IT.TOTAL,
          layanan_cabang: this.categorydata.LAYANAN_CABANG.TOTAL,
          layanan_cc: this.categorydata.LAYANAN_CC.TOTAL,
      };
  },
  methods: {
    renderChart() {
      var myChart = new Chart(this.$el, {
        type: "bar",
        data: {
          labels: ['TOTAL'],
          datasets: [
            {
              label: "Layanan IT",
              // borderColor: "blue",
              // borderWidth: 3,
              backgroundColor: "blue",
              fill: false,
              data: [this.layanan_it]
            },
            {
              label: "Layanan Cabang",
              // borderColor: "red",
              // borderWidth: 3,
              backgroundColor: "red",
              fill: false,
              data: [this.layanan_cabang],
            },
            {
              label: "Layanan Kartu Kredit",
              // borderColor: "yellow",
              // borderWidth: 3,
              backgroundColor: "yellow",
              fill: false,
              data: [this.layanan_cc],
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          hoverMode: "index",
          stacked: false,
          title: {
            display: true,
            text: "Total Data per Layanan"
          },
          scales: {
            yAxes: [
              {
                ticks:{
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
      myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
    this.renderChart();
  },
  watch:{
    categorydata:function(){
      this.$destroy();
      this.renderChart();
    }
  }
};
</script>

