<template>
  <div>
    <h4 style="margin-bottom: 5px;">
      <b>{{title}}</b>
      <!-- <span class="label label-primary pull-right">
        <b>{{data.TOTAL}}</b>
      </span> -->
    </h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-3">
          <table class="table" style="border: 1px solid #0069a5;">
            <thead>
              <tr>
                <th style="background-color:#0069a5;">
                  <center style="color:white; font-size: 14px;">TOTAL</center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center" style="padding: 20px;">
                  <span class="label label-primary" style="font-size: 20px;font-weight: bolder;">
                    {{data.TOTAL}}
                  </span>
                </td>
              </tr>      
            </tbody>
          </table>
        </div>
        <div class="col-md-9">
          <hooper style="height: 115px" :autoPlay="true" :transition="500" :playSpeed="6000" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0" :infiniteScroll="true">
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">QUEUED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.QUEUED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">ASSIGNED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.INPROGRESS}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
             <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">CLOSED</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.CLOSED}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">WAITINGAPR</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.WAITINGAPR}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
            <slide>
              <table class="table" style="border: 1px solid #0069a5;">
                <thead>
                  <tr>
                    <th style="background-color:#0069a5;">
                      <center style="color:white; font-size: 14px;">PENDING</center>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="center" style="padding: 20px;">
                      <span class="label label-primary" style="font-size: 20px;font-weight: bolder; ">
                        {{data.PENDING}}
                      </span>
                    </td>
                  </tr>      
                </tbody>
              </table>
            </slide>
          </hooper>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Hooper, Slide } from 'hooper';
import 'hooper/dist/hooper.css';
export default {
  components: {
    Hooper,
    Slide
  },
  props: ["title", "data"],
  created(){
  }
};
</script>

