<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["channeldata"],
  data(){
      return{
          call: this.channeldata.CALL.TOTAL,
          email: this.channeldata.EMAIL.TOTAL,
          itsrm: this.channeldata.ITSRM.TOTAL,
          livechat: this.channeldata.LIVECHAT.TOTAL,
          sms: this.channeldata.SMS.TOTAL,
          telegram: this.channeldata.TELEGRAM.TOTAL,
          whatsapp: this.channeldata.WHATSAPP.TOTAL,
      };
  },
  computed: {
    chartdata: function() {
      return this.channeldata;
    },
    // totaldata: function() {
    //   for (var i = 0; i < 7; i++) {
    //        this.total[i] = this.channeldata.lay_it[i]+this.channeldata.lay_cabang[i]+this.channeldata.lay_cc[i]
    //   }
    //   return this.total   
    // }
  },
  methods: {
    renderChart() {
      var myChart = new Chart(this.$el, {
        type: "radar",
        data: {
          labels: ['EMAIL', 'CALL', 'ITSRM', 'LIVECHAT', 'SMS', 'TELEGRAM', 'WHATSAPP'],
          datasets: [
            // {
            //   // backgroundColor: "red",
            //   borderColor: "red",
            //   data: this.chartdata.accomplished,
            //   label: "Accomplished Task"
            // },
            {
              label: "Total",
              // backgroundColor: "blue",
              borderColor: "blue",
              data: [this.email, this.call, this.itsrm, this.livechat, this.sms, this.telegram, this.whatsapp],
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          spanGaps: false,
          elements: {
            line: {
              tension: 0.3
            }
          },
          plugins: {
            filler: {
              propagate: false
            },
            "samples-filler-analyser": {
              target: "chart-analyser"
            }
          },
          title: {
            display: true,
            text: "Comparison Between All Channel"
          },
        }
      });
      myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
    this.renderChart();
  },
  watch: {
    channeldata: function() {
      this.$destroy();
      this.renderChart();
    }
  }
};
</script>

