<template>
  <div>
    <div class="panel panel-default" style="padding-bottom:4px;">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-7">
            <table class="table" style="margin-bottom:0px">
              <tbody>
                <tr v-for="item in data" :key="item.catalog_type">
                  <td width="70%" style="background-color:#0069a5; border-color: white; border-width: 2px;padding:20px;" v-if="item.catalog_type == 'WO'"><span class="label label-primary" style="font-size: 20px;margin-top:10px;"><b>Service Request</b></span></td>
                  <td width="70%" style="background-color:#0069a5; border-color: white; border-width: 2px;padding:20px;" v-else><span class="label label-primary" style="font-size: 20px;"><b>Incident</b></span></td>
                  <td width="30%" class="text-right" align="center" style="padding: 20px;border-right: 1px solid #ddd;border-width: 1px;border-color:#e5e5e5;"><span class="label label-primary" style="font-size: 20px;"><b>{{item.total}}</b></span></td>
                </tr>
              </tbody>
            </table>
            <table class="table" style="margin-bottom:0px">
              <tbody>
                <tr>
                  <td width="70%" style="background-color:#0069a5; border-color: white; border-width: 2px;padding:20px;"><span class="label label-primary" style="font-size: 20px;"><b>Total</b></span></td>
                  <td width="30%" class="text-right" align="center" style="padding: 20px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;border-width: 1px;border-color:#e5e5e5;"><span class="label label-primary" style="font-size: 20px;"><b>{{total}}</b></span></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-lg-5">
          <h4>
            <center><b>Top 5 Channels</b></center>
          </h4>
          <!-- <table class="table table-striped" style="margin-bottom:0px; font-size:12px;">
              <tbody> -->
                <hooper :autoPlay="true" style="margin-top:10px;height:160px;font-size:15px;" :transition="500" :playSpeed="6000" :vertical="true" :itemsToShow="3" :itemsToSlide="1" :wheelControl="false" :initialSlide="0">
                  <!-- <tr v-for="(item, key, index) in channel" :key="index"> -->
                  
                  <slide v-for="(item, key, index) in channel" :key="index">
                    <div class="row" style="background-color:white;padding:10px;color:#0069a5;border-top: 1px solid #ddd;">
                      <div class="col-lg-9">
                        <b>{{key+1}})&nbsp;{{item.NAME}}</b>
                      </div>
                      <div class="col-lg-3" style="border-radius:5px;background-color:#0069a5;color:white;font-size:15px;">
                        <b>&nbsp;{{item.TOTAL}}</b>
                      </div>
                    </div>
                    
                  </slide>
                </hooper>
              <!-- </tbody>
            </table> -->
        </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Hooper, Slide } from 'hooper';
import 'hooper/dist/hooper.css';
export default {
  components: {
    Hooper,
    Slide
  },
  props: ["data","channel"],
  data() {
    return {
      total: parseInt(this.data[0].total)+parseInt(this.data[1].total)      
    };
  }
};
</script>