<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["chartreport"],
  data(){
      return{
          total: []
      };
  },
  computed: {
    chartdata: function() {
      return this.chartreport;
    },
    totaldata: function() {
       
      for (var i = 0; i < 24; i++) {
           this.total[i] = this.chartreport.layanan_it[i]+this.chartreport.layanan_cabang[i]+this.chartreport.layanan_cc[i]
      }
      return this.total    
    }
  },
  methods: {
    renderChart() {
      var myChart = new Chart(this.$el, {
        type: "line",
        data: {
          labels: this.chartdata.label,
          datasets: [
            {
              label: "Layanan IT",
              borderColor: "blue",
              // backgroundColor: "red",
              fill: false,
              data: this.chartdata.layanan_it,
              yAxisID: "y-axis-1"
            },
            {
              label: "Layanan Cabang",
              borderColor: "red",
              // backgroundColor: "blue",
              fill: false,
              data: this.chartdata.layanan_cabang,
              yAxisID: "y-axis-1"
            },
            {
              label: "Layanan Kartu Kredit",
              borderColor: "yellow",
              // backgroundColor: "blue",
              fill: false,
              data: this.chartdata.layanan_cc,
              yAxisID: "y-axis-1"
            },
            {
              label: "Total Tiket",
              borderColor: "black",
              // backgroundColor: "blue",
              fill: false,
              data: this.totaldata,
              yAxisID: "y-axis-1"
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          hoverMode: "index",
          stacked: false,
          title: {
            display: true,
            text: "Daily Task Chart LAYANAN"
          },
          scales: {
            yAxes: [
              {
                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                display: true,
                position: "left",
                id: "y-axis-1"
              }
            ]
          }
        }
      });
      myChart.canvas.parentNode.style.height = "300px";
    }
  },
  mounted() {
    this.renderChart();
  },
  watch:{
    chartreport:function(){
      this.$destroy();
      this.renderChart();
    }
  }
};
</script>

