<template>
<v-app justify="space-between">
<v-container fluid>
  <v-card tile>
    <v-row justify="space-between" style="padding-right:10px;padding-left:10px;">
      <alert-message transition="fade-transition"
        :info="values"
      ></alert-message>
    </v-row>
    <v-card-title>
      <v-text-field v-model="searchData" label="Cari..." single-line hide-details></v-text-field>
      <v-btn color="primary" dark @click="submitVerify" :disabled="this.selectedStatus">Verify</v-btn>
    </v-card-title>
    <v-container fluid>
      <v-data-table
        dense
        :headers="simpleHeader"
        :items="rqdatatmp"
        :search="searchData"
        :loading="loaded"
        loading-text="Loading... Please wait !"
        show-select
        item-key="sequence"
        v-model="checkedNames"
        disable-pagination
        hide-default-footer
      >
      <template v-slot:header.data-table-select>
        <v-checkbox :disabled="true"></v-checkbox>
      </template>
      <template v-slot:item.Verified="{ item }">
        <v-chip label :color="getColor(item.Verified)" dark>{{ item.Verified }}</v-chip>
      </template>
      </v-data-table>
    </v-container>
  </v-card>
</v-container>
</v-app>
</template>
<script>
import Vue from 'vue';
import Alert from "../../Alert";
Vue.component('alert-message',Alert);
export default {
  data: function() {
    return {
      searchData: "",
      simpleHeader: [
        { text: "TellerID", value: "TellerID"},
        { text: "TellerSeqNo", value: "TellerSeqNo"},
        { text: "VeriDigit", value: "VeriDigit"},
        { text: "TrialNo", value: "TrialNo"},
        { text: "Verified", value: "Verified"},
        { text: "Transcode", value: "Trancode"},
      ],
      rqdatatmp: [],
      loaded: true,
      checkedNames:[],
      data_ej2:[],
      selectedStatus: true,
      values:{},
    };
  },

  watch: {
    data_ej2:function(newvalue){
      this.rqdatatmp = newvalue;
      this.loaded = false;
    },
    checkedNames: function(newVal) {
      if (this.checkedNames.length == 0) {
        this.selectedStatus = true;
      } else {
        this.selectedStatus = false;
      }
    },
  },

  mounted() {
    this.getData();
  },

  methods: {
    async submitVerify() {
      this.dNow=new Date();
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      let response;
      this.loaded = true;
      try {
        response = await axios.post("/ej2/submit",
          { details: this.checkedNames }
        );
        this.loaded = false;
        if(response.data.status == true){
          this.data_ej2 = response.data.data;
          this.checkedNames=[];
            this.values = {
            content:"Data succesfully saved !",
            alertid:this.curdate,
            type:"success",
            typeId:4,
            isshow:true
          };
        }else{
          this.values = {
            content:response.data.data,
            alertid:this.curdate,
            type:"warning",
            typeId:6,
            isshow:true
          };
        }
      } catch (error) {
        this.loaded = false;
        this.values = {
          content:error,
          alertid:this.curdate,
          type:"error",
          typeId:3,
          isshow:true
        };
      }
    },
    async getData() {
    this.dNow=new Date();
    this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
    this.isloaded = true;
    let response;
    try {
        response = await axios.get("/ej2/list");
        this.data_ej2 = response.data;
        this.loaded = false;
        this.values = {
          content:"Data loaded succesfully !",
          alertid:this.curdate,
          type:"success",
          typeId:4,
          isshow:true
        };
      } catch (error) {
        if (error.response.status === 419 || error.response.status === 401) {
            window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
            location.reload(false);
        }else{
          this.loaded = false;
          this.values = {
            content:error,
            alertid:this.curdate,
            type:"error",
            typeId:3,
            isshow:true
          };
        }
      }
    },
    getColor(verified) {
        if (verified == 'N') return 'red'
        else return 'green'
    },
  }
};
</script>
