<template>
  <v-app id="inspire">
    <loading
      :active.sync="isLoading" 
      :is-full-page="true"
      loader='dots'
    ></loading>
    <v-container fluid>
      <p
        cols="12"
        md="12"
        sm="12"
        class="pl-5 text-left h4 font-weight-black"
        style="margin-bottom:0px"
      >SERVICEDESK SPECIALIST DASHBOARD</p>
      <p
        cols="12"
        md="12"
        sm="12"
        class="pr-5 text-right h6"
        style="margin-bottom:0px"
      >Date : {{currentTime}}</p>
      <!-- <v-card tile> -->
      <v-row class="mr-2 ml-2" style="margin-top:-10px">
        <v-col cols="12" md="3" sm="6">
          <v-card color="#001A55" style="color:white" @click="showForm('ticket')">
            <div class="font-weight-black text-right h2 pt-3 pr-3 pl-3 ticket-bar" v-text="`${ticket.length}`"></div>
            <v-card-actions>
              <v-spacer></v-spacer>#Ticket
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card color="#82B1FF" style="color:white" @click="showForm('ticketAssign')">
            <!-- <v-card color="#42A5F5" style="color:white"> -->
            <div class="font-weight-black text-right h2 pt-3 pr-3 pl-3 ticket-bar" v-text="`${ticketAssign.length}`"></div>
            <v-card-actions>
              <v-spacer></v-spacer>Assign
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card color="#448AFF" style="color:white" @click="showForm('ticketInprogress')">
            <!-- <v-card color="#1E88E5" style="color:white"> -->
            <div class="font-weight-black text-right h2 pt-3 pr-3 pl-3 ticket-bar" v-text="`${ticketInprogress.length}`"></div>
            <v-card-actions>
              <v-spacer></v-spacer>In Progress
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card color="#1565C0" style="color:white" @click="showForm('ticketClosed')">
            <!-- <v-card color="#1565C0" style="color:white"> -->
            <div class="font-weight-black text-right h2 pt-3 pr-3 pl-3 ticket-bar" v-text="`${ticketClosed.length}`"></div>
            <v-card-actions>
              <v-spacer></v-spacer>Closed
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mr-2 ml-2" style="margin-top:-10px">
        <v-col cols="12" md="4" sm="4">
          <v-card color="#E8EAF6" style="border-top: 5px solid #FF5722;">
            <v-row>
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-35px; margin-top:-10px">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:1.1rem"
                >2ND SECOND LAYER</p>
              </v-col>
              <v-col @click="showForm('ticketSecondLayer')" cols="12" md="3" sm="3" style="color:#001A55; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketSecondLayer.length}`"></div>
                <p class="text-center">#Ticket</p>
              </v-col>
              <v-col @click="showForm('ticketSecondLayerAssign')" cols="12" md="3" sm="3" style="color:#82B1FF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketSecondLayerAssign.length}`"></div>
                <p class="text-center">Assign</p>
              </v-col>
              <v-col @click="showForm('ticketSecondLayerInprogress')" cols="12" md="3" sm="3" style="color:#448AFF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketSecondLayerInprogress.length}`"></div>
                <p class="text-center">In Progress</p>
              </v-col>
              <v-col @click="showForm('ticketSecondLayerClosed')" cols="12" md="3" sm="3" style="color:#1565C0; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketSecondLayerClosed.length}`"></div>
                <p class="text-center">Closed</p>
              </v-col>
            </v-row>
            <v-row style="margin-top:-30px">
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-30px;">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:0.85rem"
                >SLA Response Indicator for OPEN Ticket</p>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaGreenSecondLayer')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#00C853; color:white; font-size:1.75rem;"
                      v-text="`${slaGreenSecondLayer.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &lt; 20 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaYellowSecondLayer')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#FFC400; color:white; font-size:1.75rem;"
                      v-text="`${slaYellowSecondLayer.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response 21 - 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaRedSecondLayer')" style="background-color:white; border-radius: 10px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#D50000; color:white; font-size:1.75rem;"
                      v-text="`${slaRedSecondLayer.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &gt; 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4" sm="4">
          <v-card color="#E8EAF6" style="border-top: 5px solid #FFC400;">
            <v-row>
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-35px; margin-top:-10px">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:1.1rem"
                >MCM/MIB</p>
              </v-col>
              <v-col @click="showForm('ticketMcm')" cols="12" md="3" sm="3" style="color:#001A55; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketMcm.length}`"></div>
                <p class="text-center">#Ticket</p>
              </v-col>
              <v-col @click="showForm('ticketMcmAssign')" cols="12" md="3" sm="3" style="color:#82B1FF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketMcmAssign.length}`"></div>
                <p class="text-center">Assign</p>
              </v-col>
              <v-col @click="showForm('ticketMcmInprogress')" cols="12" md="3" sm="3" style="color:#448AFF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketMcmInprogress.length}`"></div>
                <p class="text-center">In Progress</p>
              </v-col>
              <v-col @click="showForm('ticketMcmClosed')" cols="12" md="3" sm="3" style="color:#1565C0; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketMcmClosed.length}`"></div>
                <p class="text-center">Closed</p>
              </v-col>
            </v-row>
            <v-row style="margin-top:-30px">
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-30px;">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:0.85rem"
                >SLA Response Indicator for OPEN Ticket</p>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row  @click="showForm('slaGreenMcm')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#00C853; color:white; font-size:1.75rem"
                      v-text="`${slaGreenMcm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &lt; 20 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaYellowMcm')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#FFC400; color:white; font-size:1.75rem"
                      v-text="`${slaYellowMcm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response 21 - 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaRedMcm')" style="background-color:white; border-radius: 10px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#D50000; color:white; font-size:1.75rem"
                      v-text="`${slaRedMcm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &gt; 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4" sm="4">
          <v-card color="#E8EAF6" style="border-top: 5px solid #001A55;">
            <v-row>
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-35px; margin-top:-10px">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:1.1rem"
                >SCM</p>
              </v-col>
              <v-col @click="showForm('ticketScm')" cols="12" md="3" sm="3" style="color:#001A55; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketScm.length}`"></div>
                <p class="text-center">#Ticket</p>
              </v-col>
              <v-col @click="showForm('ticketScmAssign')" cols="12" md="3" sm="3" style="color:#82B1FF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketScmAssign.length}`"></div>
                <p class="text-center">Assign</p>
              </v-col>
              <v-col @click="showForm('ticketScmInprogress')" cols="12" md="3" sm="3" style="color:#448AFF; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketScmInprogress.length}`"></div>
                <p class="text-center">In Progress</p>
              </v-col>
              <v-col @click="showForm('ticketScmClosed')" cols="12" md="3" sm="3" style="color:#1565C0; cursor:pointer">
                <div class="font-weight-black text-center h3 pt-3 pr-3 pl-3" v-text="`${ticketScmClosed.length}`"></div>
                <p class="text-center">Closed</p>
              </v-col>
            </v-row>
            <v-row style="margin-top:-30px">
              <v-col cols="12" md="12" sm="12" style="margin-bottom:-30px;">
                <p
                  class="font-weight-black text-center pt-2"
                  style="color:#001A55; font-size:0.85rem"
                >SLA Response Indicator for OPEN Ticket</p>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaGreenScm')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#00C853; color:white; font-size:1.75rem"
                      v-text="`${slaGreenScm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &lt; 20 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaYellowScm')" style="background-color:white; border-radius: 10px; margin-bottom:-15px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#FFC400; color:white; font-size:1.75rem"
                      v-text="`${slaYellowScm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response 21 - 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-left:30px; padding-right:30px;">
                <v-row @click="showForm('slaRedScm')" style="background-color:white; border-radius: 10px; cursor:pointer">
                  <v-col cols="12" md="4" sm="4">
                    <div
                      class="font-weight-black text-center py-4"
                      style="background-color:#D50000; color:white; font-size:1.75rem"
                      v-text="`${slaRedScm.length}`"
                    ></div>
                  </v-col>
                  <v-col cols="12" md="8" sm="8">
                    <div class="text-center py-6" v-text="'SLA Response &gt; 30 Min'"></div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <!-- </v-card> -->
      <list-incident-form
        :called="called"
        :title="title"
        :itemsData="itemsData"
        v-on:cancel="dialogClosed"
      ></list-incident-form>
    </v-container>
  </v-app>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from 'vue';
import ListIncidentForm from "../components/form/ListIncidentForm"
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components:{
    ListIncidentForm,
    Loading
  },
  data() {
    return {
      currentTime: new Date().toLocaleString(),
      timer: '',
      ticket:[],
      ticketAssign:[],
      ticketInprogress:[],
      ticketClosed:[],
      ticketSecondLayer:[],
      ticketSecondLayerAssign:[],
      ticketSecondLayerInprogress:[],
      ticketSecondLayerClosed:[],
      ticketMcm:[],
      ticketMcmAssign:[],
      ticketMcmInprogress:[],
      ticketMcmClosed:[],
      ticketScm:[],
      ticketScmAssign:[],
      ticketScmInprogress:[],
      ticketScmClosed:[],
      slaGreenSecondLayer:[],
      slaYellowSecondLayer:[],
      slaRedSecondLayer:[],
      slaGreenMcm:[],
      slaYellowMcm:[],
      slaRedMcm:[],
      slaGreenScm:[],
      slaYellowScm:[],
      slaRedScm:[],
      called: false,
      itemsData:[],
      title:"",
      isLoading: false
    };
  },
  created() {
    this.doFetch();
    this.timer = setInterval(this.doFetch, 15000);
  },
  watch:{
    apiState: function(newVal){
      if(newVal==2){
        console.log({items:this.items});
        this.isLoading=false;
      }
    },
    items: function(newVal){
      this.ticket = newVal
      this.ticketAssign = newVal.filter(item => item.ProcessStatus == "QUEUED");
      this.ticketInprogress = newVal.filter(item => item.ProcessStatus == "INPROGRESS");
      this.ticketClosed = newVal.filter(item => item.ProcessStatus == "RESOLVED" || item.ProcessStatus == "SYSTEM_CLOSED" || item.ProcessStatus == "CANCELLED");
      this.ticketSecondLayer = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414");
      this.ticketSecondLayerAssign = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && item.ProcessStatus == "QUEUED");
      this.ticketSecondLayerInprogress = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && item.ProcessStatus == "INPROGRESS");
      this.ticketSecondLayerClosed = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && (item.ProcessStatus == "RESOLVED" || item.ProcessStatus == "SYSTEM_CLOSED" || item.ProcessStatus == "CANCELLED"));
      this.ticketMcm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196");
      this.ticketMcmAssign = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && item.ProcessStatus == "QUEUED");
      this.ticketMcmInprogress = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && item.ProcessStatus == "INPROGRESS");
      this.ticketMcmClosed = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && (item.ProcessStatus == "RESOLVED" || item.ProcessStatus == "SYSTEM_CLOSED" || item.ProcessStatus == "CANCELLED"));
      this.ticketScm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213");
      this.ticketScmAssign = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && item.ProcessStatus == "QUEUED");
      this.ticketScmInprogress = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && item.ProcessStatus == "INPROGRESS");
      this.ticketScmClosed = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && (item.ProcessStatus == "RESOLVED" || item.ProcessStatus == "SYSTEM_CLOSED" || item.ProcessStatus == "CANCELLED"));
      this.slaGreenSecondLayer = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && item.Sla < 20);
      this.slaYellowSecondLayer = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && (item.Sla > 20 && item.Sla < 30));
      this.slaRedSecondLayer = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000414" && item.Sla > 30);
      this.slaGreenMcm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && item.Sla < 20);
      this.slaYellowMcm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && (item.Sla > 20 && item.Sla < 30));
      this.slaRedMcm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000000196" && item.Sla > 30);
      this.slaGreenScm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && item.Sla < 20);
      this.slaYellowScm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && (item.Sla > 20 && item.Sla < 30));
      this.slaRedScm = newVal.filter(item => item.EmployeeAssigneeGroupId == "SGP000000009213" && item.Sla > 30);

      // console.log({watchItems:newVal, ticketAssign:ticketAssign, totalTicketAssign:ticketAssign.length});
    }
  },
  computed:{
    ...mapGetters("dashboard", ["apiState","message","items"])
  },
  methods: {
    showForm(param){
      console.log(param)
      switch(param) {
        case 'ticket':
          this.title = 'All Ticket'
          this.itemsData = this.ticket
          break;
        case 'ticketAssign':
          this.title = 'Ticket Assign'
          this.itemsData = this.ticketAssign
          break;
        case 'ticketInprogress':
          this.title = 'Ticket Inprogress'
          this.itemsData = this.ticketInprogress
          break;
        case 'ticketClosed':
          this.title = 'Ticket Closed'
          this.itemsData = this.ticketClosed
          break;
        case 'ticketSecondLayer':
          this.title = 'All Ticket 2nd Layer'
          this.itemsData = this.ticketSecondLayer
          break;
        case 'ticketSecondLayerAssign':
          this.title = 'Ticket Assign 2nd Layer'
          this.itemsData = this.ticketSecondLayerAssign
          break;
        case 'ticketSecondLayerInprogress':
          this.title = 'Ticket Inprogress 2nd Layer'
          this.itemsData = this.ticketSecondLayerInprogress
          break;
        case 'ticketSecondLayerClosed':
          this.title = 'Ticket Closed 2nd Layer'
          this.itemsData = this.ticketSecondLayerClosed
          break;
        case 'ticketMcm':
          this.title = 'All Ticket MCM'
          this.itemsData = this.ticketMcm
          break;
        case 'ticketMcmAssign':
          this.title = 'Ticket Assign MCM'
          this.itemsData = this.ticketMcmAssign
          break;
        case 'ticketMcmInprogress':
          this.title = 'Ticket Inprogress MCM'
          this.itemsData = this.ticketMcmInprogress
          break;
        case 'ticketMcmClosed':
          this.title = 'Ticket Closed MCM'
          this.itemsData = this.ticketMcmClosed
          break;
        case 'ticketScm':
          this.title = 'All Ticket SCM'
          this.itemsData = this.ticketScm
          break;
        case 'ticketScmAssign':
          this.title = 'Ticket Assign SCM'
          this.itemsData = this.ticketScmAssign
          break;
        case 'ticketScminprogress':
          this.title = 'Ticket inprogress SCM'
          this.itemsData = this.ticketScminprogress
          break;
        case 'ticketScmClosed':
          this.title = 'Ticket Closed SCM'
          this.itemsData = this.ticketScmClosed
          break;
        case 'slaGreenSecondLayer':
          this.title = 'Ticket 2nd Layer (SLA < 20 Minutes)'
          this.itemsData = this.slaGreenSecondLayer
          break;
        case 'slaYellowSecondLayer':
          this.title = 'Ticket 2nd Layer (SLA 20 - 30 Minutes)'
          this.itemsData = this.slaYellowSecondLayer
          break;
        case 'slaRedSecondLayer':
          this.title = 'Ticket 2nd Layer (SLA > 30 Minutes)'
          this.itemsData = this.slaRedSecondLayer
          break;
        case 'slaGreenMcm':
          this.title = 'Ticket MCM (SLA < 20 Minutes)'
          this.itemsData = this.slaGreenMcm
          break;
        case 'slaYellowMcm':
          this.title = 'Ticket MCM (SLA 20 - 30 Minutes)'
          this.itemsData = this.slaYellowMcm
          break;
        case 'slaRedMcm':
          this.title = 'Ticket MCM (SLA > 30 Minutes)'
          this.itemsData = this.slaRedMcm
          break;
        case 'slaGreenScm':
          this.title = 'Ticket SCM (SLA < 20 Minutes)'
          this.itemsData = this.slaGreenScm
          break;
        case 'slaYellowScm':
          this.title = 'Ticket SCM (SLA 20 - 30 Minutes)'
          this.itemsData = this.slaYellowScm
          break;
        case 'slaRedScm':
          this.title = 'Ticket SCM (SLA > 30 Minutes)'
          this.itemsData = this.slaRedScm
          break;
        default:
          // code block
      }
      this.called=true;
    },
    ...mapActions("dashboard",[
      "fetch",
    ]),
    doFetch() {
      this.isLoading = true;
      this.currentTime = new Date().toLocaleString()
      this.fetch();
    },
    dialogClosed(){
      this.called=false
    },
  },
  beforeDestroy() {
    clearInterval(this.timer);
  }
};
</script>
<style>
.ticket-bar {
  min-height: 25px;
  margin-bottom: -10px;
}
</style>