<template>
  <div v-if="pendingdata == null || pendingdata ==''">
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Currently, You don't have pending ticket !
    </div>
  </div>
  <div v-else>
    <table
      id="live-request-table"
      ref="liverequest"
      class="table table-bordered"
      style="cursor: pointer;"
    >
      <thead>
        <tr>
          <th class="text-center">Req. Id</th>
          <th class="text-center">Requester Name</th>
          <th class="text-center">Service</th>
          <th class="text-center">Channel</th>
          <th class="text-center">Request Name</th>
          <th class="text-center">WO/INC Id</th>
          <th class="text-center">SR Id</th>
          <th class="text-center">ActionTicketCreation</th>
          <th class="text-center">Received On</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="request in pendingdata" :key="request.id">
          <td align="center" style="width:5%">{{request.id}}</td>
          <td style="width:18%">{{request.senderNumber}}</td>
          <td
            align="center"
            style="width:8%"
          >{{ request.serviceTypeName }}</td>
          <td align="center" style="width:7%">{{ request.serviceChannelName }}</td>
          <td
            style="width:17%"
            v-if="request.serviceCatalogType == 'WO'"
          >{{ request.serviceCatalogName }}</td>
          <td style="width:17%" v-else>{{ request.text }}</td>
          <td align="center" style="width:10%" v-if="request.remedyTicketId==null">N/A</td>
          <td align="center" style="width:10%" v-else>{{ request.remedyTicketId }}</td>
          <td align="center" style="width:10%" v-if="request.srid==null">N/A</td>
          <td align="center" style="width:10%" v-else>{{ request.srid }}</td>
          <td align="center" style="width:10%">{{ request.actionTicketCreation }}</td>
          <td align="center" style="width:10%">{{ request.receivingDateTime | mydateformat }}</td>
          <td align="center">
            <button
              type="button"
              v-if="request.serviceCatalogType == 'IN'"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-view-incident"
              style="width:60px;"
              v-on:click="viewTask(request.id, 'modal-view-incident')"
            >View</button>
            <button
              type="button"
              v-if="request.serviceCatalogType == 'WO'"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-view-workorder"
              style="width:60px;"
              v-on:click="viewTask(request.id, 'modal-view-workorder')"
            >View</button>
          </td>
          <!-- <td align="center">
            <div
              v-if="(request.ActionTicketCreation=='WO_PENDING_PRS'|| (request.ActionTicketCreation=='IN_PENDING_PRS' && request.RemedyTicketId != 'N/A'))"
            >
              <button
                type="button"
                class="btn btn-info"
                style="width:60px;"
                :disabled="submitted?true:false"
                v-on:click="retrypending(request.id,request.AssigneeId,request.ServiceCatalogId,request.ActionTicketCreation)"
              >Retry</button>
            </div>
            <div v-if="request.ActionTicketCreation=='WO_PENDING_CLS' ">
              <button
                type="button"
                v-if="request.processstatus!='CLOSED'"
                class="btn btn-info"
                data-dismiss="modal"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-pending-workorder-closure"
                style="width:60px;"
                v-on:click="actionTask(request.id, request.ActionTicketCreation)"
              >Retry</button>
            </div>
            <div v-if="request.ActionTicketCreation=='IN_PENDING_CLS' ">
              <button
                type="button"
                v-if="request.processstatus!='CLOSED'"
                class="btn btn-info"
                data-dismiss="modal"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-pending-incident-closure"
                style="width:60px;"
                v-on:click="actionTask(request.id, request.ActionTicketCreation)"
              >Retry</button>
            </div>
            <div v-if="request.ActionTicketCreation=='WO_PENDING_DLG' ">
              <button
                type="button"
                v-if="request.processstatus!='CLOSED'"
                class="btn btn-info"
                data-dismiss="modal"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-pending-workorder-delegate"
                style="width:60px;"
                v-on:click="actionTask(request.id, request.ActionTicketCreation)"
              >Retry</button>
            </div>
            <div v-if="request.ActionTicketCreation=='IN_PENDING_DLG' ">
              <button
                type="button"
                v-if="request.processstatus!='CLOSED'"
                class="btn btn-info"
                data-dismiss="modal"
                data-backdrop
                data-toggle="modal"
                data-target="#modal-pending-incident-delegate"
                style="width:60px;"
                v-on:click="actionTask(request.id, request.ActionTicketCreation)"
              >Retry</button>
            </div>
          </td>-->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ["pendingdata", "isclosuring", "isdelegating"],
  data: function() {
    return {
      submitted: false
    };
  },

  methods: {
    actionTask(id, action) {
      for (var i = 0; i < this.pendingdata.length; i++) {
        if (
          this.pendingdata[i].id == id &&
          (this.pendingdata[i].ActionTicketCreation == "WO_PENDING_CLS" ||
            this.pendingdata[i].ActionTicketCreation == "IN_PENDING_CLS")
        ) {
          this.$emit("retryclose", {
            request: this.pendingdata[i],
            isclosuring: true
          });
        } else if (
          this.pendingdata[i].id == id &&
          (this.pendingdata[i].ActionTicketCreation == "WO_PENDING_DLG" ||
            this.pendingdata[i].ActionTicketCreation == "IN_PENDING_DLG")
        ) {
          this.$emit("retrydelegate", {
            request: this.pendingdata[i],
            isdelegating: true
          });
        }
      }
    },

    viewTask(id, modalname) {
      this.$emit("view-task", {
        id: id,
        modalname: modalname
      });
    }
  }
};
</script>