<template>
    <div
        class="modal"
        id="modal-view-workorder"
        role="dialog"
        aria-labelledby="smallModalHead"
        aria-hidden="true"
        v-if="ismodal"
    >
        <div class="modal-dialog modal-lg" style="width: 90%">
            <div class="modal-content">
                <loading
                    :active.sync="isLoading"
                    :is-full-page="true"
                ></loading>
                <div class="modal-header">
                    <div v-if="isdataloaded">
                        <h4 class="modal-title text-danger" id="smallModalHead">
                            Kindly to review your form and re-submit
                        </h4>
                    </div>
                    <div v-else>
                        <spinner-data-loading
                            :isdataloaded="isdataloaded"
                        ></spinner-data-loading>
                    </div>
                </div>
                <div class="row">
                    <div class="modal-body">
                        <flash info v-if="ismodal"></flash>
                        <div v-if="isdataloaded">
                            <div class="col-md-12">
                                <div class="col-md-4" style="border-left: 12px">
                                    <div
                                        class="panel panel-default"
                                        style="height: 570px"
                                    >
                                        <div class="panel-heading">
                                            Request Summary
                                        </div>
                                        <div
                                            class="panel-body form-horizontal"
                                            style="border-radius: 10px;height 90%"
                                        >
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Request ID</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.itools_request_id
                                                        "
                                                        v-validate="{
                                                            required: true,
                                                            max: 100,
                                                        }"
                                                        name="ItoolsRequestID"
                                                        readonly
                                                        key="itools-request-id"
                                                    />
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'ItoolsRequestID'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "ItoolsRequestID"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label
                                                        >Work Order
                                                        Number</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.workorder_number
                                                        "
                                                        v-validate="{
                                                            required: true,
                                                            max: 100,
                                                        }"
                                                        name="TicketNumber"
                                                        readonly
                                                        key="ticket-number"
                                                    />
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'TicketNumber'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "TicketNumber"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Company</label>
                                                    <!-- <input type="text" class="form-control" v-model="company"> -->
                                                    <v-select
                                                        :options="
                                                            option_company
                                                        "
                                                        :selectOnTab="true"
                                                        label="name"
                                                        v-model="
                                                            ticket.requester_company
                                                        "
                                                        v-validate="'required'"
                                                        name="Company"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="company-name"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Company'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Company"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Customer</label>
                                                    <v-select
                                                        :options="options"
                                                        @search="
                                                            onSearchCustomer
                                                        "
                                                        :selectOnTab="true"
                                                        label="full_name"
                                                        v-model="customer"
                                                        v-validate="'required'"
                                                        name="Customer"
                                                    >
                                                        <span
                                                            v-show="
                                                                errors.has(
                                                                    'Customer'
                                                                )
                                                            "
                                                            class="valid-feedback text-danger"
                                                            >{{
                                                                errors.first(
                                                                    "Customer"
                                                                )
                                                            }}</span
                                                        >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.full_name
                                                                "
                                                                key="customer-name"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.full_name +
                                                                    " ( " +
                                                                    option.department_name +
                                                                    " ) "
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Customer'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Customer"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Notes</label>
                                                    <textarea
                                                        class="form-control"
                                                        rows="3"
                                                        name="Notes"
                                                        style="
                                                            resize: none;
                                                            height: 50%;
                                                        "
                                                        v-model="
                                                            ticket.notes_description
                                                        "
                                                        key="notes-desc"
                                                    ></textarea>
                                                    <span
                                                        v-show="
                                                            errors.has('Notes')
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Notes"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Summary</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.summary_description
                                                        "
                                                        v-validate="{
                                                            required: true,
                                                            max: 100,
                                                        }"
                                                        name="Summary"
                                                        key="summary-desc"
                                                    />
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Summary'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Summary"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Priority</label>
                                                    <v-select
                                                        :options="
                                                            optionsUrgency
                                                        "
                                                        label="name"
                                                        v-model="
                                                            ticket.priority
                                                        "
                                                        name="Urgency"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="incident-urgency"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Urgency'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Urgency"
                                                            )
                                                        }}</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div
                                        class="panel panel-default"
                                        style="height: 570px"
                                    >
                                        <div class="panel-heading">
                                            Assigne
                                            <div class="pull-right">
                                                <a
                                                    href="#"
                                                    v-if="
                                                        !assignedtome &&
                                                        !isassigntomeload
                                                    "
                                                    @click="assignToMe"
                                                    >Assigne To Me</a
                                                >
                                                <a
                                                    href="#"
                                                    v-else-if="
                                                        !assignedtome &&
                                                        isassigntomeload
                                                    "
                                                >
                                                    <div
                                                        class="spinner-loader2"
                                                        style="
                                                            float: left;
                                                            padding: 3px;
                                                            width: 5px;
                                                        "
                                                    ></div>
                                                </a>
                                                <a
                                                    href="#"
                                                    v-else
                                                    @click="assignToOther"
                                                    >Assign To Other</a
                                                >
                                            </div>
                                        </div>
                                        <div class="panel-body form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Status</label>
                                                    <v-select
                                                        :options="optionsStatus"
                                                        label="name"
                                                        v-model="ticket.status"
                                                        v-validate="'required'"
                                                        name="Status"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="incident-status"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has('Status')
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Status"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label
                                                        >Assigned Support
                                                        Company</label
                                                    >
                                                    <v-select
                                                        :options="
                                                            assigned_support_company
                                                        "
                                                        :selectOnTab="true"
                                                        label="name"
                                                        v-model="
                                                            ticket.assignee_support_company
                                                        "
                                                        @change="
                                                            onChangeAssignedSupportCompany(
                                                                $event
                                                            )
                                                        "
                                                        v-validate="'required'"
                                                        name="Assigned Support Company"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="assignee-company"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Assigned Support Company'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Assigned Support Company"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label
                                                        >Assigned Support
                                                        Organization</label
                                                    >
                                                    <v-select
                                                        :options="
                                                            assigned_support_organization
                                                        "
                                                        :selectOnTab="true"
                                                        label="name"
                                                        v-model="
                                                            ticket.assignee_support_organization
                                                        "
                                                        @change="
                                                            onChangeAssignedSupportOrganization(
                                                                $event
                                                            )
                                                        "
                                                        v-validate="'required'"
                                                        name="Assigned Support Organization"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="assignee-organization"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Assigned Support Organization'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Assigned Support Organization"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label
                                                        >Assigned Support
                                                        Group</label
                                                    >
                                                    <v-select
                                                        :options="
                                                            assigned_support_group
                                                        "
                                                        :selectOnTab="true"
                                                        label="name"
                                                        v-model="
                                                            ticket.assignee_support_group_name
                                                        "
                                                        @change="
                                                            onChangeAssignedSupportGroup(
                                                                $event
                                                            )
                                                        "
                                                        v-validate="'required'"
                                                        name="Assigned Group"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="assignee-group"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Assigned Group'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Assigned Group"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Assignee</label>
                                                    <div
                                                        class="pull-right text-danger"
                                                        style="
                                                            font-size: 9px;
                                                            margin-top: 3px;
                                                        "
                                                    >
                                                        * optional, left blank
                                                        will be assign to
                                                        support group.
                                                    </div>
                                                    <v-select
                                                        :options="assigned_name"
                                                        :selectOnTab="true"
                                                        label="name"
                                                        v-model="
                                                            ticket.assignee_name
                                                        "
                                                        v-validate="'required'"
                                                        name="Assigned"
                                                    >
                                                        <template
                                                            slot="option"
                                                            slot-scope="option"
                                                        >
                                                            <input
                                                                type="hidden"
                                                                :value="
                                                                    option.id
                                                                "
                                                                key="assignee-name"
                                                            />
                                                            <div
                                                                class="d-center"
                                                            >
                                                                {{
                                                                    option.name
                                                                }}
                                                            </div>
                                                        </template>
                                                    </v-select>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Assigned'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Assigned"
                                                            )
                                                        }}</span
                                                    >
                                                </div>

                                                <div class="col-md-12">
                                                    <label>Add Notes</label>
                                                    <textarea
                                                        class="form-control"
                                                        rows="8"
                                                        name="Add Notes"
                                                        style="
                                                            resize: none;
                                                            height: 50%;
                                                        "
                                                        v-model="resolution"
                                                        :disabled="
                                                            ticket.status ===
                                                                'Completed' ||
                                                            ticket.status ===
                                                                'Cancelled' ||
                                                            ticket.status ===
                                                                'Rejected'
                                                                ? false
                                                                : true
                                                        "
                                                        key="incident-resolution"
                                                        v-validate="'required'"
                                                    ></textarea>
                                                    <span
                                                        v-show="
                                                            errors.has(
                                                                'Add Notes'
                                                            )
                                                        "
                                                        class="valid-feedback text-danger"
                                                        >{{
                                                            errors.first(
                                                                "Add Notes"
                                                            )
                                                        }}</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div
                                        class="panel panel-default"
                                        style="height: 570px"
                                    >
                                        <div class="panel-heading">
                                            {{ inbox.servicecatalog.name }}
                                        </div>
                                        <div class="panel-body form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>mapper 1</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_1
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 2</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_2
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 3</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_3
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 4</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_4
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 5</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_5
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 10</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_10
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 11</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_11
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 12</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_12
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 13</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_13
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>mapper 14</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        v-model="
                                                            ticket.resrv_field_14
                                                        "
                                                        name="Summary"
                                                        readonly="true"
                                                        style="height: 20px"
                                                    />
                                                </div>
                                                <!-- <div class="col-md-12">
                          <label>mapper 15</label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="ticket.resrv_field_15"
                            name="Summary"
                            readonly="true"
                            style="height: 20px"
                          />
                        </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        v-if="isdataloaded && Resubmit"
                        type="submit"
                        class="btn btn-info"
                        @click="executeResubmit"
                    >
                        Re-Submit
                    </button>
                    <button
                        type="button"
                        class="btn btn-info"
                        data-dismiss="modal"
                        @click="closeWindow"
                        style="width: 90px"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
Vue.component("loading-vue", () => import("../../components/LoadingVue.vue"));
export default {
    props: ["requestdata", "isdataloaded", "ismodal", "modalname", "auth"],
    components: {
        Loading,
    },
    computed: {
        ticket: {
            get: function () {
                return this.tickettmp;
            },
            set: function (newvalue) {
                this.tickettmp = newvalue;
            },
        },
        inbox: {
            get: function () {
                return this.inboxtmp;
            },
            set: function (newvalue) {
                this.inboxtmp = newvalue;
            },
        },
    },

    watch: {
        requestdata: function () {
            this.loadData();
        },
        customer: function () {
            this.customerChanged();
        },
    },

    data: function () {
        return {
            Resubmit: true,
            isLoading: false,
            fullPage: true,
            inboxtmp: {},
            tickettmp: {},
            selectedcatalog: null,
            submitted: false,
            issearchfromctlg: false,
            optionsCatalog: [],

            optionsStatus: [
                "Assigned",
                "In Progress",
                "Pending",
                "Completed",
                "Cancelled",
                "Rejected",
                "Waiting Approval",
                "Planning",
            ],

            optionsImpact: [
                "1-Extensive/Widespread",
                "2-Significant/Large",
                "3-Moderate/Limited",
                "4-Minor/Localized",
            ],

            optionsUrgency: ["Very High", "High", "Medium", "Low"],

            option_company: [
                "PT. BANK MANDIRI, TBK",
                "MANDIRI CASH MANAGEMENT",
            ],
            options: [],
            assignedtome: false,
            isassigntomeload: false,
            customer: null,
            assigned_support_company: [
                "PT. BANK MANDIRI, TBK",
                "MANDIRI CASH MANAGEMENT",
            ],
            assigned_support_organization: [],
            assigned_support_group: [],
            assigned_name: [],
            resolution: null,
            product_category_tier_1: [
                "APPLICATION",
                "CREDIT CARD",
                "ELECTRONIC CHANNEL",
                "Hardware",
                "HC4U",
                "INFRASTRUCTURE",
                "IT SECURITY",
                "KARTU KREDIT",
                "LAYANAN CABANG",
                "MFSCM WHOLESALE",
                "MYIT",
                "SECURITY SYSTEM",
                "Service",
                "TBR",
                "TRANSACTION BANKING PRODUCT",
                "WHOLESALE",
            ],
            product_category_tier_2: [],
            product_category_tier_3: [],
            operational_category_tier_1: [],
            operational_category_tier_2: [],
            operational_category_tier_3: [],
        };
    },

    methods: {
        searchFromCatalog() {
            this.issearchfromctlg = true;
        },

        customerChanged() {
            if (this.customer !== null) {
                this.ticket.requester_company = this.customer.company;
                this.ticket.requester_dept_name = this.customer.department_name;
                this.ticket.requester_email = this.customer.email;
                this.ticket.requester_first_name = this.customer.first_name;
                this.ticket.requester_full_name = this.customer.full_name;
                this.ticket.requester_group_name = this.customer.group_name;
                this.ticket.requester_person_id = this.customer.id;
                this.ticket.requester_last_name = this.customer.last_name;
                this.ticket.requester_region_name = this.customer.region_name;
            }
        },

        clearFromCatalog() {
            this.issearchfromctlg = false;
            this.selectedcatalog = null;
            this.productCategoryTier1Selected = null;
            this.productCategoryTier2Selected = null;
            this.productCategoryTier3Selected = null;
            this.operationalCategoryTier1Selected = null;
            this.operationalCategoryTier2Selected = null;
            this.operationalCategoryTier3Selected = null;
        },

        searchCatalog: _.debounce(
            (loading, search, servicetype, enc_source, vm) => {
                axios
                    .post("/dashboard/request/search/servicecatalog", {
                        name: search,
                        serviceType: servicetype,
                        nameOfService: enc_source,
                    })
                    .then((res) => {
                        vm.optionsCatalog = res.data;
                    })
                    .catch((error) => {
                        if (
                            error.response.status === 419 ||
                            error.response.status === 401
                        ) {
                            window.alert(
                                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                            );
                            location.reload(false);
                        } else {
                            flash({
                                id: "error code status",
                                message: error.response.data.message,
                                flashtype: "danger",
                            });
                        }
                    });
            },
            1500
        ),

        onSearchCatalog(search) {
            var enc_source = this.inbox.RecipientID;
            if (search.length >= 3) {
                this.searchCatalog(
                    false,
                    search,
                    this.servicetype,
                    enc_source,
                    this
                );
            }
        },

        onCatalogChanged() {
            if (this.selectedcatalog !== null) {
                this.ticket.prod_cat_tier1 =
                    this.selectedcatalog.prod_cat_tier1;
                this.ticket.prod_cat_tier2 =
                    this.selectedcatalog.prod_cat_tier2;
                this.ticket.prod_cat_tier3 =
                    this.selectedcatalog.prod_cat_tier3;
                this.ticket.opr_cat_tier1 = this.selectedcatalog.opr_cat_tier1;
                this.ticket.opr_cat_tier2 = this.selectedcatalog.opr_cat_tier2;
                this.ticket.opr_cat_tier3 = this.selectedcatalog.opr_cat_tier3;
            } else {
                this.ticket.prod_cat_tier1 = null;
                this.ticket.prod_cat_tier2 = null;
                this.ticket.prod_cat_tier3 = null;
                this.ticket.opr_cat_tier1 = null;
                this.ticket.opr_cat_tier2 = null;
                this.ticket.opr_cat_tier3 = null;
            }
        },

        loadData() {
            this.tickettype =
                this.requestdata.servicecatalog.service_catalog_type;
            this.tickettmp = this.requestdata.ticket;
            this.inboxtmp = this.requestdata;
            this.assignedtome = true;
            this.selectedcatalog = {
                mapper_prod_tier_1: this.ticket.prod_cat_tier1,
                mapper_prod_tier_2: this.ticket.prod_cat_tier2,
                mapper_prod_tier_3: this.ticket.prod_cat_tier3,
                mapper_opr_tier_1: this.ticket.opr_cat_tier1,
                mapper_opr_tier_2: this.ticket.opr_cat_tier2,
                mapper_opr_tier_3: this.ticket.opr_cat_tier3,
            };
            this.customer = {
                company: this.ticket.requester_company,
                department_name: this.ticket.requester_dept_name,
                first_name: this.ticket.requester_first_name,
                full_name: this.ticket.requester_full_name,
                group_name: this.ticket.requester_group_name,
                id: this.ticket.requester_person_id,
                last_name: this.ticket.requester_last_name,
                region_name: this.ticket.requester_region_name,
            };
        },

        assignToMe() {
            this.isassigntomeload = true;
            axios
                .post("/employee_remedy/assignee_login_id", {
                    assigneeLoginId: this.auth.un_remedy,
                })
                .then((response) => {
                    this.assignedtome = true;
                    this.isassigntomeload = false;
                    this.ticket.assignee_support_company =
                        response.data.company;
                    this.ticket.assignee_support_organization =
                        response.data.organization;
                    this.ticket.assignee_support_group_name =
                        response.data.support_group_name;
                    this.ticket.assignee_name = response.data.full_name;
                })
                .catch((error) => {
                    if (
                        error.response.status === 419 ||
                        error.response.status === 401
                    ) {
                        window.alert(
                            "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                        );
                        location.reload(false);
                    } else {
                        flash({
                            id: "error code status",
                            message: error.response.data.message,
                            flashtype: "danger",
                        });
                    }
                });
        },

        assignToOther() {
            this.assignedtome = false;
            this.ticket.assignee_support_company = null;
            this.ticket.assignee_support_organization = null;
            this.ticket.assignee_support_group_name = null;
            this.ticket.assignee_name = null;
        },

        getAssignedSupportCompany() {
            axios
                .get("/employee_remedy/support_company")
                .then((response) => {
                    this.assigned_support_company = response.data;
                    this.option_company = response.data;
                })
                .catch((error) => {
                    if (
                        error.response.status === 419 ||
                        error.response.status === 401
                    ) {
                        window.alert(
                            "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                        );
                        location.reload(false);
                    } else {
                        flash({
                            id: "error code status",
                            message: error.response.data.message,
                            flashtype: "danger",
                        });
                    }
                });
        },

        onSearchCustomer(search, loading) {
            loading(false);
            if (search.length >= 4) {
                this.searchCustomer(loading, search, this, this.company);
            }
        },

        searchCustomer: _.debounce((loading, search, vm, company) => {
            axios
                .post("/employee_remedy/customer_profile", {
                    inputname: search,
                    company: company,
                })
                .then((res) => {
                    vm.options = res.data;
                })
                .catch((error) => {
                    if (
                        error.response.status === 419 ||
                        error.response.status === 401
                    ) {
                        window.alert(
                            "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                        );
                        location.reload(false);
                    } else {
                        flash({
                            id: "error code status",
                            message: error.response.data.message,
                            flashtype: "danger",
                        });
                    }
                });
        }, 1500),

        onChangeAssignedSupportCompany() {
            if (!this.assignedtome) {
                this.ticket.assignee_support_organization = null;
                this.ticket.assignee_support_group_name = null;
                this.ticket.assignee_name = null;
                if (event != null) {
                    axios
                        .post("/employee_remedy/support_organization", {
                            supportCompany:
                                this.ticket.assignee_support_company,
                        })
                        .then((response) => {
                            this.assigned_support_organization = response.data;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeAssignedSupportOrganization() {
            if (!this.assignedtome) {
                this.ticket.assignee_support_group_name = null;
                this.ticket.assignee_name = null;
                if (event != null) {
                    this.assigned_support_group = [];
                    this.assigned_name = [];
                    axios
                        .post("/employee_remedy/support_group", {
                            supportCompany:
                                this.ticket.assignee_support_company,
                            supportOrganization:
                                this.ticket.assignee_support_organization,
                        })
                        .then((response) => {
                            this.assigned_support_group = response.data;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeAssignedSupportGroup() {
            if (event != null) {
                this.assigned_name = [];
                axios
                    .post("/employee_remedy/assignee", {
                        supportCompany: this.ticket.assignee_support_company,
                        supportOrganization:
                            this.ticket.assignee_support_organization,
                        supportGroupName:
                            this.ticket.assignee_support_group_name,
                    })
                    .then((response) => {
                        this.assigned_name = response.data;
                    })
                    .catch((error) => {
                        if (
                            error.response.status === 419 ||
                            error.response.status === 401
                        ) {
                            window.alert(
                                "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                            );
                            location.reload(false);
                        } else {
                            flash({
                                id: "error code status",
                                message: error.response.data.message,
                                flashtype: "danger",
                            });
                        }
                    });
            }
        },

        onChangeProductCategoryTier1(event) {
            if (
                this.selectedcatalog === null ||
                this.selectedcatalog.mapper_prod_tier_1 !==
                    this.ticket.prod_cat_tier1
            ) {
                this.selectedcatalog = null;
                this.ticket.prod_cat_tier2 = null;
                this.ticket.prod_cat_tier3 = null;
                this.ticket.opr_cat_tier1 = null;
                this.ticket.opr_cat_tier2 = null;
                this.ticket.opr_cat_tier3 = null;
                if (event != null) {
                    this.product_category_tier_2 = [];
                    this.product_category_tier_3 = [];
                    this.operational_category_tier_1 = [];
                    this.operational_category_tier_2 = [];
                    this.operational_category_tier_3 = [];
                    axios
                        .post("/product_categorization_tier2", {
                            productCategoryTier1: this.ticket.prod_cat_tier1,
                        })
                        .then((response) => {
                            this.product_category_tier_2 = response.data.result;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeProductCategoryTier2(event) {
            if (this.selectedcatalog === null) {
                this.ticket.prod_cat_tier3 = null;
                this.ticket.opr_cat_tier1 = null;
                this.ticket.opr_cat_tier2 = null;
                this.ticket.opr_cat_tier3 = null;
                if (event != null) {
                    this.product_category_tier_3 = [];
                    this.operational_category_tier_1 = [];
                    this.operational_category_tier_2 = [];
                    this.operational_category_tier_3 = [];
                    axios
                        .post("/product_categorization_tier3", {
                            productCategoryTier1: this.ticket.prod_cat_tier1,
                            productCategoryTier2: this.ticket.prod_cat_tier2,
                        })
                        .then((response) => {
                            this.product_category_tier_3 = response.data.result;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeProductCategoryTier3(event) {
            if (this.selectedcatalog === null) {
                this.ticket.opr_cat_tier1 = null;
                this.ticket.opr_cat_tier2 = null;
                this.ticket.opr_cat_tier3 = null;
                if (event != null) {
                    this.operational_category_tier_1 = [];
                    this.operational_category_tier_2 = [];
                    this.operational_category_tier_3 = [];
                    axios
                        .post("/operational_category_tier_1", {
                            productCategoryTier1: this.ticket.prod_cat_tier1,
                            productCategoryTier2: this.ticket.prod_cat_tier2,
                            productCategoryTier3: this.ticket.prod_cat_tier3,
                        })
                        .then((response) => {
                            this.operational_category_tier_1 =
                                response.data.result;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeOprationalCategoryTier1(event) {
            if (this.selectedcatalog === null) {
                this.ticket.opr_cat_tier2 = null;
                this.ticket.opr_cat_tier3 = null;
                if (event != null) {
                    this.operational_category_tier_2 = [];
                    this.operational_category_tier_3 = [];
                    axios
                        .post("/operational_category_tier_2", {
                            productCategoryTier1: this.ticket.prod_cat_tier1,
                            productCategoryTier2: this.ticket.prod_cat_tier2,
                            productCategoryTier3: this.ticket.prod_cat_tier3,
                            operationalCategoryTier1: this.ticket.opr_cat_tier1,
                        })
                        .then((response) => {
                            this.operational_category_tier_2 =
                                response.data.result;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        onChangeOprationalCategoryTier2(event) {
            if (this.selectedcatalog === null) {
                this.ticket.opr_cat_tier3 = null;
                if (event != null) {
                    this.operational_category_tier_3 = [];
                    axios
                        .post("/operational_category_tier_3", {
                            productCategoryTier1: this.ticket.prod_cat_tier1,
                            productCategoryTier2: this.ticket.prod_cat_tier2,
                            productCategoryTier3: this.ticket.prod_cat_tier3,
                            operationalCategoryTier1: this.ticket.opr_cat_tier1,
                            operationalCategoryTier2: this.ticket.opr_cat_tier2,
                        })
                        .then((response) => {
                            this.operational_category_tier_3 =
                                response.data.result;
                        })
                        .catch((error) => {
                            if (
                                error.response.status === 419 ||
                                error.response.status === 401
                            ) {
                                window.alert(
                                    "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                                );
                                location.reload(false);
                            } else {
                                flash({
                                    id: "error code status",
                                    message: error.response.data.message,
                                    flashtype: "danger",
                                });
                            }
                        });
                }
            }
        },

        reset() {
            this.inboxtmp = {};
            this.tickettmp = {};
            this.selectedcatalog = null;
            this.submitted = false;
            this.issearchfromctlg = false;
            this.optionsCatalog = [];
            this.assignedtome = false;
            this.isassigntomeload = false;
            this.customer = null;
            this.Resubmit = true;
            this.$validator.reset();
        },

        closeWindow() {
            dismissflash();
            this.reset();
            this.$emit("modal-closed");
        },

        executeResubmit() {
            this.$validator.validateAll().then((result) => {
                this.submitted = result;
                if (result) {
                    var content = {
                        requester_full_name: this.ticket.requester_full_name,
                        requester_first_name: this.ticket.requester_first_name,
                        requester_last_name: this.ticket.requester_last_name,
                        requester_email: this.ticket.requester_email,
                        requester_company: this.ticket.requester_company,
                        requester_region_name:
                            this.ticket.requester_region_name,
                        requester_group_name: this.ticket.requester_group_name,
                        requester_dept_name: this.ticket.requester_dept_name,
                        assignee_support_company:
                            this.ticket.assignee_support_company,
                        assignee_support_organization:
                            this.ticket.assignee_support_organization,
                        assignee_support_group_name:
                            this.ticket.assignee_support_group_name,
                        assignee_name: this.ticket.assignee_name,
                        service_type: this.ticket.service_type,
                        notes_description: this.ticket.notes_description,
                        summary_description: this.ticket.summary_description,
                        priority: this.ticket.priority,
                        reported_source: this.ticket.reported_source,
                        status: this.ticket.status,
                        prod_cat_tier1: this.ticket.prod_cat_tier1,
                        prod_cat_tier2: this.ticket.prod_cat_tier2,
                        prod_cat_tier3: this.ticket.prod_cat_tier3,
                        opr_cat_tier1: this.ticket.opr_cat_tier1,
                        opr_cat_tier2: this.ticket.opr_cat_tier2,
                        opr_cat_tier3: this.ticket.opr_cat_tier3,
                        resrv_field_1: this.ticket.resrv_field_1,
                        resrv_field_2: this.ticket.resrv_field_2,
                        resrv_field_3: this.ticket.resrv_field_3,
                        resrv_field_4: this.ticket.resrv_field_4,
                        resrv_field_5: this.ticket.resrv_field_5,
                        resrv_field_6: this.ticket.resrv_field_6,
                        resrv_field_7: this.ticket.resrv_field_7,
                        resrv_field_8: this.ticket.resrv_field_8,
                        resrv_field_9: this.ticket.resrv_field_9,
                        resrv_field_10: this.ticket.resrv_field_10,
                        resrv_field_11: this.ticket.resrv_field_11,
                        resrv_field_12: this.ticket.resrv_field_12,
                        resrv_field_13: this.ticket.resrv_field_13,
                        resrv_field_14: this.ticket.resrv_field_14,
                        resrv_field_15: this.ticket.resrv_field_15,
                        addnote: this.resolution,
                    };
                    this.resubmitTicket({
                        id: this.inbox.id,
                        content: content,
                    });
                }
            });
        },

        resubmitTicket(request) {
            this.isLoading = true;
            axios
                .post("/pending_ticket_remedy/retryprocess", request)
                .then((response) => {
                    if (response.data.status) {
                        if (response.data.wsdlStatus) {
                            flash({
                                id: request.id,
                                message: response.data.message,
                                flashtype: "info",
                            });
                            this.Resubmit = false;
                        } else {
                            flash({
                                id: request.id,
                                message: response.data.message,
                                flashtype: "warning",
                            });
                            this.Resubmit = true;
                        }
                    } else {
                        flash({
                            id: request.id,
                            message: response.data.message,
                            flashtype: "danger",
                        });
                        this.Resubmit = true;
                    }
                    this.$emit("reload", {
                        pendingdata: response.data.result,
                    });
                    this.isLoading = false;
                })
                .catch((error) => {
                    if (
                        error.response.status === 419 ||
                        error.response.status === 401
                    ) {
                        window.alert(
                            "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                        );
                        location.reload(false);
                    } else {
                        flash({
                            id: "error code status",
                            message: error.response.data.message,
                            flashtype: "danger",
                        });
                        this.Resubmit = true;
                        this.isLoading = false;
                    }
                });
        },
    },
};
</script>
