<template>
  <div
    class="modal"
    id="modal-pending-incident-delegate"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="delegating && requestobject.servicecatalog.service_catalog_type == 'IN'"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:550px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Change Incident Assignee</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <div v-if="delegating">
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Id</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.id"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Requester</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.SenderNumber"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Current Assignee</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Change To</label>
                          <v-select
                            :options="options"
                            @search="onSearch"
                            label="name"
                            v-model="selected"
                            v-validate="'required'"
                            name="name"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name +" / "+ option.sgn_remedy }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('name')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('name') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:123px;"
            :disabled="submitted"
            @click="executeIncidentDelegate"
          >Change Assignee</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" style="width:90px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isdelegating"],

  computed: {
    delegating: {
      get: function() {
        return this.delegatingtmp;
      },
      set: function(newvalue) {
        this.delegatingtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isdelegating: function() {
      if (this.isdelegating) {
        this.delegatingtmp = this.isdelegating;
      }
    }
  },

  data: function() {
    return {
      delegatingtmp:false,
      submitted:false,
      options: [],
      selected: {},
    };
  },
  methods: {
    reset() {
      this.submitted = false;
      this.options = [];
      this.selected = {};
      this.$validator.reset();
    },

    executeIncidentDelegate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          var recdata = {
            id: this.requestobject.id,
            delegateTo: this.selected.id,
            type: "IN"
          };
          this.delegateIncident(recdata);
        }
      });
    },

    delegateIncident(recdata) {
      this.submitted=true;
      this.delegating = false;
      axios.post("/pending_ticket_remedy/retrydelegate", recdata).then(response => {        
        if (response.data.status == true) {
              setTimeout(() => {
                flash({
                  id: this.requestobject.id,
                  message: response.data.message,
                  flashtype: "info"
                });
              }, 1000);
            } else {
              setTimeout(() => {
                flash({
                  id: this.requestobject.id,
                  message: response.data.message+", WSDL: "+response.data.wsdl,
                  flashtype: "danger"
                });
              }, 1000);
            }
            this.$emit("modalclosed", {
              pendingdata : response.data.requestdata,
            });
      }).catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    onSearch(search, loading) {
      loading(false);
      this.search(loading, search, this);
    },
    search: _.debounce((loading, search, vm) => {
      axios.post("/user_configuration/search?inputname=" + search).then(res => {
        vm.options = res.data;
        loading(false);
      })
      .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              window.alert(error.response.data.message);
            }
          });
    }, 350)
  }
};
</script>