<template>
  <div
    class="modal"
    id="modal-pending-incident-closure"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="isclosuring && requestobject.servicecatalog.service_catalog_type == 'IN'"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Incident Closure</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <div v-if="isclosuring">
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Request Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.id"
                          readonly="true"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="border-left: 12px">
                  <div class="panel-body form-horizontal">
                    <div
                      class="form-group"
                      style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                    >
                      <div class="col-md-12">
                        <label>Remedy Ticket Id</label>
                        <input
                          type="text"
                          class="form-control"
                          :value="requestobject.RemedyTicketId"
                          readonly="true"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Complete Status</label>
                          <v-select :options="options" label="name" v-model="status" v-validate="'required'" name="Status">
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Status')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Status') }}</span>
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"            
            style="width:90px;"
            @click="closingTask"
          >Close Task</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" style="width:90px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isclosuring"],
  watch:{
    requestobject:function(){
      this.reset();
    }
  },
  data: function() {
    return {
      options: ["Resolved", "Cancelled"],
      status: ""
    };
  },
  methods: {
    reset(){
      this.status = '';
      this.$validator.reset();
    },
    closingTask() {
      this.$validator.validateAll().then(result => {
        if (result) {
          var data = {
            id: this.requestobject.id,
            assigneeId: this.requestobject.AssigneeId,
            status: this.status,
            type: "IN"
          };
          axios.post("/pending_ticket_remedy/retryclose", data).then(response => {
            if (response.data.status == true) {
              setTimeout(() => {
                flash({
                  id: this.requestobject.id,
                  message: response.data.message,
                  flashtype: "info"
                });
              }, 1000);
            } else {
              setTimeout(() => {
                flash({
                  id: this.requestobject.id,
                  message: response.data.message+", WSDL: "+response.data.wsdl,
                  flashtype: "danger"
                });
              }, 1000);
            }
            this.$emit("modalclosed", {
                pendingdata : response.data.requestdata,
            });
          }).catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      });
      
    }
  }
};
</script>