<template>
  <div
    class="modal"
    id="modal-admin-manual"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <div v-if="isdataloaded">
            <h5 class="modal-title" id="smallModalHead">
              Request Type : {{requestdata.Text}} / Request Id : {{requestdata.id}}
              <a
                v-if="requestdata.RemedyTicketId ==='N/A' && (requestdata.ActionTicketCreation ==='WO_PENDING_PRS' || requestdata.ActionTicketCreation ==='WO_PENDING_DLG' || requestdata.ActionTicketCreation ==='WO_PENDING_CLS')"
                :href="'#'"
                class="text-danger pull-right"
                style="text-decoration: none"
              >
                <b>Kindly to re-submit in Pending Ticket Menu</b>
              </a>
              <a
                v-else
                target="_blank"
                class="pull-right"
                :href="'https://mandiriservicedesk/arsys/forms/appremedy/WOI:WorkOrder/Simplified+User+View/?qual=%271000000182%27=%22'+requestdata.RemedyTicketId+'%22'"
              >
                <b>Open Remedy</b>
              </a>
            </h5>
          </div>
          <div v-else>
            <spinner-data-loading :isdataloaded="isdataloaded"></spinner-data-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="ismodal"></flash>
              <div v-if="isdataloaded && modalname=='modal-admin-manual'">
                <div class="col-md-3" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Remedy Ticket ID</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.RemedyTicketId"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.servicecatalog.name"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Service Channel</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.servicecatalog.servicechannel.name"
                            readonly="true"
                          />
                        </div>
                      </div>

                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Requester Name</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestdata.SenderNumber"
                            readonly="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  v-if="(requestdata.TextDecoded.split('#')[3].split('\n')[2].replace('Jenis Request : ','').trim() == 'Pengisian CRM 2 Denom') || (requestdata.TextDecoded.split('#')[3].split('\n')[2].replace('Jenis Request : ','').trim() == 'Pengosongan CRM')"
                >
                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default" style="max-height:500px;">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>ID Mesin</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[1].replace('ID Mesin : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Jenis Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[2].replace('Jenis Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Tanggal Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[3].replace('Tanggal Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Jam Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[4].replace('Jam Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default" style="max-height:500px;">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Hopper 1</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="formatCurrency(requestdata.TextDecoded.split('#')[3].split('\n')[5].replace('Hopper 1 : ',''))"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Hopper 2</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="formatCurrency(requestdata.TextDecoded.split('#')[3].split('\n')[6].replace('Hopper 2 : ',''))"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Sisa Saldo</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="formatCurrency(requestdata.TextDecoded.split('#')[3].split('\n')[7].replace('Sisa Saldo : ',''))"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Admin Card No</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[8].replace('Admin Card No : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default">
                      <div class="panel-body form-horizontal">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Vendor</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[9].replace('Vendor : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Alasan</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[10].replace('Alasan : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>PIC</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[11].replace('PIC : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Lokasi</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[12].replace('Lokasi : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div v-else>
                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default">
                      <div class="panel-body form-horizontal" style="padding-bottom:25px">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>ID Mesin</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[1].replace('ID Mesin : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Jenis Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[2].replace('Jenis Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Tanggal Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[3].replace('Tanggal Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Jam Request</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[4].replace('Jam Request : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default">
                      <div class="panel-body form-horizontal" style="padding-bottom:25px">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Jumlah Isi</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="formatCurrency(requestdata.TextDecoded.split('#')[3].split('\n')[5].replace('Jumlah Isi : ',''))"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Sisa Saldo</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="formatCurrency(requestdata.TextDecoded.split('#')[3].split('\n')[6].replace('Sisa Saldo : ',''))"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Admin Card No</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[7].replace('Admin Card No : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Lokasi</label>
                            <input
                              style="font-weight: bold;color:red;"
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[11].replace('Lokasi : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3" style="border-left: 12px">
                    <div class="panel panel-default">
                      <div class="panel-body form-horizontal" style="padding-bottom:25px">
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Vendor</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[8].replace('Vendor : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>PIC</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[10].replace('PIC : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>

                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Alasan</label>
                            <input
                              type="text"
                              class="form-control"
                              :value="requestdata.TextDecoded.split('#')[3].split('\n')[9].replace('Alasan : ','')"
                              readonly="true"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group"
                          style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                        >
                          <div class="col-md-12">
                            <label>Service Type</label>
                            <input
                              type="text"
                              class="form-control"
                              value="Layanan Cabang / Layanan IT"
                              readonly="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div
            v-if="requestdata.RemedyTicketId ==='N/A' && requestdata.RecipientID === 'TELEGRAM' && (requestdata.ActionTicketCreation === 'WO_PENDING_PRS' || requestdata.ActionTicketCreation === 'WO_PENDING_DLG' || requestdata.ActionTicketCreation === 'WO_PENDING_CLS')"
          >
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Close</button>
          </div>
          <div v-else>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-confirm-admin-manual"
              style="width:120px;"
              @click="confirmResolve"
            >Resolve</button>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-workorder-closure"
              style="width:120px;"
              @click="closuringTask"
            >Ignore</button>
            <button
              type="submit"
              v-if="processstatus!='CLOSED' && isdataloaded && isdelegateenabled"
              class="btn btn-info"
              data-dismiss="modal"
              data-backdrop
              data-toggle="modal"
              data-target="#modal-delegate"
              style="width:120px;"
              @click="delegateTask"
            >Change Assignee</button>
            <button
              type="button"
              class="btn btn-info"
              data-dismiss="modal"
              style="width:90px;"
              @click="closeWindow"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [
    "requestdata",
    "requestid",
    "processstatus",
    "isdataloaded",
    "ismodal",
    "modalname",
    "isdelegateenabled"
  ],

  data: function() {
    return {
      is_be_replied: false,
      submitted: false
    };
  },

  methods: {
    formatCurrency(value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

    resolveTask() {
      if (this.requestdata.ActionTicketCreation != null) {
        if (this.requestdata.ActionTicketCreation.includes("PENDING")) {
          flash({
            id: "untuk pending",
            message:
              "ATTENTION!! Request flag is Pending, you have to re-submit your previous process from Pending Ticket Menu",
            flashtype: "danger"
          });
        } else {
          this.submitted = true;
          let loader = this.$parent.$loading.show({
            loader: "dots"
          });
          axios
            .post("/dashboard/request/closeWO", {
              id: this.requestid,
              assigneeId: this.requestdata.AssigneeId,
              status: "Completed",
              notes: "Permintaan Admin manual telah selesai dilakukan"
            })
            .then(res => {
              this.$emit("push-flash-notification", {
                status: res.data.status,
                id: this.requestid,
                message: res.data.message
              });
              loader.hide();
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert(
                  "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                );
                location.reload(false);
              } else {
                this.$emit("push-flash-notification", {
                  status: false,
                  id: "catch error code",
                  message: error.response.data.message
                });
                loader.hide();
              }
            });
        }
      } else {
        flash({
          id: "actionticketcreationisnull",
          message:
            "ActionTicketCreation is Null, contact your administrator immediately!",
          flashtype: "danger"
        });
      }
    },

    ignoreTask() {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });
      axios
        .post("/dashboard/request/closeWO", {
          id: this.requestid,
          assigneeId: this.requestdata.AssigneeId,
          status: "Rejected",
          notes: "Permintaan Admin Manual tidak sesuai, pemintaan diabaikan"
        })
        .then(res => {
          this.$emit("push-flash-notification", {
            status: res.data.status,
            id: this.requestid,
            message: res.data.message
          });
          loader.hide();
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              id: "catch error code",
              message: error.response.data.message
            });
            loader.hide();
          }
        });
    },

    delegateTask() {
      this.$emit("taskdelegated", {
        request: this.requestdata,
        isdelegating: true,
        modalname: "modal-delegate"
      });
    },

    closeWindow() {
      this.submitted = false;
      this.$emit("modal-closed");
    },

    closuringTask() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        isclosuring: true,
        modalname: "modal-workorder-closure"
      });
    },

    confirmResolve() {
      this.$emit("taskclosure", {
        request: this.requestdata,
        isclosuring: true,
        modalname: "modal-confirm-admin-manual"
      });
    }
  }
};
</script>
