<template>
  <div 
    class="modal" 
    id="modal-confirm-admin-manual" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="smallModalHead" 
    aria-hidden="true" 
    v-if="closuring"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead">Confirm Admin Manual</h4>
        </div>
        <div class="modal-body" v-if="closuring">
          <flash info v-if="isclosuring"></flash>
          <div class="form-horizontal needs-validation"></div><h4>Request Id : {{requestobject.id}} <br>Are you sure you want to Resolve ?</h4>
        </div>        
        <div class="modal-footer">
          <button type="button"
            class="btn btn-info"
            :data-dismiss="submitted?'modal':null"  
            @click="resolveTask"
          >Submit</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" @click="closeWindow">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isclosuring"],

  computed: {
    closuring: {
      get: function() {
        return this.closuringtmp;
      },
      set: function(newvalue) {
        this.closuringtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isclosuring: function() {
      this.closuringtmp = this.isclosuring;
    }
  },

  data: function() {
    return {
      closuringtmp: false,
      submitted: false,      
      status: "",
      notes: ""
    };
  },

  methods: {
    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    reset() {
      this.submitted = false;
      this.status = "";
      this.notes = "";
    },

    resolveTask() {
      if (this.requestobject.ActionTicketCreation != null) {
        if (this.requestobject.ActionTicketCreation.includes("PENDING")) {
          flash({
            id: "untuk pending",
            message:
              "ATTENTION!! Request flag is Pending, you have to re-submit your previous process from Pending Ticket Menu",
            flashtype: "danger"
          });
        } else {
          this.submitted = true;
          let loader = this.$parent.$loading.show({
            loader: "dots"
          });
          axios
            .post("/dashboard/request/closeWO", {
              id: this.requestobject.id,
              assigneeId: this.requestobject.AssigneeId,
              status: "Completed",
              notes: "Permintaan Admin manual telah selesai dilakukan"
            })
            .then(res => {
              this.$emit("push-flash-notification", {
                status: res.data.status,
                id: this.requestobject.id,
                message: res.data.message
              });
              loader.hide();
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert(
                  "Mohon maaf session anda telah habis, tekan ok untuk relogin"
                );
                location.reload(false);
              } else {
                this.$emit("push-flash-notification", {
                  status: false,
                  id: "catch error code",
                  message: error.response.data.message
                });
                loader.hide();
              }
            });
        }
      } else {
        flash({
          id: "actionticketcreationisnull",
          message:
            "ActionTicketCreation is Null, contact your administrator immediately!",
          flashtype: "danger"
        });
      }
    }
  }
};
</script>
