<template>
  <div>
    <v-simple-table fixed-header>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center" style="color: #428bca">Name Record</th>
            <th class="text-center" style="color: #428bca">Total Record</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value, index) in data_parameter" :key="index">
            <td>{{ index }}</td>
            <td>{{ value }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>
<script>
export default {
  props: ["data_parameter"],
};
</script>

