<template>
  <div>
    <v-container fluid>
      <v-simple-table fixed-header>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center" style="color: #428bca">File Name</th>
              <th class="text-center" style="color: #428bca">
                Last Date Modify
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in file_parameter" :key="data.name">
              <td>{{ data.fileName }}</td>
              <td>{{ data.lastDateModify }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-container>
  </div>
</template>
<script>
export default {
  props: ["file_parameter"],
};
</script>
