<template>
  <!-- <v-app justify="space-between">
    <v-container fluid>

    </v-container>
  </v-app> -->
  <v-card tile>
    <v-container fluid>
      <div class="col-md-12" style="margin-left: 10px; margin-bottom: -10px">
        <label>
          <strong>Tampil berdasarkan :</strong>
        </label>
      </div>
      <div class="col-md-12" style="margin-bottom: -30px">
        <div class="col-md-6">
          <v-select
            :options="optionList"
            :selectOnTab="true"
            label="name"
            v-model="selected"
            @change="onChangeFilter($event)"
            name="Doc. Filter"
          >
            <template slot="option" slot-scope="option">
              <input type="hidden" :value="option.id" key="SerialNo" />
              <div class="d-center">{{ option.name }}</div>
            </template>
          </v-select>
          <span
            v-show="errors.has('Doc. Filter')"
            class="valid-feedback text-danger"
            >{{ errors.first("Doc. Filter") }}</span
          >
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-info btn-block btn-md"
            type="button"
            @click="submitAll"
            :disabled="rqdatatmp.length <= 0"
          >
            Submit VAULT all
          </button>
        </div>
      </div>
    </v-container>
    <v-card-title>
      <v-text-field
        v-model="searchData"
        label="Cari..."
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-container fluid>
      <div v-if="rqdatatmp.length <= 0">
        <div class="alert alert-info" role="alert">
          <span
            class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true"
          ></span>
          No Data Available
        </div>
      </div>
      <div v-else>
        <v-data-table
          dense
          :headers="simpleHeader"
          :items="rqdatatmp"
          :search="searchData"
          :loading="loaded"
          disable-pagination
          hide-default-footer
          loading-text="Loading... Please wait !"
        >
          <template v-slot:body="{ items }">
            <tbody>
              <tr
                v-for="item in items"
                :class="{
                  primary: item.SerialNo + '' + item.SerialNo2 === selectedId,
                }"
                :key="item.SerialNo"
                v-on:click="clickList(item)"
              >
                <td>{{ item.DocType }}</td>
                <td>{{ item.Prefix }}</td>
                <td>{{ item.SerialNo }}</td>
                <td
                  :class="
                    item.SerialNo2 == ' - ' || item.SerialNo2 == null
                      ? 'text-center'
                      : ''
                  "
                >
                  {{
                    item.SerialNo2 == null || item.SerialNo2 == ""
                      ? " - "
                      : item.SerialNo2
                  }}
                </td>
                <td>{{ item.Holder }}</td>
                <td>{{ item.Status }}</td>
                <td>
                  {{ item.Spoilt }}
                </td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
      </div>
    </v-container>
  </v-card>
</template>
<script>
export default {
  props: ["data_surat_berharga", "isloaded"],
  data() {
    return {
      optionList: ["List Doc. Belum Kembali", "List Doc. Rusak Belum Kembali"],
      selected: "List Doc. Belum Kembali",
      searchData: "",
      simpleHeader: [
        { text: "Type", value: "DocType" },
        { text: "Prefix", value: "Prefix" },
        { text: "SerialNo", value: "SerialNo" },
        { text: "SerialNo2", value: "SerialNo2" },
        { text: "Holder", value: "Holder" },
        { text: "Status", value: "Status" },
        { text: "Spoilt", value: "Spoilt" },
      ],
      rqdatatmp: [],
      loaded: true,
      selectedId: null,
    };
  },

  watch: {
    data_surat_berharga: function (newvalue) {
      this.rqdatatmp = newvalue;
      this.loaded = false;
    },
    isloaded: function (newvalue) {
      this.loaded = newvalue;
    },
  },

  methods: {
    submitAll() {
      this.$emit("submit-all", {
        data: this.rqdatatmp,
      });
    },

    clickList(data) {
      this.selectedId = data.SerialNo + "" + data.SerialNo2;
      this.$emit("list-selected", {
        serial_no: data.SerialNo,
        seleclist: this.selected,
      });
    },

    onChangeFilter() {
      if (event != null) {
        this.$emit("onchange", {
          selected: this.selected,
        });
      }
    },
  },
};
</script>
