<template>
  <div>
    <form @submit.prevent="submit">
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="col-md-12">
            <label>
              <strong>Serial No.</strong>
            </label>
            <input
              type="text"
              class="form-control"
              placeholder="Serial No"
              v-validate="'required'"
              name="Serial No"
              v-model="list_selected"
            />
            <span
              v-show="errors.has('Serial No')"
              class="valid-feedback text-danger"
              >{{ errors.first("Serial No") }}</span
            >
          </div>
          <div class="col-md-12">
            <label>
              <strong>Holder</strong>
            </label>
            <v-select
              :options="data_holder"
              label="UserID"
              v-model="selected"
              v-validate="'required'"
              name="Holder"
              :disabled="!!checkedVault"
            >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.UserID" />
                <div class="d-center">{{ option.UserID }}</div>
              </template>
            </v-select>
            <span
              v-show="errors.has('Holder')"
              class="valid-feedback text-danger"
              >{{ errors.first("Holder") }}</span
            >
          </div>

          <!-- <div class="col-md-12">
              <label class="check">
                <input type="checkbox" id="valut" value="VALUT" v-model="checkedVault">
                <strong>Set To VAULT</strong>
              </label>
            </div> -->

          <div class="col-md-12">
            <button class="btn btn-info btn-block btn-md" type="submit">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: ["list_selected", "data_holder"],
  data: function () {
    return {
      selected: null,
      checkedVault: false,
    };
  },
  methods: {
    submit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$emit("submit-form", {
            serialNo: this.list_selected,
            holder: this.selected,
          });
          // if (!this.checkedVault) {
          //   this.$emit("submit-form", {
          //     serialNo: this.list_selected.SerialNo,
          //     holder: this.selected
          //   });
          // }

          // if (this.checkedVault) {
          //   this.$emit("submit-form", {
          //     serialNo: this.list_selected.SerialNo,
          //     holder: "VAULT"
          //   });
          // }
        }
      });
    },
  },
};
</script>

