<template>
  <v-app justify="space-between">
    <v-container fluid>
      <v-card tile>
        <v-card-title>
          <v-text-field
            v-model="searchData"
            label="Cari..."
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-container fluid>
          <v-data-table
            dense
            :headers="simpleHeader"
            :items="crmdata"
            :search="searchData"
            :loading="loaded"
            :items-per-page="15"
            loading-text="Loading... Please wait !"
          >
            <template v-slot:item.action="{ item }">
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width: 60px"
                :data-target="'#modalEdit'"
                v-on:click="editSelected(item.CRMGLRefNo)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-backdrop
                :data-toggle="'modal'"
                style="width: 60px"
                :data-target="'#modalConfirm'"
                v-on:click="deleteSelected(item.CRMGLRefNo)"
              >
                Delete
              </button>
            </template>
          </v-data-table>
        </v-container>
      </v-card>
    </v-container>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      searchData: "",
      simpleHeader: [
        { text: "CRMGLRefNo", value: "CRMGLRefNo" },
        { text: "Description", value: "Description" },
        { text: "Action", value: "action", sortable: false },
      ],
      crmdata: [],
      loaded: true,
    };
  },
  props: ["data_crm_detail", "isloaded"],
  watch: {
    data_crm_detail: function (newvalue) {
      this.crmdata = newvalue;
      this.loaded = false;
    },
    isloaded: function (newvalue) {
      this.loaded = newvalue;
    },
  },
  methods: {
    deleteSelected(idRequest) {
      this.$emit("crm-detail-selected", {
        id: idRequest,
      });
    },
    editSelected(idRequest) {
      this.$emit("crm-detail-selected", {
        id: idRequest,
      });
    },
  },
};
</script>
