<template>
  <div>
    <form @submit.prevent="submit">
      <div class="panel-body">
        <div class="form-horizontal needs-validation">
            <div class="col-md-12">
              <label>
                <strong>CRMGLRefNo</strong>
              </label>
              <input
                type="text"
                class="form-control"
                name="CRMGLRefNo"
                maxlength="16"
                v-model="crmGlRefNo"
                v-validate="'required'"
              >
              <span
                v-show="errors.has('CRMGLRefNo')"
                class="valid-feedback text-danger"
              >{{ errors.first('CRMGLRefNo') }}</span>
            </div>
            <div class="col-md-12">
              <label>
                <strong>Description</strong>
              </label>
              <input
                type="text"
                class="form-control"
                name="Description"
                autocomplete="off"
                maxlength="30"
                v-model="description"
                v-validate="'required'"
              >
              <span
                v-show="errors.has('Description')"
                class="valid-feedback text-danger"
              >{{ errors.first('Description') }}</span>
            </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <div class="col-md-6">
            <button class="btn btn-info btn-block btn-sm" type="submit" style="width:90px;">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: ["data_crm_detail"],
  data() {
    return {
      crmGlRefNo: null,
      description: null,
    };
  },

  methods: {
    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-add-crm", {
            CRMGLRefNo: this.crmGlRefNo,
            Description: this.description
          });
        }
      });
    },

    reset(){
      this.crmGlRefNo = '',
      this.description = ''
    }
  },

  watch:{
    data_crm_detail:function(){
      this.reset();
    }
  },
};
</script>
