<template>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">ID Request</th>
        <th class="text-center">Received At</th>
        <th class="text-center">Recipient ID</th>
        <th class="text-center">Request Type</th>
        <th class="text-center">Status</th>
        <th class="text-center">Agent Name</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody v-for="request in requests" :request="request" :key="request.ID">
      <tr v-if="request.Aksi=='Wait'">
        <td class="text-center">
          <strong>{{ request.ID }}</strong>
        </td>
        <td>
          <strong>{{request.ReceivingDateTime | mydateformat}}</strong>
        </td>
        <td class="text-center">
          <strong>{{request.RecipientID }}</strong>
        </td>
        <td class="text-center">
          <strong>{{request.ReqType }}</strong>
        </td>
        <td class="text-center">
          <strong>{{request.Aksi }}</strong>
        </td>
        <td class="text-center" v-if="request.NameAction=='Service Eye'">
          <strong>N/A</strong>
        </td>
        <td class="text-center" v-else>
          <strong>{{ request.NameAction }}</strong>
        </td>
        <td class="text-center" v-if="count_book < 1">
          <div class="btn-group btn-group-sm" v-if="request.ReqType=='Admin Manual'">
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalAdminManual'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >Book</button>
          </div>
          <div
            class="btn-group btn-group-sm"
            v-else-if="request.ReqType=='ATM Loading' || request.ReqType=='ATMLoading'"
          >
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalATMLoading'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >Book</button>
          </div>
          <div class="btn-group btn-group-sm" v-else-if="request.ReqType=='BDS Error'">
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalBDSError'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >Book</button>
          </div>
          <div class="btn-group btn-group-sm" v-else-if="request.ReqType=='Backup Failed'">
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              style="width:90px;"
              :data-target="'#modalBackupFailed'"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >Book</button>
          </div>
          <div class="btn-group btn-group-sm" v-else>
            <button
              type="button"
              class="btn btn-info btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >Book</button>
          </div>
        </td>
        <td class="text-center" v-else>
          <div class="btn-group btn-group-sm">
            <button
              type="button"
              class="btn btn-info btn-sm disabled"
              data-backdrop
              :data-toggle="'modal'"
              style="width:90px;"
            >Book</button>
          </div>
        </td>
      </tr>
      <tr v-else>
        <td class="text-center">{{request.ID }}</td>
        <td>{{request.ReceivingDateTime | mydateformat }}</td>
        <td class="text-center">{{request.RecipientID }}</td>
        <td class="text-center">{{request.ReqType }}</td>
        <td class="text-center" v-if="request.Aksi=='Book'">In Process</td>
        <td class="text-center" v-else>{{request.Aksi }}</td>
        <td class="text-center" v-if="request.NameAction=='Service Eye'">N/A</td>
        <td align="center" v-else>{{ request.NameAction }}</td>
        <td class="text-center">
          <div class="btn-group btn-group-sm" v-if="request.ReqType=='Admin Manual'">
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalAdminManual'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >In Process</button>
          </div>
          <div
            class="btn-group btn-group-sm"
            v-else-if="request.ReqType=='ATM Loading' || request.ReqType=='ATMLoading'"
          >
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalATMLoading'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >In Process</button>
          </div>
          <div class="btn-group btn-group-sm" v-else-if="request.ReqType=='BDS Error'">
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalBDSError'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >In Process</button>
          </div>
          <div class="btn-group btn-group-sm" v-else>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              data-backdrop
              :data-toggle="'modal'"
              :data-target="'#modalBackupFailed'"
              style="width:90px;"
              v-on:click="requestSelected(request.ID, request.ReqType)"
            >In Process</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: ["is_loaded", "requests", "count_book"],
  methods: {
    requestSelected(idRequest, reqType) {
      this.$emit("request_selected", {
        id: idRequest,
        reqType: reqType
      });
    }
  },
};
</script>