<template>
  <div>
    <!-- <div class="col-md-12"> -->
    <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <span>FTP File List</span>
        </div>
    <div class="panel-body">-->
    <!-- <ul v-for="data in file_list" :key="data">
                    <li>{{ data }}</li>
    </ul>-->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Size</th>
          <th class="text-center">Date Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" v-for="data in file_list" :data="file_list" :key="data.name">
          <td class="text-center">{{ data.name }}</td>
          <td class="text-center" v-if="data.size == -1">FOLDER</td>
          <td class="text-center" v-else>{{ data.size+" bytes" }}</td>
          <td class="text-center" v-if="data.size == -1">FOLDER</td>
          <td class="text-center" v-else>{{ data.last_modified }}</td>
        </tr>
      </tbody>
    </table>
    <!-- </div>
    </div>-->
    <!-- </div> -->
    <!-- <div class="col-md-12"> -->
    <!-- <div class="panel panel-default"> -->
    <!-- <div class="panel-heading"> -->
    <h5>Upload File To FTP Server</h5>
    <!-- </div> -->
    <!-- <div class="panel-body"> -->
    <!-- <label>
            File
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
          </label>
          <br />
          <progress max="100" :value.prop="uploadPercentage" style="height: 20px;"></progress><h6>{{ uploadPercentage }} %</h6>
          <br />
    <button v-on:click="submitFile()">Submit</button>-->
    <div class="form-group">
      <div class="col-md-12">
        <label>Remedy Ticket</label>
        <input
          id="txtName"
          v-model="remedyTicket"
          type="text"
          autocomplete="off"
          placeholder="Please input Remedy Ticket"
          class="form-control"
          v-validate="'required'"
          name="Remedy Ticket"
        />
        <span
          v-show="errors.has('Remedy Ticket')"
          class="valid-feedback text-danger"
        >{{ errors.first('Remedy Ticket') }}</span>
      </div>
      <div class="col-md-12">
        <label>Reason</label>
        <input
          id="txtName"
          v-model="reason"
          type="text"
          autocomplete="off"
          placeholder="Reason Sending File with FTP"
          class="form-control"
          v-validate="'required'"
          name="Reason"
        />
        <span
          v-show="errors.has('Reason')"
          class="valid-feedback text-danger"
        >{{ errors.first('Reason') }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>Files (Max 2 Files Concurrently)</label>
      <div id="app">
        <file-pond
          name="file"
          ref="pond"
          :server="conf"
          class-name="my-pond"
          allow-multiple="true"
          max-files="2"
          v-bind:files="myFiles"
          v-on:init="handleFilePondInit"
        />
      </div>
      
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</template>
<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileMetadata from "filepond-plugin-file-metadata";
// import moment from 'moment';
const FilePond = vueFilePond(FilePondPluginFileMetadata);

export default {
  props: ["file_list"],

  components: {
    FilePond
  },

  data() {
    return {
      file: "",
      uploadPercentage: 0,
      conf: {
        url: "../ftp_connect/",
        process: {
          url: "./upload",
          method: "POST",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 60000,
          onload: this.handleAddFileResponse,
          onerror: null,
          ondata: null
        },
        revert: {
          url: "./delete_image",
          method: "DELETE",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleDeleteFileResponse,
          onerror: null,
          ondata: null
        }
      },
      myFiles: [],
      remedyTicket: null,
      reason: null
    };
  },

  methods: {
    handleFilePondInit: function() {
      var file = this.$refs.pond.getFiles();
    },

    handleAddFileResponse(response) {
      var data = JSON.parse(response);
      if (data.status) {
        flash({
          id: "info",
          message: data.message,
          flashtype: "info"
        });
        axios.get("/ftp_connect/refreshlist").then(response => {
          this.$emit("is-connect", {
            result: response.data.result,
            status: response.data.status
          });
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
      } else {
        flash({
          id: "danger",
          message: data.message,
          flashtype: "danger"
        });
      }
    },
  }
};
</script>

