<template>
  <div>
    <div class="form-group">
      <div class="col-md-3 pull-right">
        <input
          id="txtName"
          @keyup.enter="searchData"
          v-model="textSearch"
          type="text"
          autocomplete="off"
          placeholder="Search"
          class="form-control"
        />
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">File Category</th>
          <th class="text-center">File Name</th>
          <th class="text-center">Path File</th>
          <th class="text-center">Cloud File Url</th>
          <th class="text-center">File Size</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" v-for="data in result" :data="result" :key="data.id">
          <td class="text-center">{{ data.id }}</td>
          <td class="text-center">{{ data.ftp_category.file_type }}</td>
          <td class="text-center">{{ data.file_name }}</td>
          <td class="text-center">{{ data.path_file }}</td>
          <td class="text-center">{{ data.cloud_file_url }}</td>
          <td class="text-center">{{ data.file_size }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-info btn-sm"
                v-on:click="deleteFile(data.id)"
              >Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Upload File To FTP Server</span>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <label>
              File
              <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <strong>File Category</strong>
            </label>
            <select
              class="form-control"
              v-model="selectcategory"
              name="Category"
              v-validate="'required'"
              placeholder="- Please Select -"
            >
              <!-- <option>- Please Select -</option> -->
              <option value="1">{{ category[0].file_type }}</option>
              <option value="2">{{ category[1].file_type }}</option>
              <option value="3">{{ category[2].file_type }}</option>
            </select>
            <span
              v-show="errors.has('Category')"
              class="valid-feedback text-danger"
            >{{ errors.first('Category') }}</span>
          </div>
          <br />
          <div class="col-md-12">
            <progress max="100" :value.prop="uploadPercentage" style="height: 20px;"></progress>
            <h6>{{ uploadPercentage }} %</h6>
            <!-- <div class="form-group">
            <label>Files (Max 2 Files Concurrently)</label>
            <div id="app">
              <file-pond
                name="file"
                ref="pond"
                :server="conf"
                class-name="my-pond"
                allow-multiple="true"
                max-files="2"
                v-bind:files="myFiles"
                v-on:init="handleFilePondInit"
              />
            </div>
            
            </div>-->
            <br />
            <button v-on:click="submitFile()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import FilePondPluginFileMetadata from "filepond-plugin-file-metadata";
const FilePond = vueFilePond(FilePondPluginFileMetadata);

export default {
  props: ["result", "category"],
  data() {
    return {
      textSearch: null,
      file: "",
      uploadPercentage: 0,
      selectcategory: null,
      conf: {
        url: "../ftp_connect/",
        process: {
          url: "./uploadfile",
          method: "POST",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 60000,
          onload: this.handleAddFileResponse,
          onerror: null,
          ondata: null
        },
        revert: {
          url: "./delete_image",
          method: "DELETE",
          withCredentials: false,
          headers: {
            "X-CSRF-TOKEN": axios.defaults.headers.common["X-CSRF-TOKEN"]
          },
          timeout: 7000,
          onload: this.handleDeleteFileResponse,
          onerror: null,
          ondata: null
        }
      },
      myFiles: []
    };
  },

  methods: {
    searchData() {
      console.log(this.selectcategory);
    },

    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },

    submitFile() {
      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("category", this.selectcategory);
      axios
        .post("/ftp_connect/uploadfile", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          },
          onUploadProgress: function(progressEvent) {
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded * 100) / progressEvent.total)
            );
          }.bind(this)
        })
        .then(response => {
          if(response.data.status){
            flash({
              id: "info",
              message: response.data.message,
              flashtype: "info"
            });
            this.$emit("refresh-file-list", {
              result: response.data.result,
            });
            this.reset();
          } else{
            flash({
              id: "error",
              message: response.data.message,
              flashtype: "danger"
            });
          }
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    deleteFile() {},

    reset(){
      this.file = null,
      this.uploadPercentage = 0,
      this.selectcategory = null
    },

    handleFilePondInit: function() {
      var file = this.$refs.pond.getFiles();
    },

    handleAddFileResponse(response) {
      var data = JSON.parse(response);
      if (data.status) {
        flash({
          id: "info",
          message: data.message,
          flashtype: "info"
        });
        axios.get("/ftp_connect/refreshfilelist").then(response => {
          this.$emit("refresh-file-list", {
            result: response.data.result,
            status: response.data.status
          });
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
      } else {
        flash({
          id: "danger",
          message: data.message,
          flashtype: "danger"
        });
      }
    }
  }
};
</script>