<template>
  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <span>Connect To FTP Server</span>
    </div>
  <div class="panel-body">-->
  <div class="form-horizontal needs-validation">
    <div class="form-group">
      <div class="col-md-12">
        <label>IP server</label>
        <input
          id="txtName"
          v-model="ipServer"
          type="text"
          autocomplete="off"
          placeholder="IP Server"
          class="form-control"
          v-validate="'required'"
          name="IP Server"
        />
        <span
          v-show="errors.has('IP Server')"
          class="valid-feedback text-danger"
        >{{ errors.first('IP Server') }}</span>
      </div>
      <div class="col-md-12">
        <label>Username FTP</label>
        <input
          id="txtName"
          v-model="username"
          type="text"
          autocomplete="off"
          placeholder="Username FTP"
          class="form-control"
          v-validate="'required'"
          name="Username FTP"
        />
        <span
          v-show="errors.has('Username FTP')"
          class="valid-feedback text-danger"
        >{{ errors.first('Username FTP') }}</span>
      </div>
      <div class="col-md-12">
        <label>Password FTP</label>
        <input
          id="txtName"
          v-model="password"
          type="password"
          autocomplete="off"
          placeholder="Password FTP"
          class="form-control"
          v-validate="'required'"
          name="Password FTP"
        />
        <span
          v-show="errors.has('Password FTP')"
          class="valid-feedback text-danger"
        >{{ errors.first('Password FTP') }}</span>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-info" style="width:90px;" @click="ConnectFTP">Connect</button>
      </div>
    </div>
  </div>
  <!-- </div>
  </div>-->
</template>
<script>
export default {
  props: ["ipserver"],

  watch: {
    ipServer: function() {
      this.toConnectFTP();
    }
  },

  data: function() {
    return {
      ipServer: this.ipserver,
      username: null,
      password: null
    };
  },

  methods: {
    ConnectFTP() {
      this.$validator.validateAll().then(result => {
        if (result) {
          var data = {
            ipserver: this.ipServer,
            username: this.username,
            password: this.password
          };
          axios
            .post("/ftp_connect/connect", data)
            .then(response => {
              if (response.data.status) {
                flash({
                  id: "info",
                  message: response.data.message,
                  flashtype: "info"
                });
                this.$emit("is-connect", {
                  result: response.data.result,
                  status: response.data.status,
                  ipserver: response.data.ipserver
                });
              } else {
                flash({
                  id: "danger",
                  message: response.data.message,
                  flashtype: "danger"
                });
              }
            })
            .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
        }
      });
    },

    toConnectFTP() {
      this.$emit("to-connect", {
        ipserver: this.ipServer,
        username: this.username,
        password: this.password
      });
    }
  }
};
</script>
