<template>
  <div
    class="modal"
    id="modal-ftp"
    tabindex="-1"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="ismodal && modalname=='modal-ftp'"
  >
    <div class="modal-dialog modal-lg" style="width: 60%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="largeModalHead" v-if="!connect_FTP">Connect to FTP</h4>
          <h4 class="modal-title" id="largeModalHead" v-if="connect_FTP">Connect to FTP {{ this.server }}</h4>
        </div>

        <div class="modal-body" v-if="!connect_FTP">
          <flash v-if="ismodal" info></flash>
          <ftp-seleceted :ipserver="server" v-on:is-connect="isConnectFTP"></ftp-seleceted>
        </div>
        <div class="modal-body" v-if="connect_FTP">
          <flash v-if="ismodal" info></flash>
          <ftp-file-list :file_list="FTP_file_list" v-on:is-connect="isConnectFTP"></ftp-file-list>          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info" @click="disconnectFTP" v-if="connect_FTP">Disconnect</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            @click="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["selected_prop", "ipserver", "modalname", "ismodal"],
  watch: {
    ipserver: function() {
      this.server = this.ipserver;
    }
  },
  data() {
    return {
      connect_FTP: false,
      FTP_file_list: {},
      server: null
    };
  },
  methods: {
    closeWindow() {
      this.$emit("close-modal");
    },

    isConnectFTP(reqResponse) {
      if (reqResponse.status) {
        this.connect_FTP = true;
        this.FTP_file_list = reqResponse.result;
        this.server = reqResponse.ipserver;
      } else {
        this.connect_FTP = false;
      }
    },

    disconnectFTP() {
      axios
        .get("/ftp_connect/disconnect")
        .then(response => {
          flash({
            id: "info",
            message: response.data.message,
            flashtype: "info"
          });
          this.connect_FTP= false
          this.FTP_file_list= {}
          this.server= null
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    }
  }
};
</script>
