<template>
  <v-container>
    <loading :active.sync="loadingDot" :is-full-page="true" loader="dots"></loading>
    <response-message :paramResponse="values"></response-message>
    <v-menu :close-on-content-click="false" :nudge-width="200" offset-x>
      <template v-slot:activator="{ on, attrs }">
        <v-icon color="warning" dark v-bind="attrs" v-on="on">mdi-information</v-icon>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                Excel Template
                <download-excel
                  style="
                    background-color: #1976d2 !important;
                    color: white;
                    font-size: bolder;
                  "
                  class="btn btn-default"
                  :data="this.tableTemplate"
                  :fields="jsonTemplate"
                  worksheet="Sheet1"
                  name="Template Login ID Migration"
                  type="xlsx"
                >Download</download-excel>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
    <!-- <loading :active.sync="isLoading" :is-full-page="true"></loading> -->
    <div class="app-container">
      <upload-excel-component
        v-if="isSuccess==false && isProcessing==false"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
      />
      <div v-if="isSuccess==true" class="text-center mt-2 mb-2">
        <v-btn fab dark color="primary" @click="showBrowse">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </div>
      <v-row class="mb-3 px-2 py-2 align-center" tile v-if="Object.keys(tableData).length > 0">
        <v-col cols="4">
          <v-btn v-if="isProcessing == false" color="success" dark @click="execute()">
            Start
            <v-icon right dark>mdi-play-circle</v-icon>
          </v-btn>
          <v-btn v-if="isProcessing == true" color="info" dark @click="skip()">
            Skip
            <v-icon right dark>mdi-skip-next</v-icon>
          </v-btn>
          <v-btn v-if="isProcessing == true" color="red" dark @click="stop()">
            Stop
            <v-icon right dark>mdi-stop-circle</v-icon>
          </v-btn>
          <download-excel
            v-if="this.tableData.length>0"
            style="
                background-color: #1976d2 !important;
                color: white;
                font-size: bolder;
                width: 105px;
                margin-left: 5px;
              "
            class="btn btn-default"
            :data="this.tableData"
            :fields="jsonFields"
            worksheet="My Worksheet"
            name="Migration Login ID"
            type="xls"
          >EXPORT</download-excel>
        </v-col>
      </v-row>
      <v-card
        tile
        v-if="Object.keys(tableData).length > 0"
        style="margin-top: -20px; position: relative"
      >
        <v-fab-transition>
          <v-btn
            @click="changeButton"
            v-show="!hidden"
            color="primary"
            fab
            small
            absolute
            top
            right
          >
            <v-icon>mdi-clock</v-icon>
          </v-btn>
        </v-fab-transition>
        <v-fab-transition>
          <v-btn @click="changeButton" v-show="hidden" color="primary" fab small absolute top right>
            <v-icon>mdi-clock-alert</v-icon>
          </v-btn>
        </v-fab-transition>

        <v-row
          v-if="!hidden"
          class="px-5 pb-5 pt-2"
          style="margin-bottom:-50px"
          justify="space-around"
          align="center"
        >
          <v-text-field class="ma-2" label="Duration" v-model="durationTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="Start Time" v-model="aliasStartTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="End Time" v-model="aliasEndTime" readonly></v-text-field>
        </v-row>
        <v-card-title>
          <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
          <v-container fluid>
            <v-data-table
              dense
              :headers="tableHeader1"
              :items="tableData"
              :search="search"
              :loading="isLoading"
            ></v-data-table>
          </v-container>
        </v-card-title>
      </v-card>
    </div>
  </v-container>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Vue from "vue";
import UploadExcelComponent from "../Bulk/ExcelTemplate/Index";
import JsonExcel from "vue-json-excel";
Vue.component("downloadExcel", JsonExcel);
export default {
  name: "UploadExcel",
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader1: [
        { text: "Old Login", value: "source" },
        { text: "New Login", value: "target" },
        { text: "Description", value: "description", width: "25%" },
        { text: "Wizard ID", value: "wizardId" },
        { text: "Process Status", value: "processStatus" }
      ],
      jsonFields: {
        source: "source",
        target: "target",
        description: "description",
        wizardId: "wizardId",
        processStatus: "processStatus"
      },
      tableTemplate: [
        {
          source: null,
          target: null,
          description: null,
          wizardId: null,
          processStatus: null
        }
      ],
      jsonTemplate: {
        source: "source",
        target: "target",
        description: "description",
        wizardId: "wizardId",
        processStatus: "processStatus"
      },
      search: "",
      values: {},
      isLoading: false,
      isSuccess: false,
      isProcessing: false,
      currentIndex: 0,
      durationTime: "00:00:00.000",
      startTime: null,
      endTime: null,
      aliasStartTime: null,
      aliasEndTime: null,
      hidden: false,
      stoppedDuration: 0,
      started: null,
      loadingDot: false,
      countDown: 0,
    };
  },
  computed: {
    ...mapGetters("migratelogin", ["apiState", "message", "migrationData"])
  },
  watch: {
    migrationData: function(newval, oldval) {
      console.log(newval);
      console.log(oldval);
      if (newval.processStatus == "submit") {
        if (newval.wizardId === null) {
          console.log("submit " + newval.source);
          this.updateRow(newval);
          this.doMigration({
            source: newval.source,
            target: newval.target
          });
        }
      } else if (newval.processStatus == "submited") {
        console.log("submited " + newval.wizardId);
        this.updateRow(newval);
        this.checkMigration(newval);
      } else if (newval.processStatus == "processed") {
        if (newval.wizardId !== null) {
          console.log("processed " + newval.wizardId);
          this.updateRow(newval);
          this.countDown = 20;
          this.countDownTimer();
        }
      } else if (newval.processStatus == "completed") {
        if (newval.wizardId !== null) {
          console.log("completed " + newval.wizardId);
          this.updateRow(newval);
          if (this.currentIndex + 1 != this.tableData.length) {
            console.log(this.tableData.length);
            this.currentIndex += 1;
          } else {
            this.isSuccess = true;
            this.isProcessing = false;
            this.isLoading = false;
            this.values = {
              content: "Migration Login ID has been successfully !",
              alertid: new Date().getTime(),
              type: "success",
              typeId: 4,
              isshow: true
            };
            this.stop();
          }
        }
      } else if (newval.processStatus == "rejected") {
        console.log("rejected " + newval.source);
        this.updateRow(newval);
        if (this.currentIndex + 1 != this.tableData.length) {
          console.log(this.tableData.length);
          this.currentIndex += 1;
        } else {
          this.isSuccess = true;
          this.isProcessing = false;
          this.isLoading = false;
          this.values = {
            content: "Migration Login ID has been failed !",
            alertid: new Date().getTime(),
            type: "error",
            typeId: 3,
            isshow: true
          };
          this.stop();
        }
      }
    },
    currentIndex: function(newval, oldval) {
      console.log("indexchaged ->" + newval);
      if (this.isProcessing) {
        this.initMigration(this.tableData[this.currentIndex]);
      }
    },
    countDown: function(newval, oldval) {
      console.log(newval);
      if (newval == 0 && this.migrationData.processStatus == "processed") {
        this.checkMigration(this.migrationData);
      }
    },
    apiState: function(newVal) {
      if (newVal == 4 || newVal == 3) {
        this.values = {
          content: this.message.message,
          alertid: new Date().getTime(),
          type: this.message.type,
          isshow: true,
          typeId: newVal
        };
        this.loadingDot = false;
        this.isLoading = false;
        this.isSuccess = true;
        this.isProcessing = false;
      }
    }
  },
  methods: {
    changeButton() {
      this.hidden = !this.hidden;
    },
    countDownTimer() {
      if (this.countDown > 0) {
        setTimeout(() => {
          this.countDown -= 1;
          this.countDownTimer();
        }, 1000);
      }
    },
    // periodicCheck(processed) {},
    updateRow(processed) {
      let index = this.tableData.findIndex(
        i => i.source == processed.source && i.target == processed.target
      );
      this.tableData.splice(index, 1, processed);
    },
    showBrowse() {
      this.isSuccess = false;
      this.isStatus = true;
      this.tableData = [];
      this.currentIndex = 0;
      this.durationTime = "00:00:00.000";
      this.startTime = null;
      this.endTime = null;
      this.aliasStartTime = null;
      this.aliasEndTime = null;
      this.hidden = false;
      this.stoppedDuration = 0;
      this.started = null;
    },
    execute() {
      this.isProcessing = true;
      this.isLoading = true;
      this.initMigration(this.tableData[this.currentIndex]);
      if (this.startTime === null) {
        this.startTime = new Date();
        this.aliasStartTime =
          this.startTime.toISOString().substr(0, 10) +
          " " +
          this.startTime.getHours() +
          ":" +
          this.startTime.getMinutes() +
          ":" +
          this.startTime.getSeconds();
      }
      if (this.endTime !== null) {
        this.stoppedDuration += new Date() - this.endTime;
      }
      this.started = setInterval(
        function() {
          this.clockRunning();
        }.bind(this),
        10
      );
    },
    clockRunning() {
      var currentTime = new Date();
      var timeElapsed = new Date(
        currentTime - this.startTime - this.stoppedDuration
      );
      var hour = timeElapsed.getUTCHours();
      var min = timeElapsed.getUTCMinutes();
      var sec = timeElapsed.getUTCSeconds();
      var ms = timeElapsed.getUTCMilliseconds();

      this.durationTime =
        this.zeroPrefix(hour, 2) +
        ":" +
        this.zeroPrefix(min, 2) +
        ":" +
        this.zeroPrefix(sec, 2) +
        "." +
        this.zeroPrefix(ms, 3);
    },
    zeroPrefix(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    },
    doMigration(payload) {
      this.doMigration(payload);
    },
    skip() {
      if (this.currentIndex + 1 != this.tableData.length) {
        console.log(this.tableData.length);
        this.currentIndex += 1;
      } else {
        this.stop();
      }
    },
    stop() {
      this.loadingDot = true;
      this.isSuccess = true;
      this.isProcessing = false;
      this.stopProcess({
        name: "migration_loginid"
      });
      this.endTime = new Date();
      this.aliasEndTime =
        this.endTime.toISOString().substr(0, 10) +
        " " +
        this.endTime.getHours() +
        ":" +
        this.endTime.getMinutes() +
        ":" +
        this.endTime.getSeconds();
      clearInterval(this.started);
    },
    ...mapActions("migratelogin", [
      "doMigration",
      "checkMigration",
      "initMigration",
      "stopProcess"
    ]),
    beforeUpload(file) {
      this.isLoading = true;
      const isSizeValid = file.size / 5120 / 5120 < 1;
      if (isSizeValid) {
        return true;
      }
      //   this.$message({
      //     message: 'Please do not upload files larger than 1m in size.',
      //     type: 'warning'
      //   })
      this.dNow = new Date();
      this.curdate =
        (this.dNow.getMonth() + 1).toString() +
        this.dNow.getDate().toString() +
        this.dNow.getFullYear().toString() +
        this.dNow.getHours().toString() +
        this.dNow.getMinutes().toString() +
        this.dNow.getSeconds().toString();
      this.values = {
        content: "File too large, maximum 5Mb !",
        alertid: this.curdate,
        type: "warning",
        typeId: 6,
        isshow: true
      };
      return false;
    },
    handleSuccess({ results, header }) {
      this.isLoading = false;
      this.tableData = results;
      //   this.tableHeader = header;
      //   console.log(header);
      // console.log(results);
      //   this.setIncidentRelationData(results);
    }
  }
};
</script>
<style>
.v-data-table .v-data-table__wrapper table tbody tr td {
  font-size: 0.7rem !important;
}
</style>