<template>
  <v-container>
    <loading :active.sync="loadingDot" :is-full-page="true" loader="dots"></loading>
    <response-message :paramResponse="values"></response-message>
    <v-menu :close-on-content-click="false" :nudge-width="200" offset-x>
      <template v-slot:activator="{ on, attrs }">
        <v-icon color="warning" dark v-bind="attrs" v-on="on">mdi-information</v-icon>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                Excel Template
                <download-excel
                  style="background-color:#1976d2 !important;color:white;font-size:bolder"
                  class="btn btn-default"
                  :data="tableTemplate"
                  :fields="jsonFieldsTemplate"
                  worksheet="Sheet1"
                  name="Template Update Problem"
                  type="xls"
                >Download</download-excel>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>

    <div class="app-container">
      <upload-excel-component
        v-if="isSuccess==false && isProcessing==false"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
      />
      <div v-if="isSuccess==true" class="text-center mt-2 mb-2">
        <v-btn fab dark color="primary" @click="showBrowse">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </div>
      <v-row class="mb-3 px-2 py-2 align-center" tile v-if="Object.keys(tableData).length > 0">
        <v-col cols="4">
          <v-btn v-if="isProcessing == false" color="success" dark @click="execute()">
            Start
            <v-icon right dark>mdi-play-circle</v-icon>
          </v-btn>
          <v-btn v-if="isProcessing == true" color="red" dark @click="stop()">
            Stop
            <v-icon right dark>mdi-stop-circle</v-icon>
          </v-btn>
          <download-excel
            v-if="tableData.length>0"
            style="
                background-color: #1976d2 !important;
                color: white;
                font-size: bolder;
                width: 105px;
                margin-left: 5px;
              "
            class="btn btn-default"
            :data="tableData"
            :fields="jsonFields"
            worksheet="My Worksheet"
            :name="fileName"
            type="xls"
          >EXPORT</download-excel>
        </v-col>
      </v-row>
      <v-card
        tile
        v-if="Object.keys(tableData).length>0"
        style="margin-top: -20px; position: relative"
      >
        <v-fab-transition>
          <v-btn
            @click="changeButton"
            v-show="!hidden"
            color="primary"
            fab
            small
            absolute
            top
            right
          >
            <v-icon>mdi-clock</v-icon>
          </v-btn>
        </v-fab-transition>
        <v-fab-transition>
          <v-btn @click="changeButton" v-show="hidden" color="primary" fab small absolute top right>
            <v-icon>mdi-clock-alert</v-icon>
          </v-btn>
        </v-fab-transition>

        <v-row
          v-if="!hidden"
          class="px-5 pb-5 pt-2"
          style="margin-bottom:-50px"
          justify="space-around"
          align="center"
        >
          <v-text-field class="ma-2" label="Duration" v-model="durationTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="Start Time" v-model="aliasStartTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="End Time" v-model="aliasEndTime" readonly></v-text-field>
        </v-row>
        <v-card-title>
          <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
          <v-container fluid>
            <v-data-table
              dense
              :headers="tableHeader1"
              :items="tableData"
              :search="search"
              :loading="isLoading"
            >
              <template v-slot:[`item.ResponseStatus`]="{ item }">
                <progress-linear :item="item" indeterminate color="primary"></progress-linear>
              </template>
            </v-data-table>
          </v-container>
        </v-card-title>
      </v-card>
    </div>
  </v-container>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Vue from "vue";
import UploadExcelComponent from "../Bulk/ExcelTemplate/Index";
import JsonExcel from "vue-json-excel";
Vue.component("downloadExcel", JsonExcel);
export default {
  name: "UploadExcel",
  components: { UploadExcelComponent },
  data() {
    return {
      fileName:
        "Result of Update Problem - " + new Date().toISOString().substr(0, 10),
      tableData: [],
      tableHeader1: [
        { text: "ProblemNumber", value: "ProblemNumber", width: "20%" },
        { text: "ResponseMessage", value: "ResponseMessage", width: "65%" },
        { text: "ResponseStatus", value: "ResponseStatus", width: "15%" }
      ],
      jsonFields: {
        ProblemNumber: "ProblemNumber",
        SupportCompanyPbmMgr: "SupportCompanyPbmMgr",
        SupportOrganizationPbmMgr: "SupportOrganizationPbmMgr",
        SupportGroupPbmMgr: "SupportGroupPbmMgr",
        SupportGroupIDPbmMgr: "SupportGroupIDPbmMgr",
        AssigneePbmMgr: "AssigneePbmMgr",
        AssigneePbmMgrID: "AssigneePbmMgrID",
        AssigneePbmMgrPersonId: "AssigneePbmMgrPersonId",
        ServiceCI: "ServiceCI",
        ServiceCIReconID: "ServiceCIReconID",
        Summary: "Summary",
        Notes: "Notes",
        InvestigationDriver: "InvestigationDriver",
        InvestigationJustification: "InvestigationJustification",
        TargetDate: "TargetDate",
        Impact: "Impact",
        Urgency: "Urgency",
        AssignedSupportCompany: "AssignedSupportCompany",
        AssignedSupportOrganization: "AssignedSupportOrganization",
        AssignedSupportGroup: "AssignedSupportGroup",
        AssignedSupportGroupID: "AssignedSupportGroupID",
        Assignee: "Assignee",
        Status: "Status",
        StatusReason: "StatusReason",
        Resolution: "Resolution",
        ProdCatTier1: "ProdCatTier1",
        ProdCatTier2: "ProdCatTier2",
        ProdCatTier3: "ProdCatTier3",
        OprCatTier1: "OprCatTier1",
        OprCatTier2: "OprCatTier2",
        OprCatTier3: "OprCatTier3",
        ApplicationRootCause: "ApplicationRootCause",
        JamKejadian: "JamKejadian",
        PenyebabMasalah: "PenyebabMasalah",
        Workaround: "Workaround",
        WorkaroundTime: "WorkaroundTime",
        RootCause: "RootCause",
        ClosedTime: "ClosedTime",
        IR: "IR",
        RootCauseCategory: "RootCauseCategory",
        WorkaroundTerm: "WorkaroundTerm",
        PermanentTerm: "PermanentTerm",
        ImpactedApplication: "ImpactedApplication",
        Category: "Category",
        Downtime: "Downtime",
        MatrixRootCause: "MatrixRootCause",
        StatusWorkaround: "StatusWorkaround",
        ImpactedAppCategory: "ImpactedAppCategory",
        DescTableau: "DescTableau",
        ResponseStatus: "ResponseStatus",
        ResponseMessage: "ResponseMessage"
      },
      tableTemplate: [
        {
          ProblemNumber: null,
          SupportCompanyPbmMgr: null,
          SupportOrganizationPbmMgr: null,
          SupportGroupPbmMgr: null,
          SupportGroupIDPbmMgr: null,
          AssigneePbmMgr: null,
          AssigneePbmMgrID: null,
          AssigneePbmMgrPersonId: null,
          ServiceCI: null,
          ServiceCIReconID: null,
          Summary: null,
          Notes: null,
          InvestigationDriver: null,
          InvestigationJustification: null,
          TargetDate: null,
          Impact: null,
          Urgency: null,
          AssignedSupportCompany: null,
          AssignedSupportOrganization: null,
          AssignedSupportGroup: null,
          AssignedSupportGroupID: null,
          Assignee: null,
          Status: null,
          StatusReason: null,
          Resolution: null,
          ProdCatTier1: null,
          ProdCatTier2: null,
          ProdCatTier3: null,
          OprCatTier1: null,
          OprCatTier2: null,
          OprCatTier3: null,
          ApplicationRootCause: null,
          JamKejadian: null,
          PenyebabMasalah: null,
          Workaround: null,
          WorkaroundTime: null,
          RootCause: null,
          ClosedTime: null,
          IR: null,
          RootCauseCategory: null,
          WorkaroundTerm: null,
          PermanentTerm: null,
          ImpactedApplication: null,
          Category: null,
          Downtime: null,
          MatrixRootCause: null,
          StatusWorkaround: null,
          ImpactedAppCategory: null,
          DescTableau: null
        }
      ],
      jsonFieldsTemplate: {
        ProblemNumber: "ProblemNumber",
        SupportCompanyPbmMgr: "SupportCompanyPbmMgr",
        SupportOrganizationPbmMgr: "SupportOrganizationPbmMgr",
        SupportGroupPbmMgr: "SupportGroupPbmMgr",
        SupportGroupIDPbmMgr: "SupportGroupIDPbmMgr",
        AssigneePbmMgr: "AssigneePbmMgr",
        AssigneePbmMgrID: "AssigneePbmMgrID",
        AssigneePbmMgrPersonId: "AssigneePbmMgrPersonId",
        ServiceCI: "ServiceCI",
        ServiceCIReconID: "ServiceCIReconID",
        Summary: "Summary",
        Notes: "Notes",
        InvestigationDriver: "InvestigationDriver",
        InvestigationJustification: "InvestigationJustification",
        TargetDate: "TargetDate",
        Impact: "Impact",
        Urgency: "Urgency",
        AssignedSupportCompany: "AssignedSupportCompany",
        AssignedSupportOrganization: "AssignedSupportOrganization",
        AssignedSupportGroup: "AssignedSupportGroup",
        AssignedSupportGroupID: "AssignedSupportGroupID",
        Assignee: "Assignee",
        Status: "Status",
        StatusReason: "StatusReason",
        Resolution: "Resolution",
        ProdCatTier1: "ProdCatTier1",
        ProdCatTier2: "ProdCatTier2",
        ProdCatTier3: "ProdCatTier3",
        OprCatTier1: "OprCatTier1",
        OprCatTier2: "OprCatTier2",
        OprCatTier3: "OprCatTier3",
        ApplicationRootCause: "ApplicationRootCause",
        JamKejadian: "JamKejadian",
        PenyebabMasalah: "PenyebabMasalah",
        Workaround: "Workaround",
        WorkaroundTime: "WorkaroundTime",
        RootCause: "RootCause",
        ClosedTime: "ClosedTime",
        IR: "IR",
        RootCauseCategory: "RootCauseCategory",
        WorkaroundTerm: "WorkaroundTerm",
        PermanentTerm: "PermanentTerm",
        ImpactedApplication: "ImpactedApplication",
        Category: "Category",
        Downtime: "Downtime",
        MatrixRootCause: "MatrixRootCause",
        StatusWorkaround: "StatusWorkaround",
        ImpactedAppCategory: "ImpactedAppCategory",
        DescTableau: "DescTableau"
      },
      search: "",
      values: {},
      isLoading: false,
      isSuccess: false,
      isProcessing: false,
      currentIndex: 0,
      durationTime: "00:00:00.000",
      startTime: null,
      endTime: null,
      aliasStartTime: null,
      aliasEndTime: null,
      hidden: false,
      stoppedDuration: 0,
      started: null,
      loadingDot: false
    };
  },
  computed: {
    ...mapGetters("update_problem", ["apiState", "message", "editItem"])
  },
  watch: {
    editItem: function(newval, oldval) {
      console.log({ item: newval });
      if (newval.ResponseStatus == "in progress") {
        this.updateRow(newval);
        this.doUpdateProblem({
          FieldName: "update_problem",
          ProblemNumber: newval.ProblemNumber,
          SupportCompanyPbmMgr: newval.SupportCompanyPbmMgr,
          SupportOrganizationPbmMgr: newval.SupportOrganizationPbmMgr,
          SupportGroupPbmMgr: newval.SupportGroupPbmMgr,
          SupportGroupIDPbmMgr: newval.SupportGroupIDPbmMgr,
          AssigneePbmMgr: newval.AssigneePbmMgr,
          AssigneePbmMgrID: newval.AssigneePbmMgrID,
          AssigneePbmMgrPersonId: newval.AssigneePbmMgrPersonId,
          ServiceCI: newval.ServiceCI,
          ServiceCIReconID: newval.ServiceCIReconID,
          Summary: newval.Summary,
          Notes: newval.Notes,
          InvestigationDriver: newval.InvestigationDriver,
          InvestigationJustification: newval.InvestigationJustification,
          TargetDate: newval.TargetDate,
          Impact: newval.Impact,
          Urgency: newval.Urgency,
          AssignedSupportCompany: newval.AssignedSupportCompany,
          AssignedSupportOrganization: newval.AssignedSupportOrganization,
          AssignedSupportGroup: newval.AssignedSupportGroup,
          AssignedSupportGroupID: newval.AssignedSupportGroupID,
          Assignee: newval.Assignee,
          Status: newval.Status,
          StatusReason: newval.StatusReason,
          Resolution: newval.Resolution,
          ProdCatTier1: newval.ProdCatTier1,
          ProdCatTier2: newval.ProdCatTier2,
          ProdCatTier3: newval.ProdCatTier3,
          OprCatTier1: newval.OprCatTier1,
          OprCatTier2: newval.OprCatTier2,
          OprCatTier3: newval.OprCatTier3,
          ApplicationRootCause: newval.ApplicationRootCause,
          JamKejadian: newval.JamKejadian,
          PenyebabMasalah: newval.PenyebabMasalah,
          Workaround: newval.Workaround,
          WorkaroundTime: newval.WorkaroundTime,
          RootCause: newval.RootCause,
          ClosedTime: newval.ClosedTime,
          IR: newval.IR,
          RootCauseCategory: newval.RootCauseCategory,
          WorkaroundTerm: newval.WorkaroundTerm,
          PermanentTerm: newval.PermanentTerm,
          ImpactedApplication: newval.ImpactedApplication,
          Category: newval.Category,
          Downtime: newval.Downtime,
          MatrixRootCause: newval.MatrixRootCause,
          StatusWorkaround: newval.StatusWorkaround,
          ImpactedAppCategory: newval.ImpactedAppCategory,
          DescTableau: newval.DescTableau
        });
      } else if (newval.ResponseStatus == "completed") {
        this.updateRow(newval);
        if (this.currentIndex + 1 != this.tableData.length) {
          this.currentIndex += 1;
        } else {
          this.isSuccess = true;
          this.isProcessing = false;
          this.isLoading = false;
          this.values = {
            content: "Update problem done !",
            alertid: new Date().getTime(),
            type: "success",
            typeId: 4,
            isshow: true
          };
          this.stop();
        }
      } else if (newval.ResponseStatus == "rejected") {
        this.updateRow(newval);
        if (this.currentIndex + 1 != this.tableData.length) {
          this.currentIndex += 1;
        } else {
          this.isSuccess = true;
          this.isProcessing = false;
          this.isLoading = false;
          this.values = {
            content: "Update problem done !",
            alertid: new Date().getTime(),
            type: "success",
            typeId: 4,
            isshow: true
          };
          this.stop();
        }
      }
    },
    currentIndex: function(newval, oldval) {
      console.log("indexchaged ->" + newval);
      if (this.isProcessing) {
        this.initBulk(this.tableData[this.currentIndex]);
      }
    },
    apiState: function(newVal) {
      if (newVal == 4 || newVal == 3) {
        this.values = {
          content: this.message.message,
          alertid: new Date().getTime(),
          type: this.message.type,
          isshow: true,
          typeId: newVal
        };
        this.loadingDot = false;
        this.isLoading = false;
        this.isSuccess = true;
        this.isProcessing = false;
      }
    }
  },
  methods: {
    changeButton() {
      this.hidden = !this.hidden;
    },
    updateRow(processed) {
      this.tableData.splice(this.currentIndex, 1, processed);
    },
    showBrowse() {
      this.isSuccess = false;
      this.isStatus = true;
      this.tableData = [];
      this.currentIndex = 0;
      this.durationTime = "00:00:00.000";
      this.startTime = null;
      this.endTime = null;
      this.aliasStartTime = null;
      this.aliasEndTime = null;
      this.hidden = false;
      this.stoppedDuration = 0;
      this.started = null;
    },
    execute(data) {
      this.isProcessing = true;
      this.isLoading = true;
      console.log(
        { indexTable: this.tableData[this.currentIndex] },
        { tableData: this.tableData }
      );
      this.initBulk(this.tableData[this.currentIndex]);
      if (this.startTime === null) {
        this.startTime = new Date();
        this.aliasStartTime =
          this.startTime.toISOString().substr(0, 10) +
          " " +
          this.startTime.getHours() +
          ":" +
          this.startTime.getMinutes() +
          ":" +
          this.startTime.getSeconds();
      }
      if (this.endTime !== null) {
        this.stoppedDuration += new Date() - this.endTime;
      }
      this.started = setInterval(
        function() {
          this.clockRunning();
        }.bind(this),
        10
      );
    },
    clockRunning() {
      var currentTime = new Date();
      var timeElapsed = new Date(
        currentTime - this.startTime - this.stoppedDuration
      );
      var hour = timeElapsed.getUTCHours();
      var min = timeElapsed.getUTCMinutes();
      var sec = timeElapsed.getUTCSeconds();
      var ms = timeElapsed.getUTCMilliseconds();

      this.durationTime =
        this.zeroPrefix(hour, 2) +
        ":" +
        this.zeroPrefix(min, 2) +
        ":" +
        this.zeroPrefix(sec, 2) +
        "." +
        this.zeroPrefix(ms, 3);
    },
    zeroPrefix(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    },
    stop() {
      this.loadingDot = true;
      this.isSuccess = true;
      this.isProcessing = false;
      this.stopProcess({
        name: "update_problem"
      });
      this.endTime = new Date();
      this.aliasEndTime =
        this.endTime.toISOString().substr(0, 10) +
        " " +
        this.endTime.getHours() +
        ":" +
        this.endTime.getMinutes() +
        ":" +
        this.endTime.getSeconds();
      clearInterval(this.started);
    },
    ...mapActions("update_problem", [
      "doUpdateProblem",
      "initBulk",
      "stopProcess"
    ]),
    beforeUpload(file) {
      this.isLoading = true;
      const isSizeValid = file.size / 5120 / 5120 < 1;
      if (isSizeValid) {
        return true;
      }
      this.dNow = new Date();
      this.values = {
        content: "File too large, maximum 5Mb !",
        alertid: new Date().getTime(),
        type: "warning",
        typeId: 3,
        isshow: true
      };
      return false;
    },
    handleSuccess({ results, header }) {
      this.isLoading = false;
      this.tableData = results;
      console.log({ dataIncident: results });
    }
  }
};
</script>
<style>
.v-data-table .v-data-table__wrapper table tbody tr td {
  font-size: 0.7rem !important;
}
</style>