<template>
  <v-container>
    <v-menu :close-on-content-click="false" :nudge-width="200" offset-x>
      <template v-slot:activator="{ on, attrs }">
        <v-icon color="warning" dark v-bind="attrs" v-on="on">mdi-information</v-icon>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                Excel Template
                <download-excel
                  style="
                    background-color: #1976d2 !important;
                    color: white;
                    font-size: bolder;
                  "
                  class="btn btn-default"
                  :data="this.tableTemplate"
                  :fields="jsonFieldsTemplate"
                  worksheet="Sheet1"
                  name="Template Update Knowledge"
                  type="xlsx"
                >Download</download-excel>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
    <!-- <loading :active.sync="isLoading" :is-full-page="true"></loading> -->
    <div class="app-container">
      <upload-excel-component
        v-if="isSuccess == false"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
      />
      <div v-else class="text-center mt-2 mb-2">
        <v-btn fab dark color="primary" @click="showBrowse">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </div>
      <v-row justify="space-between">
        <alert-message transition="fade-transition" :info="values"></alert-message>
      </v-row>
      <v-row class="mb-3 px-2 py-2 align-center" tile v-if="Object.keys(tableData).length > 0">
        <v-col cols="4">
          <v-btn v-if="isProcessing == false" color="success" dark @click="execute()">
            Start
            <v-icon right dark>mdi-play-circle</v-icon>
          </v-btn>
          <v-btn v-if="isProcessing == true" color="info" dark @click="skip()">
            Skip
            <v-icon right dark>mdi-skip-next</v-icon>
          </v-btn>
          <v-btn v-if="isProcessing == true" color="red" dark @click="stop()">
            Stop
            <v-icon right dark>mdi-stop-circle</v-icon>
          </v-btn>
          <download-excel
            v-if="this.tableData.length>0"
            style="
                background-color: #1976d2 !important;
                color: white;
                font-size: bolder;
                width: 105px;
                margin-left: 5px;
              "
            class="btn btn-default"
            :data="this.tableData"
            :fields="jsonFields"
            worksheet="My Worksheet"
            name="Knowledge Updated"
            type="xls"
          >EXPORT</download-excel>
        </v-col>
      </v-row>
      <v-card
        tile
        v-if="Object.keys(tableData).length > 0"
        style="margin-top: -20px; position: relative"
      >
        <v-fab-transition>
          <v-btn
            @click="changeButton"
            v-show="!hidden"
            color="primary"
            fab
            small
            absolute
            top
            right
          >
            <v-icon>mdi-clock</v-icon>
          </v-btn>
        </v-fab-transition>
        <v-fab-transition>
          <v-btn @click="changeButton" v-show="hidden" color="primary" fab small absolute top right>
            <v-icon>mdi-clock-alert</v-icon>
          </v-btn>
        </v-fab-transition>

        <v-row
          v-if="!hidden"
          class="px-5 pb-5 pt-2"
          style="margin-bottom:-50px"
          justify="space-around"
          align="center"
        >
          <v-text-field class="ma-2" label="Duration" v-model="durationTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="Start Time" v-model="aliasStartTime" readonly></v-text-field>
          <v-text-field class="ma-2" label="End Time" v-model="aliasEndTime" readonly></v-text-field>
        </v-row>
        <v-card-title>
          <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
          <v-container fluid>
            <v-data-table
              dense
              :headers="tableHeader1"
              :items="tableData"
              :search="search"
              :loading="isLoading"
            ></v-data-table>
          </v-container>
        </v-card-title>
      </v-card>
    </div>
  </v-container>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Vue from "vue";
import UploadExcelComponent from "../Bulk/ExcelTemplate/Index";
import JsonExcel from "vue-json-excel";
Vue.component("downloadExcel", JsonExcel);
export default {
  name: "UploadExcel",
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader1: [
        { text: "Doc ID", value: "Doc_ID" },
        { text: "Title", value: "Title" },
        { text: "Process Status", value: "Process_Status" },
        // { text: "Duration", value: "Duration" },
        { text: "Response", value: "Response" }
      ],
      search: "",
      values: {},
      curdate: "",
      dNow: "",
      status: null,
      isLoading: false,
      isSuccess: false,
      jsonFields: {
        Doc_ID: "Doc_ID",
        Title: "Title",
        Product_Categorization_Tier_1: "Product_Categorization_Tier_1",
        Product_Categorization_Tier_2: "Product_Categorization_Tier_2",
        Product_Categorization_Tier_3: "Product_Categorization_Tier_3",
        Operational_Tier_1: "Operational_Tier_1",
        Operational_Tier_2: "Operational_Tier_2",
        Operational_Tier_3: "Operational_Tier_3",
        Process_Status: "Process_Status",
        Response: "Response"
      },
      tableTemplate: [
        {
          Doc_ID: null,
          Title: null,
          Product_Categorization_Tier_1: null,
          Product_Categorization_Tier_2: null,
          Product_Categorization_Tier_3: null,
          Operational_Tier_1: null,
          Operational_Tier_2: null,
          Operational_Tier_3: null,
          Process_Status: null
        }
      ],
      jsonFieldsTemplate: {
        Doc_ID: "Doc_ID",
        Title: "Title",
        Product_Categorization_Tier_1: "Product_Categorization_Tier_1",
        Product_Categorization_Tier_2: "Product_Categorization_Tier_2",
        Product_Categorization_Tier_3: "Product_Categorization_Tier_3",
        Operational_Tier_1: "Operational_Tier_1",
        Operational_Tier_2: "Operational_Tier_2",
        Operational_Tier_3: "Operational_Tier_3"
      },
      isProcessing: false,
      currentIndex: 0,

      alertType: "",
      contentAlert: "",
      typeAlert: "",
      values: {},
      curdate: "",
      dNow: "",
      durationTime: "00:00:00.000",
      startTime: null,
      endTime: null,
      aliasStartTime: null,
      aliasEndTime: null,
      hidden: false,
      stoppedDuration: 0,
      started: null
    };
  },
  computed: {
    ...mapGetters("knowledge", [
      "getApiState",
      "getAlertMessage",
      "getKnowledgeData"
    ])
  },
  watch: {
    getKnowledgeData: function(newval, oldval) {
      this.dNow = new Date();
      this.curdate =
        (this.dNow.getMonth() + 1).toString() +
        this.dNow.getDate().toString() +
        this.dNow.getFullYear().toString() +
        this.dNow.getHours().toString() +
        this.dNow.getMinutes().toString() +
        this.dNow.getSeconds().toString();
      if (this.isProcessing) {
        if (newval.Process_Status == "in progress") {
          this.updateRow(newval);
          this.doUpdateKnowledge({
            Doc_ID: newval.Doc_ID,
            Title: newval.Title,
            Product_Categorization_Tier_1: newval.Product_Categorization_Tier_1,
            Product_Categorization_Tier_2: newval.Product_Categorization_Tier_2,
            Product_Categorization_Tier_3: newval.Product_Categorization_Tier_3,
            Operational_Tier_1: newval.Operational_Tier_1,
            Operational_Tier_2: newval.Operational_Tier_2,
            Operational_Tier_3: newval.Operational_Tier_3
          });
        } else if (newval.Process_Status == "completed") {
          this.updateRow(newval);
          if (this.currentIndex + 1 != this.tableData.length) {
            this.currentIndex += 1;
          } else {
            this.isSuccess = true;
            this.isProcessing = false;
            this.isLoading = false;
            this.values = {
              content: "Update knowledge done !",
              alertid: this.curdate,
              type: "success",
              typeId: 4,
              isshow: true
            };
            this.stop();
          }
        } else if (newval.Process_Status == "rejected") {
          this.updateRow(newval);
          if (this.currentIndex + 1 != this.tableData.length) {
            this.currentIndex += 1;
          } else {
            this.isSuccess = true;
            this.isProcessing = false;
            this.isLoading = false;
            this.values = {
              content: "Update knowledge done !",
              alertid: this.curdate,
              type: "success",
              typeId: 4,
              isshow: true
            };
            this.stop();
          }
        }
      }
    },
    currentIndex: function(newval, oldval) {
      console.log("indexchaged ->" + newval);
      if (this.isProcessing) {
        this.initBulk(this.tableData[this.currentIndex]);
      }
    },
    getApiState: function(newVal) {
      this.dNow = new Date();
      this.alertType = newVal;
      this.curdate =
        (this.dNow.getMonth() + 1).toString() +
        this.dNow.getDate().toString() +
        this.dNow.getFullYear().toString() +
        this.dNow.getHours().toString() +
        this.dNow.getMinutes().toString() +
        this.dNow.getSeconds().toString();
      if (newVal == 3) {
        this.contentAlert = this.getAlertMessage;
        this.isLoading = false;
        this.typeAlert = "error";
        this.isSuccess = true;
        this.isProcessing = false;
      } else if (newVal == 4) {
        this.contentAlert = this.getAlertMessage;
        this.isLoading = false;
        this.typeAlert = "success";
        this.isSuccess = true;
        this.isProcessing = false;
      } else if (newVal == 5) {
        this.contentAlert = this.getAlertMessage;
        this.isLoading = false;
        this.typeAlert = "info";
        this.isSuccess = true;
        this.isProcessing = false;
      } else if (newVal == 6) {
        this.contentAlert = this.getAlertMessage;
        this.isLoading = false;
        this.typeAlert = "warning";
        this.isSuccess = true;
        this.isProcessing = false;
      }
      if (newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6) {
        this.values = {
          content: this.contentAlert,
          alertid: this.curdate,
          type: this.typeAlert,
          typeId: this.alertType,
          isshow: true
        };
      }
    }
  },
  methods: {
    changeButton() {
      this.hidden = !this.hidden;
    },
    updateRow(processed) {
      let index = this.tableData.findIndex(i => i.Doc_ID == processed.Doc_ID);
      this.tableData.splice(index, 1, processed);
    },
    getColor(status) {
      if (status == true) return "green";
      else return "red";
    },
    showBrowse() {
      this.isSuccess = false;
      this.isStatus = true;
      this.tableData = [];
      this.currentIndex = 0;
      this.durationTime = "00:00:00.000";
      this.startTime = null;
      this.endTime = null;
      this.aliasStartTime = null;
      this.aliasEndTime = null;
      this.hidden = false;
      this.stoppedDuration = 0;
      this.started = null;
    },
    execute() {
      this.isProcessing = true;
      this.isLoading = true;
      this.initBulk(this.tableData[this.currentIndex]);
      if (this.startTime === null) {
        this.startTime = new Date();
        this.aliasStartTime =
          this.startTime.toISOString().substr(0, 10) +
          " " +
          this.startTime.getHours() +
          ":" +
          this.startTime.getMinutes() +
          ":" +
          this.startTime.getSeconds();
      }
      if (this.endTime !== null) {
        this.stoppedDuration += new Date() - this.endTime;
      }
      this.started = setInterval(
        function() {
          this.clockRunning();
        }.bind(this),
        10
      );
    },
    clockRunning() {
      var currentTime = new Date();
      var timeElapsed = new Date(
        currentTime - this.startTime - this.stoppedDuration
      );
      var hour = timeElapsed.getUTCHours();
      var min = timeElapsed.getUTCMinutes();
      var sec = timeElapsed.getUTCSeconds();
      var ms = timeElapsed.getUTCMilliseconds();

      this.durationTime =
        this.zeroPrefix(hour, 2) +
        ":" +
        this.zeroPrefix(min, 2) +
        ":" +
        this.zeroPrefix(sec, 2) +
        "." +
        this.zeroPrefix(ms, 3);
    },
    zeroPrefix(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    },
    doUpdateKnowledge(payload) {
      this.doUpdateKnowledge(payload);
    },
    skip() {
      if (this.currentIndex + 1 != this.tableData.length) {
        console.log(this.tableData.length);
        this.currentIndex += 1;
      } else {
        this.stop();
      }
    },
    stop() {
      this.isSuccess = true;
      this.isProcessing = false;
      this.stopProcess({
        name: "update_knowledge"
      });
      this.endTime = new Date();
      this.aliasEndTime =
        this.endTime.toISOString().substr(0, 10) +
        " " +
        this.endTime.getHours() +
        ":" +
        this.endTime.getMinutes() +
        ":" +
        this.endTime.getSeconds();
      clearInterval(this.started);
    },
    ...mapActions("knowledge", [
      "doUpdateKnowledge",
      "initBulk",
      "stopProcess"
    ]),
    beforeUpload(file) {
      this.isLoading = true;
      const isSizeValid = file.size / 5120 / 5120 < 1;
      if (isSizeValid) {
        return true;
      }
      //   this.$message({
      //     message: 'Please do not upload files larger than 1m in size.',
      //     type: 'warning'
      //   })
      this.dNow = new Date();
      this.curdate =
        (this.dNow.getMonth() + 1).toString() +
        this.dNow.getDate().toString() +
        this.dNow.getFullYear().toString() +
        this.dNow.getHours().toString() +
        this.dNow.getMinutes().toString() +
        this.dNow.getSeconds().toString();
      this.values = {
        content: "File too large, maximum 5Mb !",
        alertid: this.curdate,
        type: "warning",
        typeId: 6,
        isshow: true
      };
      return false;
    },
    handleSuccess({ results, header }) {
      this.isLoading = false;
      this.tableData = results;
      //   this.tableHeader = header;
      //   console.log(header);
      // console.log(results);
      //   this.setIncidentRelationData(results);
    }
  }
};
</script>
<style>
.v-data-table .v-data-table__wrapper table tbody tr td {
  font-size: 0.7rem !important;
}
</style>