<template>
  <div class="panel panel-default" ref="formContainer">
    <div class="panel-heading">
      Agent Task
      <a href="#">
        <span
          v-if="refreshloaded"
          class="fa fa-refresh pull-right"
          style="font-size: 20px; color: #0069a5; margin-right: 5px"
          @click="resetData"
        ></span>
        <span
          v-if="!refreshloaded"
          class="fa fa-refresh fa-spin pull-right"
          style="font-size: 20px; color: #0069a5; margin-right: 5px"
          @click="resetData"
        ></span>
      </a>
    </div>
    <div class="panel-body" style="margin-top: -10px">
      <div
        class="col-md-12"
        style="color: #191970; font-size: 18px; margin-bottom: -10px"
      >
        <b>Total ticket : {{ count }}</b>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="col-md-12">
            <label>Search for :</label>
            <v-select
              :options="fieldoptions"
              name="TotalType"
              v-model="selectedfield"
              style="hight: 40px; margin-bottom: 5px"
              @change="onChangeType($event)"
            />
          </div>
          <!-- <label>Search Agent Name contains {{this.search}}</label> -->
        </div>
        <div class="col-md-2">
          <div class="col-md-12">
            <label style="color: white">.</label>
            <v-select
              v-if="selectedfield == 'Agent Name'"
              :options="options"
              @search="onSearch"
              :selectOnTab="true"
              label="name"
              v-model="agent_name"
              name="User"
            >
              <span
                v-show="errors.has('User')"
                class="valid-feedback text-danger"
                >{{ errors.first("User") }}</span
              >
              <template slot="option" slot-scope="option">
                <input type="hidden" :value="option.name" key="user-name" />
                <div class="d-center">
                  {{ option.name + " ( " + option.sgn_remedy + " ) " }}
                </div>
              </template>
            </v-select>
            <input
              v-else
              id="txtNameAgent"
              v-model="textsearch"
              type="text"
              autocomplete="off"
              :placeholder="
                this.selectedfield == null
                  ? 'Search '
                  : 'Search ' + this.selectedfield
              "
              class="form-control"
              style="margin-bottom: 5px"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-6">
            <label>from date</label>
            <input
              v-model="searchdate"
              type="date"
              autocomplete="off"
              placeholder="Search in Date"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <label>to date</label>
            <input
              v-model="tosearchdate"
              type="date"
              autocomplete="off"
              placeholder="Search in Date"
              class="form-control"
            />
          </div>
          <!-- <label>Search in date {{this.searchdate | mydateformat}}</label> -->
        </div>
        <div class="col-md-3" style="margin-top: 20px">
          <div class="col-md-6">
            <v-select
              :options="statusoptions"
              name="TotalType"
              v-model="selectedstatus"
            />
          </div>
          <div class="col-md-6">
            <v-select
              :options="service_channel_name"
              :selectOnTab="true"
              v-model="serviceChannelNameSelected"
              name="Service Channel Name"
            ></v-select>
          </div>
        </div>
        <div class="col-md-2 pull-right" style="margin-top: 20px">
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info pull-right"
              style="width: 75px"
              @click="resetData"
            >
              Reset
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-info pull-right"
              style="width: 75px"
              @click="dataChanged"
            >
              Search
            </button>
          </div>
        </div>
      </div>
      <div v-if="req == null || req == ''">
        <div class="alert alert-info" role="alert">
          <span
            class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true"
          ></span>
          Data no available !
        </div>
      </div>

      <div v-else>
        <table
          id="live-request-table"
          ref="liverequest"
          class="table table-bordered"
          style="cursor: pointer"
        >
          <thead>
            <tr>
              <th class="text-center">Req. Id</th>
              <th class="text-center">Requester Name</th>
              <th class="text-center">Channel</th>
              <th class="text-center">Request Name/ Summary</th>
              <th class="text-center">WO/INC Id</th>
              <th class="text-center">SR Id</th>
              <th class="text-center">Submitter Name</th>
              <th class="text-center">Agent Name</th>
              <th class="text-center">Booked On</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="request in req" :key="request.id">
              <td align="center" style="width: 5%">{{ request.id }}</td>
              <td style="width: 10%">{{ request.senderNumber }}</td>
              <td align="center" style="width: 7%">
                {{ request.recipientID }}
              </td>
              <td style="width: 10%" v-if="request.serviceCatalogType == 'WO'">
                {{ request.serviceCatalogName }}
              </td>
              <td style="width: 10%" v-else>{{ request.text }}</td>
              <td
                align="center"
                style="width: 10%"
                v-if="request.remedyTicketId == null"
              >
                N/A
              </td>
              <td
                align="center"
                style="width: 10%"
                v-else-if="
                  request.remedyTicketId === null ||
                  request.serviceCatalogType == 'WO'
                "
              >
                <a
                  target="_blank"
                  :href="
                    'https://mandiriservicedesk.corp.bankmandiri.co.id/arsys/forms/appremedy/WOI:WorkOrder/Simplified+User+View/?qual=%271000000182%27=%22' +
                    request.remedyTicketId +
                    '%22'
                  "
                  >{{ request.remedyTicketId }}</a
                >
              </td>
              <td align="center" style="width: 10%" v-else>
                <a
                  target="_blank"
                  :href="
                    'https://mandiriservicedesk.corp.bankmandiri.co.id/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22' +
                    request.remedyTicketId +
                    '%22'
                  "
                  >{{ request.remedyTicketId }}</a
                >
              </td>
              <td align="center" style="width: 8%" v-if="request.srid == null">N/A</td>
              <td align="center" style="width: 8%" v-else>{{ request.srid }}</td>
              <td align="center" style="width: 10%">
                {{ request.submitterName }}
              </td>
              <td align="center" style="width: 10%">
                {{ request.assigneeName }}
              </td>
              <td align="center" style="width: 10%">
                {{ request.bookDateTime | mydateformat }}
              </td>
              <td align="center" style="width: 10%">
                {{ request.processStatus }}
              </td>
              <td
                style="width: 5%"
                align="center"
                v-if="
                  request.processStatus == 'INPROGRESS' ||
                  request.processStatus == 'BOTPROCESS' ||
                  request.processStatus == 'PENDING' ||
                  request.processStatus == 'WAITINGAPR' ||
                  request.processStatus == 'PLANNING'
                "
              >
                <a href="#">
                  <button
                    v-if="request.serviceCatalogType == 'WO'"
                    type="button"
                    class="btn btn-info btn-sm book"
                    data-backdrop
                    :data-id="request.id"
                    :data-status="request.processStatus"
                    :data-toggle="'modal'"
                    data-target="#modal-workorder-manager"
                    :id="request.id"
                    v-on:click="
                      selectRequest(
                        request.id,
                        auth.id,
                        request.serviceCatalogId,
                        'modal-workorder-manager'
                      )
                    "
                    style="width: 60px"
                  >
                    Check
                  </button>
                  <button
                    v-if="
                      request.serviceCatalogType == 'IN' &&
                      request.recipientID == 'LIVECHAT'
                    "
                    type="button"
                    class="btn btn-info btn-sm book"
                    data-backdrop
                    :data-id="request.id"
                    :data-status="request.processStatus"
                    :data-toggle="'modal'"
                    data-target="#modal-livechat"
                    :id="request.id"
                    v-on:click="
                      selectRequest(
                        request.id,
                        auth.id,
                        request.serviceCatalogId,
                        'modal-livechat'
                      )
                    "
                    style="width: 60px"
                  >
                    Check
                  </button>
                  <button
                    v-else-if="request.serviceCatalogType == 'IN'"
                    type="button"
                    class="btn btn-info btn-sm book"
                    data-backdrop
                    :data-id="request.id"
                    :data-status="request.processStatus"
                    :data-toggle="'modal'"
                    data-target="#modal-incident-manager"
                    :id="request.id"
                    v-on:click="
                      selectRequest(
                        request.id,
                        auth.id,
                        request.serviceCatalogId,
                        'modal-incident-manager'
                      )
                    "
                    style="width: 60px"
                  >
                    Check
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requests", "auth", "supportgroupid"],
  data: function () {
    return {
      refreshloaded: true,
      searchdate: "",
      tosearchdate: "",
      textsearch: "",
      req: this.requests.data,
      count: this.requests.count,
      statusoptions: ["ALL", "INPROGRESS", "PENDING", "WAITINGAPR", "PLANNING"],
      selectedstatus: "ALL",
      serviceChannelNameSelected: "ALL",
      service_channel_name: [
        "CALL",
        "EMAIL",
        "ITSRM",
        "LIVECHAT",
        "SMS",
        "TELEGRAM",
        "WA",
      ],
      fieldoptions: ["Agent Name", "Ticket", "Notes", "Summary"],
      selectedfield: "Ticket",
      tmp_field: "",
      options: [],
      agent_name: "",
    };
  },

  mounted() {
    this.getAssignee();
  },
  // watch: {
  //   textsearch: function() {
  //     this.customerChanged();
  //   }
  // },

  methods: {
    getAssignee() {
      // this.agent_name = null;
      axios
        .post("/user_configuration/get_assignee")
        .then((response) => {
          this.options = response.data;
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger",
            });
          }
        });
    },

    selectRequest(id, assigneeId, serviceCatalogId, modalname) {
      this.$emit("requestselected", {
        id: id,
        assigneeId: assigneeId,
        serviceCatalogId: serviceCatalogId,
        modalname: modalname,
        isredirecttolivechat: false,
        manager: true,
      });
    },

    dataChanged() {
      let loader = this.$parent.$loading.show({
        loader: "dots",
      });
      this.refreshloaded = false;
      var field = "";
      switch (this.selectedfield) {
        case "Agent Name": {
          field = "EmployeeAssigneeId";
          break;
        }
        case "Notes": {
          field = "TextDecoded";
          break;
        }
        case "Summary": {
          field = "TextDecoded";
          break;
        }
        default: {
          field = "RemedyTicketId";
          break;
        }
      }

      if (this.selectedfield == "Agent Name" && this.agent_name != "") {
        this.textsearch = this.agent_name.employee_remedy_id;
      }

      var url =
        "/dashboard/manager/searchtask?supportgroupid=" +
        this.supportgroupid +
        "&field=" +
        field;

      if (this.searchdate !== "") {
        url += "&searchdate=" + this.searchdate;
      }
      if (this.tosearchdate !== "") {
        url += "&tosearchdate=" + this.tosearchdate;
      }
      if (this.textsearch !== "") {
        url += "&search=" + this.textsearch;
      }
      if (this.selectedstatus !== "ALL") {
        url += "&status=" + this.selectedstatus;
      }
      if (this.serviceChannelNameSelected !== "ALL") {
        url += "&channel=" + this.serviceChannelNameSelected;
      }

      axios
        .post(url)
        .then((response) => {
          this.req = response.data.data;
          this.count = response.data.count;
          this.refreshloaded = true;
          loader.hide();
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger",
            });
          }
        });
    },

    reset() {
      this.textsearch = "";
      this.searchdate = "";
    },

    resetData() {
      this.searchdate = "";
      this.tosearchdate = "";
      this.textsearch = "";
      this.selectedstatus = "ALL";
      this.serviceChannelNameSelected = "ALL";
      (this.agent_name = ""), this.dataChanged();
    },

    onChangeType() {
      this.textsearch = "";
    },

    onSearch(searching, loading) {
      loading(false);
      if (searching.length >= 4) {
        this.searching(loading, searching, this);
      }
    },

    searching: _.debounce((loading, searching, vm) => {
      axios
        .post("/user_configuration/search", {
          inputname: searching,
        })
        .then((res) => {
          vm.options = res.data;
        })
        .catch((error) => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger",
            });
          }
        });
    }, 350),
  },
};
</script>