<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      Audit Trail Patching Data TIM SDS
      <a href="#">
        <span
          v-if="refreshloaded"
          class="fa fa-refresh pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
          @click="resetData"
        ></span>
        <span
          v-if="!refreshloaded"
          class="fa fa-refresh fa-spin pull-right"
          style="font-size:24px; color:#0069a5; margin-right: 5px;"
        ></span>
      </a>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Searching for:</label>
            <v-select
              :options="statusoptions"
              name="TotalType"
              v-model="selectedstatus"
              style="hight:40px"
            />
          </div>
          <div class="col-md-3">
            <label>.</label>
            <input
              id="txtName"
              v-model="textsearch"
              type="text"
              autocomplete="off"
              :placeholder="this.selectedstatus == null?'Search ':'Search '+this.selectedstatus"
              class="form-control"
              style="margin-bottom:5px"
            />
          </div>
          <!-- <div class="col-md-3">
            <input
              id="txtName2"
              v-model="textsearchdate"
              type="date"
              autocomplete="off"
              placeholder="Search from Date"
              class="form-control"
              style="margin-bottom:5px"
            />
            <label>Search in date {{this.textsearchdate | mydateformat}}</label>
          </div> -->
          <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-info pull-right" style="width:90px;" @click="resetData">Reset</button>
            <button type="button" class="btn btn-info pull-right" style="width:90px;" @click="dataChanged">Search</button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Login User</th>
            <th class="text-center">Username</th>
            <th class="text-center">Remedy Ticket</th>
            <th class="text-center">Summary Ticket</th>
            <th class="text-center">Table Name</th>
            <th class="text-center">Old Data</th>
            <th class="text-center">New Data</th>
            <th class="text-center">Update date time</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="value in audit" :key="value.id">
              <td align="center" style="width:10%">{{value.Login_user}}</td>
              <td align="center" style="width:10%">{{value.Username}}</td>
              <td align="center" style="width:10%">{{value.RemedyTicketId}}</td>
              <td align="center" style="width:10%">{{value.Summary}}</td>
              <td align="center" style="width:10%">{{value.Table_Name}}</td>
              <td align="center" style="width:10%">{{value.Old_Data}}</td>
              <td align="center" style="width:10%">{{value.New_Data}}</td>
              <td align="center" style="width:10%">{{value.Update_date_time | mydateformat}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  props: ['supportgroup'],
  created(){
    if(this.supportgroup == 'SGP000000000414'){
      this.dataChanged();
    }
  },

  data(){
    return{
      refreshloaded: false,
      textsearch: '',
      textsearchdate: null,
      statusoptions: [
        "Login User",
        "Username",
        "Remedy Ticket",
        "Summary Ticket",
        "Table Name",
        "Old Data",
        "New Data"
      ],
      selectedstatus: "Username",
      audit: null
    }
  },

  methods: {
    resetData(){
      this.refreshloaded = false
      this.textsearch = null
      this.textsearchdate = null
      this.dataChanged();
    },

    dataChanged(){
      var url = "/sds/search/auditTrail" ;
      var search =  this.textsearch;
      switch(this.selectedstatus){
        case "Login User":{
          var field = "Login_user";
          break;
        }
        case "Remedy Ticket":{
          var field = "RemedyTicketId";
          break;
        }
        case "Summary Ticket":{
          var field = "Summary";
          break;
        }
        case "Table Name":{
          var field = "Table_Name";
          break;
        }
        case "Old Data":{
          var field = "Old_Data";
          break;
        }
        case "New Data":{
          var field = "New_Data";
          break;
        }
        default:{
          var field = "Username";
          break;
        }
      }
      
      axios.post(url, {
          search,
          field,
        }).then(response => {
        this.audit = response.data.result;
        this.refreshloaded = true;
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          }
          if (error.response.status === 500) {
            if (
              window.confirm(
                "Sistem galat, mohon hubungi Administrator atau tekan ok untuk reload page"
              )
            ) {
              location.reload(false);
            } else {
            }
          } else {
          }
        });
    }
  }
};
</script>