<template>
  <canvas></canvas>
</template>
<script>
import Chart from "chart.js";
export default {
  props: ["personalstats", "title"],
  data: function() {
    return {
      actchart: null,
      chartColors: {
        red: "rgb(255, 99, 132)",
        orange: "rgb(255, 159, 64)",
        yellow: "rgb(255, 205, 86)",
        green: "rgb(75, 192, 192)",
        blue: "rgb(54, 162, 235)",
        purple: "rgb(153, 102, 255)",
        grey: "rgb(201, 203, 207)",
        Yellow4: "rgb(135,135,0)",
        Wheat4: "rgb(135,135,95)",
        Grey53: "rgb(135,135,135)",
        LightSlateGrey: "rgb(135,135,175)",
        MediumPurple: "rgb(135,135,215)",
        LightSlateBlue: "rgb(135,135,255)",
        Yellow4: "rgb(135,175,0)",
        DarkOliveGreen3: "rgb(135,175,95)",
        DarkSeaGreen: "rgb(135,175,135)",
        LightSkyBlue3: "rgb(135,175,175)",
        LightSkyBlue3: "rgb(135,175,215)",
        SkyBlue2: "rgb(135,175,255)",
        Chartreuse2: "rgb(135,215,0)",
        DarkOliveGreen3: "rgb(135,215,95)",
        PaleGreen3: "rgb(135,215,135)",
        DarkSeaGreen3: "rgb(135,215,175)",
        DarkSlateGray3: "rgb(135,215,215)",
        SkyBlue1: "rgb(135,215,255)",
        Chartreuse1: "rgb(135,255,0)",
        LightGreen: "rgb(135,255,95)",
        LightGreen: "rgb(135,255,135)",
        PaleGreen1: "rgb(135,255,175)",
        Aquamarine1: "rgb(135,255,215)",
        DarkSlateGray1: "rgb(135,255,255)",
        Red3: "rgb(175,0,0)",
        DeepPink4: "rgb(175,0,95)",
        MediumVioletRed: "rgb(175,0,135)",
        Magenta3: "rgb(175,0,175)",
        DarkViolet: "rgb(175,0,215)",
        Purple: "rgb(175,0,255)",
        DarkOrange3: "rgb(175,95,0)",
        IndianRed: "rgb(175,95,95)",
        HotPink3: "rgb(175,95,135)",
        MediumOrchid3: "rgb(175,95,175)",
        MediumOrchid: "rgb(175,95,215)",
        MediumPurple2: "rgb(175,95,255)",
        DarkGoldenrod: "rgb(175,135,0)",
        LightSalmon3: "rgb(175,135,95)",
        RosyBrown: "rgb(175,135,135)",
        Grey63: "rgb(175,135,175)",
        MediumPurple2: "rgb(175,135,215)",
        MediumPurple1: "rgb(175,135,255)",
        Gold3: "rgb(175,175,0)",
        DarkKhaki: "rgb(175,175,95)",
        NavajoWhite3: "rgb(175,175,135)",
        Grey69: "rgb(175,175,175)",
        LightSteelBlue3: "rgb(175,175,215)",
        LightSteelBlue: "rgb(175,175,255)",
        Yellow3: "rgb(175,215,0)",
        DarkOliveGreen3: "rgb(175,215,95)",
        DarkSeaGreen3: "rgb(175,215,135)",
        DarkSeaGreen2: "rgb(175,215,175)",
        LightCyan3: "rgb(175,215,215)",
        LightSkyBlue1: "rgb(175,215,255)",
        GreenYellow: "rgb(175,255,0)",
        DarkOliveGreen2: "rgb(175,255,95)",
        PaleGreen1: "rgb(175,255,135)",
        DarkSeaGreen2: "rgb(175,255,175)",
        DarkSeaGreen1: "rgb(175,255,215)",
        PaleTurquoise1: "rgb(175,255,255)"
      }
    };
  },

  computed: {
    chartdata: function() {
      return this.personalstats;
    }
  },

  watch: {
    personalstats: function() {
      this.actchart.destroy();
      this.renderChart();
    }
  },

  methods: {
    randonColor() {
      var keys = Object.keys(this.chartColors);
      return this.chartColors[keys[(keys.length * Math.random()) << 0]];
    },

    renderData() {
      var rawData = [];
      this.chartdata.data.forEach(item => {
        var tmpData = {
          label: item.name,
          data: Object.values(item.totalDailyTask),
          borderColor: this.randonColor(),
          fill: false,
          backgroundColor: this.randonColor(),
          yAxisID: "y-axis-1"
        };
        rawData.push(tmpData);
      });
      return rawData;
    },

    renderChart() {
      this.actchart = new Chart(this.$el, {
        type: "line",
        data: {
          labels: this.chartdata.label,
          datasets: this.renderData()
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          hoverMode: "index",
          stacked: false,
          title: {
            display: true,
            text: this.title
          },
          scales: {
            yAxes: [
              {
                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                display: true,
                position: "left",
                id: "y-axis-1"
              }
            ]
          }
        }
      });
      this.actchart.canvas.parentNode.style.height =
        this.chartdata.data.length > 20 ? "600px" : "400px";
    }
  },
  mounted() {
    this.renderChart();
  }
};
</script>

