<template>
  <div class="form-horizontal" style="font-weight: bold;">
    <div class="form-group">
      <div class="col-md-3">
        <strong>ID</strong>
      </div>
      <div class="col-md-3">
        <input
          type="text"
          placeholder="ID Request"
          class="form-control"
          name="id"
          id="id"
          :value="requests_prop.id"
          readonly="true"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Jenis Request</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          :value="requests_prop.reqType"
          name="reqType"
          id="reqType"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>NIP</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="NIP"
          id="nip"
          class="form-control"
          name="nip"
          :value="requests_prop.nip"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Kode Cabang</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="Kode Cabang"
          id="kodeCabang"
          class="form-control"
          name="kodeCabang"
          :value="requests_prop.kodeCabang"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>ID Mesin</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="ID Mesin"
          autocomplete="off"
          class="form-control"
          name="idMesin"
          id="idMesin"
          :value="requests_prop.idMesin"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Result</strong>
      </div>
      <div class="col-md-9">
        <select class="form-control listResult" name="result" required="required">
          <option value>- Please Select -</option>
          <option
            v-for="option in requests_prop.listtAtmLoadingDesc"
            v-bind:value="option.id"
            :key="option.id"
          >{{ option.Value }}</option>
        </select>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requests_prop", "is_loaded"],
};
</script>