<template>
  <div class="form-horizontal" style="font-weight: bold;">
    <div class="form-group">
      <div class="col-md-3">
        <strong>ID</strong>
      </div>
      <div class="col-md-3">
        <input
          type="text"
          placeholder="ID Request"
          class="form-control"
          name="id"
          id="id"
          :value="requests_prop.id"
          readonly="true"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Jenis Request</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          :value="requests_prop.reqType"
          name="reqType"
          id="reqType"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>NIP</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="NIP"
          id="nip"
          class="form-control"
          name="nip"
          :value="requests_prop.nip"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Nama</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="Nama"
          id="nama"
          class="form-control"
          name="nama"
          :value="requests_prop.nama"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>Kode Cabang</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="Kode Cabang"
          id="kodeCabang"
          class="form-control"
          name="kodeCabang"
          :value="requests_prop.kodeCabang"
        >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <strong>IP Server</strong>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          placeholder="IP Server"
          autocomplete="off"
          class="form-control"
          name="ipServer"
          id="ipServer"
          :value="requests_prop.ipServer"
        >
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" style="text-align: left; font-weight: bold;">
        <br>
      </label>
      <div class="col-md-9">
        <a
          class="gallery-item"
          :href="app_url+'/assets/uploads/images/request/961998.jpg'"
          title="Image"
          data-gallery
          style
        >
          <div class="meta">
            <img
              :src="app_url+'/assets/uploads/images/request/961998.jpg'"
              width="200px"
              height="200px"
            >
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requests_prop", "is_loaded"],

  data(){
    return{
      app_url: process.env.MIX_APP_URL,
    }
  },
};
</script>