<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="modal-body form-horizontal" style="overflow-Y: auto; font-weight: bold;">
          <div class="form-group">
            <div class="col-md-3">
              <strong>ID</strong>
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="ID Request"
                class="form-control"
                name="id"
                id="id"
                :value="requests_prop.id"
                readonly="true"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Jenis Request</strong>
            </div>
            <div class="col-md-3">
              <input
                type="text"
                class="form-control"
                :value="requests_prop.codeRequest"
                name="reqType"
                id="reqType"
                readonly="true"
              >
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                :value="requests_prop.infoRequest"
                name="reqType"
                id="reqType"
                readonly="true"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>ID Mesin</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="ID Mesin"
                autocomplete="off"
                class="form-control"
                name="idMesin"
                id="idMesin"
                :value="requests_prop.idMesin"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Lokasi</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Lokasi"
                autocomplete="off"
                class="form-control"
                name="lokasi"
                id="lokasi"
                :value="requests_prop.lokasi"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Tanggal dan Jam Isi</strong>
            </div>
            <div class="col-md-6">
              <input
                type="text"
                placeholder="Tanggal"
                autocomplete="off"
                class="form-control"
                name="tanggalIsi"
                id="tanggalIsi"
                :value="requests_prop.tanggalIsi"
              >
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Jam Isi"
                autocomplete="off"
                class="form-control"
                name="jamIsi"
                id="jamIsi"
                :value="requests_prop.jamIsi"
              >
            </div>
          </div>

          <div
            class="form-group"
            v-if="requests_prop.codeRequest=='04' || requests_prop.codeRequest=='05'"
          >
            <div class="col-md-3">
              <strong>Hopper 1</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Hopper 1"
                autocomplete="off"
                class="form-control"
                name="hopper1"
                id="hopper1"
                :value="requests_prop.hopper1"
              >
            </div>
          </div>

          <div
            class="form-group"
            v-if="requests_prop.codeRequest=='04' || requests_prop.codeRequest=='05'"
          >
            <div class="col-md-3">
              <strong>Hopper 2</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Hopper 2"
                autocomplete="off"
                class="form-control"
                name="hopper2"
                id="hopper2"
                :value="requests_prop.hopper2"
              >
            </div>
          </div>

          <div class="form-group" v-else>
            <div class="col-md-3">
              <strong>Jumlah Isi</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Jumlah Isi"
                autocomplete="off"
                class="form-control"
                name="jumlahIsi"
                id="jumlahIsi"
                :value="requests_prop.jumlahIsi"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Sisa B24</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Sisa B24"
                autocomplete="off"
                class="form-control"
                name="sisaB24"
                id="sisaB24"
                :value="requests_prop.sisaB24"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>No. Admin Card</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="No. Admin Card"
                autocomplete="off"
                class="form-control"
                name="noAdminCard"
                id="noAdminCard"
                :value="requests_prop.noAdminCard"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Vendor/Cabang</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="Vendor"
                autocomplete="off"
                class="form-control"
                name="vendor"
                id="vendor"
                :value="requests_prop.vendor"
              >
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <strong>Keterangan (PIC)</strong>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                placeholder="keterangan (PIC)"
                autocomplete="off"
                class="form-control"
                name="vendor"
                id="vendor"
                :value="requests_prop.keteranganPIC"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-info submitForm"
        data-dismiss="modal"
        @click="submitRequest()"
        style="width:90px;"
      >Submit</button>
      <button
        type="button"
        data-dismiss="modal"
        class="btn btn-info btnCancel"
        data-style="width:90px"
        @click="cancelRequest(requests_prop.id)"
      >Cancel</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requests_prop", "is_loaded"],

  methods: {
    cancelRequest(idRequest) {
      this.$emit("cancel_request", {
        id: idRequest
      });
    },
    submitRequest() {
      this.$emit("submit_request", {
        id: this.requests_prop.id,
        reqType: this.requests_prop.reqType
      });
    }
  },
};
</script>