<template>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            <input type="checkbox" disabled />
          </th>
          <th class="text-center">BRANCHID</th>
          <th class="text-center">BRANCHNAME</th>
          <th class="text-center">BR_TYPE</th>
          <th class="text-center">ACTIVE</th>
          <th class="text-center">FINGERPRINTSTA</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: [],
  methods: {}
};
</script>
