<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">Import User</span>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
          <v-card tile>
            <v-row justify="space-between" style="padding-right:10px;padding-left:10px;">
              <alert-message transition="fade-transition"
                :info="values"
              ></alert-message>
            </v-row>
            <v-card-title>
              <v-text-field v-model="searchData" label="Cari..." single-line hide-details></v-text-field>
              <v-btn color="primary" dark @click="submitUser" :disabled="this.selectedStatus">Aktifkan</v-btn>
            </v-card-title>
            <v-container fluid>
              <v-data-table
                dense
                :headers="getSimpleHeaderItools"
                :items="getUsersItools"
                :search="searchData"
                :loading="!loaded"
                loading-text="Loading... Please wait !"
                show-select
                item-key="id"
                v-model="checkedNames"
                disable-pagination
                hide-default-footer
              >
              <template v-slot:header.data-table-select>
                <v-checkbox :disabled="true"></v-checkbox>
              </template>
              </v-data-table>
            </v-container>
          </v-card>
        </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["showImport"],
  data: function() {
    return {
      dialog: false,
      searchData: "",
      loaded: false,
      checkedNames:[],
      selectedStatus: true,

      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      curdate:"",
      dNow:"",
    };
  },
  watch: {
    checkedNames: function(newVal) {
      if (this.checkedNames.length == 0) {
        this.selectedStatus = true;
      } else {
        this.selectedStatus = false;
      }
    },
    showImport: function(newVal) {
      this.dialog = newVal;
    },
    getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.values = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
      this.loaded = newVal != 1 ? true : false;
    },
  },
  mounted(){
    this.fetchListUsersItools();
  },
  computed: {
    ...mapGetters("userconfig", [
        "getUsersItools",
        "getSimpleHeaderItools",
        "getApiState",
        "getAlertMessage",
        ]),
  },
  methods: {
    ...mapActions("userconfig",[
      "fetchListUsersItools",
    ]),
    submitUser() {
    this.dialog = false;
    this.$emit("goUpdate", {
      details: this.checkedNames
    });
    this.checkedNames = []
    },
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
  }
};
</script>