<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
              <v-row>
                <!-- <v-col cols="3">
                  <v-text-field
                    v-model="getEditItem.id"
                    label="System Downtime*"
                    readonly
                    disabled
                  ></v-text-field>
                </v-col> -->
                <v-col cols="3">
                  <v-text-field
                    v-model="getEditItem.system_name"
                    label="System Name*"
                    :rules="commonRules"
                    required
                  ></v-text-field>
                </v-col>
                
              </v-row>
            </v-form>
          </v-container>
          <small>*Mandatory</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doSaveOrUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called"],
  data: function() {
    return {
      dialog: false,
      commonRules: [v => !!v || "Nilai diperlukan"],
      title: null,
    };
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
      this.title = this.getEditIndex === -1 ? "Add Master System Avail" : "Update Master System Avail";
    }
  },
  computed: {
    ...mapGetters("mastersystem", ["getEditIndex", "getEditItem"]),
  },
  methods: {
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    doSaveOrUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
          id: this.getEditItem.id,
          system_name: this.getEditItem.system_name,
        });
      }
    },
  }
};
</script>