<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
            <v-row justify="space-between">
              <alert-message transition="fade-transition"
                :info="valuesMaster"
              ></alert-message>
            </v-row>
              <v-row>
                <v-col cols="6">
                  <v-autocomplete
                      v-model="getEditItem.pmmastersystemavailability"
                      append-outer-icon="mdi-plus"
                      @click:append-outer="callForm"
                      :items="getSystemName"
                      label="System Name*"
                      item-text="system_name"
                      return-object
                      flat
                      :rules="commonRules"
                      required
                    ></v-autocomplete>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="getEditItem.node"
                    label="Node*"
                    :rules="commonRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-select
                    v-model="getEditItem.site"
                    label="Site*"
                    :items="['DC','DRC']"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="getEditItem.machine"
                    label="Machine"
                  ></v-text-field>
                </v-col> 
                <v-col cols="6">
                  <v-select
                    v-model="getEditItem.type"
                    label="Type"
                    :items="['CF','NCF']"
                  ></v-select>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="getEditItem.business_txn_metrics"
                    label="Business Txn Metrics"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="getEditItem.rest_url"
                    label="Rest URL*"
                    :rules="commonRules"
                    required
                  ></v-text-field>
                </v-col>                     
              </v-row>
            </v-form>
          </v-container>
          <small>*Mandatory</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doSaveOrUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
      <master-system-form
          :called="callSystem"
          v-on:cancel="dialogClosed"
          v-on:saveOrUpdate="saveOrUpdate"
        ></master-system-form>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import MasterSystemForm from "../../components/form/MasterSystemForm";
export default {
  props: ["called"],
  data: function() {
    return {
      dialog: false,
      commonRules: [v => !!v && /[^ ]/.test(v) || "Required value !"],
      threeRoles: [v => (v && v.length <= 3) || 'Maximal length 3 characters !'],
      title: null,
      callSystem: false,
      valuesMaster:{},
      alertType: "",
      contentAlert:"",
      typeAlert:"",
      values:{},
      curdate:"",
      dNow:"",
    };
  },
  components: {
      MasterSystemForm
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
      this.title = this.getEditIndex === -1 ? "Add Master Apdy Bridge" : "Update Master Apdy Bridge";
    },
    getApiState: function(newVal) {
      this.dNow=new Date();
      this.alertType = newVal;
      this.curdate = (this.dNow.getMonth()+1).toString()+ this.dNow.getDate().toString()+ this.dNow.getFullYear().toString() + this.dNow.getHours().toString() + this.dNow.getMinutes().toString() + this.dNow.getSeconds().toString();
      if(newVal==3){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "error"
      }else if(newVal==4){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "success"
      }else if(newVal==5){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "info"
      }else if(newVal==6){
        this.contentAlert = this.getAlertMessage;
        this.typeAlert = "warning"
      }
      if(newVal == 3 || newVal == 4 || newVal == 5 || newVal == 6){
        this.valuesMaster = {
          content:this.contentAlert,
          alertid:this.curdate,
          type:this.typeAlert,
          typeId:this.alertType,
          isshow:true
      };
      }
    },
  },
  computed: {
    ...mapGetters("master_apdy_bridge", ["getEditIndex", "getEditItem"]),
    ...mapGetters("systemavailability", ["getSystemName"]),
    ...mapGetters("mastersystem", {
    getApiState:"getApiState",
    getAlertMessage:"getAlertMessage",
  }),
  },
  created() {
    this.fetchSystemName();
  },
  methods: {
    saveOrUpdate(payload) {
        this.addMasterSystem(payload);
        this.resetSystemNames();
        this.fetchSystemName();
        this.callSystem = false;
    },
    callForm(){
        this.callSystem = true
    },
    dialogClosed() {
      this.callSystem = false;
    },
    ...mapActions("systemavailability", ["fetchSystemName","resetSystemNames",]),
    ...mapActions("mastersystem",{
      addMasterSystem:"addMasterSystem",
    }),
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    doSaveOrUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
          id: this.getEditItem.id,
          master_system: this.getEditItem.pmmastersystemavailability,
          site: this.getEditItem.site,
          machine: this.getEditItem.machine,
          type: this.getEditItem.type,
          business_txn_metrics: this.getEditItem.business_txn_metrics,
          rest_url: this.getEditItem.rest_url,
          node: this.getEditItem.node
        });
      }
    },
  }
};
</script>