<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable persistent max-width="1000px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="getEditItem.name"
                    label="Nama Role*"
                    :rules="commonRules"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <div v-if="!loaded">
                <v-row>
                  <v-container>
                    <v-card :loading="true" class="mx-auto" height="3"></v-card>
                  </v-container>
                </v-row>
              </div>
              <div v-else-if="loaded">
                <v-row>
                  <v-container class="ma-0 pa-0" fluid>
                    <v-card tile>
                      <v-card-title>
                        <v-text-field v-model="search" label="Cari..." single-line hide-details></v-text-field>
                      </v-card-title>
                      <v-container fluid>
                      <v-data-table
                        dense
                        :headers="getSimpleHeader"
                        :items="getFeatures"
                        :loading="!loaded"
                        :search="search"
                        loading-text="Mengambil data.. mohon menunggu"
                        item-key="name"
                        disable-pagination
                        hide-default-footer
                      >
                      <template v-slot:item.baca="{ item }">
                        <v-checkbox
                        v-model="item.pmrolesfeatures.action_read"
                        class="mx-2"
                        @change="setFeaturesRead(item.pmrolesfeatures)"></v-checkbox>
                      </template>
                      <template v-slot:item.tulis="{ item }">
                        <v-checkbox
                        v-model="item.pmrolesfeatures.action_create"
                        class="mx-2"
                        @change="setFeaturesMutation(item.pmrolesfeatures)"></v-checkbox>
                      </template>
                      <template v-slot:item.edit="{ item }">
                        <v-checkbox
                        v-model="item.pmrolesfeatures.action_update"
                        class="mx-2"
                        @change="setFeaturesMutation(item.pmrolesfeatures)"></v-checkbox>
                      </template>
                      <template v-slot:item.hapus="{ item }">
                        <v-checkbox
                        v-model="item.pmrolesfeatures.action_delete"
                        class="mx-2"
                        @change="setFeaturesMutation(item.pmrolesfeatures)"></v-checkbox>
                      </template>
                      </v-data-table>
                      </v-container>
                    </v-card>
                  </v-container>
                </v-row>
              </div>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doSaveOrUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called"],
  data: function() {
    return {
      search:"",
      dialog: false,
      commonRules: [v => !!v || "Nilai diperlukan"],
      feature: {},
      ownedFeatures: [],
      title: null,
      loaded: false
    };
  },
  watch: {
    getApiState: function(newVal) {
      this.loaded = newVal != 1 ? true : false;
    },
    called: function(newVal) {
      this.dialog = newVal;
      this.title = this.getEditIndex === -1 ? "Tambah Role" : "Ubah Role";
      if (this.getEditIndex !== -1 && newVal) {
        this.fetchInactiveFeatures(this.getEditItem.id);
      } else if(newVal) {
        this.fetchFeatures();
      }
    }
  },
  computed: {
    ...mapGetters("pmroles", ["getEditIndex", "getEditItem"]),
    ...mapGetters("pmfeatures", [
      "getFeatures",
      "getApiState",
      "getSimpleHeader"
    ])
  },
  methods: {
    ...mapActions("pmfeatures", [
      "fetchFeatures",
      "resetFeatures",
      "fetchInactiveFeatures"
    ]),
    setFeaturesRead(param) {
      if (param.action_read === false) {
        param.action_create = false
        param.action_update = false
        param.action_delete = false
      }
    },
    setFeaturesMutation(param) {
      if (
        (param.action_create === true ||
          param.action_update === true ||
          param.action_delete === true) &&
        param.action_read === false
      ) {
        param.action_read = true
      }
    },
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
      this.resetFeatures();
    },
    doSaveOrUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
          id: this.getEditItem.id,
          name: this.getEditItem.name,
          features: this.getFeatures
        });
      }
      this.resetFeatures();
    }
  }
};
</script>