<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                      v-model="model"
                      :items="getSystemName"
                      label="System Name*"
                      item-text="system_name"
                      return-object
                      flat
                      :rules="commonRules"
                      required
                    ></v-autocomplete>
                </v-col>
                <v-col cols="6">
                  <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="computedStartDate"
                          label="Start Time"
                          hint="MM/DD/YYYY format"
                          persistent-hint
                          prepend-icon="event"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="start_date" no-title @input="menu1 = false"></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="6">
                  <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="computedEndDate"
                          label="End Time"
                          hint="MM/DD/YYYY format"
                          persistent-hint
                          prepend-icon="event"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="end_date" no-title @input="menu2 = false"></v-date-picker>
                    </v-menu>
                </v-col>         
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doSaveOrUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called"],
  data: function() {
    return {
      dialog: false,
      title: null,
      model: '',
      start_date: new Date().toISOString().substr(0, 10),
      end_date: new Date().toISOString().substr(0, 10),
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      menu1: false,
      menu2: false,
      commonRules: [v => !!v && /[^ ]/.test(v) || "Required value !"],
    };
  },
  watch: {
    called: function(newVal) {
      this.dialog = newVal;
      this.title = this.getEditIndex === -1 ? "Add Response Time" : "Update Response Time";
    },
    start_date (val) {
        this.dateFormatted = this.formatDate(this.start_date)
    },
    end_date (val) {
        this.dateFormatted = this.formatDate(this.end_date)
    },
  },
  computed: {
    ...mapGetters("master_apdy_bridge", ["getEditIndex","getSystemName"]),
    computedStartDate () {
        return this.formatDate(this.start_date)
    },
    computedEndDate () {
        return this.formatDate(this.end_date)
    },
  },
  created() {
    this.resetSystemNames();
    this.fetchSystemName();
  },
  methods: {
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
    ...mapActions("master_apdy_bridge", ["fetchSystemName","resetSystemNames"]),
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    doSaveOrUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
          application_name: this.model.system_name,
          start_time: this.start_date,
          end_time: this.end_date,
        });
      }
    },
  }
};
</script>