<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
              <v-row>
                <!-- <v-col v-if="getEditItem.id!==null" cols="3">
                  <v-text-field
                    v-model="getEditItem.id"
                    label="ID*"
                    :disabled="getEditItem.id!==null?true:false"
                  ></v-text-field>
                </v-col> -->
                <v-col cols="3">
                  <v-menu
                    ref="menu"
                    v-model="pipet"
                    :close-on-content-click="false"
                    :return-value.sync="getEditItem.recorded_at"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="getEditItem.recorded_at"
                        label="Tanggal Transaksi*"
                        :rules="commonRules"
                        readonly
                        required
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="getEditItem.recorded_at"
                      no-title
                      :max="currentDate"
                      :allowed-dates="val => val <= currentDate"
                    >
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="pipet = false">Cancel</v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(getEditItem.recorded_at)"
                      >OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="3">
                  <v-autocomplete
                      v-model="getEditItem.header"
                      :items="getSystemName"
                      label="System Name*"
                      item-text="system_name"
                      return-object
                      flat
                      :rules="commonRules"
                      required
                    ></v-autocomplete>
                </v-col>
                <v-col cols="3">
                  <v-text-field
                    v-model="getEditItem.system_downtime"
                    label="System Downtime*"
                    :rules="downtimeRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-text-field
                    v-model="getEditItem.percent_system_avail"
                    label="% System Avail*"
                    readonly
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-textarea v-if="getEditItem.percent_system_avail<100"
                    v-model="getEditItem.description"
                    :rules="descRules"
                    required
                    counter
                  >
                    <template v-slot:label>
                      <div>
                        Notes*
                      </div>
                    </template>
                  </v-textarea>
                </v-col>
                
              </v-row>
            </v-form>
          </v-container>
          <small>*Mandatory</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doSaveOrUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called"],
  data: function() {
    return {
      dialog: false,
      commonRules: [v => !!v && /[^ ]/.test(v) || "Required value !"],
      descRules: [
        v => (!!v && /[^ ]/.test(v))|| "Required value !",
        v => (v && v.length <= 255) || 'Maximal length 255 characters !'
      ],
      downtimeRules: [
        v => (!!v)|| "Required value !",
        v => /^\d*\.?\d*$/.test(v) || 'Format does not match !'
      ],
      title: null,
      pipet: false,
      currentDate: new Date().toISOString().substr(0, 10),
    };
  },
  watch: {
    getEditItem: {
      deep: true,
      handler(val) {
        if (val.system_downtime.length != 0) {
          this.getEditItem.percent_system_avail = ((1-(val.system_downtime/24))*100).toFixed(2);
        }
      }
    },
    called: function(newVal) {
      this.dialog = newVal;
      this.title = this.getEditIndex === -1 ? "Add System Avail" : "Update System Avail";
      if (this.getEditIndex !== -1 && newVal) {
        // this.fetchOwnedDetails(this.getEditItem.id);
        this.currentDate = this.getEditItem.recorded_at.substr(0, 10);
      } else if (newVal) {
        // this.fetchDetails();
        this.getEditItem.recorded_at = this.currentDate;
      }
    }
  },
  computed: {
    ...mapGetters("systemavailability", ["getEditIndex", "getEditItem","getSystemName"]),
  },
//   watch:{
//     'getEditItem.system_downtime': function (val) {
//           this.getEditItem.percent_system_avail = 1 - (val/24);    
//         },
//   },
  created() {
    // this.fetchWarehouses();
    this.fetchSystemName();
  },
  methods: {
    ...mapActions("systemavailability", ["fetchSystemName"]),
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    doSaveOrUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("saveOrUpdate", {
          id: this.getEditItem.id,
          master_system: this.getEditItem.header,
          system_downtime: this.getEditItem.system_downtime,
          recorded_at: this.getEditItem.recorded_at,
          description: this.getEditItem.description
        });
      }
    },
  }
};
</script>
