<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          <span class="headline">Edit User</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" :lazy-validation="true">
              <v-row justify="space-between">
                <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="getEditItem.name"
                      label="Name*"
                      required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="getEditItem.email"
                      label="Email*"
                      :rules="emailRules"
                      required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Password"
                    v-model="getEditItem.password_"
                    type="password"
                  ></v-text-field>
                  <span
                    class="pull-right text-danger"
                    style="font-size:9px;"
                  >* optional, left blank will not change your password.</span>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="getEditItem.repassword"
                    label="Retype Password"
                    type="password"
                    :rules="repasswordRules"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-select
                    v-model="getEditItem.module_problem"
                    :items="['Enable','Disable']"
                    label="Status"
                    flat
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-select
                    v-model="getEditItem.pmroles"
                    :items="getRoles"
                    item-text="name"
                    label="Pilih Role"
                    return-object
                    flat
                  ></v-select>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" text @click="doCancel">Batal</v-btn>
          <v-btn color="blue" text @click="doUpdate">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["called"],
  data: function() {
    return {
      dialog: false,
      emailRules: [
        v => !!v || "E-mail diperlukan",
        v => /.+@.+\..+/.test(v) || "Format E-mail tidak valid"
      ],
      repasswordRules: [
        v => v === this.getEditItem.password_ || "Password tidak sesuai."
      ],
    };
  },
  watch: {
    getEditItem: {
      deep: true,
      handler(val) {
        // if(val.password !== null){
        //   if (val.password.length !== 0) {
        //     this.getEditItem.password = '';
        //   }
        // }
        if(val.module_problem == true){
          this.getEditItem.module_problem = 'Enable';
        }else if(val.module_problem == false){
          this.getEditItem.module_problem = 'Disable';
        }
      }
    },
    called: function(newVal) {
      this.dialog = newVal;
    }
  },
  mounted(){
    this.fetchRoles();
  },
  computed: {
    ...mapGetters("userconfig", ["getEditIndex", "getEditItem"]),
    ...mapGetters("pmroles",[
      "getRoles",
    ]),
  },
  methods: {
    ...mapActions("pmroles",[
      "fetchRoles",
    ]),
    doCancel() {
      this.dialog = false;
      this.$emit("cancel");
    },
    doUpdate() {
      if (this.$refs.form.validate()) {
        this.dialog = false;
        this.$emit("goUpdate", {
          id: this.getEditItem.id,
          name: this.getEditItem.name,
          email: this.getEditItem.email,
          module_problem: this.getEditItem.module_problem,
          password: this.getEditItem.password_,
          problem_role_id: this.getEditItem.pmroles.id,
        });
      }
    },
  }
};
</script>