<template>
  <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" expand-on-hover clipped app>
    <v-list dense>
      <v-list-item v-for="item in items" :key="item.title" @click="changeLayout(item.id)">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!-- <v-btn style="text-decoration: none;" href="/problem_management/logout">
          <v-icon>mdi-logout</v-icon>
      </v-btn> -->
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  props: ["drawer"],
  data() {
    return {
      items: [
        { title: "Dashboard", icon: "mdi-view-dashboard" ,id:"dashboardod"},
      ],
      mini: true
    };
  },
  methods:{
      changeLayout(layoutName){
        this.$emit('layoutChanged',layoutName);
      }
  }
};
</script>