<template>
  <!-- <div class="vld-parent"> -->
    <loading :active.sync="isLoading" :is-full-page="isFullPage" color="#579" loader="dots" :height="200"></loading>
  <!-- </div> -->
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  props: ["isLoading","isFullPage"],
  components: {
    Loading
  }
};
</script> 