<template>
  <span>
    <span v-if="actualcount!=0" class="label label-danger pull-right" style="padding:4px">{{count}}</span>
  </span>
</template>
<script>
export default {
  props: ["count"],
  created() {    
    this.refresh('pending-ticket');
    window.events.$on("refreshCount", type => this.refresh(type));
  },
  data(){
    return {
      actualcount: 0,
    };
  },
  watch: {
    count: function() {
      this.actualcount = this.count;
    },

  },
  methods: {
    refresh(type) {
      this.$emit("on-count-refresh", {
        type: type
      });
    }
  }
};
</script>

