<template>
  <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">          
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span>User iTools</span>
                </div>
                <div class="panel-body">
                  
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Name</strong>
                          </label>
                          <input
                            name="name"
                            v-model="name"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Name"
                            maxlength="30"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('name')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('name') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Status</strong>
                          </label>
                          <v-select
                            :options="optionsStatus"
                            label="name"
                            v-model="status"
                            name="Status"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id">
                              <div class="d-center">{{ option.name }}</div>
                            </template>
                          </v-select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Email</strong>
                          </label>
                          <input
                            name="email"
                            v-model="email"
                            v-validate="'required|email'"
                            class="form-control"
                            type="text"
                            placeholder="Email"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('email')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('email') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Created At</strong>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="createAt"
                            autocomplete="off"
                            maxlength="30"
                            readonly="readonly"
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Password iTools</strong>
                          </label>
                          <input
                            name="Password iTools"
                            v-model="passwordiTools"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            placeholder="Password iTools"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Password iTools')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password iTools') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Updated At</strong>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="updatedAt"
                            autocomplete="off"
                            maxlength="30"
                            readonly="readonly"
                          >
                        </div>
                      </div>

                    </div>

                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span>User Remedy</span>
                </div>
                <div class="panel-body">
                  
                    <div class="form-horizontal needs-validation">
                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>Username</strong>
                          </label>
                          <input
                            name="Username Remedy"
                            v-model="usernameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Username Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Username Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Username Remedy') }}</span>
                        </div>

                        <div class="col-md-6">
                          <label>
                            <strong>Password Remedy</strong>
                          </label>
                          <input
                            name="Password Remedy"
                            v-model="passwordRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="password"
                            placeholder="Password Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Password Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Password Remedy') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                          <label>
                            <strong>First Name</strong>
                          </label>
                          <input
                            name="First Name Remedy"
                            v-model="firstNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="First Name Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('First Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('First Name Remedy') }}</span>
                        </div>
                        <div class="col-md-6">
                          <label>
                            <strong>Last Name</strong>
                          </label>
                          <input
                            name="Last Name Remedy"
                            v-model="lastNameRemedy"
                            v-validate="'required'"
                            class="form-control"
                            type="text"
                            placeholder="Last Name Remedy"
                            autocomplete="off"
                          >
                          <span
                            v-show="errors.has('Last Name Remedy')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Last Name Remedy') }}</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6">
                            <label>
                              <strong>Assignee Support Group Name</strong>
                            </label>
                            <select
                              class="form-control"
                              v-model="assigneeSupportGroupName"
                              name="Assignee Support Group Name"
                              v-validate="'required'"
                            >
                              <option value>- Please Select -</option>
                              <option value="SERVICEDESK">SERVICEDESK</option>
                              <option value="SERVICEDESK - CABANG">SERVICEDESK - CABANG</option>
                              <option value="SERVICEDESK - KARTU KREDIT">SERVICEDESK - KARTU KREDIT</option>
                            </select>
                            <span
                              v-show="errors.has('Assignee Support Group Name')"
                              class="valid-feedback text-danger"
                            >{{ errors.first('Assignee Support Group Name') }}</span>
                          </div>
                        </div>

                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-info pull-right" @click="submitUpdate" style="width:80px;">Submit</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["selected_prop", "isloaded", "modalname", "ismodal"],

  data() {
    if (this.selected_prop.status == true) {
        status= "Enable"
      } else {
        status= "Disable"
      }
    return {
      optionsStatus: ["Enable", "Disable"],
      id: this.selected_prop.id,
      nip: this.selected_prop.nip,
      name: this.selected_prop.name,
      email: this.selected_prop.email,
      status: status,
      createAt: this.selected_prop.created_at,
      updatedAt: this.selected_prop.updated_at,
      usernameRemedy: this.selected_prop.un_remedy,
      passwordRemedy: this.selected_prop.pass_remedy,
      firstNameRemedy: this.selected_prop.fn_remedy,
      lastNameRemedy: this.selected_prop.ln_remedy,
      assigneeSupportGroupName: this.selected_prop.sgn_remedy,
      passwordiTools: null,
    };
  },
  name: "form-example",
  methods: {
    closeWindow() {
      this.$emit("close-modal");
    },

    submitUpdate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit("submit-update", {
            data: {
              id: this.id,
              nip: this.nip,
              name: this.name,
              email: this.email,
              status: this.status,
              usernameRemedy: this.usernameRemedy,
              passwordRemedy: this.passwordRemedy,
              firstNameRemedy: this.firstNameRemedy,
              lastNameRemedy: this.lastNameRemedy,
              assigneeSupportGroupName: this.assigneeSupportGroupName,
              passwordiTools: this.passwordiTools
            }
          });
          this.closeWindow();
        }
      });
    }
  }
};
</script>
