<template>
  <div
    class="modal"
    id="modal-delegate"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="delegating"
  >
    <div class="modal-dialog modal-lg" style="width: 50%;">
      <div class="modal-content" style="max-height:550px;">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Change Service Request Assignee</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
              <flash info v-if="isdelegating"></flash>
              <div v-if="delegating">
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default" style="max-height:500px;">
                    <div class="panel-body form-horizontal">
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Request Id</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.id"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 5px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Requester</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.SenderNumber"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Current Assignee</label>
                          <input
                            type="text"
                            class="form-control"
                            :value="requestobject.supportgroupassigneeremedy.full_name"
                            readonly="true"
                          />
                        </div>
                      </div>
                      <div
                        class="form-group"
                        style="margin-left: -15px; margin-bottom: 5px; margin-top: 0px; padding: 0px 0px 5px;"
                      >
                        <div class="col-md-12">
                          <label>Change To</label>
                          <!-- <v-select
                            :options="options"
                            @search="onSearch"
                            label="name"
                            v-model="selected"
                            v-validate="'required'"
                            :selectOnTab="true"
                            name="name"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" />
                              <div class="d-center">{{ option.name +" / "+ option.sgn_remedy}}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('name')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('name') }}</span> -->
                        <v-select
                            :options="options"
                            :selectOnTab="true"
                            label="name"
                            v-model="selected"
                            v-validate="'required'"
                            name="Assignee"
                          >
                            <template slot="option" slot-scope="option">
                              <input type="hidden" :value="option.id" key="incident-assignee" />
                              <div class="d-center">{{ option.name +" / "+ option.sgn_remedy }}</div>
                            </template>
                          </v-select>
                          <span
                            v-show="errors.has('Assignee')"
                            class="valid-feedback text-danger"
                          >{{ errors.first('Assignee') }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:120px;"
            @click="executeTaskDelegate"
            :data-dismiss="submitted?'modal':null"            
          >Change Assignee</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            style="width:120px;"
            @click="closeWindow"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requestobject", "isdelegating"],

  computed: {
    delegating: {
      get: function() {
        return this.delegatingtmp;
      },
      set: function(newvalue) {
        this.delegatingtmp = newvalue;
      }
    }
  },

  watch: {
    requestobject: function() {
      this.reset();
    },
    isdelegating: function() {
      if (this.isdelegating) {
        this.delegatingtmp = this.isdelegating;
        this.getAssignee();
      }
    }
  },

  data: function() {
    return {
      delegatingtmp:false,
      submitted: false,
      options: [],
      selected: null
    };
  },

  methods: {
    getAssignee() {
      this.selected = null;
      axios
        .post("/user_configuration/get_assignee")
        .then(response => {
          this.options = response.data;
        })
        .catch(error => {
              if (error.response.status === 419 || error.response.status === 401) {
                window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
                location.reload(false);
              } else {
                flash({
                  id: "error code status",
                  message: error.response.data.message,
                  flashtype: "danger"
                });
              }
            });
    },

    reset() {
      this.submitted = false;
      this.options = [];
      this.selected = null;
      this.$validator.reset();
    },

    executeTaskDelegate() {
      if(this.requestobject.ActionTicketCreation != null && this.requestobject.ActionTicketCreation.match(/PENDING.*/)){
        flash({
          id: "untuk pending",
          message: "REQUEST INI MASIH PENDING, MOHON UNTUK DI RETRY TERLEBIH DAHULU DI MENU PENDING atau HUBUNGI ADMINISTRATOR",
          flashtype: "danger"
        });
      } else {
        this.$validator.validateAll().then(result => {
          this.submitted=result;
          if (result) {
            var recdata = {
              id: this.requestobject.id,
              delegateTo: this.selected.id
            };
            this.delegateTask(recdata);
          }
        });
      }
      
    },

    delegateTask(recdata) {
      let loader = this.$parent.$loading.show({
        loader: "dots"
      });      
      this.delegating = false;
      axios.post("/dashboard/request/delegateWO", recdata).then(res => {        
        this.$emit("push-flash-notification", {
          status: res.data.status,
          id: this.requestobject.id,
          message: res.data.message,
        });
        loader.hide();
      }).catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            this.$emit("push-flash-notification", {
              status: false,
              id: "catch error code",
              message: error.response.data.message
            });
            loader.hide();
          }
        });
    },

    closeWindow() {
      this.reset();
      this.$emit("modal-closed");
    },

    // onSearch(search, loading) {
    //   loading(false);
    //   this.search(loading, search, this);
    // },
    // search: _.debounce((loading, search, vm) => {
    //   axios.post("/user_configuration/search?inputname=" + search).then(res => {
    //     vm.options = res.data;
    //     loading(false);
    //   });
    // }, 350)
  }
};
</script>
