<template>
  <div
    class="modal"
    id="modal-delegate-multiple"
    role="dialog"
    aria-labelledby="smallModalHead"
    aria-hidden="true"
    v-if="modalname==='modal-delegate-multiple'"
  >
    <div class="modal-dialog modal-lg" style="width: 75%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="smallModalHead">Custom Assignee</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="modal-body">
                <div class="col-md-12" style="border-left: 12px">
                  <div class="panel panel-default">
                    <div class="panel-body form-horizontal">
                        <div class="pull-right">
                            <a style="margin-right:20px" href="#" @click="clearAssignee">Clear Assignee</a>
                            <input type="checkbox" id="assigneemode" v-model="assigneeMode">
                            <label for="assigneemode">Assignee All</label>
                        </div>
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                <center>Req. Id</center>
                              </th>
                              <th>
                                <center>Request Name/ Summary</center>
                              </th>
                              <th>
                                <center>WO/INC Id</center>
                              </th>
                              <th>
                                <center>Received On</center>
                              </th>
                              <th>
                                <center>Assignee</center>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="request in multiplerequest" :key="request.id">
                              <td
                                align="center"
                                style="width:7%"
                                class="tooltip-target b3"
                                v-on:click="getNote(request)"
                              >
                                <v-popover offset="16">
                                  {{request.id}}
                                  <template slot="popover">
                                    <template v-title-popover>
                                      <strong>Note :</strong>
                                    </template>
                                    <p style="text-align: justify;font-size: 12px;">{{ note }}</p>
                                  </template>
                                </v-popover>
                              </td>
                              <td
                                style="width:25%"
                                v-if="request.serviceCatalogType=='WO'"
                              >{{ request.serviceCatalogName }}</td>
                              <td style="width:25%" v-else-if="request.recipientID=='WA'">{{ request.senderNumber }}</td>
                              <td style="width:25%" v-else>{{ request.text }}</td>
                              <td align="center" style="width:13%" v-if="request.remedyTicketId==null">N/A</td>
                              <td align="center" style="width:13%" v-else>
                                <a
                                  target="_blank"
                                  :href="'https://mandiriservicedesk/arsys/forms/appremedy/HPD:Help%20Desk/Simplified+User+View/?qual=%271000000161%27=%22'+request.remedyTicketId+'%22'"
                                >{{ request.remedyTicketId }}</a>
                              </td>
                              <td align="center" style="width:13%">{{ request.receivingDateTime | mydateformat}}</td>
                              <td
                                style="width:25%"
                                align="center"
                                v-if="(request.processStatus == 'QUEUED' || request.processStatus == 'BOTQUEUE')"
                              >
                              <v-select
                                  :options="options"
                                  :selectOnTab="true"
                                  label="name"
                                  v-model="request.assignee"
                                  v-validate="'required'"
                                  name="Assignee"
                                >
                                  <template slot="option" slot-scope="option">
                                    <input type="hidden" :value="option.id" key="incident-assignee" />
                                    <div class="d-center">{{ option.name +" / "+ option.sgn_remedy }}</div>
                                  </template>
                                </v-select>
                                <span
                                  v-show="errors.has('Assignee')"
                                  class="valid-feedback text-danger"
                                >{{ errors.first('Assignee') }}
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-info"
            style="width:120px;"
            :data-dismiss="submitted?'modal':null"
            @click="selectRequest"
          >Book</button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            @click="closeWindow"
            style="width:120px;"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["auth","modalname","multiplerequest"],
  data: function() {
    return {
      notetmp: null,
      options: [],
      submitted: false,
      assigneeMode: false,
    };
  },
  computed: {
    note: {
      get: function() {
        return this.notetmp;
      },
      set: function(newvalue) {
        this.notetmp = newvalue;
      }
    },
  },
  watch: {
    multiplerequest: {
      handler: function (val, oldVal) {
        if (this.assigneeMode == true) {
            var i;
            for (i = 0; i < val.length; i++){
                if(val[0].hasOwnProperty('assignee') && val[0].assignee !== undefined){
                    val[i].assignee = val[0].assignee
                }
            }
        }
      },
      deep: true,
    },
  },
  mounted(){
      this.$validator.reset();
      this.getAssignee();
  },

  methods: {
    clearAssignee(){
        this.multiplerequest.forEach(function (data) {
            if(data.hasOwnProperty('assignee')){
                data.assignee = undefined
            }
        });
        this.multiplerequest.forEach(function (data) {
            if(data.hasOwnProperty('assignee')){
                delete data.assignee
            }
        });
    },
    getAssignee() {
    axios
        .post("/user_configuration/get_assignee")
        .then(response => {
            this.options = response.data;
        })
        .catch(error => {
            if (error.response.status === 419 || error.response.status === 401) {
              window.alert("Mohon maaf session anda telah habis, tekan ok untuk relogin");
              location.reload(false);
            } else {
              flash({
                id: "error code status",
                message: error.response.data.message,
                flashtype: "danger"
              });
            }
        });
    },
    selectRequest() {
        this.$validator.validateAll().then(result => {
            this.submitted = result;
            if(result){
                this.$emit("assigntoother", {
                    data: this.multiplerequest,
                });
            }
        });
    },
    closeWindow() {
      this.$emit("modal-closed");
    },
    getNote(requestId) {
      this.note = null;
      var url = "/dashboard/workingtask/get_note?&requestId=" + requestId.id;
      axios
        .get(url)
        .then(response => {
          if (response.data.status == false) {
            this.note = "Ooops... unable to retrieve data";
          } else {
            this.note = response.data.data.notes_description;
          }
        })
        .catch(error => {
          if (error.response.status === 419 || error.response.status === 401) {
            window.alert(
              "Mohon maaf session anda telah habis, tekan ok untuk relogin"
            );
            location.reload(false);
          } else {
            flash({
              id: "error code status",
              message: error.response.data.message,
              flashtype: "danger"
            });
          }
        });
    },
  }
};
</script>